// wkb keyboard layout (RON format)
(
    version: 1,
    layout: "Taiwanese Zhuyin (Bopomofo)",
    repeat_keys: [2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 16, 17, 18, 19, 20, 21, 22, 23, 24,
        25, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 44, 45, 46, 47, 48, 49, 50, 51, 52,
        53, 57],
    modifiers: [
        (42, [(0, Press(Level2))]),
        (54, [(0, Press(Level2))]),
    ],
    keymap: {
        0: {
            2: 'ㄅ', 3: 'ㄉ', 4: 'ˇ', 5: 'ˋ', 6: 'ㄓ', 7: 'ˊ', 8: '˙', 9: 'ㄚ', 10: 'ㄞ', 11: 'ㄢ', 12: 'ㄦ',
            16: 'ㄆ', 17: 'ㄊ', 18: 'ㄍ', 19: 'ㄐ', 20: 'ㄔ', 21: 'ㄗ', 22: 'ㄧ', 23: 'ㄛ', 24: 'ㄟ', 25: 'ㄣ',
            30: 'ㄇ', 31: 'ㄋ', 32: 'ㄎ', 33: 'ㄑ', 34: 'ㄕ', 35: 'ㄘ', 36: 'ㄨ', 37: 'ㄜ', 38: 'ㄠ', 39: 'ㄤ',
            44: 'ㄈ', 45: 'ㄌ', 46: 'ㄏ', 47: 'ㄒ', 48: 'ㄖ', 49: 'ㄙ', 50: 'ㄩ', 51: 'ㄝ', 52: 'ㄡ', 53: 'ㄥ',
            57: ' ',
        },
    },
)
