(
    version: 1,
    layout: "Uzbek (Afghanistan)",
    modifiers: [
        (42, [(0, Press(Level2))]),
        (54, [(0, Press(Level2))]),
        (100, [(0, Press(Level3))]),
    ],
    keymap: {
        0: {
            2: '۱', 3: '۲', 4: '۳', 5: '۴', 6: '۵', 7: '۶', 8: '۷', 9: '۸', 10: '۹', 11: '۰', 12: '-', 13: '=',
            16: 'ض', 17: 'ص', 18: 'ث', 19: 'ق', 20: 'ف', 21: 'غ', 22: 'ع', 23: 'ه', 24: 'خ', 25: 'ح', 26: 'ج', 27: 'چ',
            30: 'ش', 31: 'س', 32: 'ی', 33: 'ب', 34: 'ل', 35: 'ا', 36: 'ت', 37: 'ن', 38: 'م', 39: 'ک', 40: 'گ', 41: '\u{200d}',
            43: '\\', 44: 'ظ', 45: 'ط', 46: 'ز', 47: 'ر', 48: 'ذ', 49: 'د', 50: 'پ', 51: 'و', 52: '.', 53: '/',
            83: '\u{7f}',
            86: '<',
        },
        1: {
            2: '!', 3: '٬', 4: '٫', 5: '\u{e60b}', 6: '٪', 7: '×', 8: '،', 9: '*', 10: ')', 11: '(', 12: 'ـ', 13: '+',
            16: '\u{652}', 17: '\u{64c}', 18: '\u{64d}', 19: '\u{64b}', 20: '\u{64f}', 21: '\u{650}', 22: '\u{64e}', 23: '\u{651}', 24: ']', 25: '[', 26: '}', 27: '{',
            30: 'ؤ', 31: 'ئ', 32: 'ي', 33: 'ې', 34: 'أ', 35: 'آ', 36: 'ة', 37: '»', 38: '«', 39: ':', 40: '؛', 41: '÷',
            43: '|', 44: 'ۉ', 45: 'ۇ', 46: 'ژ', 47: 'إ', 48: '\u{200c}', 49: '\u{654}', 50: 'ء', 51: '>', 52: '<', 53: '؟',
            57: '\u{200c}',
            86: '>',
        },
        2: {
            2: '`', 3: '@', 4: '#', 5: '$', 6: '%', 7: '^', 8: '&', 9: '•', 10: '\u{200e}', 11: '\u{200f}', 12: '_',
            16: '°', 17: '\u{653}', 18: '€', 19: '﴾', 20: '﴿', 21: '\u{e656}', 22: '\u{e659}', 23: '\u{670}', 24: '\'', 25: '\"', 26: 'ځ', 27: 'څ',
            30: 'ښ', 31: 'ۍ', 32: 'ى', 33: 'ك', 34: 'ڷ', 35: 'ٱ', 36: 'ټ', 37: 'ڼ', 38: 'ں', 39: ';', 40: 'ګ', 41: '\u{303}',
            43: '?', 44: 'ے', 45: 'ڑ', 46: 'ږ', 47: 'ړ', 48: 'ڈ', 49: 'ډ', 50: 'ٹ', 51: ',', 53: '\u{655}',
            57: '\u{a0}',
            86: '|',
        },
        3: {
            86: '¦',
        },
    },
    num_lock_keys: {
        0: {
            71: '7', 72: '8', 73: '9', 75: '4', 76: '5', 77: '6', 79: '1', 80: '2', 81: '3', 82: '0', 83: '.',
        },
    },
    compose: [
        (['·', ' ', ' '], ' '),
        (['·', ' ', '\''], '\''),
        (['·', ' ', '-'], '~'),
        (['·', ' ', '>'], '^'),
        (['·', ' ', '^'], '^'),
        (['·', ' ', '`'], '`'),
        (['·', '!', '!'], '¡'),
        (['·', '!', '^'], '¦'),
        (['·', '"', '"'], '¨'),
        (['·', '\'', ' '], '\''),
        (['·', '\'', '\''], '´'),
        (['·', '(', '('], '['),
        (['·', '(', '-'], '{'),
        (['·', ')', ')'], ']'),
        (['·', ')', '-'], '}'),
        (['·', '*', '0'], '°'),
        (['·', '+', '-'], '±'),
        (['·', ',', ','], '¸'),
        (['·', ',', '-'], '¬'),
        (['·', '-', ' '], '~'),
        (['·', '-', '('], '{'),
        (['·', '-', ')'], '}'),
        (['·', '-', '+'], '±'),
        (['·', '-', ','], '¬'),
        (['·', '-', '-'], '­'),
        (['·', '-', ':'], '÷'),
        (['·', '-', '^'], '¯'),
        (['·', '.', '.'], '·'),
        (['·', '.', '^'], '·'),
        (['·', '/', '/'], '\\'),
        (['·', '/', '<'], '\\'),
        (['·', '/', '^'], '|'),
        (['·', '0', '*'], '°'),
        (['·', '0', '^'], '°'),
        (['·', '1', '2'], '½'),
        (['·', '1', '4'], '¼'),
        (['·', '1', '^'], '¹'),
        (['·', '2', '^'], '²'),
        (['·', '3', '4'], '¾'),
        (['·', '3', '^'], '³'),
        (['·', ':', '-'], '÷'),
        (['·', '<', '/'], '\\'),
        (['·', '<', '<'], '«'),
        (['·', '>', ' '], '^'),
        (['·', '>', '>'], '»'),
        (['·', '?', '?'], '¿'),
        (['·', '^', ' '], '^'),
        (['·', '^', '!'], '¦'),
        (['·', '^', '-'], '¯'),
        (['·', '^', '.'], '·'),
        (['·', '^', '/'], '|'),
        (['·', '^', '0'], '°'),
        (['·', '^', '1'], '¹'),
        (['·', '^', '2'], '²'),
        (['·', '^', '3'], '³'),
        (['·', '^', '_'], '¯'),
        (['·', '_', '^'], '¯'),
        (['·', '_', '_'], '¯'),
        (['·', '`', ' '], '`'),
        (['·', '|', '|'], '¦'),
        (['̃', ' '], '~'),
        (['̃', '̃'], '~'),
    ],
)
