(
    version: 1,
    layout: "Albanian (Veqilharxhi)",
    modifiers: [
        (42, [(0, Press(Level2))]),
        (54, [(0, Press(Level2))]),
        (100, [(0, Press(Level3))]),
    ],
    keymap: {
        0: {
            2: '1', 3: '2', 4: '3', 5: '4', 6: '5', 7: '6', 8: '7', 9: '8', 10: '9', 11: '0', 12: '-', 13: '=',
            16: '𐖰', 17: '𐖟', 18: '𐖞', 19: '𐖱', 20: '𐖵', 21: '𐖻', 22: '𐖷', 23: '𐖥', 24: '𐖮', 25: '𐖯', 26: '[', 27: ']',
            30: '𐖗', 31: '𐖳', 32: '𐖜', 33: '𐖠', 34: '𐖡', 35: '𐖣', 36: '𐖧', 37: '𐖨', 38: '𐖩', 39: ';', 40: '\'', 41: '`',
            43: '\\', 44: '𐖼', 45: '𐖹', 46: '𐖚', 47: '𐖸', 48: '𐖘', 49: '𐖬', 50: '𐖫', 51: ',', 52: '.', 53: '/',
            83: '\u{7f}',
            86: '<',
        },
        1: {
            2: '!', 3: '@', 4: '#', 5: '$', 6: '%', 7: '^', 8: '&', 9: '*', 10: '(', 11: ')', 12: '_', 13: '+',
            16: '𐖉', 17: '𐕸', 18: '𐕷', 19: '𐖊', 20: '𐖎', 21: '𐖔', 22: '𐖐', 23: '𐕾', 24: '𐖇', 25: '𐖈', 26: '{', 27: '}',
            30: '𐕰', 31: '𐖌', 32: '𐕵', 33: '𐕹', 34: '𐕺', 35: '𐕼', 36: '𐖀', 37: '𐖁', 38: '𐖂', 39: ':', 40: '\"', 41: '~',
            43: '|', 44: '𐖕', 45: '𐖒', 46: '𐕳', 47: '𐖑', 48: '𐕱', 49: '𐖅', 50: '𐖄', 51: '<', 52: '>', 53: '?',
            86: '>',
        },
        2: {
            17: 'w', 19: '\u{105b2}', 20: '𐖶',
            31: '𐖴', 32: '𐖝', 34: '\u{105a2}', 38: '𐖪',
            44: '\u{105bd}', 45: '\u{105ba}', 46: '𐖛', 49: '𐖭',
            86: '|',
        },
        3: {
            17: 'W', 19: '\u{1058b}', 20: '𐖏',
            31: '𐖍', 32: '𐕶', 34: '\u{1057b}', 38: '𐖃',
            44: '\u{10596}', 45: '\u{10593}', 46: '𐕴', 49: '𐖆',
            86: '¦',
        },
    },
    num_lock_keys: {
        0: {
            71: '7', 72: '8', 73: '9', 75: '4', 76: '5', 77: '6', 79: '1', 80: '2', 81: '3', 82: '0', 83: '.',
        },
    },
    caps_lock_keymap: {
        0: {
            16: '𐖉', 17: '𐕸', 18: '𐕷', 19: '𐖊', 20: '𐖎', 21: '𐖔', 22: '𐖐', 23: '𐕾', 24: '𐖇', 25: '𐖈',
            30: '𐕰', 31: '𐖌', 32: '𐕵', 33: '𐕹', 34: '𐕺', 35: '𐕼', 36: '𐖀', 37: '𐖁', 38: '𐖂',
            44: '𐖕', 45: '𐖒', 46: '𐕳', 47: '𐖑', 48: '𐕱', 49: '𐖅', 50: '𐖄',
        },
        1: {
            16: '𐖰', 17: '𐖟', 18: '𐖞', 19: '𐖱', 20: '𐖵', 21: '𐖻', 22: '𐖷', 23: '𐖥', 24: '𐖮', 25: '𐖯',
            30: '𐖗', 31: '𐖳', 32: '𐖜', 33: '𐖠', 34: '𐖡', 35: '𐖣', 36: '𐖧', 37: '𐖨', 38: '𐖩',
            44: '𐖼', 45: '𐖹', 46: '𐖚', 47: '𐖸', 48: '𐖘', 49: '𐖬', 50: '𐖫',
        },
        2: {
            16: '𐖉', 17: 'W', 18: '𐕷', 20: '𐖏', 21: '𐖔', 22: '𐖐', 23: '𐕾', 24: '𐖇', 25: '𐖈',
            30: '𐕰', 31: '𐖍', 32: '𐕶', 33: '𐕹', 35: '𐕼', 36: '𐖀', 37: '𐖁', 38: '𐖃',
            46: '𐕴', 47: '𐖑', 48: '𐕱', 49: '𐖆', 50: '𐖄',
        },
        3: {
            16: '𐖰', 17: 'w', 18: '𐖞', 20: '𐖶', 21: '𐖻', 22: '𐖷', 23: '𐖥', 24: '𐖮', 25: '𐖯',
            30: '𐖗', 31: '𐖴', 32: '𐖝', 33: '𐖠', 35: '𐖣', 36: '𐖧', 37: '𐖨', 38: '𐖪',
            46: '𐖛', 47: '𐖸', 48: '𐖘', 49: '𐖭', 50: '𐖫',
        },
    },
    compose: [
        (['·', ' ', ' '], ' '),
        (['·', ' ', '('], '˘'),
        (['·', ' ', ','], '¸'),
        (['·', ' ', '-'], '~'),
        (['·', ' ', '.'], ' '),
        (['·', ' ', '<'], 'ˇ'),
        (['·', ' ', '>'], '^'),
        (['·', ' ', '_'], '¯'),
        (['·', '!', '!'], '¡'),
        (['·', '!', '?'], '‽'),
        (['·', '!', 'W'], 'Ẉ'),
        (['·', '!', '^'], '¦'),
        (['·', '!', 'w'], 'ẉ'),
        (['·', '"', ' '], '¨'),
        (['·', '"', '"'], '¨'),
        (['·', '"', '\''], '̈́'),
        (['·', '"', ','], '„'),
        (['·', '"', '<'], '“'),
        (['·', '"', '>'], '”'),
        (['·', '"', 'W'], 'Ẅ'),
        (['·', '"', 'w'], 'ẅ'),
        (['·', '#', '#'], '♯'),
        (['·', '\'', '"', ' '], '΅'),
        (['·', '\'', '\''], '´'),
        (['·', '\'', ','], '‚'),
        (['·', '\'', '<'], '‘'),
        (['·', '\'', '>'], '’'),
        (['·', '\'', 'W'], 'Ẃ'),
        (['·', '\'', 'w'], 'ẃ'),
        (['·', '(', ' '], '˘'),
        (['·', '(', '('], '['),
        (['·', '(', ')', ')'], '🄯'),
        (['·', '(', '-'], '{'),
        (['·', '(', '0', ')'], '⓪'),
        (['·', '(', '1', ')'], '①'),
        (['·', '(', '1', '0', ')'], '⑩'),
        (['·', '(', '1', '1', ')'], '⑪'),
        (['·', '(', '1', '2', ')'], '⑫'),
        (['·', '(', '1', '3', ')'], '⑬'),
        (['·', '(', '1', '4', ')'], '⑭'),
        (['·', '(', '1', '5', ')'], '⑮'),
        (['·', '(', '1', '6', ')'], '⑯'),
        (['·', '(', '1', '7', ')'], '⑰'),
        (['·', '(', '1', '8', ')'], '⑱'),
        (['·', '(', '1', '9', ')'], '⑲'),
        (['·', '(', '2', ')'], '②'),
        (['·', '(', '2', '0', ')'], '⑳'),
        (['·', '(', '2', '1', ')'], '㉑'),
        (['·', '(', '2', '2', ')'], '㉒'),
        (['·', '(', '2', '3', ')'], '㉓'),
        (['·', '(', '2', '4', ')'], '㉔'),
        (['·', '(', '2', '5', ')'], '㉕'),
        (['·', '(', '2', '6', ')'], '㉖'),
        (['·', '(', '2', '7', ')'], '㉗'),
        (['·', '(', '2', '8', ')'], '㉘'),
        (['·', '(', '2', '9', ')'], '㉙'),
        (['·', '(', '3', ')'], '③'),
        (['·', '(', '3', '0', ')'], '㉚'),
        (['·', '(', '3', '1', ')'], '㉛'),
        (['·', '(', '3', '2', ')'], '㉜'),
        (['·', '(', '3', '3', ')'], '㉝'),
        (['·', '(', '3', '4', ')'], '㉞'),
        (['·', '(', '3', '5', ')'], '㉟'),
        (['·', '(', '3', '6', ')'], '㊱'),
        (['·', '(', '3', '7', ')'], '㊲'),
        (['·', '(', '3', '8', ')'], '㊳'),
        (['·', '(', '3', '9', ')'], '㊴'),
        (['·', '(', '4', ')'], '④'),
        (['·', '(', '4', '0', ')'], '㊵'),
        (['·', '(', '4', '1', ')'], '㊶'),
        (['·', '(', '4', '2', ')'], '㊷'),
        (['·', '(', '4', '3', ')'], '㊸'),
        (['·', '(', '4', '4', ')'], '㊹'),
        (['·', '(', '4', '5', ')'], '㊺'),
        (['·', '(', '4', '6', ')'], '㊻'),
        (['·', '(', '4', '7', ')'], '㊼'),
        (['·', '(', '4', '8', ')'], '㊽'),
        (['·', '(', '4', '9', ')'], '㊾'),
        (['·', '(', '5', ')'], '⑤'),
        (['·', '(', '5', '0', ')'], '㊿'),
        (['·', '(', '6', ')'], '⑥'),
        (['·', '(', '7', ')'], '⑦'),
        (['·', '(', '8', ')'], '⑧'),
        (['·', '(', '9', ')'], '⑨'),
        (['·', '(', 'W', ')'], 'Ⓦ'),
        (['·', '(', 'w', ')'], 'ⓦ'),
        (['·', ')', ')'], ']'),
        (['·', ')', '-'], '}'),
        (['·', '*', '0'], '°'),
        (['·', '+', '-'], '±'),
        (['·', ',', ' '], '¸'),
        (['·', ',', '"'], '„'),
        (['·', ',', '\''], '‚'),
        (['·', ',', ','], '¸'),
        (['·', ',', '-'], '¬'),
        (['·', '-', ' '], '~'),
        (['·', '-', '('], '{'),
        (['·', '-', ')'], '}'),
        (['·', '-', '+'], '±'),
        (['·', '-', ','], '¬'),
        (['·', '-', '-', ' '], '­'),
        (['·', '-', '-', '-'], '—'),
        (['·', '-', '-', '.'], '–'),
        (['·', '-', '/'], '⌿'),
        (['·', '-', ':'], '÷'),
        (['·', '-', '>'], '→'),
        (['·', '-', '\\'], '⍀'),
        (['·', '-', '^'], '¯'),
        (['·', '-', '_'], '−'),
        (['·', '.', ' '], '˙'),
        (['·', '.', '-'], '·'),
        (['·', '.', '.'], '…'),
        (['·', '.', ':'], '∵'),
        (['·', '.', '<'], '‹'),
        (['·', '.', '='], '•'),
        (['·', '.', '>'], '›'),
        (['·', '.', 'W'], 'Ẇ'),
        (['·', '.', '^'], '·'),
        (['·', '.', 'w'], 'ẇ'),
        (['·', '/', '-'], '⌿'),
        (['·', '/', '/'], '\\'),
        (['·', '/', '<'], '\\'),
        (['·', '/', '='], '≠'),
        (['·', '/', '^'], '|'),
        (['·', '0', '*'], '°'),
        (['·', '0', '3'], '↉'),
        (['·', '0', '~'], '⍬'),
        (['·', '1', '1', '0'], '⅒'),
        (['·', '1', '2'], '½'),
        (['·', '1', '3'], '⅓'),
        (['·', '1', '4'], '¼'),
        (['·', '1', '5'], '⅕'),
        (['·', '1', '6'], '⅙'),
        (['·', '1', '7'], '⅐'),
        (['·', '1', '8'], '⅛'),
        (['·', '1', '9'], '⅑'),
        (['·', '1', '^'], '¹'),
        (['·', '2', '3'], '⅔'),
        (['·', '2', '5'], '⅖'),
        (['·', '2', '^'], '²'),
        (['·', '3', '4'], '¾'),
        (['·', '3', '5'], '⅗'),
        (['·', '3', '8'], '⅜'),
        (['·', '3', '^'], '³'),
        (['·', '4', '5'], '⅘'),
        (['·', '5', '6'], '⅚'),
        (['·', '5', '8'], '⅝'),
        (['·', '7', '8'], '⅞'),
        (['·', '8', '8'], '∞'),
        (['·', ':', '('], '☹'),
        (['·', ':', ')'], '☺'),
        (['·', ':', '-'], '÷'),
        (['·', ':', '.'], '∴'),
        (['·', ';', ' '], '˛'),
        (['·', ';', '_'], '⍮'),
        (['·', '<', ' '], 'ˇ'),
        (['·', '<', '"'], '“'),
        (['·', '<', '\''], '‘'),
        (['·', '<', '-'], '←'),
        (['·', '<', '/'], '≮'),
        (['·', '<', '3'], '♥'),
        (['·', '<', '<'], '«'),
        (['·', '<', '='], '≤'),
        (['·', '<', '>'], '⋄'),
        (['·', '<', '_'], '≤'),
        (['·', '=', '/'], '≠'),
        (['·', '=', '<'], '⇐'),
        (['·', '=', '>'], '⇒'),
        (['·', '=', 'W'], '₩'),
        (['·', '=', '^'], '⇑'),
        (['·', '=', '_'], '≡'),
        (['·', '>', ' '], '^'),
        (['·', '>', '"'], '”'),
        (['·', '>', '\''], '’'),
        (['·', '>', '/'], '≯'),
        (['·', '>', '<'], '⋄'),
        (['·', '>', '='], '≥'),
        (['·', '>', '>'], '»'),
        (['·', '>', '_'], '≥'),
        (['·', '?', '!'], '⸘'),
        (['·', '?', '?'], '¿'),
        (['·', '?', '\\'], '☭'),
        (['·', 'W', '='], '₩'),
        (['·', 'W', '^'], 'Ŵ'),
        (['·', '[', ']'], '⌷'),
        (['·', '\\', '-'], '⍀'),
        (['·', '\\', '?'], '☭'),
        (['·', ']', '['], '⌷'),
        (['·', '^', '('], '⁽'),
        (['·', '^', ')'], '⁾'),
        (['·', '^', '+'], '⁺'),
        (['·', '^', '-'], '⁻'),
        (['·', '^', '.'], '·'),
        (['·', '^', '/'], '|'),
        (['·', '^', '0'], '⁰'),
        (['·', '^', '1'], '¹'),
        (['·', '^', '2'], '²'),
        (['·', '^', '3'], '³'),
        (['·', '^', '4'], '⁴'),
        (['·', '^', '5'], '⁵'),
        (['·', '^', '6'], '⁶'),
        (['·', '^', '7'], '⁷'),
        (['·', '^', '8'], '⁸'),
        (['·', '^', '9'], '⁹'),
        (['·', '^', '='], '⁼'),
        (['·', '^', 'W'], 'Ŵ'),
        (['·', '^', '_', 'w'], 'ʷ'),
        (['·', '^', 'w'], 'ŵ'),
        (['·', '^', '|'], '↑'),
        (['·', '_', ' '], '¯'),
        (['·', '_', '\''], '⍘'),
        (['·', '_', '('], '₍'),
        (['·', '_', ')'], '₎'),
        (['·', '_', '+'], '₊'),
        (['·', '_', '-'], '₋'),
        (['·', '_', '0'], '₀'),
        (['·', '_', '1'], '₁'),
        (['·', '_', '2'], '₂'),
        (['·', '_', '3'], '₃'),
        (['·', '_', '4'], '₄'),
        (['·', '_', '5'], '₅'),
        (['·', '_', '6'], '₆'),
        (['·', '_', '7'], '₇'),
        (['·', '_', '8'], '₈'),
        (['·', '_', '9'], '₉'),
        (['·', '_', '<'], '≤'),
        (['·', '_', '='], '₌'),
        (['·', '_', '>'], '≥'),
        (['·', '_', '^'], '¯'),
        (['·', '_', '_'], '¯'),
        (['·', '`', 'W'], 'Ẁ'),
        (['·', '`', 'w'], 'ẁ'),
        (['·', 'w', '^'], 'ŵ'),
        (['·', '{', '}'], '∅'),
        (['·', '|', '-'], '†'),
        (['·', '|', '='], '‡'),
        (['·', '|', '^'], '↑'),
        (['·', '|', '~'], '⍭'),
        (['·', '~', '0'], '⍬'),
        (['·', '~', '|'], '⍭'),
        (['·', '~', '~'], '≈'),
    ],
)
