(
    version: 1,
    layout: "Armenian (alt. phonetic)",
    modifiers: [
        (42, [(0, Press(Level2))]),
        (54, [(0, Press(Level2))]),
        (84, [(0, Press(Level3))]),
    ],
    keymap: {
        0: {
            2: 'է', 3: 'թ', 4: 'փ', 5: 'ձ', 6: 'ջ', 7: 'ւ', 8: 'և', 9: 'ր', 10: 'չ', 11: 'ճ', 12: '֊', 13: 'ժ',
            16: 'ք', 17: 'ո', 18: 'ե', 19: 'ռ', 20: 'տ', 21: 'ը', 22: 'ւ', 23: 'ի', 24: 'օ', 25: 'պ', 26: 'խ', 27: 'ծ',
            30: 'ա', 31: 'ս', 32: 'դ', 33: 'ֆ', 34: 'գ', 35: 'հ', 36: 'յ', 37: 'կ', 38: 'լ', 39: ';', 40: '՛', 41: '՝',
            43: 'շ', 44: 'զ', 45: 'ղ', 46: 'ց', 47: 'վ', 48: 'բ', 49: 'ն', 50: 'մ', 51: ',', 52: '․', 53: '/',
            83: '\u{7f}',
            86: '?',
        },
        1: {
            2: 'Է', 3: 'Թ', 4: 'Փ', 5: 'Ձ', 6: 'Ջ', 7: 'Ւ', 8: '֏', 9: 'Ր', 10: 'Չ', 11: 'Ճ', 12: '―', 13: 'Ժ',
            16: 'Ք', 17: 'Ո', 18: 'Ե', 19: 'Ռ', 20: 'Տ', 21: 'Ը', 22: 'Ւ', 23: 'Ի', 24: 'Օ', 25: 'Պ', 26: 'Խ', 27: 'Ծ',
            30: 'Ա', 31: 'Ս', 32: 'Դ', 33: 'Ֆ', 34: 'Գ', 35: 'Հ', 36: 'Յ', 37: 'Կ', 38: 'Լ', 39: '։', 40: '\"', 41: '՜',
            43: 'Շ', 44: 'Զ', 45: 'Ղ', 46: 'Ց', 47: 'Վ', 48: 'Բ', 49: 'Ն', 50: 'Մ', 51: '«', 52: '»', 53: '՞',
            86: '֊',
        },
        2: {
            86: '|',
        },
        3: {
            86: '¦',
        },
    },
    num_lock_keys: {
        0: {
            71: '7', 72: '8', 73: '9', 75: '4', 76: '5', 77: '6', 79: '1', 80: '2', 81: '3', 82: '0', 83: '.',
        },
    },
    caps_lock_keymap: {
        0: {
            2: 'Է', 3: 'Թ', 4: 'Փ', 5: 'Ձ', 6: 'Ջ', 7: 'Ւ', 9: 'Ր', 10: 'Չ', 11: 'Ճ', 13: 'Ժ',
            16: 'Ք', 17: 'Ո', 18: 'Ե', 19: 'Ռ', 20: 'Տ', 21: 'Ը', 22: 'Ւ', 23: 'Ի', 24: 'Օ', 25: 'Պ', 26: 'Խ', 27: 'Ծ',
            30: 'Ա', 31: 'Ս', 32: 'Դ', 33: 'Ֆ', 34: 'Գ', 35: 'Հ', 36: 'Յ', 37: 'Կ', 38: 'Լ',
            43: 'Շ', 44: 'Զ', 45: 'Ղ', 46: 'Ց', 47: 'Վ', 48: 'Բ', 49: 'Ն', 50: 'Մ',
        },
        1: {
            2: 'է', 3: 'թ', 4: 'փ', 5: 'ձ', 6: 'ջ', 7: 'ւ', 9: 'ր', 10: 'չ', 11: 'ճ', 13: 'ժ',
            16: 'ք', 17: 'ո', 18: 'ե', 19: 'ռ', 20: 'տ', 21: 'ը', 22: 'ւ', 23: 'ի', 24: 'օ', 25: 'պ', 26: 'խ', 27: 'ծ',
            30: 'ա', 31: 'ս', 32: 'դ', 33: 'ֆ', 34: 'գ', 35: 'հ', 36: 'յ', 37: 'կ', 38: 'լ',
            43: 'շ', 44: 'զ', 45: 'ղ', 46: 'ց', 47: 'վ', 48: 'բ', 49: 'ն', 50: 'մ',
        },
    },
    compose: [
        (['·', ' ', ' '], ' '),
        (['·', ' ', '('], '˘'),
        (['·', ' ', ','], '¸'),
        (['·', ' ', '-'], '~'),
        (['·', ' ', '.'], ' '),
        (['·', '"', ' '], '¨'),
        (['·', '"', '"'], '¨'),
        (['·', '"', ','], '„'),
        (['·', '#', '#'], '♯'),
        (['·', '(', ' '], '˘'),
        (['·', '(', '('], '['),
        (['·', '(', ')', ')'], '🄯'),
        (['·', '(', '-'], '{'),
        (['·', '(', '0', ')'], '⓪'),
        (['·', '(', '1', ')'], '①'),
        (['·', '(', '1', '0', ')'], '⑩'),
        (['·', '(', '1', '1', ')'], '⑪'),
        (['·', '(', '1', '2', ')'], '⑫'),
        (['·', '(', '1', '3', ')'], '⑬'),
        (['·', '(', '1', '4', ')'], '⑭'),
        (['·', '(', '1', '5', ')'], '⑮'),
        (['·', '(', '1', '6', ')'], '⑯'),
        (['·', '(', '1', '7', ')'], '⑰'),
        (['·', '(', '1', '8', ')'], '⑱'),
        (['·', '(', '1', '9', ')'], '⑲'),
        (['·', '(', '2', ')'], '②'),
        (['·', '(', '2', '0', ')'], '⑳'),
        (['·', '(', '2', '1', ')'], '㉑'),
        (['·', '(', '2', '2', ')'], '㉒'),
        (['·', '(', '2', '3', ')'], '㉓'),
        (['·', '(', '2', '4', ')'], '㉔'),
        (['·', '(', '2', '5', ')'], '㉕'),
        (['·', '(', '2', '6', ')'], '㉖'),
        (['·', '(', '2', '7', ')'], '㉗'),
        (['·', '(', '2', '8', ')'], '㉘'),
        (['·', '(', '2', '9', ')'], '㉙'),
        (['·', '(', '3', ')'], '③'),
        (['·', '(', '3', '0', ')'], '㉚'),
        (['·', '(', '3', '1', ')'], '㉛'),
        (['·', '(', '3', '2', ')'], '㉜'),
        (['·', '(', '3', '3', ')'], '㉝'),
        (['·', '(', '3', '4', ')'], '㉞'),
        (['·', '(', '3', '5', ')'], '㉟'),
        (['·', '(', '3', '6', ')'], '㊱'),
        (['·', '(', '3', '7', ')'], '㊲'),
        (['·', '(', '3', '8', ')'], '㊳'),
        (['·', '(', '3', '9', ')'], '㊴'),
        (['·', '(', '4', ')'], '④'),
        (['·', '(', '4', '0', ')'], '㊵'),
        (['·', '(', '4', '1', ')'], '㊶'),
        (['·', '(', '4', '2', ')'], '㊷'),
        (['·', '(', '4', '3', ')'], '㊸'),
        (['·', '(', '4', '4', ')'], '㊹'),
        (['·', '(', '4', '5', ')'], '㊺'),
        (['·', '(', '4', '6', ')'], '㊻'),
        (['·', '(', '4', '7', ')'], '㊼'),
        (['·', '(', '4', '8', ')'], '㊽'),
        (['·', '(', '4', '9', ')'], '㊾'),
        (['·', '(', '5', ')'], '⑤'),
        (['·', '(', '5', '0', ')'], '㊿'),
        (['·', '(', '6', ')'], '⑥'),
        (['·', '(', '7', ')'], '⑦'),
        (['·', '(', '8', ')'], '⑧'),
        (['·', '(', '9', ')'], '⑨'),
        (['·', ')', ')'], ']'),
        (['·', ')', '-'], '}'),
        (['·', '*', '0'], '°'),
        (['·', '+', '-'], '±'),
        (['·', ',', ' '], '¸'),
        (['·', ',', '"'], '„'),
        (['·', ',', ','], '¸'),
        (['·', ',', '-'], '¬'),
        (['·', '-', ' '], '~'),
        (['·', '-', '('], '{'),
        (['·', '-', ')'], '}'),
        (['·', '-', '+'], '±'),
        (['·', '-', ','], '¬'),
        (['·', '-', '-', ' '], '­'),
        (['·', '-', '-', '-'], '—'),
        (['·', '-', '-', '.'], '–'),
        (['·', '-', '/'], '⌿'),
        (['·', '.', ' '], '˙'),
        (['·', '.', '-'], '·'),
        (['·', '.', '.'], '…'),
        (['·', '.', '='], '•'),
        (['·', '/', '-'], '⌿'),
        (['·', '/', '/'], '\\'),
        (['·', '/', '='], '≠'),
        (['·', '0', '*'], '°'),
        (['·', '0', '3'], '↉'),
        (['·', '1', '1', '0'], '⅒'),
        (['·', '1', '2'], '½'),
        (['·', '1', '3'], '⅓'),
        (['·', '1', '4'], '¼'),
        (['·', '1', '5'], '⅕'),
        (['·', '1', '6'], '⅙'),
        (['·', '1', '7'], '⅐'),
        (['·', '1', '8'], '⅛'),
        (['·', '1', '9'], '⅑'),
        (['·', '2', '3'], '⅔'),
        (['·', '2', '5'], '⅖'),
        (['·', '3', '4'], '¾'),
        (['·', '3', '5'], '⅗'),
        (['·', '3', '8'], '⅜'),
        (['·', '4', '5'], '⅘'),
        (['·', '5', '6'], '⅚'),
        (['·', '5', '8'], '⅝'),
        (['·', '7', '8'], '⅞'),
        (['·', '8', '8'], '∞'),
        (['·', ';', ' '], '˛'),
        (['·', '=', '/'], '≠'),
        (['·', '?', '?'], '¿'),
        (['·', '|', '-'], '†'),
        (['·', '|', '='], '‡'),
    ],
)
