(
    version: 1,
    layout: "Azerbaijani (Cyrillic)",
    modifiers: [
        (42, [(0, Press(Level2))]),
        (54, [(0, Press(Level2))]),
        (100, [(0, Press(Level3))]),
    ],
    keymap: {
        0: {
            2: '1', 3: '2', 4: '3', 5: '4', 6: '5', 7: '6', 8: '7', 9: '8', 10: '9', 11: '0', 12: '-', 13: '=',
            16: 'ј', 17: 'ү', 18: 'у', 19: 'к', 20: 'е', 21: 'н', 22: 'г', 23: 'ш', 24: 'һ', 25: 'з', 26: 'х', 27: 'ҹ',
            30: 'ф', 31: 'ы', 32: 'в', 33: 'а', 34: 'п', 35: 'р', 36: 'о', 37: 'л', 38: 'д', 39: 'ж', 40: 'ҝ', 41: '`',
            43: '\\', 44: 'ә', 45: 'ч', 46: 'с', 47: 'м', 48: 'и', 49: 'т', 50: 'ғ', 51: 'б', 52: 'ө', 53: '.',
            83: '\u{7f}',
            86: '<',
        },
        1: {
            2: '!', 3: '\"', 4: '#', 5: ';', 6: '%', 7: ':', 8: '?', 9: '*', 10: '(', 11: ')', 12: '_', 13: '+',
            16: 'Ј', 17: 'Ү', 18: 'У', 19: 'К', 20: 'Е', 21: 'Н', 22: 'Г', 23: 'Ш', 24: 'Һ', 25: 'З', 26: 'Х', 27: 'Ҹ',
            30: 'Ф', 31: 'Ы', 32: 'В', 33: 'А', 34: 'П', 35: 'Р', 36: 'О', 37: 'Л', 38: 'Д', 39: 'Ж', 40: 'Ҝ', 41: '~',
            43: '|', 44: 'Ә', 45: 'Ч', 46: 'С', 47: 'М', 48: 'И', 49: 'Т', 50: 'Ғ', 51: 'Б', 52: 'Ө', 53: ',',
            86: '>',
        },
        2: {
            3: '@', 5: '₼', 9: '{', 10: '[', 11: ']', 12: '}',
            86: '|',
        },
        3: {
            86: '¦',
        },
    },
    num_lock_keys: {
        0: {
            71: '7', 72: '8', 73: '9', 75: '4', 76: '5', 77: '6', 79: '1', 80: '2', 81: '3', 82: '0', 83: '.',
        },
    },
    caps_lock_keymap: {
        0: {
            16: 'Ј', 17: 'Ү', 18: 'У', 19: 'К', 20: 'Е', 21: 'Н', 22: 'Г', 23: 'Ш', 24: 'Һ', 25: 'З', 26: 'Х', 27: 'Ҹ',
            30: 'Ф', 31: 'Ы', 32: 'В', 33: 'А', 34: 'П', 35: 'Р', 36: 'О', 37: 'Л', 38: 'Д', 39: 'Ж', 40: 'Ҝ',
            44: 'Ә', 45: 'Ч', 46: 'С', 47: 'М', 48: 'И', 49: 'Т', 50: 'Ғ', 51: 'Б', 52: 'Ө',
        },
        1: {
            16: 'ј', 17: 'ү', 18: 'у', 19: 'к', 20: 'е', 21: 'н', 22: 'г', 23: 'ш', 24: 'һ', 25: 'з', 26: 'х', 27: 'ҹ',
            30: 'ф', 31: 'ы', 32: 'в', 33: 'а', 34: 'п', 35: 'р', 36: 'о', 37: 'л', 38: 'д', 39: 'ж', 40: 'ҝ',
            44: 'ә', 45: 'ч', 46: 'с', 47: 'м', 48: 'и', 49: 'т', 50: 'ғ', 51: 'б', 52: 'ө',
        },
    },
    compose: [
        (['·', ' ', ' '], ' '),
        (['·', ' ', '-'], '~'),
        (['·', ' ', '>'], '^'),
        (['·', ' ', '`'], '`'),
        (['·', ' ', '~'], '~'),
        (['·', '!', '!'], '¡'),
        (['·', '"', '"'], '¨'),
        (['·', '(', '('], '['),
        (['·', '(', '-'], '{'),
        (['·', ')', ')'], ']'),
        (['·', ')', '-'], '}'),
        (['·', '*', '0'], '°'),
        (['·', '+', '-'], '±'),
        (['·', ',', ','], '¸'),
        (['·', ',', '-'], '¬'),
        (['·', '-', ' '], '~'),
        (['·', '-', '('], '{'),
        (['·', '-', ')'], '}'),
        (['·', '-', '+'], '±'),
        (['·', '-', ','], '¬'),
        (['·', '-', '-'], '­'),
        (['·', '-', ':'], '÷'),
        (['·', '.', '.'], '·'),
        (['·', '/', '/'], '\\'),
        (['·', '/', '<'], '\\'),
        (['·', '0', '*'], '°'),
        (['·', ':', '-'], '÷'),
        (['·', '<', '/'], '\\'),
        (['·', '<', '<'], '«'),
        (['·', '>', ' '], '^'),
        (['·', '>', '>'], '»'),
        (['·', '?', '?'], '¿'),
        (['·', '_', '_'], '¯'),
        (['·', '`', ' '], '`'),
        (['·', '~', ' '], '~'),
    ],
)
