(
    version: 1,
    layout: "Belgian (ISO, alt.)",
    modifiers: [
        (42, [(0, Press(Level2))]),
        (54, [(0, Press(Level2))]),
        (100, [(0, Press(Level3))]),
    ],
    keymap: {
        0: {
            2: '&', 3: 'é', 4: '\"', 5: '\'', 6: '(', 7: '§', 8: 'è', 9: '!', 10: 'ç', 11: 'à', 12: ')', 13: '-',
            16: 'a', 17: 'z', 18: 'e', 19: 'r', 20: 't', 21: 'y', 22: 'u', 23: 'i', 24: 'o', 25: 'p', 26: '\u{302}', 27: '$',
            30: 'q', 31: 's', 32: 'd', 33: 'f', 34: 'g', 35: 'h', 36: 'j', 37: 'k', 38: 'l', 39: 'm', 40: 'ù', 41: '²',
            43: 'µ', 44: 'w', 45: 'x', 46: 'c', 47: 'v', 48: 'b', 49: 'n', 50: ',', 51: ';', 52: ':', 53: '=',
            83: '\u{7f}',
            86: '<',
        },
        1: {
            2: '1', 3: '2', 4: '3', 5: '4', 6: '5', 7: '6', 8: '7', 9: '8', 10: '9', 11: '0', 12: '°', 13: '_',
            16: 'A', 17: 'Z', 18: 'E', 19: 'R', 20: 'T', 21: 'Y', 22: 'U', 23: 'I', 24: 'O', 25: 'P', 26: '\u{308}', 27: '*',
            30: 'Q', 31: 'S', 32: 'D', 33: 'F', 34: 'G', 35: 'H', 36: 'J', 37: 'K', 38: 'L', 39: 'M', 40: '%', 41: '³',
            43: '£', 44: 'W', 45: 'X', 46: 'C', 47: 'V', 48: 'B', 49: 'N', 50: '?', 51: '.', 52: '/', 53: '+',
            86: '>',
        },
        2: {
            2: '|', 3: '@', 4: '#', 5: '¼', 6: '½', 7: '^', 8: '{', 9: '[', 10: '{', 11: '}', 12: '\\', 13: '\u{327}',
            16: 'æ', 17: '«', 18: '€', 19: '¶', 20: 'ŧ', 21: '←', 22: '↓', 23: '→', 24: 'œ', 25: 'þ', 26: '[', 27: ']',
            30: '@', 31: 'ß', 32: 'ð', 33: 'đ', 34: 'ŋ', 35: 'ħ', 36: '\u{309}', 37: 'ĸ', 38: 'ł', 39: 'µ', 40: '\u{301}', 41: '¬',
            43: '\u{300}', 44: 'ł', 45: '»', 46: '¢', 47: '„', 48: '“', 49: '”', 50: '\u{327}', 51: '•', 52: '·', 53: '\u{303}',
            86: '\\',
        },
        3: {
            2: '¡', 3: '⅛', 4: '£', 5: '$', 6: '⅜', 7: '⅝', 8: '⅞', 9: '™', 10: '±', 11: '°', 12: '¿', 13: '\u{328}',
            16: 'Æ', 17: '<', 18: '¢', 19: '®', 20: 'Ŧ', 21: '¥', 22: '↑', 23: 'ı', 24: 'Œ', 25: 'Þ', 26: '\u{30a}', 27: '\u{304}',
            30: 'Ω', 31: 'ẞ', 32: 'Ð', 33: 'ª', 34: 'Ŋ', 35: 'Ħ', 36: '\u{31b}', 37: '&', 38: 'Ł', 39: 'º', 40: '\u{30c}',
            43: '\u{306}', 44: 'Ł', 45: '>', 46: '©', 47: '‚', 48: '‘', 49: '’', 50: '\u{30b}', 51: '×', 52: '÷', 53: '\u{307}',
        },
    },
    num_lock_keys: {
        0: {
            71: '7', 72: '8', 73: '9', 75: '4', 76: '5', 77: '6', 79: '1', 80: '2', 81: '3', 82: '0', 83: '.',
        },
    },
    caps_lock_keymap: {
        0: {
            3: 'É', 8: 'È', 10: 'Ç', 11: 'À',
            16: 'A', 17: 'Z', 18: 'E', 19: 'R', 20: 'T', 21: 'Y', 22: 'U', 23: 'I', 24: 'O', 25: 'P',
            30: 'Q', 31: 'S', 32: 'D', 33: 'F', 34: 'G', 35: 'H', 36: 'J', 37: 'K', 38: 'L', 39: 'M', 40: 'Ù',
            43: 'Μ', 44: 'W', 45: 'X', 46: 'C', 47: 'V', 48: 'B', 49: 'N',
        },
        1: {
            16: 'a', 17: 'z', 18: 'e', 19: 'r', 20: 't', 21: 'y', 22: 'u', 23: 'i', 24: 'o', 25: 'p',
            30: 'q', 31: 's', 32: 'd', 33: 'f', 34: 'g', 35: 'h', 36: 'j', 37: 'k', 38: 'l', 39: 'm',
            44: 'w', 45: 'x', 46: 'c', 47: 'v', 48: 'b', 49: 'n',
        },
        2: {
            16: 'Æ', 20: 'Ŧ', 24: 'Œ', 25: 'Þ',
            31: 'ẞ', 32: 'Ð', 33: 'Đ', 34: 'Ŋ', 35: 'Ħ', 38: 'Ł', 39: 'Μ',
            44: 'Ł',
        },
        3: {
            16: 'æ', 20: 'ŧ', 23: 'I', 24: 'œ', 25: 'þ',
            31: 'ß', 32: 'ð', 34: 'ŋ', 35: 'ħ', 38: 'ł',
            44: 'ł',
        },
    },
)
