(
    version: 1,
    layout: "Belgian (alt.)",
    modifiers: [
        (42, [(0, Press(Level2))]),
        (54, [(0, Press(Level2))]),
        (100, [(0, Press(Level3))]),
    ],
    keymap: {
        0: {
            2: '&', 3: 'é', 4: '\"', 5: '\'', 6: '(', 7: '§', 8: 'è', 9: '!', 10: 'ç', 11: 'à', 12: ')', 13: '-',
            16: 'a', 17: 'z', 18: 'e', 19: 'r', 20: 't', 21: 'y', 22: 'u', 23: 'i', 24: 'o', 25: 'p', 26: '\u{302}', 27: '$',
            30: 'q', 31: 's', 32: 'd', 33: 'f', 34: 'g', 35: 'h', 36: 'j', 37: 'k', 38: 'l', 39: 'm', 40: 'ù', 41: '²',
            43: 'µ', 44: 'w', 45: 'x', 46: 'c', 47: 'v', 48: 'b', 49: 'n', 50: ',', 51: ';', 52: ':', 53: '=',
            83: '\u{7f}',
            86: '<',
        },
        1: {
            2: '1', 3: '2', 4: '3', 5: '4', 6: '5', 7: '6', 8: '7', 9: '8', 10: '9', 11: '0', 12: '°', 13: '_',
            16: 'A', 17: 'Z', 18: 'E', 19: 'R', 20: 'T', 21: 'Y', 22: 'U', 23: 'I', 24: 'O', 25: 'P', 26: '\u{308}', 27: '*',
            30: 'Q', 31: 'S', 32: 'D', 33: 'F', 34: 'G', 35: 'H', 36: 'J', 37: 'K', 38: 'L', 39: 'M', 40: '%', 41: '³',
            43: '£', 44: 'W', 45: 'X', 46: 'C', 47: 'V', 48: 'B', 49: 'N', 50: '?', 51: '.', 52: '/', 53: '+', 55: '⋅',
            71: '7', 72: '8', 73: '9', 74: '−', 75: '4', 76: '5', 77: '6', 79: '1', 80: '2', 81: '3', 82: '0', 83: '.',
            86: '>', 98: '∕',
        },
        2: {
            2: '|', 3: '@', 4: '#', 5: '\u{327}', 6: '\u{30c}', 7: '^', 8: '`', 9: '~', 10: '{', 11: '}', 12: 'ø', 13: '‑',
            16: 'æ', 17: 'â', 18: '€', 19: 'ê', 20: 'þ', 21: 'ÿ', 22: 'û', 23: 'î', 24: 'œ', 25: 'ô', 26: '[', 27: ']',
            30: 'ä', 31: 'ß', 32: 'ë', 33: '‘', 34: '’', 35: 'ð', 36: 'ü', 37: 'ï', 38: '\u{338}', 39: 'ö', 40: '\u{301}', 41: '¹',
            43: '\u{300}', 44: '«', 45: '»', 46: '©', 47: '\u{202f}', 48: '↓', 49: '¬', 50: '¿', 51: '×', 52: '÷', 53: '\u{303}', 55: '×',
            57: '\u{a0}',
            71: '↖', 72: '↑', 73: '↗', 75: '←', 76: '↔', 77: '→', 79: '↙', 80: '↓', 81: '↘', 82: '↕', 83: ',',
            86: '\\', 98: '÷',
        },
        3: {
            2: '≥', 3: 'É', 4: '\u{306}', 5: '—', 6: '–', 7: '™', 8: 'È', 9: '¡', 10: 'Ç', 11: 'À', 12: 'Ø', 13: '±',
            16: 'Æ', 17: 'Â', 18: '¢', 19: 'Ê', 20: 'Þ', 21: 'Ÿ', 22: 'Û', 23: 'Î', 24: 'Œ', 25: 'Ô', 26: '\u{30a}', 27: '\u{328}',
            30: 'Ä', 31: '„', 32: 'Ë', 33: '‚', 34: '¥', 35: 'Ð', 36: 'Ü', 37: 'Ï', 38: 'Ŀ', 39: 'Ö', 40: 'Ù', 41: '≤',
            43: '\u{304}', 44: '“', 45: '”', 46: '®', 47: '←', 48: '↑', 49: '→', 50: '…', 51: '⋅', 52: '∕', 53: '−',
            57: '\u{202f}',
            71: '⇖', 72: '⇑', 73: '⇗', 75: '⇐', 76: '⇔', 77: '⇒', 79: '⇙', 80: '⇓', 81: '⇘', 82: '⇕', 83: '\u{202f}',
            86: '≠',
        },
    },
    num_lock_keys: {
        0: {
            71: '7', 72: '8', 73: '9', 75: '4', 76: '5', 77: '6', 79: '1', 80: '2', 81: '3', 82: '0', 83: '.',
        },
    },
    caps_lock_keymap: {
        0: {
            3: 'É', 8: 'È', 10: 'Ç', 11: 'À',
            16: 'A', 17: 'Z', 18: 'E', 19: 'R', 20: 'T', 21: 'Y', 22: 'U', 23: 'I', 24: 'O', 25: 'P',
            30: 'Q', 31: 'S', 32: 'D', 33: 'F', 34: 'G', 35: 'H', 36: 'J', 37: 'K', 38: 'L', 39: 'M', 40: 'Ù',
            43: 'Μ', 44: 'W', 45: 'X', 46: 'C', 47: 'V', 48: 'B', 49: 'N',
        },
        1: {
            16: 'a', 17: 'z', 18: 'e', 19: 'r', 20: 't', 21: 'y', 22: 'u', 23: 'i', 24: 'o', 25: 'p',
            30: 'q', 31: 's', 32: 'd', 33: 'f', 34: 'g', 35: 'h', 36: 'j', 37: 'k', 38: 'l', 39: 'm',
            44: 'w', 45: 'x', 46: 'c', 47: 'v', 48: 'b', 49: 'n',
        },
        2: {
            12: 'Ø',
            16: 'Æ', 17: 'Â', 19: 'Ê', 20: 'Þ', 21: 'Ÿ', 22: 'Û', 23: 'Î', 24: 'Œ', 25: 'Ô',
            30: 'Ä', 31: 'ẞ', 32: 'Ë', 35: 'Ð', 36: 'Ü', 37: 'Ï', 39: 'Ö',
        },
        3: {
            16: 'æ', 17: 'â', 19: 'ê', 20: 'þ', 21: 'ÿ', 22: 'û', 23: 'î', 24: 'œ', 25: 'ô',
            30: 'ä', 32: 'ë', 35: 'ð', 36: 'ü', 37: 'ï', 39: 'ö',
        },
    },
)
