(
    version: 1,
    layout: "Bulgarian (traditional phonetic)",
    modifiers: [
        (42, [(0, Press(Level2))]),
        (54, [(0, Press(Level2))]),
        (84, [(0, Press(Level3))]),
    ],
    keymap: {
        0: {
            2: '1', 3: '2', 4: '3', 5: '4', 6: '5', 7: '6', 8: '7', 9: '8', 10: '9', 11: '0', 12: '-', 13: '=',
            16: 'я', 17: 'в', 18: 'е', 19: 'р', 20: 'т', 21: 'ъ', 22: 'у', 23: 'и', 24: 'о', 25: 'п', 26: 'ш', 27: 'щ',
            30: 'а', 31: 'с', 32: 'д', 33: 'ф', 34: 'г', 35: 'х', 36: 'й', 37: 'к', 38: 'л', 39: ';', 40: '\'', 41: 'ч',
            43: 'ю', 44: 'з', 45: 'ь', 46: 'ц', 47: 'ж', 48: 'б', 49: 'н', 50: 'м', 51: ',', 52: '.', 53: '/',
            83: '\u{7f}',
            86: 'ѝ',
        },
        1: {
            2: '!', 3: '@', 4: '№', 5: '$', 6: '%', 7: '€', 8: '§', 9: '*', 10: '(', 11: ')', 12: '–', 13: '+',
            16: 'Я', 17: 'В', 18: 'Е', 19: 'Р', 20: 'Т', 21: 'Ъ', 22: 'У', 23: 'И', 24: 'О', 25: 'П', 26: 'Ш', 27: 'Щ',
            30: 'А', 31: 'С', 32: 'Д', 33: 'Ф', 34: 'Г', 35: 'Х', 36: 'Й', 37: 'К', 38: 'Л', 39: ':', 40: '\"', 41: 'Ч',
            43: 'Ю', 44: 'З', 45: 'ѝ', 46: 'Ц', 47: 'Ж', 48: 'Б', 49: 'Н', 50: 'М', 51: '„', 52: '“', 53: '?',
            86: 'Ѝ',
        },
        2: {
            5: '€', 10: '[', 11: ']', 12: '‑', 13: '—',
            16: 'ѣ', 18: 'э', 19: '®', 20: '™', 21: 'ѫ', 23: 'ѝ',
            31: '©', 36: 'ѭ', 39: '…', 40: '’',
            45: 'ы', 46: '©', 51: '«', 52: '»', 53: '\u{300}',
            57: '\u{a0}',
            86: '|',
        },
        3: {
            10: '〈', 11: '〉', 13: '†',
            16: 'Ѣ', 18: 'Э', 21: 'Ѫ', 23: 'Ѝ',
            36: 'Ѭ', 40: '‘',
            45: 'Ы', 53: '\u{301}',
            86: '¦',
        },
    },
    num_lock_keys: {
        0: {
            71: '7', 72: '8', 73: '9', 75: '4', 76: '5', 77: '6', 79: '1', 80: '2', 81: '3', 82: '0', 83: ',',
        },
    },
    caps_lock_keymap: {
        0: {
            16: 'Я', 17: 'В', 18: 'Е', 19: 'Р', 20: 'Т', 21: 'Ъ', 22: 'У', 23: 'И', 24: 'О', 25: 'П', 26: 'Ш', 27: 'Щ',
            30: 'А', 31: 'С', 32: 'Д', 33: 'Ф', 34: 'Г', 35: 'Х', 36: 'Й', 37: 'К', 38: 'Л', 41: 'Ч',
            43: 'Ю', 44: 'З', 45: 'Ь', 46: 'Ц', 47: 'Ж', 48: 'Б', 49: 'Н', 50: 'М',
            86: 'Ѝ',
        },
        1: {
            16: 'я', 17: 'в', 18: 'е', 19: 'р', 20: 'т', 21: 'ъ', 22: 'у', 23: 'и', 24: 'о', 25: 'п', 26: 'ш', 27: 'щ',
            30: 'а', 31: 'с', 32: 'д', 33: 'ф', 34: 'г', 35: 'х', 36: 'й', 37: 'к', 38: 'л', 41: 'ч',
            43: 'ю', 44: 'з', 45: 'Ѝ', 46: 'ц', 47: 'ж', 48: 'б', 49: 'н', 50: 'м',
            86: 'ѝ',
        },
        2: {
            16: 'Ѣ', 17: 'В', 18: 'Э', 21: 'Ѫ', 22: 'У', 23: 'Ѝ', 24: 'О', 25: 'П', 26: 'Ш', 27: 'Щ',
            30: 'А', 32: 'Д', 33: 'Ф', 34: 'Г', 35: 'Х', 36: 'Ѭ', 37: 'К', 38: 'Л', 41: 'Ч',
            43: 'Ю', 44: 'З', 45: 'Ы', 47: 'Ж', 48: 'Б', 49: 'Н', 50: 'М',
        },
        3: {
            16: 'ѣ', 17: 'в', 18: 'э', 21: 'ѫ', 22: 'у', 23: 'ѝ', 24: 'о', 25: 'п', 26: 'ш', 27: 'щ',
            30: 'а', 32: 'д', 33: 'ф', 34: 'г', 35: 'х', 36: 'ѭ', 37: 'к', 38: 'л', 41: 'ч',
            43: 'ю', 44: 'з', 47: 'ж', 48: 'б', 49: 'н', 50: 'м',
        },
    },
)
