(
    version: 1,
    layout: "Bulgarian",
    modifiers: [
        (42, [(0, Press(Level2))]),
        (54, [(0, Press(Level2))]),
        (84, [(0, Press(Level3))]),
    ],
    keymap: {
        0: {
            2: '1', 3: '2', 4: '3', 5: '4', 6: '5', 7: '6', 8: '7', 9: '8', 10: '9', 11: '0', 12: '-', 13: '.',
            16: ',', 17: 'у', 18: 'е', 19: 'и', 20: 'ш', 21: 'щ', 22: 'к', 23: 'с', 24: 'д', 25: 'з', 26: 'ц', 27: ';',
            30: 'ь', 31: 'я', 32: 'а', 33: 'о', 34: 'ж', 35: 'г', 36: 'т', 37: 'н', 38: 'в', 39: 'м', 40: 'ч', 41: '(',
            43: '„', 44: 'ю', 45: 'й', 46: 'ъ', 47: 'э', 48: 'ф', 49: 'х', 50: 'п', 51: 'р', 52: 'л', 53: 'б',
            83: '\u{7f}',
            86: 'ѝ',
        },
        1: {
            2: '!', 3: '?', 4: '+', 5: '\"', 6: '%', 7: '=', 8: ':', 9: '/', 10: '–', 11: '№', 12: '$', 13: '€',
            16: 'ы', 17: 'У', 18: 'Е', 19: 'И', 20: 'Ш', 21: 'Щ', 22: 'К', 23: 'С', 24: 'Д', 25: 'З', 26: 'Ц', 27: '§',
            30: 'ѝ', 31: 'Я', 32: 'А', 33: 'О', 34: 'Ж', 35: 'Г', 36: 'Т', 37: 'Н', 38: 'В', 39: 'М', 40: 'Ч', 41: ')',
            43: '“', 44: 'Ю', 45: 'Й', 46: 'Ъ', 47: 'Э', 48: 'Ф', 49: 'Х', 50: 'П', 51: 'Р', 52: 'Л', 53: 'Б',
            86: 'Ѝ',
        },
        2: {
            4: '†', 6: '〈', 7: '—', 8: '…', 9: '\u{300}', 12: '‑',
            16: '’', 18: 'э', 19: 'ѝ', 22: '©', 23: '©',
            30: 'ы', 31: 'ѣ', 36: '™', 41: '[',
            43: '«', 45: 'ѭ', 46: 'ѫ', 51: '®',
            57: '\u{a0}',
            86: '|',
        },
        3: {
            6: '〉', 9: '\u{301}', 12: '€',
            16: '‘', 18: 'Э', 19: 'Ѝ',
            30: 'Ы', 31: 'Ѣ', 41: ']',
            43: '»', 45: 'Ѭ', 46: 'Ѫ',
            86: '¦',
        },
    },
    num_lock_keys: {
        0: {
            71: '7', 72: '8', 73: '9', 75: '4', 76: '5', 77: '6', 79: '1', 80: '2', 81: '3', 82: '0', 83: ',',
        },
    },
    caps_lock_keymap: {
        0: {
            17: 'У', 18: 'Е', 19: 'И', 20: 'Ш', 21: 'Щ', 22: 'К', 23: 'С', 24: 'Д', 25: 'З', 26: 'Ц',
            30: 'Ь', 31: 'Я', 32: 'А', 33: 'О', 34: 'Ж', 35: 'Г', 36: 'Т', 37: 'Н', 38: 'В', 39: 'М', 40: 'Ч',
            44: 'Ю', 45: 'Й', 46: 'Ъ', 47: 'Э', 48: 'Ф', 49: 'Х', 50: 'П', 51: 'Р', 52: 'Л', 53: 'Б',
            86: 'Ѝ',
        },
        1: {
            16: 'Ы', 17: 'у', 18: 'е', 19: 'и', 20: 'ш', 21: 'щ', 22: 'к', 23: 'с', 24: 'д', 25: 'з', 26: 'ц',
            30: 'Ѝ', 31: 'я', 32: 'а', 33: 'о', 34: 'ж', 35: 'г', 36: 'т', 37: 'н', 38: 'в', 39: 'м', 40: 'ч',
            44: 'ю', 45: 'й', 46: 'ъ', 47: 'э', 48: 'ф', 49: 'х', 50: 'п', 51: 'р', 52: 'л', 53: 'б',
            86: 'ѝ',
        },
        2: {
            17: 'У', 18: 'Э', 19: 'Ѝ', 20: 'Ш', 21: 'Щ', 24: 'Д', 25: 'З', 26: 'Ц',
            30: 'Ы', 31: 'Ѣ', 32: 'А', 33: 'О', 34: 'Ж', 35: 'Г', 37: 'Н', 38: 'В', 39: 'М', 40: 'Ч',
            44: 'Ю', 45: 'Ѭ', 46: 'Ѫ', 47: 'Э', 48: 'Ф', 49: 'Х', 50: 'П', 52: 'Л', 53: 'Б',
        },
        3: {
            17: 'у', 18: 'э', 19: 'ѝ', 20: 'ш', 21: 'щ', 24: 'д', 25: 'з', 26: 'ц',
            31: 'ѣ', 32: 'а', 33: 'о', 34: 'ж', 35: 'г', 37: 'н', 38: 'в', 39: 'м', 40: 'ч',
            44: 'ю', 45: 'ѭ', 46: 'ѫ', 47: 'э', 48: 'ф', 49: 'х', 50: 'п', 52: 'л', 53: 'б',
        },
    },
)
