(
    version: 1,
    layout: "Inuktitut",
    modifiers: [
        (42, [(0, Press(Level2))]),
        (54, [(0, Press(Level2))]),
        (84, [(0, Press(Level3))]),
    ],
    keymap: {
        0: {
            2: 'ᖕ', 3: 'ᑉ', 4: 'ᕐ', 5: 'ᒃ', 6: 'ᑦ', 7: 'ᖅ', 8: 'ᒻ', 9: 'ᓐ', 10: 'ᓪ', 11: 'ᔾ', 12: '-', 13: 'ᕝ',
            16: 'ᖏ', 17: 'ᐃ', 18: 'ᕿ', 19: 'ᑭ', 20: 'ᑎ', 21: 'ᓯ', 22: 'ᒥ', 23: 'ᓂ', 24: 'ᓕ', 25: 'ᔨ', 26: 'ᒡ', 27: '\u{307}',
            30: 'ᖑ', 31: 'ᐅ', 32: 'ᖁ', 33: 'ᑯ', 34: 'ᑐ', 35: 'ᓱ', 36: 'ᒧ', 37: 'ᓄ', 38: 'ᓗ', 39: ';', 40: '\'', 41: 'ᕻ',
            43: '\\', 44: 'ᖓ', 45: 'ᐊ', 46: 'ᖃ', 47: 'ᑲ', 48: 'ᑕ', 49: 'ᓴ', 50: 'ᒪ', 51: ',', 52: '.', 53: 'ᔭ',
            83: '\u{7f}',
            86: 'ᕹ',
        },
        1: {
            2: '1', 3: '2', 4: '3', 5: '4', 6: '5', 7: '6', 8: '7', 9: '8', 10: '9', 11: '0', 12: '_', 13: '=',
            16: 'ᒋ', 17: 'ᐱ', 18: 'ᕆ', 19: 'ᖖ', 20: 'ᙱ', 21: 'ᙳ', 22: 'ᙵ', 23: 'ᖤ', 24: 'ᖠ', 25: 'ᖦ', 26: 'ᔅ', 27: 'ᐞ',
            30: 'ᒍ', 31: 'ᐳ', 32: 'ᕈ', 33: 'ᕕ', 34: '(', 35: ')', 36: 'ᔪ', 37: 'ᕗ', 38: 'ᖢ', 39: ':', 40: '\"', 41: 'ᕵ',
            43: '|', 44: 'ᒐ', 45: 'ᐸ', 46: 'ᕋ', 47: '?', 48: 'ᕼ', 49: 'ᓇ', 50: 'ᓚ', 51: '<', 52: '>', 53: 'ᕙ',
            86: 'ᕷ',
        },
        2: {
            86: '|',
        },
        3: {
            86: '¦',
        },
    },
    num_lock_keys: {
        0: {
            71: '7', 72: '8', 73: '9', 75: '4', 76: '5', 77: '6', 79: '1', 80: '2', 81: '3', 82: '0', 83: '.',
        },
    },
    compose: [
        (['·', ' ', ' '], ' '),
        (['·', ' ', '\''], '\''),
        (['·', ' ', '-'], '~'),
        (['·', ' ', '>'], '^'),
        (['·', '"', '"'], '¨'),
        (['·', '\'', ' '], '\''),
        (['·', '\'', '\''], '´'),
        (['·', '(', '('], '['),
        (['·', '(', '-'], '{'),
        (['·', ')', ')'], ']'),
        (['·', ')', '-'], '}'),
        (['·', '*', '0'], '°'),
        (['·', '+', '-'], '±'),
        (['·', ',', ','], '¸'),
        (['·', ',', '-'], '¬'),
        (['·', '-', ' '], '~'),
        (['·', '-', '('], '{'),
        (['·', '-', ')'], '}'),
        (['·', '-', '+'], '±'),
        (['·', '-', ','], '¬'),
        (['·', '-', '-'], '­'),
        (['·', '-', ':'], '÷'),
        (['·', '.', '.'], '·'),
        (['·', '/', '/'], '\\'),
        (['·', '/', '<'], '\\'),
        (['·', '0', '*'], '°'),
        (['·', '1', '2'], '½'),
        (['·', '1', '4'], '¼'),
        (['·', '3', '4'], '¾'),
        (['·', ':', '-'], '÷'),
        (['·', '<', '/'], '\\'),
        (['·', '<', '<'], '«'),
        (['·', '>', ' '], '^'),
        (['·', '>', '>'], '»'),
        (['·', '?', '?'], '¿'),
        (['·', '_', '_'], '¯'),
        (['·', '|', '|'], '¦'),
    ],
)
