(
    version: 1,
    layout: "Canadian (CSA)",
    modifiers: [
        (42, [(0, Press(Level2))]),
        (54, [(0, Press(Level2))]),
        (100, [(0, Press(Level3))]),
        (195, [(0, Press(Level5))]),
    ],
    keymap: {
        0: {
            2: '1', 3: '2', 4: '3', 5: '4', 6: '5', 7: '6', 8: '7', 9: '8', 10: '9', 11: '0', 12: '-', 13: '=',
            16: 'q', 17: 'w', 18: 'e', 19: 'r', 20: 't', 21: 'y', 22: 'u', 23: 'i', 24: 'o', 25: 'p', 26: '\u{302}', 27: 'ç',
            30: 'a', 31: 's', 32: 'd', 33: 'f', 34: 'g', 35: 'h', 36: 'j', 37: 'k', 38: 'l', 39: ';', 40: 'è', 41: '/',
            43: 'à', 44: 'z', 45: 'x', 46: 'c', 47: 'v', 48: 'b', 49: 'n', 50: 'm', 51: ',', 52: '.', 53: 'é',
            83: '\u{7f}',
            86: 'ù',
        },
        1: {
            2: '!', 3: '@', 4: '#', 5: '$', 6: '%', 7: '?', 8: '&', 9: '*', 10: '(', 11: ')', 12: '_', 13: '+',
            16: 'Q', 17: 'W', 18: 'E', 19: 'R', 20: 'T', 21: 'Y', 22: 'U', 23: 'I', 24: 'O', 25: 'P', 26: '\u{308}', 27: 'Ç',
            30: 'A', 31: 'S', 32: 'D', 33: 'F', 34: 'G', 35: 'H', 36: 'J', 37: 'K', 38: 'L', 39: ':', 40: 'È', 41: '\\',
            43: 'À', 44: 'Z', 45: 'X', 46: 'C', 47: 'V', 48: 'B', 49: 'N', 50: 'M', 51: '\'', 52: '\"', 53: 'É',
            86: 'Ù',
        },
        2: {
            2: '±', 4: '£', 5: '¤', 8: '{', 9: '}', 10: '[', 11: ']', 12: '½', 13: '¬',
            18: '€', 24: '§', 25: '¶', 26: '\u{300}', 27: '~',
            39: '°', 40: '{', 41: '|',
            43: '}', 44: '«', 45: '»', 50: 'µ', 51: '<', 52: '>', 53: '\u{301}',
            57: '\u{a0}',
            86: '°',
        },
        3: {
            86: '¦',
        },
        4: {
            2: '¹', 3: '²', 4: '³', 5: '¼', 6: '½', 7: '¾', 13: '\u{327}',
            17: 'ł', 18: 'œ', 19: '¶', 20: 'ŧ', 21: '←', 22: '↓', 23: '→', 24: 'ø', 25: 'þ', 27: '\u{303}',
            30: 'æ', 31: 'ß', 32: 'ð', 34: 'ŋ', 35: 'ħ', 36: 'ĳ', 37: 'ĸ', 38: 'ŀ', 39: '\u{301}',
            46: '¢', 47: '“', 48: '”', 49: 'ŉ', 51: '―', 52: '·',
        },
        5: {
            2: '¡', 5: '€', 6: '⅜', 7: '⅝', 8: '⅞', 9: '™', 10: '±', 12: '¿', 13: '\u{328}',
            16: 'Ω', 17: 'Ł', 18: 'Œ', 19: '®', 20: 'Ŧ', 21: '¥', 22: '↑', 23: 'ı', 24: 'Ø', 25: 'Þ', 26: '\u{30a}', 27: '\u{304}',
            30: 'Æ', 31: '§', 32: 'Ð', 33: 'ª', 34: 'Ŋ', 35: 'Ħ', 36: 'Ĳ', 38: 'Ŀ', 39: '\u{30b}', 40: '\u{30c}', 41: '\u{ad}',
            43: '\u{306}', 46: '©', 47: '‘', 48: '’', 49: '♪', 50: 'º', 51: '×', 52: '÷', 53: '\u{307}',
        },
    },
    num_lock_keys: {
        0: {
            71: '7', 72: '8', 73: '9', 75: '4', 76: '5', 77: '6', 79: '1', 80: '2', 81: '3', 82: '0', 83: '.',
        },
    },
    caps_lock_keymap: {
        0: {
            16: 'Q', 17: 'W', 18: 'E', 19: 'R', 20: 'T', 21: 'Y', 22: 'U', 23: 'I', 24: 'O', 25: 'P', 27: 'Ç',
            30: 'A', 31: 'S', 32: 'D', 33: 'F', 34: 'G', 35: 'H', 36: 'J', 37: 'K', 38: 'L', 40: 'È',
            43: 'À', 44: 'Z', 45: 'X', 46: 'C', 47: 'V', 48: 'B', 49: 'N', 50: 'M', 53: 'É',
            86: 'Ù',
        },
        1: {
            16: 'q', 17: 'w', 18: 'e', 19: 'r', 20: 't', 21: 'y', 22: 'u', 23: 'i', 24: 'o', 25: 'p', 27: 'ç',
            30: 'a', 31: 's', 32: 'd', 33: 'f', 34: 'g', 35: 'h', 36: 'j', 37: 'k', 38: 'l', 40: 'è',
            43: 'à', 44: 'z', 45: 'x', 46: 'c', 47: 'v', 48: 'b', 49: 'n', 50: 'm', 53: 'é',
            86: 'ù',
        },
        2: {
            50: 'Μ',
        },
        4: {
            16: 'Ω', 17: 'Ł', 18: 'Œ', 19: '®', 20: 'Ŧ', 21: '¥', 22: '↑', 23: 'ı', 24: 'Ø', 25: 'Þ', 27: '\u{304}',
            30: 'Æ', 31: '§', 32: 'Ð', 33: 'ª', 34: 'Ŋ', 35: 'Ħ', 36: 'Ĳ', 38: 'Ŀ', 40: '\u{30c}',
            43: '\u{306}', 46: '©', 47: '‘', 48: '’', 49: '♪', 50: 'º', 53: '\u{307}',
            86: '¦',
        },
        5: {
            17: 'ł', 18: 'œ', 19: '¶', 20: 'ŧ', 21: '←', 22: '↓', 23: '→', 24: 'ø', 25: 'þ', 27: '\u{303}',
            30: 'æ', 31: 'ß', 32: 'ð', 34: 'ŋ', 35: 'ħ', 36: 'ĳ', 37: 'ĸ', 38: 'ŀ',
            46: '¢', 47: '“', 48: '”', 49: 'ŉ', 50: 'µ',
        },
    },
    compose: [
        (['·', ' ', ' '], ' '),
        (['·', ' ', '\''], '\''),
        (['·', ' ', '-'], '~'),
        (['·', ' ', '>'], '^'),
        (['·', ' ', '~'], '~'),
        (['·', '!', '!'], '¡'),
        (['·', '!', 'P'], '¶'),
        (['·', '!', 'S'], '§'),
        (['·', '!', 'p'], '¶'),
        (['·', '!', 's'], '§'),
        (['·', '"', '"'], '¨'),
        (['·', '"', 'A'], 'Ä'),
        (['·', '"', 'E'], 'Ë'),
        (['·', '"', 'I'], 'Ï'),
        (['·', '"', 'O'], 'Ö'),
        (['·', '"', 'U'], 'Ü'),
        (['·', '"', 'a'], 'ä'),
        (['·', '"', 'e'], 'ë'),
        (['·', '"', 'i'], 'ï'),
        (['·', '"', 'o'], 'ö'),
        (['·', '"', 'u'], 'ü'),
        (['·', '"', 'y'], 'ÿ'),
        (['·', '\'', ' '], '\''),
        (['·', '\'', '\''], '´'),
        (['·', '\'', 'A'], 'Á'),
        (['·', '\'', 'E'], 'É'),
        (['·', '\'', 'I'], 'Í'),
        (['·', '\'', 'O'], 'Ó'),
        (['·', '\'', 'U'], 'Ú'),
        (['·', '\'', 'Y'], 'Ý'),
        (['·', '\'', 'a'], 'á'),
        (['·', '\'', 'e'], 'é'),
        (['·', '\'', 'i'], 'í'),
        (['·', '\'', 'o'], 'ó'),
        (['·', '\'', 'u'], 'ú'),
        (['·', '\'', 'y'], 'ý'),
        (['·', '(', '('], '['),
        (['·', '(', '-'], '{'),
        (['·', '(', 'c'], '©'),
        (['·', '(', 'r'], '®'),
        (['·', ')', ')'], ']'),
        (['·', ')', '-'], '}'),
        (['·', '*', '0'], '°'),
        (['·', '*', 'A'], 'Å'),
        (['·', '*', 'a'], 'å'),
        (['·', '+', '-'], '±'),
        (['·', ',', ','], '¸'),
        (['·', ',', '-'], '¬'),
        (['·', ',', 'C'], 'Ç'),
        (['·', ',', 'c'], 'ç'),
        (['·', '-', ' '], '~'),
        (['·', '-', '('], '{'),
        (['·', '-', ')'], '}'),
        (['·', '-', '+'], '±'),
        (['·', '-', ','], '¬'),
        (['·', '-', '-'], '­'),
        (['·', '-', ':'], '÷'),
        (['·', '-', 'A'], 'Ã'),
        (['·', '-', 'D'], 'Ð'),
        (['·', '-', 'L'], '£'),
        (['·', '-', 'N'], 'Ñ'),
        (['·', '-', 'O'], 'Õ'),
        (['·', '-', 'Y'], '¥'),
        (['·', '-', 'a'], 'ã'),
        (['·', '-', 'd'], 'ð'),
        (['·', '-', 'l'], '£'),
        (['·', '-', 'n'], 'ñ'),
        (['·', '-', 'o'], 'õ'),
        (['·', '-', 'y'], '¥'),
        (['·', '.', '.'], '·'),
        (['·', '/', '/'], '\\'),
        (['·', '/', '<'], '\\'),
        (['·', '/', 'C'], '¢'),
        (['·', '/', 'O'], 'Ø'),
        (['·', '/', 'U'], 'µ'),
        (['·', '/', 'c'], '¢'),
        (['·', '/', 'o'], 'ø'),
        (['·', '/', 'u'], 'µ'),
        (['·', '0', '*'], '°'),
        (['·', '0', 'C'], '©'),
        (['·', '0', 'S'], '§'),
        (['·', '0', 'X'], '¤'),
        (['·', '0', 'c'], '©'),
        (['·', '0', 's'], '§'),
        (['·', '0', 'x'], '¤'),
        (['·', '1', '2'], '½'),
        (['·', '1', '4'], '¼'),
        (['·', '1', 'S'], '¹'),
        (['·', '1', 's'], '¹'),
        (['·', '2', 'S'], '²'),
        (['·', '2', 's'], '²'),
        (['·', '3', '4'], '¾'),
        (['·', '3', 'S'], '³'),
        (['·', '3', 's'], '³'),
        (['·', ':', '-'], '÷'),
        (['·', '<', '/'], '\\'),
        (['·', '<', '<'], '«'),
        (['·', '=', 'L'], '£'),
        (['·', '=', 'Y'], '¥'),
        (['·', '=', 'l'], '£'),
        (['·', '=', 'y'], '¥'),
        (['·', '>', ' '], '^'),
        (['·', '>', '>'], '»'),
        (['·', '>', 'A'], 'Â'),
        (['·', '>', 'E'], 'Ê'),
        (['·', '>', 'I'], 'Î'),
        (['·', '>', 'O'], 'Ô'),
        (['·', '>', 'U'], 'Û'),
        (['·', '>', 'a'], 'â'),
        (['·', '>', 'e'], 'ê'),
        (['·', '>', 'i'], 'î'),
        (['·', '>', 'o'], 'ô'),
        (['·', '>', 'u'], 'û'),
        (['·', '?', '?'], '¿'),
        (['·', 'A', '"'], 'Ä'),
        (['·', 'A', '\''], 'Á'),
        (['·', 'A', '*'], 'Å'),
        (['·', 'A', '-'], 'Ã'),
        (['·', 'A', '>'], 'Â'),
        (['·', 'A', 'A'], 'Å'),
        (['·', 'A', 'E'], 'Æ'),
        (['·', 'A', 'O'], 'Å'),
        (['·', 'A', 'T'], '@'),
        (['·', 'A', '_'], 'ª'),
        (['·', 'A', '~'], 'Ã'),
        (['·', 'B', 'V'], '¦'),
        (['·', 'C', ','], 'Ç'),
        (['·', 'C', '/'], '¢'),
        (['·', 'C', '0'], '©'),
        (['·', 'C', 'O'], '©'),
        (['·', 'C', 'o'], '©'),
        (['·', 'C', '|'], '¢'),
        (['·', 'D', '-'], 'Ð'),
        (['·', 'E', '"'], 'Ë'),
        (['·', 'E', '\''], 'É'),
        (['·', 'E', '>'], 'Ê'),
        (['·', 'I', '"'], 'Ï'),
        (['·', 'I', '\''], 'Í'),
        (['·', 'I', '>'], 'Î'),
        (['·', 'L', '-'], '£'),
        (['·', 'L', '='], '£'),
        (['·', 'L', 'V'], '|'),
        (['·', 'N', '-'], 'Ñ'),
        (['·', 'N', '~'], 'Ñ'),
        (['·', 'O', '"'], 'Ö'),
        (['·', 'O', '\''], 'Ó'),
        (['·', 'O', '-'], 'Õ'),
        (['·', 'O', '/'], 'Ø'),
        (['·', 'O', '>'], 'Ô'),
        (['·', 'O', 'C'], '©'),
        (['·', 'O', 'R'], '®'),
        (['·', 'O', 'S'], '§'),
        (['·', 'O', 'X'], '¤'),
        (['·', 'O', '_'], 'º'),
        (['·', 'O', 'c'], '©'),
        (['·', 'O', 'x'], '¤'),
        (['·', 'O', '~'], 'Õ'),
        (['·', 'P', '!'], '¶'),
        (['·', 'R', 'O'], '®'),
        (['·', 'S', '!'], '§'),
        (['·', 'S', '0'], '§'),
        (['·', 'S', '1'], '¹'),
        (['·', 'S', '2'], '²'),
        (['·', 'S', '3'], '³'),
        (['·', 'S', 'O'], '§'),
        (['·', 'T', 'H'], 'Þ'),
        (['·', 'U', '"'], 'Ü'),
        (['·', 'U', '\''], 'Ú'),
        (['·', 'U', '/'], 'µ'),
        (['·', 'U', '>'], 'Û'),
        (['·', 'V', 'B'], '¦'),
        (['·', 'V', 'L'], '|'),
        (['·', 'X', '0'], '¤'),
        (['·', 'X', 'O'], '¤'),
        (['·', 'X', 'o'], '¤'),
        (['·', 'Y', '\''], 'Ý'),
        (['·', 'Y', '-'], '¥'),
        (['·', 'Y', '='], '¥'),
        (['·', '_', 'A'], 'ª'),
        (['·', '_', 'O'], 'º'),
        (['·', '_', '_'], '¯'),
        (['·', '_', 'a'], 'ª'),
        (['·', '_', 'o'], 'º'),
        (['·', 'a', '"'], 'ä'),
        (['·', 'a', '\''], 'á'),
        (['·', 'a', '*'], 'å'),
        (['·', 'a', '-'], 'ã'),
        (['·', 'a', '>'], 'â'),
        (['·', 'a', '_'], 'ª'),
        (['·', 'a', 'a'], 'å'),
        (['·', 'a', 'e'], 'æ'),
        (['·', 'a', 'o'], 'å'),
        (['·', 'a', '~'], 'ã'),
        (['·', 'b', 'v'], '¦'),
        (['·', 'c', ','], 'ç'),
        (['·', 'c', '/'], '¢'),
        (['·', 'c', '0'], '©'),
        (['·', 'c', 'O'], '©'),
        (['·', 'c', 'o'], '©'),
        (['·', 'c', '|'], '¢'),
        (['·', 'd', '-'], 'ð'),
        (['·', 'e', '"'], 'ë'),
        (['·', 'e', '\''], 'é'),
        (['·', 'e', '>'], 'ê'),
        (['·', 'i', '"'], 'ï'),
        (['·', 'i', '\''], 'í'),
        (['·', 'i', '>'], 'î'),
        (['·', 'l', '-'], '£'),
        (['·', 'l', '='], '£'),
        (['·', 'l', 'v'], '|'),
        (['·', 'n', '-'], 'ñ'),
        (['·', 'n', '~'], 'ñ'),
        (['·', 'o', '"'], 'ö'),
        (['·', 'o', '\''], 'ó'),
        (['·', 'o', '-'], 'õ'),
        (['·', 'o', '/'], 'ø'),
        (['·', 'o', '>'], 'ô'),
        (['·', 'o', 'C'], '©'),
        (['·', 'o', 'X'], '¤'),
        (['·', 'o', '_'], 'º'),
        (['·', 'o', 'c'], '©'),
        (['·', 'o', 's'], '§'),
        (['·', 'o', 'x'], '¤'),
        (['·', 'o', '~'], 'õ'),
        (['·', 'p', '!'], '¶'),
        (['·', 's', '!'], '§'),
        (['·', 's', '0'], '§'),
        (['·', 's', '1'], '¹'),
        (['·', 's', '2'], '²'),
        (['·', 's', '3'], '³'),
        (['·', 's', 'o'], '§'),
        (['·', 's', 's'], 'ß'),
        (['·', 't', 'h'], 'þ'),
        (['·', 'u', '"'], 'ü'),
        (['·', 'u', '\''], 'ú'),
        (['·', 'u', '/'], 'µ'),
        (['·', 'u', '>'], 'û'),
        (['·', 'v', 'b'], '¦'),
        (['·', 'v', 'l'], '|'),
        (['·', 'x', '0'], '¤'),
        (['·', 'x', 'O'], '¤'),
        (['·', 'x', 'o'], '¤'),
        (['·', 'x', 'x'], '×'),
        (['·', 'y', '"'], 'ÿ'),
        (['·', 'y', '\''], 'ý'),
        (['·', 'y', '-'], '¥'),
        (['·', 'y', '='], '¥'),
        (['·', '|', 'C'], '¢'),
        (['·', '|', 'c'], '¢'),
        (['·', '|', '|'], '¦'),
        (['·', '~', ' '], '~'),
        (['·', '~', 'A'], 'Ã'),
        (['·', '~', 'N'], 'Ñ'),
        (['·', '~', 'O'], 'Õ'),
        (['·', '~', 'a'], 'ã'),
        (['·', '~', 'n'], 'ñ'),
        (['·', '~', 'o'], 'õ'),
        (['̀', ' '], '`'),
        (['̀', 'A'], 'À'),
        (['̀', 'E'], 'È'),
        (['̀', 'I'], 'Ì'),
        (['̀', 'O'], 'Ò'),
        (['̀', 'U'], 'Ù'),
        (['̀', 'a'], 'à'),
        (['̀', 'e'], 'è'),
        (['̀', 'i'], 'ì'),
        (['̀', 'o'], 'ò'),
        (['̀', 'u'], 'ù'),
        (['̀', '̀'], '`'),
        (['́', ' '], '\''),
        (['́', '\''], '´'),
        (['́', 'A'], 'Á'),
        (['́', 'C'], 'Ç'),
        (['́', 'E'], 'É'),
        (['́', 'I'], 'Í'),
        (['́', 'O'], 'Ó'),
        (['́', 'U'], 'Ú'),
        (['́', 'Y'], 'Ý'),
        (['́', 'a'], 'á'),
        (['́', 'c'], 'ç'),
        (['́', 'e'], 'é'),
        (['́', 'i'], 'í'),
        (['́', 'o'], 'ó'),
        (['́', 'u'], 'ú'),
        (['́', 'y'], 'ý'),
        (['́', '́'], '´'),
        (['̂', ' '], '^'),
        (['̂', '!'], '¦'),
        (['̂', '-'], '¯'),
        (['̂', '.'], '·'),
        (['̂', '/'], '|'),
        (['̂', '0'], '°'),
        (['̂', '1'], '¹'),
        (['̂', '2'], '²'),
        (['̂', '3'], '³'),
        (['̂', 'A'], 'Â'),
        (['̂', 'E'], 'Ê'),
        (['̂', 'I'], 'Î'),
        (['̂', 'O'], 'Ô'),
        (['̂', 'U'], 'Û'),
        (['̂', '_'], '¯'),
        (['̂', 'a'], 'â'),
        (['̂', 'e'], 'ê'),
        (['̂', 'i'], 'î'),
        (['̂', 'o'], 'ô'),
        (['̂', 'u'], 'û'),
        (['̂', '̂'], '^'),
        (['̃', ' '], '~'),
        (['̃', 'A'], 'Ã'),
        (['̃', 'N'], 'Ñ'),
        (['̃', 'O'], 'Õ'),
        (['̃', 'a'], 'ã'),
        (['̃', 'n'], 'ñ'),
        (['̃', 'o'], 'õ'),
        (['̃', '̃'], '~'),
        (['̈', '"'], '¨'),
        (['̈', 'A'], 'Ä'),
        (['̈', 'E'], 'Ë'),
        (['̈', 'I'], 'Ï'),
        (['̈', 'O'], 'Ö'),
        (['̈', 'U'], 'Ü'),
        (['̈', 'a'], 'ä'),
        (['̈', 'e'], 'ë'),
        (['̈', 'i'], 'ï'),
        (['̈', 'o'], 'ö'),
        (['̈', 'u'], 'ü'),
        (['̈', 'y'], 'ÿ'),
        (['̈', '̈'], '¨'),
        (['̊', ' '], '°'),
        (['̊', 'A'], 'Å'),
        (['̊', 'a'], 'å'),
        (['̊', '̊'], '°'),
        (['̋', 'U'], 'Ü'),
        (['̋', 'u'], 'ü'),
        (['̧', ','], '¸'),
        (['̧', '-'], '¬'),
        (['̧', 'C'], 'Ç'),
        (['̧', 'c'], 'ç'),
    ],
)
