(
    version: 1,
    layout: "German (Dvorak)",
    modifiers: [
        (42, [(0, Press(Level2))]),
        (54, [(0, Press(Level2))]),
        (100, [(0, Press(Level3))]),
    ],
    keymap: {
        0: {
            2: '1', 3: '2', 4: '3', 5: '4', 6: '5', 7: '6', 8: '7', 9: '8', 10: '9', 11: '0', 12: '+', 13: '<',
            16: 'ü', 17: ',', 18: '.', 19: 'p', 20: 'y', 21: 'f', 22: 'g', 23: 'c', 24: 't', 25: 'z', 26: '?', 27: '/',
            30: 'a', 31: 'o', 32: 'e', 33: 'i', 34: 'u', 35: 'h', 36: 'd', 37: 'r', 38: 'n', 39: 's', 40: 'l', 41: '^',
            43: '-', 44: 'ö', 45: 'q', 46: 'j', 47: 'k', 48: 'x', 49: 'b', 50: 'm', 51: 'w', 52: 'v', 53: '#',
            83: '\u{7f}',
            86: 'ä',
        },
        1: {
            2: '!', 3: '\"', 4: '§', 5: '$', 6: '%', 7: '&', 8: '/', 9: '(', 10: ')', 11: '=', 12: '*', 13: '>',
            16: 'Ü', 17: ';', 18: ':', 19: 'P', 20: 'Y', 21: 'F', 22: 'G', 23: 'C', 24: 'T', 25: 'Z', 26: 'ß', 27: '\\',
            30: 'A', 31: 'O', 32: 'E', 33: 'I', 34: 'U', 35: 'H', 36: 'D', 37: 'R', 38: 'N', 39: 'S', 40: 'L', 41: '°',
            43: '_', 44: 'Ö', 45: 'Q', 46: 'J', 47: 'K', 48: 'X', 49: 'B', 50: 'M', 51: 'W', 52: 'V', 53: '\'',
            86: 'Ä',
        },
        2: {
            2: '¹', 3: '²', 4: '³', 5: '|', 6: '|', 7: '¦', 8: '{', 9: '[', 10: ']', 11: '}', 12: '~', 13: '\u{300}',
            16: '@', 17: '\u{308}', 18: '\u{307}', 23: '©', 24: '™', 25: 'ż', 27: '\u{301}',
            30: '@', 31: 'ó', 32: '€', 37: '®', 38: 'ń', 39: 'ś', 40: 'ł', 41: '\u{300}',
            43: '\u{ad}', 44: '\u{328}', 45: '@', 50: 'µ',
            86: '|',
        },
        3: {
            7: '\u{302}', 10: '\u{306}',
            16: '\u{308}', 17: '\u{30c}', 18: '·', 23: 'Ć', 25: 'Ż',
            30: 'ą', 31: 'Ó', 32: 'ę', 38: 'Ń', 39: 'Ś', 40: 'Ł', 41: '\u{303}',
            43: '¨', 44: '\u{30b}',
            86: '¦',
        },
    },
    num_lock_keys: {
        0: {
            71: '7', 72: '8', 73: '9', 75: '4', 76: '5', 77: '6', 79: '1', 80: '2', 81: '3', 82: '0', 83: '.',
        },
    },
    caps_lock_keymap: {
        0: {
            16: 'Ü', 19: 'P', 20: 'Y', 21: 'F', 22: 'G', 23: 'C', 24: 'T', 25: 'Z',
            30: 'A', 31: 'O', 32: 'E', 33: 'I', 34: 'U', 35: 'H', 36: 'D', 37: 'R', 38: 'N', 39: 'S', 40: 'L',
            44: 'Ö', 45: 'Q', 46: 'J', 47: 'K', 48: 'X', 49: 'B', 50: 'M', 51: 'W', 52: 'V',
            86: 'Ä',
        },
        1: {
            16: 'ü', 19: 'p', 20: 'y', 21: 'f', 22: 'g', 23: 'c', 24: 't', 25: 'z', 26: 'ẞ',
            30: 'a', 31: 'o', 32: 'e', 33: 'i', 34: 'u', 35: 'h', 36: 'd', 37: 'r', 38: 'n', 39: 's', 40: 'l',
            44: 'ö', 45: 'q', 46: 'j', 47: 'k', 48: 'x', 49: 'b', 50: 'm', 51: 'w', 52: 'v',
            86: 'ä',
        },
        2: {
            19: 'P', 20: 'Y', 21: 'F', 22: 'G', 25: 'Ż',
            31: 'Ó', 33: 'I', 34: 'U', 35: 'H', 36: 'D', 38: 'Ń', 39: 'Ś', 40: 'Ł',
            46: 'J', 47: 'K', 48: 'X', 49: 'B', 50: 'Μ', 51: 'W', 52: 'V',
        },
        3: {
            19: 'p', 20: 'y', 21: 'f', 22: 'g', 25: 'ż', 26: 'ẞ',
            30: 'Ą', 31: 'ó', 32: 'Ę', 33: 'i', 34: 'u', 35: 'h', 36: 'd', 38: 'ń', 39: 'ś', 40: 'ł',
            46: 'j', 47: 'k', 48: 'x', 49: 'b', 51: 'w', 52: 'v',
        },
    },
    compose: [
        (['·', ' ', ' '], ' '),
        (['·', ' ', '\''], '\''),
        (['·', ' ', '-'], '~'),
        (['·', ' ', '>'], '^'),
        (['·', ' ', '^'], '^'),
        (['·', ' ', '~'], '~'),
        (['·', '!', '!'], '¡'),
        (['·', '!', 'P'], '¶'),
        (['·', '!', 'S'], '§'),
        (['·', '!', '^'], '¦'),
        (['·', '!', 'p'], '¶'),
        (['·', '!', 's'], '§'),
        (['·', '"', '"'], '¨'),
        (['·', '"', 'A'], 'Ä'),
        (['·', '"', 'E'], 'Ë'),
        (['·', '"', 'I'], 'Ï'),
        (['·', '"', 'O'], 'Ö'),
        (['·', '"', 'U'], 'Ü'),
        (['·', '"', 'a'], 'ä'),
        (['·', '"', 'e'], 'ë'),
        (['·', '"', 'i'], 'ï'),
        (['·', '"', 'o'], 'ö'),
        (['·', '"', 'u'], 'ü'),
        (['·', '"', 'y'], 'ÿ'),
        (['·', '\'', ' '], '\''),
        (['·', '\'', '\''], '´'),
        (['·', '\'', 'A'], 'Á'),
        (['·', '\'', 'E'], 'É'),
        (['·', '\'', 'I'], 'Í'),
        (['·', '\'', 'O'], 'Ó'),
        (['·', '\'', 'U'], 'Ú'),
        (['·', '\'', 'Y'], 'Ý'),
        (['·', '\'', 'a'], 'á'),
        (['·', '\'', 'e'], 'é'),
        (['·', '\'', 'i'], 'í'),
        (['·', '\'', 'o'], 'ó'),
        (['·', '\'', 'u'], 'ú'),
        (['·', '\'', 'y'], 'ý'),
        (['·', '(', '('], '['),
        (['·', '(', '-'], '{'),
        (['·', '(', 'c'], '©'),
        (['·', '(', 'r'], '®'),
        (['·', ')', ')'], ']'),
        (['·', ')', '-'], '}'),
        (['·', '*', '0'], '°'),
        (['·', '*', 'A'], 'Å'),
        (['·', '*', 'a'], 'å'),
        (['·', '+', '-'], '±'),
        (['·', ',', ','], '¸'),
        (['·', ',', '-'], '¬'),
        (['·', ',', 'C'], 'Ç'),
        (['·', ',', 'c'], 'ç'),
        (['·', '-', ' '], '~'),
        (['·', '-', '('], '{'),
        (['·', '-', ')'], '}'),
        (['·', '-', '+'], '±'),
        (['·', '-', ','], '¬'),
        (['·', '-', '-'], '­'),
        (['·', '-', ':'], '÷'),
        (['·', '-', 'A'], 'Ã'),
        (['·', '-', 'D'], 'Ð'),
        (['·', '-', 'L'], '£'),
        (['·', '-', 'N'], 'Ñ'),
        (['·', '-', 'O'], 'Õ'),
        (['·', '-', 'Y'], '¥'),
        (['·', '-', '^'], '¯'),
        (['·', '-', 'a'], 'ã'),
        (['·', '-', 'd'], 'ð'),
        (['·', '-', 'l'], '£'),
        (['·', '-', 'n'], 'ñ'),
        (['·', '-', 'o'], 'õ'),
        (['·', '-', 'y'], '¥'),
        (['·', '.', '.'], '·'),
        (['·', '.', '^'], '·'),
        (['·', '/', '/'], '\\'),
        (['·', '/', '<'], '\\'),
        (['·', '/', 'C'], '¢'),
        (['·', '/', 'O'], 'Ø'),
        (['·', '/', 'U'], 'µ'),
        (['·', '/', '^'], '|'),
        (['·', '/', 'c'], '¢'),
        (['·', '/', 'o'], 'ø'),
        (['·', '/', 'u'], 'µ'),
        (['·', '0', '*'], '°'),
        (['·', '0', 'C'], '©'),
        (['·', '0', 'S'], '§'),
        (['·', '0', 'X'], '¤'),
        (['·', '0', '^'], '°'),
        (['·', '0', 'c'], '©'),
        (['·', '0', 's'], '§'),
        (['·', '0', 'x'], '¤'),
        (['·', '1', '2'], '½'),
        (['·', '1', '4'], '¼'),
        (['·', '1', 'S'], '¹'),
        (['·', '1', '^'], '¹'),
        (['·', '1', 's'], '¹'),
        (['·', '2', 'S'], '²'),
        (['·', '2', '^'], '²'),
        (['·', '2', 's'], '²'),
        (['·', '3', '4'], '¾'),
        (['·', '3', 'S'], '³'),
        (['·', '3', '^'], '³'),
        (['·', '3', 's'], '³'),
        (['·', ':', '-'], '÷'),
        (['·', '<', '/'], '\\'),
        (['·', '<', '<'], '«'),
        (['·', '=', 'L'], '£'),
        (['·', '=', 'Y'], '¥'),
        (['·', '=', 'l'], '£'),
        (['·', '=', 'y'], '¥'),
        (['·', '>', ' '], '^'),
        (['·', '>', '>'], '»'),
        (['·', '>', 'A'], 'Â'),
        (['·', '>', 'E'], 'Ê'),
        (['·', '>', 'I'], 'Î'),
        (['·', '>', 'O'], 'Ô'),
        (['·', '>', 'U'], 'Û'),
        (['·', '>', 'a'], 'â'),
        (['·', '>', 'e'], 'ê'),
        (['·', '>', 'i'], 'î'),
        (['·', '>', 'o'], 'ô'),
        (['·', '>', 'u'], 'û'),
        (['·', '?', '?'], '¿'),
        (['·', 'A', '"'], 'Ä'),
        (['·', 'A', '\''], 'Á'),
        (['·', 'A', '*'], 'Å'),
        (['·', 'A', '-'], 'Ã'),
        (['·', 'A', '>'], 'Â'),
        (['·', 'A', 'A'], 'Å'),
        (['·', 'A', 'E'], 'Æ'),
        (['·', 'A', 'O'], 'Å'),
        (['·', 'A', 'T'], '@'),
        (['·', 'A', '^'], 'Â'),
        (['·', 'A', '_'], 'ª'),
        (['·', 'A', '~'], 'Ã'),
        (['·', 'A', '¨'], 'Ä'),
        (['·', 'B', 'V'], '¦'),
        (['·', 'C', ','], 'Ç'),
        (['·', 'C', '/'], '¢'),
        (['·', 'C', '0'], '©'),
        (['·', 'C', 'O'], '©'),
        (['·', 'C', 'o'], '©'),
        (['·', 'C', '|'], '¢'),
        (['·', 'D', '-'], 'Ð'),
        (['·', 'E', '"'], 'Ë'),
        (['·', 'E', '\''], 'É'),
        (['·', 'E', '>'], 'Ê'),
        (['·', 'E', '^'], 'Ê'),
        (['·', 'E', '¨'], 'Ë'),
        (['·', 'I', '"'], 'Ï'),
        (['·', 'I', '\''], 'Í'),
        (['·', 'I', '>'], 'Î'),
        (['·', 'I', '^'], 'Î'),
        (['·', 'I', '¨'], 'Ï'),
        (['·', 'L', '-'], '£'),
        (['·', 'L', '='], '£'),
        (['·', 'L', 'V'], '|'),
        (['·', 'N', '-'], 'Ñ'),
        (['·', 'N', '~'], 'Ñ'),
        (['·', 'O', '"'], 'Ö'),
        (['·', 'O', '\''], 'Ó'),
        (['·', 'O', '-'], 'Õ'),
        (['·', 'O', '/'], 'Ø'),
        (['·', 'O', '>'], 'Ô'),
        (['·', 'O', 'C'], '©'),
        (['·', 'O', 'R'], '®'),
        (['·', 'O', 'S'], '§'),
        (['·', 'O', 'X'], '¤'),
        (['·', 'O', '^'], 'Ô'),
        (['·', 'O', '_'], 'º'),
        (['·', 'O', 'c'], '©'),
        (['·', 'O', 'x'], '¤'),
        (['·', 'O', '~'], 'Õ'),
        (['·', 'O', '¨'], 'Ö'),
        (['·', 'P', '!'], '¶'),
        (['·', 'R', 'O'], '®'),
        (['·', 'S', '!'], '§'),
        (['·', 'S', '0'], '§'),
        (['·', 'S', '1'], '¹'),
        (['·', 'S', '2'], '²'),
        (['·', 'S', '3'], '³'),
        (['·', 'S', 'O'], '§'),
        (['·', 'T', 'H'], 'Þ'),
        (['·', 'U', '"'], 'Ü'),
        (['·', 'U', '\''], 'Ú'),
        (['·', 'U', '/'], 'µ'),
        (['·', 'U', '>'], 'Û'),
        (['·', 'U', '^'], 'Û'),
        (['·', 'U', '¨'], 'Ü'),
        (['·', 'V', 'B'], '¦'),
        (['·', 'V', 'L'], '|'),
        (['·', 'X', '0'], '¤'),
        (['·', 'X', 'O'], '¤'),
        (['·', 'X', 'o'], '¤'),
        (['·', 'Y', '\''], 'Ý'),
        (['·', 'Y', '-'], '¥'),
        (['·', 'Y', '='], '¥'),
        (['·', '^', ' '], '^'),
        (['·', '^', '!'], '¦'),
        (['·', '^', '-'], '¯'),
        (['·', '^', '.'], '·'),
        (['·', '^', '/'], '|'),
        (['·', '^', '0'], '°'),
        (['·', '^', '1'], '¹'),
        (['·', '^', '2'], '²'),
        (['·', '^', '3'], '³'),
        (['·', '^', 'A'], 'Â'),
        (['·', '^', 'E'], 'Ê'),
        (['·', '^', 'I'], 'Î'),
        (['·', '^', 'O'], 'Ô'),
        (['·', '^', 'U'], 'Û'),
        (['·', '^', '_'], '¯'),
        (['·', '^', 'a'], 'â'),
        (['·', '^', 'e'], 'ê'),
        (['·', '^', 'i'], 'î'),
        (['·', '^', 'o'], 'ô'),
        (['·', '^', 'u'], 'û'),
        (['·', '_', 'A'], 'ª'),
        (['·', '_', 'O'], 'º'),
        (['·', '_', '^'], '¯'),
        (['·', '_', '_'], '¯'),
        (['·', '_', 'a'], 'ª'),
        (['·', '_', 'o'], 'º'),
        (['·', 'a', '"'], 'ä'),
        (['·', 'a', '\''], 'á'),
        (['·', 'a', '*'], 'å'),
        (['·', 'a', '-'], 'ã'),
        (['·', 'a', '>'], 'â'),
        (['·', 'a', '^'], 'â'),
        (['·', 'a', '_'], 'ª'),
        (['·', 'a', 'a'], 'å'),
        (['·', 'a', 'e'], 'æ'),
        (['·', 'a', 'o'], 'å'),
        (['·', 'a', '~'], 'ã'),
        (['·', 'a', '¨'], 'ä'),
        (['·', 'b', 'v'], '¦'),
        (['·', 'c', ','], 'ç'),
        (['·', 'c', '/'], '¢'),
        (['·', 'c', '0'], '©'),
        (['·', 'c', 'O'], '©'),
        (['·', 'c', 'o'], '©'),
        (['·', 'c', '|'], '¢'),
        (['·', 'd', '-'], 'ð'),
        (['·', 'e', '"'], 'ë'),
        (['·', 'e', '\''], 'é'),
        (['·', 'e', '>'], 'ê'),
        (['·', 'e', '^'], 'ê'),
        (['·', 'e', '¨'], 'ë'),
        (['·', 'i', '"'], 'ï'),
        (['·', 'i', '\''], 'í'),
        (['·', 'i', '>'], 'î'),
        (['·', 'i', '^'], 'î'),
        (['·', 'i', '¨'], 'ï'),
        (['·', 'l', '-'], '£'),
        (['·', 'l', '='], '£'),
        (['·', 'l', 'v'], '|'),
        (['·', 'n', '-'], 'ñ'),
        (['·', 'n', '~'], 'ñ'),
        (['·', 'o', '"'], 'ö'),
        (['·', 'o', '\''], 'ó'),
        (['·', 'o', '-'], 'õ'),
        (['·', 'o', '/'], 'ø'),
        (['·', 'o', '>'], 'ô'),
        (['·', 'o', 'C'], '©'),
        (['·', 'o', 'X'], '¤'),
        (['·', 'o', '^'], 'ô'),
        (['·', 'o', '_'], 'º'),
        (['·', 'o', 'c'], '©'),
        (['·', 'o', 's'], '§'),
        (['·', 'o', 'x'], '¤'),
        (['·', 'o', '~'], 'õ'),
        (['·', 'o', '¨'], 'ö'),
        (['·', 'p', '!'], '¶'),
        (['·', 's', '!'], '§'),
        (['·', 's', '0'], '§'),
        (['·', 's', '1'], '¹'),
        (['·', 's', '2'], '²'),
        (['·', 's', '3'], '³'),
        (['·', 's', 'o'], '§'),
        (['·', 's', 's'], 'ß'),
        (['·', 't', 'h'], 'þ'),
        (['·', 'u', '"'], 'ü'),
        (['·', 'u', '\''], 'ú'),
        (['·', 'u', '/'], 'µ'),
        (['·', 'u', '>'], 'û'),
        (['·', 'u', '^'], 'û'),
        (['·', 'u', '¨'], 'ü'),
        (['·', 'v', 'b'], '¦'),
        (['·', 'v', 'l'], '|'),
        (['·', 'x', '0'], '¤'),
        (['·', 'x', 'O'], '¤'),
        (['·', 'x', 'o'], '¤'),
        (['·', 'x', 'x'], '×'),
        (['·', 'y', '"'], 'ÿ'),
        (['·', 'y', '\''], 'ý'),
        (['·', 'y', '-'], '¥'),
        (['·', 'y', '='], '¥'),
        (['·', 'y', '¨'], 'ÿ'),
        (['·', '|', 'C'], '¢'),
        (['·', '|', 'c'], '¢'),
        (['·', '|', '|'], '¦'),
        (['·', '~', ' '], '~'),
        (['·', '~', 'A'], 'Ã'),
        (['·', '~', 'N'], 'Ñ'),
        (['·', '~', 'O'], 'Õ'),
        (['·', '~', 'a'], 'ã'),
        (['·', '~', 'n'], 'ñ'),
        (['·', '~', 'o'], 'õ'),
        (['·', '¨', 'A'], 'Ä'),
        (['·', '¨', 'E'], 'Ë'),
        (['·', '¨', 'I'], 'Ï'),
        (['·', '¨', 'O'], 'Ö'),
        (['·', '¨', 'U'], 'Ü'),
        (['·', '¨', 'a'], 'ä'),
        (['·', '¨', 'e'], 'ë'),
        (['·', '¨', 'i'], 'ï'),
        (['·', '¨', 'o'], 'ö'),
        (['·', '¨', 'u'], 'ü'),
        (['·', '¨', 'y'], 'ÿ'),
        (['̀', ' '], '`'),
        (['̀', 'A'], 'À'),
        (['̀', 'E'], 'È'),
        (['̀', 'I'], 'Ì'),
        (['̀', 'O'], 'Ò'),
        (['̀', 'U'], 'Ù'),
        (['̀', 'a'], 'à'),
        (['̀', 'e'], 'è'),
        (['̀', 'i'], 'ì'),
        (['̀', 'o'], 'ò'),
        (['̀', 'u'], 'ù'),
        (['̀', '̀'], '`'),
        (['́', ' '], '\''),
        (['́', '\''], '´'),
        (['́', 'A'], 'Á'),
        (['́', 'C'], 'Ç'),
        (['́', 'E'], 'É'),
        (['́', 'I'], 'Í'),
        (['́', 'O'], 'Ó'),
        (['́', 'U'], 'Ú'),
        (['́', 'Y'], 'Ý'),
        (['́', 'a'], 'á'),
        (['́', 'c'], 'ç'),
        (['́', 'e'], 'é'),
        (['́', 'i'], 'í'),
        (['́', 'o'], 'ó'),
        (['́', 'u'], 'ú'),
        (['́', 'y'], 'ý'),
        (['́', '́'], '´'),
        (['̂', ' '], '^'),
        (['̂', '!'], '¦'),
        (['̂', '-'], '¯'),
        (['̂', '.'], '·'),
        (['̂', '/'], '|'),
        (['̂', '0'], '°'),
        (['̂', '1'], '¹'),
        (['̂', '2'], '²'),
        (['̂', '3'], '³'),
        (['̂', 'A'], 'Â'),
        (['̂', 'E'], 'Ê'),
        (['̂', 'I'], 'Î'),
        (['̂', 'O'], 'Ô'),
        (['̂', 'U'], 'Û'),
        (['̂', '_'], '¯'),
        (['̂', 'a'], 'â'),
        (['̂', 'e'], 'ê'),
        (['̂', 'i'], 'î'),
        (['̂', 'o'], 'ô'),
        (['̂', 'u'], 'û'),
        (['̂', '̂'], '^'),
        (['̃', ' '], '~'),
        (['̃', 'A'], 'Ã'),
        (['̃', 'N'], 'Ñ'),
        (['̃', 'O'], 'Õ'),
        (['̃', 'a'], 'ã'),
        (['̃', 'n'], 'ñ'),
        (['̃', 'o'], 'õ'),
        (['̃', '̃'], '~'),
        (['̈', '"'], '¨'),
        (['̈', 'A'], 'Ä'),
        (['̈', 'E'], 'Ë'),
        (['̈', 'I'], 'Ï'),
        (['̈', 'O'], 'Ö'),
        (['̈', 'U'], 'Ü'),
        (['̈', 'a'], 'ä'),
        (['̈', 'e'], 'ë'),
        (['̈', 'i'], 'ï'),
        (['̈', 'o'], 'ö'),
        (['̈', 'u'], 'ü'),
        (['̈', 'y'], 'ÿ'),
        (['̈', '̈'], '¨'),
        (['̋', 'U'], 'Ü'),
        (['̋', 'u'], 'ü'),
    ],
)
