(
    version: 1,
    layout: "Russian (Germany, phonetic)",
    modifiers: [
        (42, [(0, Press(Level2))]),
        (54, [(0, Press(Level2))]),
        (100, [(0, Press(Level3))]),
    ],
    keymap: {
        0: {
            2: '1', 3: '2', 4: '3', 5: '4', 6: '5', 7: '6', 8: '7', 9: '8', 10: '9', 11: '0', 12: 'ß', 13: 'ъ',
            16: 'я', 17: 'в', 18: 'е', 19: 'р', 20: 'т', 21: 'з', 22: 'у', 23: 'и', 24: 'о', 25: 'п', 26: 'ш', 27: 'щ',
            30: 'а', 31: 'с', 32: 'д', 33: 'ф', 34: 'г', 35: 'х', 36: 'й', 37: 'к', 38: 'л', 39: 'ч', 40: 'э', 41: 'ё',
            43: 'ю', 44: 'ы', 45: 'ж', 46: 'ц', 47: 'ь', 48: 'б', 49: 'н', 50: 'м', 51: ',', 52: '.', 53: '-',
            83: '\u{7f}',
            86: '<',
        },
        1: {
            2: '!', 3: '\"', 4: '§', 5: '$', 6: '%', 7: '&', 8: '/', 9: '(', 10: ')', 11: '=', 12: '?', 13: 'Ъ',
            16: 'Я', 17: 'В', 18: 'Е', 19: 'Р', 20: 'Т', 21: 'З', 22: 'У', 23: 'И', 24: 'О', 25: 'П', 26: 'Ш', 27: 'Щ',
            30: 'А', 31: 'С', 32: 'Д', 33: 'Ф', 34: 'Г', 35: 'Х', 36: 'Й', 37: 'К', 38: 'Л', 39: 'Ч', 40: 'Э', 41: 'Ё',
            43: 'Ю', 44: 'Ы', 45: 'Ж', 46: 'Ц', 47: 'Ь', 48: 'Б', 49: 'Н', 50: 'М', 51: ';', 52: ':', 53: '_',
            86: '>',
        },
        2: {
            2: '¹', 3: '²', 4: '³', 5: '¼', 6: '½', 7: '¬', 8: '{', 9: '[', 10: ']', 11: '}', 12: '\\', 13: '\u{327}',
            16: '@', 17: 'ſ', 18: '€', 19: '¶', 20: 'ŧ', 21: '←', 22: '↓', 23: '→', 24: 'ø', 25: 'þ', 26: '\u{308}', 27: '+',
            30: 'æ', 31: 'ſ', 32: 'ð', 33: 'đ', 34: 'ŋ', 35: 'ħ', 36: '\u{323}', 37: 'ĸ', 38: 'ł', 39: '\u{30b}', 40: '\u{302}', 41: '~',
            43: '#', 44: '»', 45: '«', 46: '¢', 47: '„', 48: '“', 49: '”', 50: 'µ', 51: '·', 52: '…', 53: '–',
            86: '|',
        },
        3: {
            2: '¡', 3: '⅛', 4: '£', 5: '¤', 6: '⅜', 7: '⅝', 8: '⅞', 9: '™', 10: '±', 11: '°', 12: '¿', 13: '\u{328}',
            16: 'Ω', 17: '§', 19: '®', 20: 'Ŧ', 21: '¥', 22: '↑', 23: 'ı', 24: 'Ø', 25: 'Þ', 26: '\u{30a}', 27: '*',
            30: 'Æ', 31: 'ẞ', 32: 'Ð', 33: 'ª', 34: 'Ŋ', 35: 'Ħ', 36: '\u{307}', 37: '&', 38: 'Ł', 39: '\u{323}', 40: '\u{30c}', 41: '″',
            43: '\'', 44: '›', 45: '‹', 46: '©', 47: '‚', 48: '‘', 49: '’', 50: 'º', 51: '×', 52: '÷', 53: '—',
            86: '\u{332}',
        },
    },
    num_lock_keys: {
        0: {
            71: '7', 72: '8', 73: '9', 75: '4', 76: '5', 77: '6', 79: '1', 80: '2', 81: '3', 82: '0', 83: ',',
        },
    },
    caps_lock_keymap: {
        0: {
            12: 'ẞ', 13: 'Ъ',
            16: 'Я', 17: 'В', 18: 'Е', 19: 'Р', 20: 'Т', 21: 'З', 22: 'У', 23: 'И', 24: 'О', 25: 'П', 26: 'Ш', 27: 'Щ',
            30: 'А', 31: 'С', 32: 'Д', 33: 'Ф', 34: 'Г', 35: 'Х', 36: 'Й', 37: 'К', 38: 'Л', 39: 'Ч', 40: 'Э', 41: 'Ё',
            43: 'Ю', 44: 'Ы', 45: 'Ж', 46: 'Ц', 47: 'Ь', 48: 'Б', 49: 'Н', 50: 'М',
        },
        1: {
            13: 'ъ',
            16: 'я', 17: 'в', 18: 'е', 19: 'р', 20: 'т', 21: 'з', 22: 'у', 23: 'и', 24: 'о', 25: 'п', 26: 'ш', 27: 'щ',
            30: 'а', 31: 'с', 32: 'д', 33: 'ф', 34: 'г', 35: 'х', 36: 'й', 37: 'к', 38: 'л', 39: 'ч', 40: 'э', 41: 'ё',
            43: 'ю', 44: 'ы', 45: 'ж', 46: 'ц', 47: 'ь', 48: 'б', 49: 'н', 50: 'м',
        },
        2: {
            17: 'S', 20: 'Ŧ', 24: 'Ø', 25: 'Þ',
            30: 'Æ', 31: 'ẞ', 32: 'Ð', 33: 'Đ', 34: 'Ŋ', 35: 'Ħ', 38: 'Ł',
            50: 'Μ',
        },
        3: {
            20: 'ŧ', 23: 'I', 24: 'ø', 25: 'þ',
            30: 'æ', 31: 'ſ', 32: 'ð', 34: 'ŋ', 35: 'ħ', 38: 'ł',
        },
    },
    compose: [
        (['·', ' ', ' '], ' '),
        (['·', ' ', '\''], '\''),
        (['·', ' ', '-'], '~'),
        (['·', ' ', '>'], '^'),
        (['·', ' ', '~'], '~'),
        (['·', '!', '!'], '¡'),
        (['·', '!', 'S'], '§'),
        (['·', '"', '"'], '¨'),
        (['·', '"', 'I'], 'Ï'),
        (['·', '\'', ' '], '\''),
        (['·', '\'', '\''], '´'),
        (['·', '\'', 'I'], 'Í'),
        (['·', '(', '('], '['),
        (['·', '(', '-'], '{'),
        (['·', ')', ')'], ']'),
        (['·', ')', '-'], '}'),
        (['·', '*', '0'], '°'),
        (['·', '+', '-'], '±'),
        (['·', ',', ','], '¸'),
        (['·', ',', '-'], '¬'),
        (['·', '-', ' '], '~'),
        (['·', '-', '('], '{'),
        (['·', '-', ')'], '}'),
        (['·', '-', '+'], '±'),
        (['·', '-', ','], '¬'),
        (['·', '-', '-'], '­'),
        (['·', '-', ':'], '÷'),
        (['·', '.', '.'], '·'),
        (['·', '/', '/'], '\\'),
        (['·', '/', '<'], '\\'),
        (['·', '0', '*'], '°'),
        (['·', '0', 'S'], '§'),
        (['·', '1', '2'], '½'),
        (['·', '1', '4'], '¼'),
        (['·', '1', 'S'], '¹'),
        (['·', '2', 'S'], '²'),
        (['·', '3', '4'], '¾'),
        (['·', '3', 'S'], '³'),
        (['·', ':', '-'], '÷'),
        (['·', '<', '/'], '\\'),
        (['·', '<', '<'], '«'),
        (['·', '>', ' '], '^'),
        (['·', '>', '>'], '»'),
        (['·', '>', 'I'], 'Î'),
        (['·', '?', '?'], '¿'),
        (['·', 'I', '"'], 'Ï'),
        (['·', 'I', '\''], 'Í'),
        (['·', 'I', '>'], 'Î'),
        (['·', 'S', '!'], '§'),
        (['·', 'S', '0'], '§'),
        (['·', 'S', '1'], '¹'),
        (['·', 'S', '2'], '²'),
        (['·', 'S', '3'], '³'),
        (['·', '_', '_'], '¯'),
        (['·', '|', '|'], '¦'),
        (['·', '~', ' '], '~'),
        (['̂', ' '], '^'),
        (['̂', '!'], '¦'),
        (['̂', '-'], '¯'),
        (['̂', '.'], '·'),
        (['̂', '/'], '|'),
        (['̂', '0'], '°'),
        (['̂', '1'], '¹'),
        (['̂', '2'], '²'),
        (['̂', '3'], '³'),
        (['̂', 'I'], 'Î'),
        (['̂', '_'], '¯'),
        (['̂', '̂'], '^'),
        (['̈', '"'], '¨'),
        (['̈', 'I'], 'Ï'),
        (['̈', '̈'], '¨'),
        (['̊', ' '], '°'),
        (['̊', '̊'], '°'),
        (['̧', ','], '¸'),
        (['̧', '-'], '¬'),
    ],
)
