(
    version: 1,
    layout: "Amharic",
    repeat_remove: [41],
    modifiers: [
        (42, [(0, Press(Level2))]),
        (54, [(0, Press(Level2))]),
        (84, [(0, Press(Level3))]),
    ],
    keymap: {
        0: {
            2: '፩', 3: '፪', 4: '፫', 5: '፬', 6: '፭', 7: '፮', 8: '፯', 9: '፰', 10: '፱', 11: '፻', 12: '-', 13: '=',
            16: 'ቀ', 17: 'ወ', 18: 'e', 19: 'ረ', 20: 'ተ', 21: 'የ', 22: 'u', 23: 'i', 24: 'o', 25: 'ፐ', 26: 'ፀ', 27: 'ጨ',
            30: 'a', 31: 'ሰ', 32: 'ደ', 33: 'ፈ', 34: 'ገ', 35: 'ሀ', 36: 'ጀ', 37: 'ከ', 38: 'ለ', 39: '።', 40: '፦',
            44: 'ዘ', 45: 'አ', 46: 'ቸ', 47: 'ሸ', 48: 'በ', 49: 'ነ', 50: 'መ', 51: '፣', 52: '፤', 53: '፧',
            83: '\u{7f}',
            86: '<',
        },
        1: {
            2: '፲', 3: '፳', 4: '፴', 5: '፵', 6: '፶', 7: '፷', 8: '፸', 9: '፹', 10: '፺', 11: '፼', 12: '_', 13: '+',
            16: 'ቐ', 18: 'E', 20: 'ጠ', 22: 'U', 23: 'I', 24: 'O', 25: 'ጰ', 26: 'ጸ', 27: 'ኀ',
            30: 'A', 31: 'ሠ', 32: 'ዸ', 34: 'ጘ', 35: 'ሐ', 37: 'ኸ', 39: '፡', 40: '፥',
            43: '‐', 44: 'ዠ', 45: 'ዐ', 46: 'Ə', 47: 'ቨ', 49: 'ኘ', 53: '?',
            86: '>',
        },
        2: {
            86: '|',
        },
        3: {
            86: '¦',
        },
    },
    num_lock_keys: {
        0: {
            71: '7', 72: '8', 73: '9', 75: '4', 76: '5', 77: '6', 79: '1', 80: '2', 81: '3', 82: '0', 83: '.',
        },
    },
    compose: [
        (['·', ' ', ' '], ' '),
        (['·', ' ', '-'], '~'),
        (['·', ' ', '>'], '^'),
        (['·', '(', '('], '['),
        (['·', '(', '-'], '{'),
        (['·', ')', ')'], ']'),
        (['·', ')', '-'], '}'),
        (['·', '*', '0'], '°'),
        (['·', '*', 'A'], 'Å'),
        (['·', '*', 'a'], 'å'),
        (['·', '+', '-'], '±'),
        (['·', '-', ' '], '~'),
        (['·', '-', '('], '{'),
        (['·', '-', ')'], '}'),
        (['·', '-', '+'], '±'),
        (['·', '-', '-'], '­'),
        (['·', '-', 'A'], 'Ã'),
        (['·', '-', 'O'], 'Õ'),
        (['·', '-', 'a'], 'ã'),
        (['·', '-', 'o'], 'õ'),
        (['·', '.', '.'], '·'),
        (['·', '/', '/'], '\\'),
        (['·', '/', '<'], '\\'),
        (['·', '/', 'O'], 'Ø'),
        (['·', '/', 'U'], 'µ'),
        (['·', '/', 'o'], 'ø'),
        (['·', '/', 'u'], 'µ'),
        (['·', '0', '*'], '°'),
        (['·', '<', '/'], '\\'),
        (['·', '<', '<'], '«'),
        (['·', '=', 'E'], '€'),
        (['·', '=', 'e'], '€'),
        (['·', '>', ' '], '^'),
        (['·', '>', '>'], '»'),
        (['·', '>', 'A'], 'Â'),
        (['·', '>', 'E'], 'Ê'),
        (['·', '>', 'I'], 'Î'),
        (['·', '>', 'O'], 'Ô'),
        (['·', '>', 'U'], 'Û'),
        (['·', '>', 'a'], 'â'),
        (['·', '>', 'e'], 'ê'),
        (['·', '>', 'i'], 'î'),
        (['·', '>', 'o'], 'ô'),
        (['·', '>', 'u'], 'û'),
        (['·', '?', '?'], '¿'),
        (['·', 'A', '*'], 'Å'),
        (['·', 'A', '-'], 'Ã'),
        (['·', 'A', '>'], 'Â'),
        (['·', 'A', 'A'], 'Å'),
        (['·', 'A', 'E'], 'Æ'),
        (['·', 'A', 'O'], 'Å'),
        (['·', 'A', '_'], 'ª'),
        (['·', 'E', '='], '€'),
        (['·', 'E', '>'], 'Ê'),
        (['·', 'I', '>'], 'Î'),
        (['·', 'O', '-'], 'Õ'),
        (['·', 'O', '/'], 'Ø'),
        (['·', 'O', '>'], 'Ô'),
        (['·', 'O', 'E'], 'Œ'),
        (['·', 'O', '_'], 'º'),
        (['·', 'U', '/'], 'µ'),
        (['·', 'U', '>'], 'Û'),
        (['·', '_', 'A'], 'ª'),
        (['·', '_', 'O'], 'º'),
        (['·', '_', '_'], '¯'),
        (['·', '_', 'a'], 'ª'),
        (['·', '_', 'o'], 'º'),
        (['·', 'a', '*'], 'å'),
        (['·', 'a', '-'], 'ã'),
        (['·', 'a', '>'], 'â'),
        (['·', 'a', '_'], 'ª'),
        (['·', 'a', 'a'], 'å'),
        (['·', 'a', 'e'], 'æ'),
        (['·', 'a', 'o'], 'å'),
        (['·', 'e', '='], '€'),
        (['·', 'e', '>'], 'ê'),
        (['·', 'i', '>'], 'î'),
        (['·', 'o', '-'], 'õ'),
        (['·', 'o', '/'], 'ø'),
        (['·', 'o', '>'], 'ô'),
        (['·', 'o', '_'], 'º'),
        (['·', 'o', 'e'], 'œ'),
        (['·', 'u', '/'], 'µ'),
        (['·', 'u', '>'], 'û'),
    ],
)
