(
    version: 1,
    layout: "French (BEPO, Latin-9 only)",
    modifiers: [
        (42, [(0, Press(Level2))]),
        (54, [(0, Press(Level2))]),
        (100, [(0, Press(Level3))]),
    ],
    keymap: {
        0: {
            2: '\"', 3: '«', 4: '»', 5: '(', 6: ')', 7: '@', 8: '+', 9: '-', 10: '/', 11: '*', 12: '=', 13: '%',
            16: 'b', 17: 'é', 18: 'p', 19: 'o', 20: 'è', 21: '\u{302}', 22: 'v', 23: 'd', 24: 'l', 25: 'j', 26: 'z', 27: 'w',
            30: 'a', 31: 'u', 32: 'i', 33: 'e', 34: ',', 35: 'c', 36: 't', 37: 's', 38: 'r', 39: 'n', 40: 'm', 41: '$',
            43: 'ç', 44: 'à', 45: 'y', 46: 'x', 47: '.', 48: 'k', 49: '\'', 50: 'q', 51: 'g', 52: 'h', 53: 'f',
            83: '\u{7f}',
            86: 'ê',
        },
        1: {
            2: '1', 3: '2', 4: '3', 5: '4', 6: '5', 7: '6', 8: '7', 9: '8', 10: '9', 11: '0', 12: '°', 13: '`',
            16: 'B', 17: 'É', 18: 'P', 19: 'O', 20: 'È', 21: '!', 22: 'V', 23: 'D', 24: 'L', 25: 'J', 26: 'Z', 27: 'W',
            30: 'A', 31: 'U', 32: 'I', 33: 'E', 34: ';', 35: 'C', 36: 'T', 37: 'S', 38: 'R', 39: 'N', 40: 'M', 41: '#',
            43: 'Ç', 44: 'À', 45: 'Y', 46: 'X', 47: ':', 48: 'K', 49: '?', 50: 'Q', 51: 'G', 52: 'H', 53: 'F',
            57: '\u{a0}',
            83: '.',
            86: 'Ê',
        },
        2: {
            2: '—', 3: '<', 4: '>', 5: '[', 6: ']', 7: '^', 8: '±', 10: '÷', 11: '×', 12: '≠', 13: '‰',
            16: '|', 17: '\u{301}', 18: '&', 19: 'œ', 20: '\u{300}', 21: '¡', 22: '\u{30c}', 23: 'ð', 24: '\u{338}', 25: 'ĳ', 26: 'ə', 27: '\u{306}',
            30: 'æ', 31: 'ù', 32: '\u{308}', 33: '€', 35: '©', 36: 'þ', 37: 'ß', 38: '®', 39: '\u{303}', 40: '¯',
            43: '\u{327}', 44: '\\', 45: '{', 46: '}', 47: '…', 48: '~', 49: '¿', 50: '\u{30a}', 51: 'α', 52: '†', 55: '·',
            57: '_',
            83: ',',
            86: '/',
        },
        3: {
            2: '„', 3: '“', 4: '”', 5: '≤', 6: '≥', 8: '¬', 9: '¼', 10: '½', 11: '¾', 12: '′', 13: '″',
            16: '¦', 17: '\u{30b}', 18: '§', 19: 'Œ', 20: '`', 23: 'Ð', 25: 'Ĳ', 26: 'Ə',
            30: 'Æ', 31: 'Ù', 32: '\u{307}', 33: '¤', 34: '\u{31b}', 35: 'ſ', 36: 'Þ', 37: 'ẞ', 38: '™', 40: 'º', 41: '¶',
            43: '\u{326}', 45: '‘', 46: '’', 47: '·', 49: '\u{309}', 50: '\u{323}', 52: '‡', 53: 'ª', 55: '×',
            83: '\u{a0}',
            86: '¦', 98: '÷',
        },
    },
    num_lock_keys: {
        0: {
            71: '7', 72: '8', 73: '9', 75: '4', 76: '5', 77: '6', 79: '1', 80: '2', 81: '3', 82: '0', 83: '.',
        },
        2: {
            71: '7', 72: '8', 73: '9', 75: '4', 76: '5', 77: '6', 79: '1', 80: '2', 81: '3', 82: '0',
        },
    },
    caps_lock_keymap: {
        0: {
            2: '1', 3: '2', 4: '3', 5: '4', 6: '5', 7: '6', 8: '7', 9: '8', 10: '9', 11: '0',
            16: 'B', 17: 'É', 18: 'P', 19: 'O', 20: 'È', 22: 'V', 23: 'D', 24: 'L', 25: 'J', 26: 'Z', 27: 'W',
            30: 'A', 31: 'U', 32: 'I', 33: 'E', 35: 'C', 36: 'T', 37: 'S', 38: 'R', 39: 'N', 40: 'M',
            43: 'Ç', 44: 'À', 45: 'Y', 46: 'X', 48: 'K', 50: 'Q', 51: 'G', 52: 'H', 53: 'F',
            86: 'Ê',
        },
        1: {
            2: '\"', 3: '«', 4: '»', 5: '(', 6: ')', 7: '@', 8: '+', 9: '-', 10: '/', 11: '*',
            16: 'b', 17: 'é', 18: 'p', 19: 'o', 20: 'è', 22: 'v', 23: 'd', 24: 'l', 25: 'j', 26: 'z', 27: 'w',
            30: 'a', 31: 'u', 32: 'i', 33: 'e', 35: 'c', 36: 't', 37: 's', 38: 'r', 39: 'n', 40: 'm',
            43: 'ç', 44: 'à', 45: 'y', 46: 'x', 48: 'k', 50: 'q', 51: 'g', 52: 'h', 53: 'f',
            86: 'ê',
        },
        2: {
            19: 'Œ', 23: 'Ð', 25: 'Ĳ', 26: 'Ə',
            30: 'Æ', 31: 'Ù', 36: 'Þ', 37: 'ẞ',
            53: 'F',
        },
        3: {
            19: 'œ', 23: 'ð', 25: 'ĳ', 26: 'ə',
            30: 'æ', 31: 'ù', 35: 'S', 36: 'þ', 37: 'ß',
        },
    },
    compose: [
        (['·', ' ', ' '], ' '),
        (['·', ' ', '\''], '\''),
        (['·', ' ', '-'], '~'),
        (['·', ' ', '>'], '^'),
        (['·', ' ', '^'], '^'),
        (['·', ' ', '`'], '`'),
        (['·', ' ', '~'], '~'),
        (['·', '!', '!'], '¡'),
        (['·', '!', 'P'], '¶'),
        (['·', '!', 'S'], '§'),
        (['·', '!', '^'], '¦'),
        (['·', '!', 'p'], '¶'),
        (['·', '!', 's'], '§'),
        (['·', '"', '"'], '¨'),
        (['·', '"', 'A'], 'Ä'),
        (['·', '"', 'E'], 'Ë'),
        (['·', '"', 'I'], 'Ï'),
        (['·', '"', 'O'], 'Ö'),
        (['·', '"', 'U'], 'Ü'),
        (['·', '"', 'a'], 'ä'),
        (['·', '"', 'e'], 'ë'),
        (['·', '"', 'i'], 'ï'),
        (['·', '"', 'o'], 'ö'),
        (['·', '"', 'u'], 'ü'),
        (['·', '"', 'y'], 'ÿ'),
        (['·', '\'', ' '], '\''),
        (['·', '\'', '\''], '´'),
        (['·', '\'', 'A'], 'Á'),
        (['·', '\'', 'E'], 'É'),
        (['·', '\'', 'I'], 'Í'),
        (['·', '\'', 'O'], 'Ó'),
        (['·', '\'', 'U'], 'Ú'),
        (['·', '\'', 'Y'], 'Ý'),
        (['·', '\'', 'a'], 'á'),
        (['·', '\'', 'e'], 'é'),
        (['·', '\'', 'i'], 'í'),
        (['·', '\'', 'o'], 'ó'),
        (['·', '\'', 'u'], 'ú'),
        (['·', '\'', 'y'], 'ý'),
        (['·', '(', '('], '['),
        (['·', '(', '-'], '{'),
        (['·', '(', 'c'], '©'),
        (['·', '(', 'r'], '®'),
        (['·', ')', ')'], ']'),
        (['·', ')', '-'], '}'),
        (['·', '*', '0'], '°'),
        (['·', '*', 'A'], 'Å'),
        (['·', '*', 'a'], 'å'),
        (['·', '+', '-'], '±'),
        (['·', ',', ','], '¸'),
        (['·', ',', '-'], '¬'),
        (['·', ',', 'C'], 'Ç'),
        (['·', ',', 'c'], 'ç'),
        (['·', '-', ' '], '~'),
        (['·', '-', '('], '{'),
        (['·', '-', ')'], '}'),
        (['·', '-', '+'], '±'),
        (['·', '-', ','], '¬'),
        (['·', '-', '-'], '­'),
        (['·', '-', ':'], '÷'),
        (['·', '-', 'A'], 'Ã'),
        (['·', '-', 'D'], 'Ð'),
        (['·', '-', 'L'], '£'),
        (['·', '-', 'N'], 'Ñ'),
        (['·', '-', 'O'], 'Õ'),
        (['·', '-', 'Y'], '¥'),
        (['·', '-', '^'], '¯'),
        (['·', '-', 'a'], 'ã'),
        (['·', '-', 'd'], 'ð'),
        (['·', '-', 'l'], '£'),
        (['·', '-', 'n'], 'ñ'),
        (['·', '-', 'o'], 'õ'),
        (['·', '-', 'y'], '¥'),
        (['·', '.', '.'], '·'),
        (['·', '.', '^'], '·'),
        (['·', '/', '/'], '\\'),
        (['·', '/', '<'], '\\'),
        (['·', '/', 'C'], '¢'),
        (['·', '/', 'O'], 'Ø'),
        (['·', '/', 'U'], 'µ'),
        (['·', '/', '^'], '|'),
        (['·', '/', 'c'], '¢'),
        (['·', '/', 'o'], 'ø'),
        (['·', '/', 'u'], 'µ'),
        (['·', '0', '*'], '°'),
        (['·', '0', 'C'], '©'),
        (['·', '0', 'S'], '§'),
        (['·', '0', 'X'], '¤'),
        (['·', '0', '^'], '°'),
        (['·', '0', 'c'], '©'),
        (['·', '0', 's'], '§'),
        (['·', '0', 'x'], '¤'),
        (['·', '1', '2'], '½'),
        (['·', '1', '4'], '¼'),
        (['·', '1', 'S'], '¹'),
        (['·', '1', '^'], '¹'),
        (['·', '1', 's'], '¹'),
        (['·', '2', 'S'], '²'),
        (['·', '2', '^'], '²'),
        (['·', '2', 's'], '²'),
        (['·', '3', '4'], '¾'),
        (['·', '3', 'S'], '³'),
        (['·', '3', '^'], '³'),
        (['·', '3', 's'], '³'),
        (['·', ':', '-'], '÷'),
        (['·', '<', '/'], '\\'),
        (['·', '<', '<'], '«'),
        (['·', '=', 'L'], '£'),
        (['·', '=', 'Y'], '¥'),
        (['·', '=', 'l'], '£'),
        (['·', '=', 'y'], '¥'),
        (['·', '>', ' '], '^'),
        (['·', '>', '>'], '»'),
        (['·', '>', 'A'], 'Â'),
        (['·', '>', 'E'], 'Ê'),
        (['·', '>', 'I'], 'Î'),
        (['·', '>', 'O'], 'Ô'),
        (['·', '>', 'U'], 'Û'),
        (['·', '>', 'a'], 'â'),
        (['·', '>', 'e'], 'ê'),
        (['·', '>', 'i'], 'î'),
        (['·', '>', 'o'], 'ô'),
        (['·', '>', 'u'], 'û'),
        (['·', '?', '?'], '¿'),
        (['·', 'A', '"'], 'Ä'),
        (['·', 'A', '\''], 'Á'),
        (['·', 'A', '*'], 'Å'),
        (['·', 'A', '-'], 'Ã'),
        (['·', 'A', '>'], 'Â'),
        (['·', 'A', 'A'], 'Å'),
        (['·', 'A', 'E'], 'Æ'),
        (['·', 'A', 'O'], 'Å'),
        (['·', 'A', 'T'], '@'),
        (['·', 'A', '^'], 'Â'),
        (['·', 'A', '_'], 'ª'),
        (['·', 'A', '`'], 'À'),
        (['·', 'A', '~'], 'Ã'),
        (['·', 'B', 'V'], '¦'),
        (['·', 'C', ','], 'Ç'),
        (['·', 'C', '/'], '¢'),
        (['·', 'C', '0'], '©'),
        (['·', 'C', 'O'], '©'),
        (['·', 'C', 'o'], '©'),
        (['·', 'C', '|'], '¢'),
        (['·', 'D', '-'], 'Ð'),
        (['·', 'E', '"'], 'Ë'),
        (['·', 'E', '\''], 'É'),
        (['·', 'E', '>'], 'Ê'),
        (['·', 'E', '^'], 'Ê'),
        (['·', 'E', '`'], 'È'),
        (['·', 'I', '"'], 'Ï'),
        (['·', 'I', '\''], 'Í'),
        (['·', 'I', '>'], 'Î'),
        (['·', 'I', '^'], 'Î'),
        (['·', 'I', '`'], 'Ì'),
        (['·', 'L', '-'], '£'),
        (['·', 'L', '='], '£'),
        (['·', 'L', 'V'], '|'),
        (['·', 'N', '-'], 'Ñ'),
        (['·', 'N', '~'], 'Ñ'),
        (['·', 'O', '"'], 'Ö'),
        (['·', 'O', '\''], 'Ó'),
        (['·', 'O', '-'], 'Õ'),
        (['·', 'O', '/'], 'Ø'),
        (['·', 'O', '>'], 'Ô'),
        (['·', 'O', 'C'], '©'),
        (['·', 'O', 'R'], '®'),
        (['·', 'O', 'S'], '§'),
        (['·', 'O', 'X'], '¤'),
        (['·', 'O', '^'], 'Ô'),
        (['·', 'O', '_'], 'º'),
        (['·', 'O', '`'], 'Ò'),
        (['·', 'O', 'c'], '©'),
        (['·', 'O', 'x'], '¤'),
        (['·', 'O', '~'], 'Õ'),
        (['·', 'P', '!'], '¶'),
        (['·', 'R', 'O'], '®'),
        (['·', 'S', '!'], '§'),
        (['·', 'S', '0'], '§'),
        (['·', 'S', '1'], '¹'),
        (['·', 'S', '2'], '²'),
        (['·', 'S', '3'], '³'),
        (['·', 'S', 'O'], '§'),
        (['·', 'T', 'H'], 'Þ'),
        (['·', 'U', '"'], 'Ü'),
        (['·', 'U', '\''], 'Ú'),
        (['·', 'U', '/'], 'µ'),
        (['·', 'U', '>'], 'Û'),
        (['·', 'U', '^'], 'Û'),
        (['·', 'U', '`'], 'Ù'),
        (['·', 'V', 'B'], '¦'),
        (['·', 'V', 'L'], '|'),
        (['·', 'X', '0'], '¤'),
        (['·', 'X', 'O'], '¤'),
        (['·', 'X', 'o'], '¤'),
        (['·', 'Y', '\''], 'Ý'),
        (['·', 'Y', '-'], '¥'),
        (['·', 'Y', '='], '¥'),
        (['·', '^', ' '], '^'),
        (['·', '^', '!'], '¦'),
        (['·', '^', '-'], '¯'),
        (['·', '^', '.'], '·'),
        (['·', '^', '/'], '|'),
        (['·', '^', '0'], '°'),
        (['·', '^', '1'], '¹'),
        (['·', '^', '2'], '²'),
        (['·', '^', '3'], '³'),
        (['·', '^', 'A'], 'Â'),
        (['·', '^', 'E'], 'Ê'),
        (['·', '^', 'I'], 'Î'),
        (['·', '^', 'O'], 'Ô'),
        (['·', '^', 'U'], 'Û'),
        (['·', '^', '_'], '¯'),
        (['·', '^', 'a'], 'â'),
        (['·', '^', 'e'], 'ê'),
        (['·', '^', 'i'], 'î'),
        (['·', '^', 'o'], 'ô'),
        (['·', '^', 'u'], 'û'),
        (['·', '_', 'A'], 'ª'),
        (['·', '_', 'O'], 'º'),
        (['·', '_', '^'], '¯'),
        (['·', '_', '_'], '¯'),
        (['·', '_', 'a'], 'ª'),
        (['·', '_', 'o'], 'º'),
        (['·', '`', ' '], '`'),
        (['·', '`', 'A'], 'À'),
        (['·', '`', 'E'], 'È'),
        (['·', '`', 'I'], 'Ì'),
        (['·', '`', 'O'], 'Ò'),
        (['·', '`', 'U'], 'Ù'),
        (['·', '`', 'a'], 'à'),
        (['·', '`', 'e'], 'è'),
        (['·', '`', 'i'], 'ì'),
        (['·', '`', 'o'], 'ò'),
        (['·', '`', 'u'], 'ù'),
        (['·', 'a', '"'], 'ä'),
        (['·', 'a', '\''], 'á'),
        (['·', 'a', '*'], 'å'),
        (['·', 'a', '-'], 'ã'),
        (['·', 'a', '>'], 'â'),
        (['·', 'a', '^'], 'â'),
        (['·', 'a', '_'], 'ª'),
        (['·', 'a', '`'], 'à'),
        (['·', 'a', 'a'], 'å'),
        (['·', 'a', 'e'], 'æ'),
        (['·', 'a', 'o'], 'å'),
        (['·', 'a', '~'], 'ã'),
        (['·', 'b', 'v'], '¦'),
        (['·', 'c', ','], 'ç'),
        (['·', 'c', '/'], '¢'),
        (['·', 'c', '0'], '©'),
        (['·', 'c', 'O'], '©'),
        (['·', 'c', 'o'], '©'),
        (['·', 'c', '|'], '¢'),
        (['·', 'd', '-'], 'ð'),
        (['·', 'e', '"'], 'ë'),
        (['·', 'e', '\''], 'é'),
        (['·', 'e', '>'], 'ê'),
        (['·', 'e', '^'], 'ê'),
        (['·', 'e', '`'], 'è'),
        (['·', 'i', '"'], 'ï'),
        (['·', 'i', '\''], 'í'),
        (['·', 'i', '>'], 'î'),
        (['·', 'i', '^'], 'î'),
        (['·', 'i', '`'], 'ì'),
        (['·', 'l', '-'], '£'),
        (['·', 'l', '='], '£'),
        (['·', 'l', 'v'], '|'),
        (['·', 'n', '-'], 'ñ'),
        (['·', 'n', '~'], 'ñ'),
        (['·', 'o', '"'], 'ö'),
        (['·', 'o', '\''], 'ó'),
        (['·', 'o', '-'], 'õ'),
        (['·', 'o', '/'], 'ø'),
        (['·', 'o', '>'], 'ô'),
        (['·', 'o', 'C'], '©'),
        (['·', 'o', 'X'], '¤'),
        (['·', 'o', '^'], 'ô'),
        (['·', 'o', '_'], 'º'),
        (['·', 'o', '`'], 'ò'),
        (['·', 'o', 'c'], '©'),
        (['·', 'o', 's'], '§'),
        (['·', 'o', 'x'], '¤'),
        (['·', 'o', '~'], 'õ'),
        (['·', 'p', '!'], '¶'),
        (['·', 's', '!'], '§'),
        (['·', 's', '0'], '§'),
        (['·', 's', '1'], '¹'),
        (['·', 's', '2'], '²'),
        (['·', 's', '3'], '³'),
        (['·', 's', 'o'], '§'),
        (['·', 's', 's'], 'ß'),
        (['·', 't', 'h'], 'þ'),
        (['·', 'u', '"'], 'ü'),
        (['·', 'u', '\''], 'ú'),
        (['·', 'u', '/'], 'µ'),
        (['·', 'u', '>'], 'û'),
        (['·', 'u', '^'], 'û'),
        (['·', 'u', '`'], 'ù'),
        (['·', 'v', 'b'], '¦'),
        (['·', 'v', 'l'], '|'),
        (['·', 'x', '0'], '¤'),
        (['·', 'x', 'O'], '¤'),
        (['·', 'x', 'o'], '¤'),
        (['·', 'x', 'x'], '×'),
        (['·', 'y', '"'], 'ÿ'),
        (['·', 'y', '\''], 'ý'),
        (['·', 'y', '-'], '¥'),
        (['·', 'y', '='], '¥'),
        (['·', '|', 'C'], '¢'),
        (['·', '|', 'c'], '¢'),
        (['·', '|', '|'], '¦'),
        (['·', '~', ' '], '~'),
        (['·', '~', 'A'], 'Ã'),
        (['·', '~', 'N'], 'Ñ'),
        (['·', '~', 'O'], 'Õ'),
        (['·', '~', 'a'], 'ã'),
        (['·', '~', 'n'], 'ñ'),
        (['·', '~', 'o'], 'õ'),
        (['̀', ' '], '`'),
        (['̀', 'A'], 'À'),
        (['̀', 'E'], 'È'),
        (['̀', 'I'], 'Ì'),
        (['̀', 'O'], 'Ò'),
        (['̀', 'U'], 'Ù'),
        (['̀', 'a'], 'à'),
        (['̀', 'e'], 'è'),
        (['̀', 'i'], 'ì'),
        (['̀', 'o'], 'ò'),
        (['̀', 'u'], 'ù'),
        (['̀', '̀'], '`'),
        (['́', ' '], '\''),
        (['́', '\''], '´'),
        (['́', 'A'], 'Á'),
        (['́', 'C'], 'Ç'),
        (['́', 'E'], 'É'),
        (['́', 'I'], 'Í'),
        (['́', 'O'], 'Ó'),
        (['́', 'U'], 'Ú'),
        (['́', 'Y'], 'Ý'),
        (['́', 'a'], 'á'),
        (['́', 'c'], 'ç'),
        (['́', 'e'], 'é'),
        (['́', 'i'], 'í'),
        (['́', 'o'], 'ó'),
        (['́', 'u'], 'ú'),
        (['́', 'y'], 'ý'),
        (['́', '́'], '´'),
        (['̂', ' '], '^'),
        (['̂', '!'], '¦'),
        (['̂', '-'], '¯'),
        (['̂', '.'], '·'),
        (['̂', '/'], '|'),
        (['̂', '0'], '°'),
        (['̂', '1'], '¹'),
        (['̂', '2'], '²'),
        (['̂', '3'], '³'),
        (['̂', 'A'], 'Â'),
        (['̂', 'E'], 'Ê'),
        (['̂', 'I'], 'Î'),
        (['̂', 'O'], 'Ô'),
        (['̂', 'U'], 'Û'),
        (['̂', '_'], '¯'),
        (['̂', 'a'], 'â'),
        (['̂', 'e'], 'ê'),
        (['̂', 'i'], 'î'),
        (['̂', 'o'], 'ô'),
        (['̂', 'u'], 'û'),
        (['̂', '̂'], '^'),
        (['̃', ' '], '~'),
        (['̃', 'A'], 'Ã'),
        (['̃', 'N'], 'Ñ'),
        (['̃', 'O'], 'Õ'),
        (['̃', 'a'], 'ã'),
        (['̃', 'n'], 'ñ'),
        (['̃', 'o'], 'õ'),
        (['̃', '̃'], '~'),
        (['̈', '"'], '¨'),
        (['̈', 'A'], 'Ä'),
        (['̈', 'E'], 'Ë'),
        (['̈', 'I'], 'Ï'),
        (['̈', 'O'], 'Ö'),
        (['̈', 'U'], 'Ü'),
        (['̈', 'a'], 'ä'),
        (['̈', 'e'], 'ë'),
        (['̈', 'i'], 'ï'),
        (['̈', 'o'], 'ö'),
        (['̈', 'u'], 'ü'),
        (['̈', 'y'], 'ÿ'),
        (['̈', '̈'], '¨'),
        (['̊', ' '], '°'),
        (['̊', 'A'], 'Å'),
        (['̊', 'a'], 'å'),
        (['̊', '̊'], '°'),
        (['̋', 'U'], 'Ü'),
        (['̋', 'u'], 'ü'),
        (['̧', ','], '¸'),
        (['̧', '-'], '¬'),
        (['̧', 'C'], 'Ç'),
        (['̧', 'c'], 'ç'),
    ],
)
