(
    version: 1,
    layout: "French (Dvorak)",
    repeat_remove: [9],
    modifiers: [
        (42, [(0, Press(Level2))]),
        (54, [(0, Press(Level2))]),
        (84, [(0, Press(Level3))]),
    ],
    keymap: {
        0: {
            2: '=', 3: '/', 4: '-', 5: 'è', 6: '\\', 7: '\u{302}', 8: '(', 10: ')', 11: '\"', 12: '[', 13: ']',
            16: ':', 17: '\'', 18: 'é', 19: 'g', 20: '.', 21: 'h', 22: 'v', 23: 'c', 24: 'm', 25: 'k', 26: 'z', 27: '\u{308}',
            30: 'o', 31: 'a', 32: 'u', 33: 'e', 34: 'b', 35: 'f', 36: 's', 37: 't', 38: 'n', 39: 'd', 40: 'w', 41: '_',
            43: '~', 44: ';', 45: 'q', 46: ',', 47: 'i', 48: 'y', 49: 'x', 50: 'r', 51: 'l', 52: 'p', 53: 'j',
            83: '\u{7f}',
            86: 'à',
        },
        1: {
            2: '1', 3: '2', 4: '3', 5: '4', 6: '5', 7: '6', 8: '7', 9: '8', 10: '9', 11: '0', 12: '+', 13: '%',
            16: '?', 17: '<', 18: '>', 19: 'G', 20: '!', 21: 'H', 22: 'V', 23: 'C', 24: 'M', 25: 'K', 26: 'Z', 27: '&',
            30: 'O', 31: 'A', 32: 'U', 33: 'E', 34: 'B', 35: 'F', 36: 'S', 37: 'T', 38: 'N', 39: 'D', 40: 'W', 41: '*',
            43: '#', 44: '|', 45: 'Q', 46: '@', 47: 'I', 48: 'Y', 49: 'X', 50: 'R', 51: 'L', 52: 'P', 53: 'J',
            86: 'ç',
        },
        2: {
            3: '±', 4: '¼', 5: '½', 6: '¾', 9: '`',
            16: 'æ', 17: '$', 18: 'É', 19: '€', 20: '°', 23: 'ç', 24: 'µ',
            30: 'ò', 31: 'à', 32: 'ù', 33: 'è', 36: '«', 38: '»',
            44: 'œ', 45: '{', 46: '}', 47: 'ì', 48: '£', 50: 'º', 52: '§',
            57: '\u{a0}',
            86: 'À',
        },
        3: {
            16: 'Æ', 23: 'Ç',
            30: 'Ò', 31: 'À', 32: 'Ù', 33: 'È',
            44: 'Œ', 47: 'Ì',
            86: 'Ç',
        },
    },
    num_lock_keys: {
        0: {
            71: '7', 72: '8', 73: '9', 75: '4', 76: '5', 77: '6', 79: '1', 80: '2', 81: '3', 82: '0', 83: '.',
        },
    },
    caps_lock_keymap: {
        0: {
            2: '1', 3: '2', 4: '3', 5: '4', 6: '5', 7: '6', 8: '7', 9: '8', 10: '9', 11: '0', 12: '+', 13: '%',
            17: '<', 18: '>', 19: 'G', 21: 'H', 22: 'V', 23: 'C', 24: 'M', 25: 'K', 26: 'Z',
            30: 'O', 31: 'A', 32: 'U', 33: 'E', 34: 'B', 35: 'F', 36: 'S', 37: 'T', 38: 'N', 39: 'D', 40: 'W', 41: '*',
            44: '-', 45: 'Q', 47: 'I', 48: 'Y', 49: 'X', 50: 'R', 51: 'L', 52: 'P', 53: 'J',
            86: '/',
        },
        1: {
            2: '=', 3: '/', 4: '-', 5: 'è', 6: '\\', 7: '\u{302}', 8: '(', 10: ')', 11: '\"', 12: '[', 13: ']',
            17: '\'', 18: 'é', 19: 'g', 21: 'h', 22: 'v', 23: 'c', 24: 'm', 25: 'k', 26: 'z',
            30: 'o', 31: 'a', 32: 'u', 33: 'e', 34: 'b', 35: 'f', 36: 's', 37: 't', 38: 'n', 39: 'd', 40: 'w', 41: '_',
            45: 'q', 47: 'i', 48: 'y', 49: 'x', 50: 'r', 51: 'l', 52: 'p', 53: 'j',
        },
        2: {
            16: 'Æ', 21: 'H', 22: 'V', 23: 'Ç', 24: 'Μ', 25: 'K', 26: 'Z',
            30: 'Ò', 31: 'À', 32: 'Ù', 33: 'È', 34: 'B', 35: 'F', 37: 'T', 39: 'D', 40: 'W',
            47: 'Ì', 49: 'X', 51: 'L', 53: 'J',
        },
        3: {
            21: 'h', 22: 'v', 23: 'ç', 25: 'k', 26: 'z',
            30: 'ò', 31: 'à', 32: 'ù', 33: 'è', 34: 'b', 35: 'f', 37: 't', 39: 'd', 40: 'w',
            47: 'ì', 49: 'x', 51: 'l', 53: 'j',
        },
    },
    compose: [
        (['·', ' ', ' '], ' '),
        (['·', ' ', '\''], '\''),
        (['·', ' ', '-'], '~'),
        (['·', ' ', '>'], '^'),
        (['·', ' ', '`'], '`'),
        (['·', ' ', '~'], '~'),
        (['·', '!', '!'], '¡'),
        (['·', '!', 'P'], '¶'),
        (['·', '!', 'S'], '§'),
        (['·', '!', 'p'], '¶'),
        (['·', '!', 's'], '§'),
        (['·', '"', '"'], '¨'),
        (['·', '"', 'A'], 'Ä'),
        (['·', '"', 'E'], 'Ë'),
        (['·', '"', 'I'], 'Ï'),
        (['·', '"', 'O'], 'Ö'),
        (['·', '"', 'U'], 'Ü'),
        (['·', '"', 'a'], 'ä'),
        (['·', '"', 'e'], 'ë'),
        (['·', '"', 'i'], 'ï'),
        (['·', '"', 'o'], 'ö'),
        (['·', '"', 'u'], 'ü'),
        (['·', '"', 'y'], 'ÿ'),
        (['·', '\'', ' '], '\''),
        (['·', '\'', '\''], '´'),
        (['·', '\'', 'A'], 'Á'),
        (['·', '\'', 'E'], 'É'),
        (['·', '\'', 'I'], 'Í'),
        (['·', '\'', 'O'], 'Ó'),
        (['·', '\'', 'U'], 'Ú'),
        (['·', '\'', 'Y'], 'Ý'),
        (['·', '\'', 'a'], 'á'),
        (['·', '\'', 'e'], 'é'),
        (['·', '\'', 'i'], 'í'),
        (['·', '\'', 'o'], 'ó'),
        (['·', '\'', 'u'], 'ú'),
        (['·', '\'', 'y'], 'ý'),
        (['·', '(', '('], '['),
        (['·', '(', '-'], '{'),
        (['·', '(', 'c'], '©'),
        (['·', '(', 'r'], '®'),
        (['·', ')', ')'], ']'),
        (['·', ')', '-'], '}'),
        (['·', '*', '0'], '°'),
        (['·', '*', 'A'], 'Å'),
        (['·', '*', 'a'], 'å'),
        (['·', '+', '-'], '±'),
        (['·', ',', ','], '¸'),
        (['·', ',', '-'], '¬'),
        (['·', ',', 'C'], 'Ç'),
        (['·', ',', 'c'], 'ç'),
        (['·', '-', ' '], '~'),
        (['·', '-', '('], '{'),
        (['·', '-', ')'], '}'),
        (['·', '-', '+'], '±'),
        (['·', '-', ','], '¬'),
        (['·', '-', '-'], '­'),
        (['·', '-', ':'], '÷'),
        (['·', '-', 'A'], 'Ã'),
        (['·', '-', 'D'], 'Ð'),
        (['·', '-', 'L'], '£'),
        (['·', '-', 'N'], 'Ñ'),
        (['·', '-', 'O'], 'Õ'),
        (['·', '-', 'Y'], '¥'),
        (['·', '-', 'a'], 'ã'),
        (['·', '-', 'd'], 'ð'),
        (['·', '-', 'l'], '£'),
        (['·', '-', 'n'], 'ñ'),
        (['·', '-', 'o'], 'õ'),
        (['·', '-', 'y'], '¥'),
        (['·', '.', '.'], '·'),
        (['·', '/', '/'], '\\'),
        (['·', '/', '<'], '\\'),
        (['·', '/', 'C'], '¢'),
        (['·', '/', 'O'], 'Ø'),
        (['·', '/', 'U'], 'µ'),
        (['·', '/', 'c'], '¢'),
        (['·', '/', 'o'], 'ø'),
        (['·', '/', 'u'], 'µ'),
        (['·', '0', '*'], '°'),
        (['·', '0', 'C'], '©'),
        (['·', '0', 'S'], '§'),
        (['·', '0', 'X'], '¤'),
        (['·', '0', 'c'], '©'),
        (['·', '0', 's'], '§'),
        (['·', '0', 'x'], '¤'),
        (['·', '1', '2'], '½'),
        (['·', '1', '4'], '¼'),
        (['·', '1', 'S'], '¹'),
        (['·', '1', 's'], '¹'),
        (['·', '2', 'S'], '²'),
        (['·', '2', 's'], '²'),
        (['·', '3', '4'], '¾'),
        (['·', '3', 'S'], '³'),
        (['·', '3', 's'], '³'),
        (['·', ':', '-'], '÷'),
        (['·', '<', '/'], '\\'),
        (['·', '<', '<'], '«'),
        (['·', '=', 'L'], '£'),
        (['·', '=', 'Y'], '¥'),
        (['·', '=', 'l'], '£'),
        (['·', '=', 'y'], '¥'),
        (['·', '>', ' '], '^'),
        (['·', '>', '>'], '»'),
        (['·', '>', 'A'], 'Â'),
        (['·', '>', 'E'], 'Ê'),
        (['·', '>', 'I'], 'Î'),
        (['·', '>', 'O'], 'Ô'),
        (['·', '>', 'U'], 'Û'),
        (['·', '>', 'a'], 'â'),
        (['·', '>', 'e'], 'ê'),
        (['·', '>', 'i'], 'î'),
        (['·', '>', 'o'], 'ô'),
        (['·', '>', 'u'], 'û'),
        (['·', '?', '?'], '¿'),
        (['·', 'A', '"'], 'Ä'),
        (['·', 'A', '\''], 'Á'),
        (['·', 'A', '*'], 'Å'),
        (['·', 'A', '-'], 'Ã'),
        (['·', 'A', '>'], 'Â'),
        (['·', 'A', 'A'], 'Å'),
        (['·', 'A', 'E'], 'Æ'),
        (['·', 'A', 'O'], 'Å'),
        (['·', 'A', 'T'], '@'),
        (['·', 'A', '_'], 'ª'),
        (['·', 'A', '`'], 'À'),
        (['·', 'A', '~'], 'Ã'),
        (['·', 'B', 'V'], '¦'),
        (['·', 'C', ','], 'Ç'),
        (['·', 'C', '/'], '¢'),
        (['·', 'C', '0'], '©'),
        (['·', 'C', 'O'], '©'),
        (['·', 'C', 'o'], '©'),
        (['·', 'C', '|'], '¢'),
        (['·', 'D', '-'], 'Ð'),
        (['·', 'E', '"'], 'Ë'),
        (['·', 'E', '\''], 'É'),
        (['·', 'E', '>'], 'Ê'),
        (['·', 'E', '`'], 'È'),
        (['·', 'I', '"'], 'Ï'),
        (['·', 'I', '\''], 'Í'),
        (['·', 'I', '>'], 'Î'),
        (['·', 'I', '`'], 'Ì'),
        (['·', 'L', '-'], '£'),
        (['·', 'L', '='], '£'),
        (['·', 'L', 'V'], '|'),
        (['·', 'N', '-'], 'Ñ'),
        (['·', 'N', '~'], 'Ñ'),
        (['·', 'O', '"'], 'Ö'),
        (['·', 'O', '\''], 'Ó'),
        (['·', 'O', '-'], 'Õ'),
        (['·', 'O', '/'], 'Ø'),
        (['·', 'O', '>'], 'Ô'),
        (['·', 'O', 'C'], '©'),
        (['·', 'O', 'R'], '®'),
        (['·', 'O', 'S'], '§'),
        (['·', 'O', 'X'], '¤'),
        (['·', 'O', '_'], 'º'),
        (['·', 'O', '`'], 'Ò'),
        (['·', 'O', 'c'], '©'),
        (['·', 'O', 'x'], '¤'),
        (['·', 'O', '~'], 'Õ'),
        (['·', 'P', '!'], '¶'),
        (['·', 'R', 'O'], '®'),
        (['·', 'S', '!'], '§'),
        (['·', 'S', '0'], '§'),
        (['·', 'S', '1'], '¹'),
        (['·', 'S', '2'], '²'),
        (['·', 'S', '3'], '³'),
        (['·', 'S', 'O'], '§'),
        (['·', 'T', 'H'], 'Þ'),
        (['·', 'U', '"'], 'Ü'),
        (['·', 'U', '\''], 'Ú'),
        (['·', 'U', '/'], 'µ'),
        (['·', 'U', '>'], 'Û'),
        (['·', 'U', '`'], 'Ù'),
        (['·', 'V', 'B'], '¦'),
        (['·', 'V', 'L'], '|'),
        (['·', 'X', '0'], '¤'),
        (['·', 'X', 'O'], '¤'),
        (['·', 'X', 'o'], '¤'),
        (['·', 'Y', '\''], 'Ý'),
        (['·', 'Y', '-'], '¥'),
        (['·', 'Y', '='], '¥'),
        (['·', '_', 'A'], 'ª'),
        (['·', '_', 'O'], 'º'),
        (['·', '_', '_'], '¯'),
        (['·', '_', 'a'], 'ª'),
        (['·', '_', 'o'], 'º'),
        (['·', '`', ' '], '`'),
        (['·', '`', 'A'], 'À'),
        (['·', '`', 'E'], 'È'),
        (['·', '`', 'I'], 'Ì'),
        (['·', '`', 'O'], 'Ò'),
        (['·', '`', 'U'], 'Ù'),
        (['·', '`', 'a'], 'à'),
        (['·', '`', 'e'], 'è'),
        (['·', '`', 'i'], 'ì'),
        (['·', '`', 'o'], 'ò'),
        (['·', '`', 'u'], 'ù'),
        (['·', 'a', '"'], 'ä'),
        (['·', 'a', '\''], 'á'),
        (['·', 'a', '*'], 'å'),
        (['·', 'a', '-'], 'ã'),
        (['·', 'a', '>'], 'â'),
        (['·', 'a', '_'], 'ª'),
        (['·', 'a', '`'], 'à'),
        (['·', 'a', 'a'], 'å'),
        (['·', 'a', 'e'], 'æ'),
        (['·', 'a', 'o'], 'å'),
        (['·', 'a', '~'], 'ã'),
        (['·', 'b', 'v'], '¦'),
        (['·', 'c', ','], 'ç'),
        (['·', 'c', '/'], '¢'),
        (['·', 'c', '0'], '©'),
        (['·', 'c', 'O'], '©'),
        (['·', 'c', 'o'], '©'),
        (['·', 'c', '|'], '¢'),
        (['·', 'd', '-'], 'ð'),
        (['·', 'e', '"'], 'ë'),
        (['·', 'e', '\''], 'é'),
        (['·', 'e', '>'], 'ê'),
        (['·', 'e', '`'], 'è'),
        (['·', 'i', '"'], 'ï'),
        (['·', 'i', '\''], 'í'),
        (['·', 'i', '>'], 'î'),
        (['·', 'i', '`'], 'ì'),
        (['·', 'l', '-'], '£'),
        (['·', 'l', '='], '£'),
        (['·', 'l', 'v'], '|'),
        (['·', 'n', '-'], 'ñ'),
        (['·', 'n', '~'], 'ñ'),
        (['·', 'o', '"'], 'ö'),
        (['·', 'o', '\''], 'ó'),
        (['·', 'o', '-'], 'õ'),
        (['·', 'o', '/'], 'ø'),
        (['·', 'o', '>'], 'ô'),
        (['·', 'o', 'C'], '©'),
        (['·', 'o', 'X'], '¤'),
        (['·', 'o', '_'], 'º'),
        (['·', 'o', '`'], 'ò'),
        (['·', 'o', 'c'], '©'),
        (['·', 'o', 's'], '§'),
        (['·', 'o', 'x'], '¤'),
        (['·', 'o', '~'], 'õ'),
        (['·', 'p', '!'], '¶'),
        (['·', 's', '!'], '§'),
        (['·', 's', '0'], '§'),
        (['·', 's', '1'], '¹'),
        (['·', 's', '2'], '²'),
        (['·', 's', '3'], '³'),
        (['·', 's', 'o'], '§'),
        (['·', 's', 's'], 'ß'),
        (['·', 't', 'h'], 'þ'),
        (['·', 'u', '"'], 'ü'),
        (['·', 'u', '\''], 'ú'),
        (['·', 'u', '/'], 'µ'),
        (['·', 'u', '>'], 'û'),
        (['·', 'u', '`'], 'ù'),
        (['·', 'v', 'b'], '¦'),
        (['·', 'v', 'l'], '|'),
        (['·', 'x', '0'], '¤'),
        (['·', 'x', 'O'], '¤'),
        (['·', 'x', 'o'], '¤'),
        (['·', 'x', 'x'], '×'),
        (['·', 'y', '"'], 'ÿ'),
        (['·', 'y', '\''], 'ý'),
        (['·', 'y', '-'], '¥'),
        (['·', 'y', '='], '¥'),
        (['·', '|', 'C'], '¢'),
        (['·', '|', 'c'], '¢'),
        (['·', '|', '|'], '¦'),
        (['·', '~', ' '], '~'),
        (['·', '~', 'A'], 'Ã'),
        (['·', '~', 'N'], 'Ñ'),
        (['·', '~', 'O'], 'Õ'),
        (['·', '~', 'a'], 'ã'),
        (['·', '~', 'n'], 'ñ'),
        (['·', '~', 'o'], 'õ'),
        (['̂', ' '], '^'),
        (['̂', '!'], '¦'),
        (['̂', '-'], '¯'),
        (['̂', '.'], '·'),
        (['̂', '/'], '|'),
        (['̂', '0'], '°'),
        (['̂', '1'], '¹'),
        (['̂', '2'], '²'),
        (['̂', '3'], '³'),
        (['̂', 'A'], 'Â'),
        (['̂', 'E'], 'Ê'),
        (['̂', 'I'], 'Î'),
        (['̂', 'O'], 'Ô'),
        (['̂', 'U'], 'Û'),
        (['̂', '_'], '¯'),
        (['̂', 'a'], 'â'),
        (['̂', 'e'], 'ê'),
        (['̂', 'i'], 'î'),
        (['̂', 'o'], 'ô'),
        (['̂', 'u'], 'û'),
        (['̂', '̂'], '^'),
        (['̈', '"'], '¨'),
        (['̈', 'A'], 'Ä'),
        (['̈', 'E'], 'Ë'),
        (['̈', 'I'], 'Ï'),
        (['̈', 'O'], 'Ö'),
        (['̈', 'U'], 'Ü'),
        (['̈', 'a'], 'ä'),
        (['̈', 'e'], 'ë'),
        (['̈', 'i'], 'ï'),
        (['̈', 'o'], 'ö'),
        (['̈', 'u'], 'ü'),
        (['̈', 'y'], 'ÿ'),
        (['̈', '̈'], '¨'),
    ],
)
