(
    version: 1,
    layout: "Georgian (France, AZERTY Tskapo)",
    modifiers: [
        (42, [(0, Press(Level2))]),
        (54, [(0, Press(Level2))]),
        (100, [(0, Press(Level3))]),
    ],
    keymap: {
        0: {
            2: '„', 3: '№', 4: '%', 5: '(', 6: ':', 7: ';', 8: '?', 9: '№', 10: '°', 11: ')', 12: '-', 13: '<',
            16: 'ა', 17: 'ზ', 18: 'ე', 19: 'რ', 20: 'ტ', 21: 'ყ', 22: 'უ', 23: 'ი', 24: 'ო', 25: 'პ', 26: 'თ', 27: 'ძ',
            30: 'ქ', 31: 'ს', 32: 'დ', 33: 'ფ', 34: 'გ', 35: 'ჰ', 36: 'ჯ', 37: 'კ', 38: 'ლ', 39: 'მ', 40: 'ჟ', 41: '!',
            43: 'ჩ', 44: 'წ', 45: 'ხ', 46: 'ც', 47: 'ვ', 48: 'ბ', 49: 'ნ', 50: ',', 51: 'შ', 52: 'ღ', 53: 'ჭ',
            83: '\u{7f}',
            86: '«',
        },
        1: {
            2: '1', 3: '2', 4: '3', 5: '4', 6: '5', 7: '6', 8: '7', 9: '8', 10: '9', 11: '0', 12: '_', 13: '>',
            16: 'ჺ', 17: 'Z', 18: 'E', 19: '®', 20: 'T', 21: 'ჸ', 22: 'U', 23: 'ჲ', 24: 'O', 25: 'P', 26: 'T', 27: 'Z',
            30: 'Q', 31: 'S', 32: 'D', 33: 'ჶ', 34: 'ჹ', 35: 'ჵ', 36: 'ჷ', 37: 'K', 38: 'L', 39: 'M', 40: 'J', 41: '“',
            43: '©', 44: 'W', 45: 'ჴ', 46: '©', 47: 'ჳ', 48: 'B', 49: 'ჼ', 50: '—', 51: 'S', 52: '>', 53: '?',
            86: '»',
        },
        2: {
            2: '\'', 3: '„', 4: '“', 5: '№', 6: '€', 8: '§', 9: '°', 12: '—', 13: '–',
            18: 'ჱ',
            30: 'ჺ', 41: '„',
            43: '~', 51: '«', 52: '»', 53: '჻',
            86: '|',
        },
        3: {
            41: '~',
            86: '¦',
        },
    },
    num_lock_keys: {
        0: {
            71: '7', 72: '8', 73: '9', 75: '4', 76: '5', 77: '6', 79: '1', 80: '2', 81: '3', 82: '0', 83: '.',
        },
    },
    caps_lock_keymap: {
        0: {
            16: 'Ა', 17: 'Z', 18: 'E', 19: 'Რ', 20: 'T', 21: 'Ყ', 22: 'U', 23: 'Ი', 24: 'O', 25: 'P', 26: 'T', 27: 'Z',
            30: 'Q', 31: 'S', 32: 'D', 33: 'Ფ', 34: 'Გ', 35: 'Ჰ', 36: 'Ჯ', 37: 'K', 38: 'L', 39: 'M', 40: 'J',
            43: 'Ჩ', 44: 'W', 45: 'Ხ', 46: 'Ც', 47: 'Ვ', 48: 'B', 49: 'Ნ', 51: 'S', 52: 'Ღ', 53: 'Ჭ',
        },
        1: {
            16: 'Ჺ', 17: 'ზ', 18: 'ე', 20: 'ტ', 21: 'Ჸ', 22: 'უ', 23: 'Ჲ', 24: 'ო', 25: 'პ', 26: 'თ', 27: 'ძ',
            30: 'ქ', 31: 'ს', 32: 'დ', 33: 'Ჶ', 34: 'Ჹ', 35: 'Ჵ', 36: 'Ჷ', 37: 'კ', 38: 'ლ', 39: 'მ', 40: 'ჟ',
            44: 'წ', 45: 'Ჴ', 47: 'Ჳ', 48: 'ბ', 51: 'შ',
        },
        2: {
            16: 'Ა', 17: 'Z', 18: 'Ჱ', 20: 'T', 21: 'Ჸ', 22: 'U', 23: 'Ჲ', 24: 'O', 25: 'P', 26: 'T', 27: 'Z',
            30: 'Ჺ', 31: 'S', 32: 'D', 33: 'Ჶ', 34: 'Ჹ', 35: 'Ჵ', 36: 'Ჷ', 37: 'K', 38: 'L', 39: 'M', 40: 'J',
            44: 'W', 45: 'Ჴ', 47: 'Ჳ', 48: 'B',
        },
        3: {
            16: 'Ჺ', 17: 'ზ', 20: 'ტ', 22: 'უ', 24: 'ო', 25: 'პ', 26: 'თ', 27: 'ძ',
            31: 'ს', 32: 'დ', 37: 'კ', 38: 'ლ', 39: 'მ', 40: 'ჟ',
            44: 'წ', 48: 'ბ',
        },
    },
    compose: [
        (['·', ' ', ' '], ' '),
        (['·', ' ', '\''], '\''),
        (['·', ' ', '-'], '~'),
        (['·', ' ', '>'], '^'),
        (['·', ' ', '~'], '~'),
        (['·', '!', '!'], '¡'),
        (['·', '!', 'P'], '¶'),
        (['·', '!', 'S'], '§'),
        (['·', '\'', ' '], '\''),
        (['·', '\'', '\''], '´'),
        (['·', '\'', 'E'], 'É'),
        (['·', '\'', 'O'], 'Ó'),
        (['·', '\'', 'U'], 'Ú'),
        (['·', '(', '('], '['),
        (['·', '(', '-'], '{'),
        (['·', ')', ')'], ']'),
        (['·', ')', '-'], '}'),
        (['·', '*', '0'], '°'),
        (['·', '+', '-'], '±'),
        (['·', ',', ','], '¸'),
        (['·', ',', '-'], '¬'),
        (['·', '-', ' '], '~'),
        (['·', '-', '('], '{'),
        (['·', '-', ')'], '}'),
        (['·', '-', '+'], '±'),
        (['·', '-', ','], '¬'),
        (['·', '-', '-'], '­'),
        (['·', '-', ':'], '÷'),
        (['·', '-', 'D'], 'Ð'),
        (['·', '-', 'L'], '£'),
        (['·', '-', 'O'], 'Õ'),
        (['·', '.', '.'], '·'),
        (['·', '/', '/'], '\\'),
        (['·', '/', '<'], '\\'),
        (['·', '/', 'O'], 'Ø'),
        (['·', '/', 'U'], 'µ'),
        (['·', '0', '*'], '°'),
        (['·', '0', 'S'], '§'),
        (['·', '1', '2'], '½'),
        (['·', '1', '4'], '¼'),
        (['·', '1', 'S'], '¹'),
        (['·', '2', 'S'], '²'),
        (['·', '3', '4'], '¾'),
        (['·', '3', 'S'], '³'),
        (['·', ':', '-'], '÷'),
        (['·', '<', '/'], '\\'),
        (['·', '<', '<'], '«'),
        (['·', '=', 'L'], '£'),
        (['·', '>', ' '], '^'),
        (['·', '>', '>'], '»'),
        (['·', '>', 'E'], 'Ê'),
        (['·', '>', 'O'], 'Ô'),
        (['·', '>', 'U'], 'Û'),
        (['·', '?', '?'], '¿'),
        (['·', 'D', '-'], 'Ð'),
        (['·', 'E', '\''], 'É'),
        (['·', 'E', '>'], 'Ê'),
        (['·', 'L', '-'], '£'),
        (['·', 'L', '='], '£'),
        (['·', 'O', '\''], 'Ó'),
        (['·', 'O', '-'], 'Õ'),
        (['·', 'O', '/'], 'Ø'),
        (['·', 'O', '>'], 'Ô'),
        (['·', 'O', 'S'], '§'),
        (['·', 'O', '_'], 'º'),
        (['·', 'O', '~'], 'Õ'),
        (['·', 'P', '!'], '¶'),
        (['·', 'S', '!'], '§'),
        (['·', 'S', '0'], '§'),
        (['·', 'S', '1'], '¹'),
        (['·', 'S', '2'], '²'),
        (['·', 'S', '3'], '³'),
        (['·', 'S', 'O'], '§'),
        (['·', 'U', '\''], 'Ú'),
        (['·', 'U', '/'], 'µ'),
        (['·', 'U', '>'], 'Û'),
        (['·', '_', 'O'], 'º'),
        (['·', '_', '_'], '¯'),
        (['·', '|', '|'], '¦'),
        (['·', '~', ' '], '~'),
        (['·', '~', 'O'], 'Õ'),
    ],
)
