(
    version: 1,
    layout: "Georgian",
    modifiers: [
        (42, [(0, Press(Level2))]),
        (54, [(0, Press(Level2))]),
        (100, [(0, Press(Level3))]),
    ],
    keymap: {
        0: {
            2: '1', 3: '2', 4: '3', 5: '4', 6: '5', 7: '6', 8: '7', 9: '8', 10: '9', 11: '0', 12: '-', 13: '=',
            16: 'ქ', 17: 'წ', 18: 'ე', 19: 'რ', 20: 'ტ', 21: 'ყ', 22: 'უ', 23: 'ი', 24: 'ო', 25: 'პ', 26: '[', 27: ']',
            30: 'ა', 31: 'ს', 32: 'დ', 33: 'ფ', 34: 'გ', 35: 'ჰ', 36: 'ჯ', 37: 'კ', 38: 'ლ', 39: ';', 40: '\'', 41: '„',
            43: '\\', 44: 'ზ', 45: 'ხ', 46: 'ც', 47: 'ვ', 48: 'ბ', 49: 'ნ', 50: 'მ', 51: ',', 52: '.', 53: '/',
            83: '\u{7f}',
            86: '«',
        },
        1: {
            2: '!', 3: '@', 4: '#', 5: '$', 6: '%', 7: '^', 8: '&', 9: '*', 10: '(', 11: ')', 12: '_', 13: '+',
            16: 'Q', 17: 'ჭ', 18: 'E', 19: 'ღ', 20: 'თ', 21: 'Y', 22: 'U', 23: 'I', 24: 'O', 25: 'P', 26: '{', 27: '}',
            30: 'A', 31: 'შ', 32: 'D', 33: 'F', 34: 'G', 35: 'H', 36: 'ჟ', 37: 'K', 38: 'L', 39: ':', 40: '\"', 41: '“',
            43: '|', 44: 'ძ', 45: 'X', 46: 'ჩ', 47: 'V', 48: 'B', 49: 'N', 50: 'M', 51: '<', 52: '>', 53: '?',
            86: '»',
        },
        2: {
            2: '\'', 3: '„', 4: '“', 5: '№', 6: '€', 8: '§', 9: '°', 12: '—', 13: '–',
            18: 'ჱ', 19: '®', 21: 'ჸ', 23: 'ჲ',
            30: 'ჺ', 33: 'ჶ', 34: 'ჹ', 35: 'ჵ', 36: 'ჷ',
            43: '~', 45: 'ჴ', 46: '©', 47: 'ჳ', 49: 'ჼ', 51: '«', 52: '»', 53: '჻',
            86: '|',
        },
        3: {
            41: '~',
            86: '¦',
        },
    },
    num_lock_keys: {
        0: {
            71: '7', 72: '8', 73: '9', 75: '4', 76: '5', 77: '6', 79: '1', 80: '2', 81: '3', 82: '0', 83: '.',
        },
    },
    caps_lock_keymap: {
        0: {
            16: 'Q', 17: 'Წ', 18: 'E', 19: 'Რ', 20: 'Ტ', 21: 'Y', 22: 'U', 23: 'I', 24: 'O', 25: 'P',
            30: 'A', 31: 'Ს', 32: 'D', 33: 'F', 34: 'G', 35: 'H', 36: 'Ჯ', 37: 'K', 38: 'L',
            44: 'Ზ', 45: 'X', 46: 'Ც', 47: 'V', 48: 'B', 49: 'N', 50: 'M',
        },
        1: {
            16: 'ქ', 17: 'Ჭ', 18: 'ე', 19: 'Ღ', 20: 'Თ', 21: 'ყ', 22: 'უ', 23: 'ი', 24: 'ო', 25: 'პ',
            30: 'ა', 31: 'Შ', 32: 'დ', 33: 'ფ', 34: 'გ', 35: 'ჰ', 36: 'Ჟ', 37: 'კ', 38: 'ლ',
            44: 'Ძ', 45: 'ხ', 46: 'Ჩ', 47: 'ვ', 48: 'ბ', 49: 'ნ', 50: 'მ',
        },
        2: {
            16: 'Q', 17: 'Წ', 18: 'Ჱ', 20: 'Ტ', 21: 'Ჸ', 22: 'U', 23: 'Ჲ', 24: 'O', 25: 'P',
            30: 'Ჺ', 31: 'Ს', 32: 'D', 33: 'Ჶ', 34: 'Ჹ', 35: 'Ჵ', 36: 'Ჷ', 37: 'K', 38: 'L',
            44: 'Ზ', 45: 'Ჴ', 47: 'Ჳ', 48: 'B', 50: 'M',
        },
        3: {
            16: 'ქ', 17: 'Ჭ', 20: 'Თ', 22: 'უ', 24: 'ო', 25: 'პ',
            31: 'Შ', 32: 'დ', 37: 'კ', 38: 'ლ',
            44: 'Ძ', 48: 'ბ', 50: 'მ',
        },
    },
    compose: [
        (['·', ' ', ' '], ' '),
        (['·', ' ', '('], '˘'),
        (['·', ' ', ','], '¸'),
        (['·', ' ', '-'], '~'),
        (['·', ' ', '.'], ' '),
        (['·', ' ', '<'], 'ˇ'),
        (['·', ' ', '>'], '^'),
        (['·', ' ', '_'], '¯'),
        (['·', '!', '!'], '¡'),
        (['·', '!', '+', 'O'], 'Ợ'),
        (['·', '!', '+', 'U'], 'Ự'),
        (['·', '!', '?'], '‽'),
        (['·', '!', 'A'], 'Ạ'),
        (['·', '!', 'B'], 'Ḅ'),
        (['·', '!', 'D'], 'Ḍ'),
        (['·', '!', 'E'], 'Ẹ'),
        (['·', '!', 'H'], 'Ḥ'),
        (['·', '!', 'I'], 'Ị'),
        (['·', '!', 'K'], 'Ḳ'),
        (['·', '!', 'L'], 'Ḷ'),
        (['·', '!', 'M'], 'Ṃ'),
        (['·', '!', 'N'], 'Ṇ'),
        (['·', '!', 'O'], 'Ọ'),
        (['·', '!', 'U'], 'Ụ'),
        (['·', '!', 'V'], 'Ṿ'),
        (['·', '!', 'Y'], 'Ỵ'),
        (['·', '!', '^'], '¦'),
        (['·', '"', ' '], '¨'),
        (['·', '"', '"'], '¨'),
        (['·', '"', '\''], '̈́'),
        (['·', '"', ','], '„'),
        (['·', '"', '<'], '“'),
        (['·', '"', '>'], '”'),
        (['·', '"', 'A'], 'Ä'),
        (['·', '"', 'E'], 'Ë'),
        (['·', '"', 'H'], 'Ḧ'),
        (['·', '"', 'I'], 'Ï'),
        (['·', '"', 'O'], 'Ö'),
        (['·', '"', 'U'], 'Ü'),
        (['·', '"', 'X'], 'Ẍ'),
        (['·', '"', 'Y'], 'Ÿ'),
        (['·', '"', '_', 'U'], 'Ṻ'),
        (['·', '"', '~', 'O'], 'Ṏ'),
        (['·', '#', '#'], '♯'),
        (['·', '#', 'E'], '♫'),
        (['·', '\'', '"', ' '], '΅'),
        (['·', '\'', '"', 'I'], 'Ḯ'),
        (['·', '\'', '"', 'U'], 'Ǘ'),
        (['·', '\'', '\''], '´'),
        (['·', '\'', '+', 'O'], 'Ớ'),
        (['·', '\'', '+', 'U'], 'Ứ'),
        (['·', '\'', ','], '‚'),
        (['·', '\'', '/', 'O'], 'Ǿ'),
        (['·', '\'', '<'], '‘'),
        (['·', '\'', '>'], '’'),
        (['·', '\'', 'A'], 'Á'),
        (['·', '\'', 'E'], 'É'),
        (['·', '\'', 'G'], 'Ǵ'),
        (['·', '\'', 'I'], 'Í'),
        (['·', '\'', 'K'], 'Ḱ'),
        (['·', '\'', 'L'], 'Ĺ'),
        (['·', '\'', 'M'], 'Ḿ'),
        (['·', '\'', 'N'], 'Ń'),
        (['·', '\'', 'O'], 'Ó'),
        (['·', '\'', 'P'], 'Ṕ'),
        (['·', '\'', 'U'], 'Ú'),
        (['·', '\'', 'Y'], 'Ý'),
        (['·', '\'', '^', 'A'], 'Ấ'),
        (['·', '\'', '^', 'E'], 'Ế'),
        (['·', '\'', '^', 'O'], 'Ố'),
        (['·', '\'', '_', 'E'], 'Ḗ'),
        (['·', '\'', '_', 'O'], 'Ṓ'),
        (['·', '\'', '~', 'O'], 'Ṍ'),
        (['·', '\'', '~', 'U'], 'Ṹ'),
        (['·', '(', ' '], '˘'),
        (['·', '(', '('], '['),
        (['·', '(', ')', ')'], '🄯'),
        (['·', '(', '-'], '{'),
        (['·', '(', '0', ')'], '⓪'),
        (['·', '(', '1', ')'], '①'),
        (['·', '(', '1', '0', ')'], '⑩'),
        (['·', '(', '1', '1', ')'], '⑪'),
        (['·', '(', '1', '2', ')'], '⑫'),
        (['·', '(', '1', '3', ')'], '⑬'),
        (['·', '(', '1', '4', ')'], '⑭'),
        (['·', '(', '1', '5', ')'], '⑮'),
        (['·', '(', '1', '6', ')'], '⑯'),
        (['·', '(', '1', '7', ')'], '⑰'),
        (['·', '(', '1', '8', ')'], '⑱'),
        (['·', '(', '1', '9', ')'], '⑲'),
        (['·', '(', '2', ')'], '②'),
        (['·', '(', '2', '0', ')'], '⑳'),
        (['·', '(', '2', '1', ')'], '㉑'),
        (['·', '(', '2', '2', ')'], '㉒'),
        (['·', '(', '2', '3', ')'], '㉓'),
        (['·', '(', '2', '4', ')'], '㉔'),
        (['·', '(', '2', '5', ')'], '㉕'),
        (['·', '(', '2', '6', ')'], '㉖'),
        (['·', '(', '2', '7', ')'], '㉗'),
        (['·', '(', '2', '8', ')'], '㉘'),
        (['·', '(', '2', '9', ')'], '㉙'),
        (['·', '(', '3', ')'], '③'),
        (['·', '(', '3', '0', ')'], '㉚'),
        (['·', '(', '3', '1', ')'], '㉛'),
        (['·', '(', '3', '2', ')'], '㉜'),
        (['·', '(', '3', '3', ')'], '㉝'),
        (['·', '(', '3', '4', ')'], '㉞'),
        (['·', '(', '3', '5', ')'], '㉟'),
        (['·', '(', '3', '6', ')'], '㊱'),
        (['·', '(', '3', '7', ')'], '㊲'),
        (['·', '(', '3', '8', ')'], '㊳'),
        (['·', '(', '3', '9', ')'], '㊴'),
        (['·', '(', '4', ')'], '④'),
        (['·', '(', '4', '0', ')'], '㊵'),
        (['·', '(', '4', '1', ')'], '㊶'),
        (['·', '(', '4', '2', ')'], '㊷'),
        (['·', '(', '4', '3', ')'], '㊸'),
        (['·', '(', '4', '4', ')'], '㊹'),
        (['·', '(', '4', '5', ')'], '㊺'),
        (['·', '(', '4', '6', ')'], '㊻'),
        (['·', '(', '4', '7', ')'], '㊼'),
        (['·', '(', '4', '8', ')'], '㊽'),
        (['·', '(', '4', '9', ')'], '㊾'),
        (['·', '(', '5', ')'], '⑤'),
        (['·', '(', '5', '0', ')'], '㊿'),
        (['·', '(', '6', ')'], '⑥'),
        (['·', '(', '7', ')'], '⑦'),
        (['·', '(', '8', ')'], '⑧'),
        (['·', '(', '9', ')'], '⑨'),
        (['·', '(', 'A', ')'], 'Ⓐ'),
        (['·', '(', 'B', ')'], 'Ⓑ'),
        (['·', '(', 'D', ')'], 'Ⓓ'),
        (['·', '(', 'E', ')'], 'Ⓔ'),
        (['·', '(', 'F', ')'], 'Ⓕ'),
        (['·', '(', 'G', ')'], 'Ⓖ'),
        (['·', '(', 'H', ')'], 'Ⓗ'),
        (['·', '(', 'I', ')'], 'Ⓘ'),
        (['·', '(', 'K', ')'], 'Ⓚ'),
        (['·', '(', 'L', ')'], 'Ⓛ'),
        (['·', '(', 'M', ')'], 'Ⓜ'),
        (['·', '(', 'N', ')'], 'Ⓝ'),
        (['·', '(', 'O', ')'], 'Ⓞ'),
        (['·', '(', 'P', ')'], 'Ⓟ'),
        (['·', '(', 'Q', ')'], 'Ⓠ'),
        (['·', '(', 'U', ')'], 'Ⓤ'),
        (['·', '(', 'V', ')'], 'Ⓥ'),
        (['·', '(', 'X', ')'], 'Ⓧ'),
        (['·', '(', 'Y', ')'], 'Ⓨ'),
        (['·', ')', ')'], ']'),
        (['·', ')', '-'], '}'),
        (['·', '*', '\'', 'A'], 'Ǻ'),
        (['·', '*', '0'], '°'),
        (['·', '*', 'A'], 'Å'),
        (['·', '*', 'U'], 'Ů'),
        (['·', '+', '-'], '±'),
        (['·', '+', 'O'], 'Ơ'),
        (['·', '+', 'U'], 'Ư'),
        (['·', ',', ' '], '¸'),
        (['·', ',', '"'], '„'),
        (['·', ',', '\''], '‚'),
        (['·', ',', ','], '¸'),
        (['·', ',', '-'], '¬'),
        (['·', ',', 'A'], 'Ą'),
        (['·', ',', 'D'], 'Ḑ'),
        (['·', ',', 'E'], 'Ę'),
        (['·', ',', 'G'], 'Ģ'),
        (['·', ',', 'H'], 'Ḩ'),
        (['·', ',', 'I'], 'Į'),
        (['·', ',', 'K'], 'Ķ'),
        (['·', ',', 'L'], 'Ļ'),
        (['·', ',', 'N'], 'Ņ'),
        (['·', ',', 'O'], 'Ǫ'),
        (['·', ',', 'U'], 'Ų'),
        (['·', '-', ' '], '~'),
        (['·', '-', '('], '{'),
        (['·', '-', ')'], '}'),
        (['·', '-', '+'], '±'),
        (['·', '-', ','], '¬'),
        (['·', '-', '-', ' '], '­'),
        (['·', '-', '-', '-'], '—'),
        (['·', '-', '-', '.'], '–'),
        (['·', '-', '.', 'E'], 'Ė'),
        (['·', '-', '/'], '⌿'),
        (['·', '-', ':'], '÷'),
        (['·', '-', '>'], '→'),
        (['·', '-', 'A'], 'Ā'),
        (['·', '-', 'D'], 'Đ'),
        (['·', '-', 'E'], 'Ē'),
        (['·', '-', 'I'], 'Ī'),
        (['·', '-', 'K'], '₭'),
        (['·', '-', 'L'], '£'),
        (['·', '-', 'O'], 'Ō'),
        (['·', '-', 'U'], 'Ū'),
        (['·', '-', '\\'], '⍀'),
        (['·', '-', '^'], '¯'),
        (['·', '-', '_'], '−'),
        (['·', '.', ' '], '˙'),
        (['·', '.', '-'], '·'),
        (['·', '.', '.'], '…'),
        (['·', '.', ':'], '∵'),
        (['·', '.', '<'], '‹'),
        (['·', '.', '='], '•'),
        (['·', '.', '>'], '›'),
        (['·', '.', 'A'], 'Ȧ'),
        (['·', '.', 'B'], 'Ḃ'),
        (['·', '.', 'D'], 'Ḋ'),
        (['·', '.', 'E'], 'Ė'),
        (['·', '.', 'F'], 'Ḟ'),
        (['·', '.', 'G'], 'Ġ'),
        (['·', '.', 'H'], 'Ḣ'),
        (['·', '.', 'I'], 'İ'),
        (['·', '.', 'M'], 'Ṁ'),
        (['·', '.', 'N'], 'Ṅ'),
        (['·', '.', 'O'], 'Ȯ'),
        (['·', '.', 'P'], 'Ṗ'),
        (['·', '.', 'X'], 'Ẋ'),
        (['·', '.', 'Y'], 'Ẏ'),
        (['·', '.', '^'], '·'),
        (['·', '/', '-'], '⌿'),
        (['·', '/', '/'], '\\'),
        (['·', '/', '<'], '\\'),
        (['·', '/', '='], '≠'),
        (['·', '/', 'B'], 'Ƀ'),
        (['·', '/', 'D'], 'Đ'),
        (['·', '/', 'G'], 'Ǥ'),
        (['·', '/', 'H'], 'Ħ'),
        (['·', '/', 'I'], 'Ɨ'),
        (['·', '/', 'L'], 'Ł'),
        (['·', '/', 'O'], 'Ø'),
        (['·', '/', '^'], '|'),
        (['·', '0', '*'], '°'),
        (['·', '0', '3'], '↉'),
        (['·', '0', '~'], '⍬'),
        (['·', '1', '1', '0'], '⅒'),
        (['·', '1', '2'], '½'),
        (['·', '1', '3'], '⅓'),
        (['·', '1', '4'], '¼'),
        (['·', '1', '5'], '⅕'),
        (['·', '1', '6'], '⅙'),
        (['·', '1', '7'], '⅐'),
        (['·', '1', '8'], '⅛'),
        (['·', '1', '9'], '⅑'),
        (['·', '1', '^'], '¹'),
        (['·', '2', '3'], '⅔'),
        (['·', '2', '5'], '⅖'),
        (['·', '2', '^'], '²'),
        (['·', '3', '4'], '¾'),
        (['·', '3', '5'], '⅗'),
        (['·', '3', '8'], '⅜'),
        (['·', '3', '^'], '³'),
        (['·', '4', '5'], '⅘'),
        (['·', '5', '6'], '⅚'),
        (['·', '5', '8'], '⅝'),
        (['·', '7', '8'], '⅞'),
        (['·', '8', '8'], '∞'),
        (['·', ':', '('], '☹'),
        (['·', ':', ')'], '☺'),
        (['·', ':', '-'], '÷'),
        (['·', ':', '.'], '∴'),
        (['·', ';', ' '], '˛'),
        (['·', ';', 'A'], 'Ą'),
        (['·', ';', 'E'], 'Ę'),
        (['·', ';', 'I'], 'Į'),
        (['·', ';', 'O'], 'Ǫ'),
        (['·', ';', 'U'], 'Ų'),
        (['·', ';', '_'], '⍮'),
        (['·', '<', ' '], 'ˇ'),
        (['·', '<', '"'], '“'),
        (['·', '<', '\''], '‘'),
        (['·', '<', '-'], '←'),
        (['·', '<', '/'], '≮'),
        (['·', '<', '3'], '♥'),
        (['·', '<', '<'], '«'),
        (['·', '<', '='], '≤'),
        (['·', '<', '>'], '⋄'),
        (['·', '<', 'D'], 'Ď'),
        (['·', '<', 'E'], 'Ě'),
        (['·', '<', 'L'], 'Ľ'),
        (['·', '<', 'N'], 'Ň'),
        (['·', '<', '_'], '≤'),
        (['·', '=', '/'], '≠'),
        (['·', '=', '<'], '⇐'),
        (['·', '=', '>'], '⇒'),
        (['·', '=', 'E'], '€'),
        (['·', '=', 'H'], '₴'),
        (['·', '=', 'L'], '₤'),
        (['·', '=', 'N'], '₦'),
        (['·', '=', 'O'], 'Ő'),
        (['·', '=', 'P'], '₽'),
        (['·', '=', 'U'], 'Ű'),
        (['·', '=', 'Y'], '¥'),
        (['·', '=', '^'], '⇑'),
        (['·', '=', '_'], '≡'),
        (['·', '>', ' '], '^'),
        (['·', '>', '"'], '”'),
        (['·', '>', '\''], '’'),
        (['·', '>', '/'], '≯'),
        (['·', '>', '<'], '⋄'),
        (['·', '>', '='], '≥'),
        (['·', '>', '>'], '»'),
        (['·', '>', 'A'], 'Â'),
        (['·', '>', 'E'], 'Ê'),
        (['·', '>', 'I'], 'Î'),
        (['·', '>', 'O'], 'Ô'),
        (['·', '>', 'U'], 'Û'),
        (['·', '>', '_'], '≥'),
        (['·', '?', '!'], '⸘'),
        (['·', '?', '+', 'O'], 'Ở'),
        (['·', '?', '+', 'U'], 'Ử'),
        (['·', '?', '?'], '¿'),
        (['·', '?', 'A'], 'Ả'),
        (['·', '?', 'E'], 'Ẻ'),
        (['·', '?', 'I'], 'Ỉ'),
        (['·', '?', 'O'], 'Ỏ'),
        (['·', '?', 'U'], 'Ủ'),
        (['·', '?', 'Y'], 'Ỷ'),
        (['·', '?', '\\'], '☭'),
        (['·', '?', '^', 'A'], 'Ẩ'),
        (['·', '?', '^', 'E'], 'Ể'),
        (['·', '?', '^', 'O'], 'Ổ'),
        (['·', 'A', '"'], 'Ä'),
        (['·', 'A', '\''], 'Á'),
        (['·', 'A', '('], 'Ă'),
        (['·', 'A', '*'], 'Å'),
        (['·', 'A', ','], 'Ą'),
        (['·', 'A', '-'], 'Ā'),
        (['·', 'A', ';'], 'Ą'),
        (['·', 'A', '>'], 'Â'),
        (['·', 'A', 'A'], 'Å'),
        (['·', 'A', 'E'], 'Æ'),
        (['·', 'A', '^'], 'Â'),
        (['·', 'A', '_'], 'Ā'),
        (['·', 'A', '~'], 'Ã'),
        (['·', 'B', '.'], 'Ḃ'),
        (['·', 'B', '|'], '฿'),
        (['·', 'D', ','], 'Ḑ'),
        (['·', 'D', '-'], 'Đ'),
        (['·', 'D', '.'], 'Ḋ'),
        (['·', 'D', '<'], 'Ď'),
        (['·', 'D', 'H'], 'Ð'),
        (['·', 'E', '"'], 'Ë'),
        (['·', 'E', '\''], 'É'),
        (['·', 'E', ','], 'Ę'),
        (['·', 'E', '-'], 'Ē'),
        (['·', 'E', '.'], 'Ė'),
        (['·', 'E', ';'], 'Ę'),
        (['·', 'E', '<'], 'Ě'),
        (['·', 'E', '='], '€'),
        (['·', 'E', '>'], 'Ê'),
        (['·', 'E', 'E'], 'Ə'),
        (['·', 'E', '^'], 'Ê'),
        (['·', 'E', '_'], 'Ē'),
        (['·', 'F', '.'], 'Ḟ'),
        (['·', 'F', 'U'], '🖕'),
        (['·', 'G', '('], 'Ğ'),
        (['·', 'G', ','], 'Ģ'),
        (['·', 'G', '.'], 'Ġ'),
        (['·', 'G', 'U'], 'Ğ'),
        (['·', 'G', '|'], '₲'),
        (['·', 'H', ','], 'Ḩ'),
        (['·', 'H', '='], '₴'),
        (['·', 'I', '"'], 'Ï'),
        (['·', 'I', '\''], 'Í'),
        (['·', 'I', ','], 'Į'),
        (['·', 'I', '-'], 'Ī'),
        (['·', 'I', '.'], 'İ'),
        (['·', 'I', ';'], 'Į'),
        (['·', 'I', '>'], 'Î'),
        (['·', 'I', '^'], 'Î'),
        (['·', 'I', '_'], 'Ī'),
        (['·', 'I', '~'], 'Ĩ'),
        (['·', 'K', ','], 'Ķ'),
        (['·', 'K', '-'], '₭'),
        (['·', 'L', '\''], 'Ĺ'),
        (['·', 'L', ','], 'Ļ'),
        (['·', 'L', '-'], '£'),
        (['·', 'L', '/'], 'Ł'),
        (['·', 'L', '<'], 'Ľ'),
        (['·', 'L', '='], '₤'),
        (['·', 'L', 'L', 'A', 'P'], '🖖'),
        (['·', 'L', 'V'], '|'),
        (['·', 'M', '.'], 'Ṁ'),
        (['·', 'N', '\''], 'Ń'),
        (['·', 'N', ','], 'Ņ'),
        (['·', 'N', '<'], 'Ň'),
        (['·', 'N', '='], '₦'),
        (['·', 'N', 'G'], 'Ŋ'),
        (['·', 'N', 'N'], 'ℕ'),
        (['·', 'N', 'O'], '№'),
        (['·', 'N', '~'], 'Ñ'),
        (['·', 'O', '"'], 'Ö'),
        (['·', 'O', '\''], 'Ó'),
        (['·', 'O', ','], 'Ǫ'),
        (['·', 'O', '-'], 'Ō'),
        (['·', 'O', '/'], 'Ø'),
        (['·', 'O', ';'], 'Ǫ'),
        (['·', 'O', '>'], 'Ô'),
        (['·', 'O', 'A'], 'Ⓐ'),
        (['·', 'O', 'E'], 'Œ'),
        (['·', 'O', 'X'], '¤'),
        (['·', 'O', 'Y'], '☮'),
        (['·', 'O', '^'], 'Ô'),
        (['·', 'O', '_'], 'Ō'),
        (['·', 'O', '~'], 'Õ'),
        (['·', 'P', '!'], '¶'),
        (['·', 'P', '.'], 'Ṗ'),
        (['·', 'P', '='], '₽'),
        (['·', 'P', 'P'], '¶'),
        (['·', 'Q', 'Q'], 'ℚ'),
        (['·', 'U', ' ', ',', 'E'], 'Ḝ'),
        (['·', 'U', '!', 'A'], 'Ặ'),
        (['·', 'U', '"'], 'Ü'),
        (['·', 'U', '\''], 'Ú'),
        (['·', 'U', '*'], 'Ů'),
        (['·', 'U', ','], 'Ų'),
        (['·', 'U', '-'], 'Ū'),
        (['·', 'U', ';'], 'Ų'),
        (['·', 'U', '>'], 'Û'),
        (['·', 'U', 'A'], 'Ă'),
        (['·', 'U', 'E'], 'Ĕ'),
        (['·', 'U', 'G'], 'Ğ'),
        (['·', 'U', 'I'], 'Ĭ'),
        (['·', 'U', 'O'], 'Ŏ'),
        (['·', 'U', 'U'], 'Ŭ'),
        (['·', 'U', '^'], 'Û'),
        (['·', 'U', '_'], 'Ū'),
        (['·', 'U', '~'], 'Ũ'),
        (['·', 'V', 'L'], '|'),
        (['·', 'X', 'O'], '¤'),
        (['·', 'Y', '"'], 'Ÿ'),
        (['·', 'Y', '\''], 'Ý'),
        (['·', 'Y', '='], '¥'),
        (['·', 'Y', '^'], 'Ŷ'),
        (['·', '[', ']'], '⌷'),
        (['·', '\\', '-'], '⍀'),
        (['·', '\\', '?'], '☭'),
        (['·', ']', '['], '⌷'),
        (['·', '^', '!', 'A'], 'Ậ'),
        (['·', '^', '!', 'E'], 'Ệ'),
        (['·', '^', '!', 'O'], 'Ộ'),
        (['·', '^', '('], '⁽'),
        (['·', '^', ')'], '⁾'),
        (['·', '^', '+'], '⁺'),
        (['·', '^', '-'], '⁻'),
        (['·', '^', '.'], '·'),
        (['·', '^', '/'], '|'),
        (['·', '^', '0'], '⁰'),
        (['·', '^', '1'], '¹'),
        (['·', '^', '2'], '²'),
        (['·', '^', '3'], '³'),
        (['·', '^', '4'], '⁴'),
        (['·', '^', '5'], '⁵'),
        (['·', '^', '6'], '⁶'),
        (['·', '^', '7'], '⁷'),
        (['·', '^', '8'], '⁸'),
        (['·', '^', '9'], '⁹'),
        (['·', '^', '='], '⁼'),
        (['·', '^', 'A'], 'Â'),
        (['·', '^', 'E'], 'Ê'),
        (['·', '^', 'G'], 'Ĝ'),
        (['·', '^', 'H'], 'Ĥ'),
        (['·', '^', 'I'], 'Î'),
        (['·', '^', 'O'], 'Ô'),
        (['·', '^', 'U'], 'Û'),
        (['·', '^', 'Y'], 'Ŷ'),
        (['·', '^', '|'], '↑'),
        (['·', '_', ' '], '¯'),
        (['·', '_', '!', 'L'], 'Ḹ'),
        (['·', '_', '"', 'A'], 'Ǟ'),
        (['·', '_', '"', 'O'], 'Ȫ'),
        (['·', '_', '"', 'U'], 'Ǖ'),
        (['·', '_', '\''], '⍘'),
        (['·', '_', '('], '₍'),
        (['·', '_', ')'], '₎'),
        (['·', '_', '+'], '₊'),
        (['·', '_', '-'], '₋'),
        (['·', '_', '.', 'A'], 'Ǡ'),
        (['·', '_', '.', 'E'], 'Ė'),
        (['·', '_', '.', 'O'], 'Ȱ'),
        (['·', '_', '0'], '₀'),
        (['·', '_', '1'], '₁'),
        (['·', '_', '2'], '₂'),
        (['·', '_', '3'], '₃'),
        (['·', '_', '4'], '₄'),
        (['·', '_', '5'], '₅'),
        (['·', '_', '6'], '₆'),
        (['·', '_', '7'], '₇'),
        (['·', '_', '8'], '₈'),
        (['·', '_', '9'], '₉'),
        (['·', '_', ';', 'O'], 'Ǭ'),
        (['·', '_', '<'], '≤'),
        (['·', '_', '='], '₌'),
        (['·', '_', '>'], '≥'),
        (['·', '_', 'A'], 'Ā'),
        (['·', '_', 'E'], 'Ē'),
        (['·', '_', 'G'], 'Ḡ'),
        (['·', '_', 'I'], 'Ī'),
        (['·', '_', 'O'], 'Ō'),
        (['·', '_', 'U'], 'Ū'),
        (['·', '_', 'Y'], 'Ȳ'),
        (['·', '_', '^'], '¯'),
        (['·', '_', '_'], '¯'),
        (['·', '_', '~', 'O'], 'Ȭ'),
        (['·', '{', '}'], '∅'),
        (['·', '|', '-'], '†'),
        (['·', '|', '='], '‡'),
        (['·', '|', 'B'], '฿'),
        (['·', '|', 'G'], '₲'),
        (['·', '|', '^'], '↑'),
        (['·', '|', '~'], '⍭'),
        (['·', '~', '+', 'O'], 'Ỡ'),
        (['·', '~', '+', 'U'], 'Ữ'),
        (['·', '~', '0'], '⍬'),
        (['·', '~', 'A'], 'Ã'),
        (['·', '~', 'E'], 'Ẽ'),
        (['·', '~', 'I'], 'Ĩ'),
        (['·', '~', 'N'], 'Ñ'),
        (['·', '~', 'O'], 'Õ'),
        (['·', '~', 'U'], 'Ũ'),
        (['·', '~', 'V'], 'Ṽ'),
        (['·', '~', 'Y'], 'Ỹ'),
        (['·', '~', '^', 'A'], 'Ẫ'),
        (['·', '~', '^', 'E'], 'Ễ'),
        (['·', '~', '^', 'O'], 'Ỗ'),
        (['·', '~', '|'], '⍭'),
        (['·', '~', '~'], '≈'),
    ],
)
