(
    version: 1,
    layout: "Indonesian (Arab Pegon, phonetic)",
    modifiers: [
        (42, [(0, Press(Level2))]),
        (54, [(0, Press(Level2))]),
        (100, [(0, Press(Level3))]),
    ],
    keymap: {
        0: {
            2: '١', 3: '٢', 4: '٣', 5: '٤', 6: '٥', 7: '٦', 8: '٧', 9: '٨', 10: '٩', 11: '٠', 12: '-', 13: '=',
            16: 'ق', 17: 'و', 18: 'ى', 19: 'ر', 20: 'ت', 21: 'ي', 22: 'ؤ', 23: 'ئ', 24: 'ء', 25: 'ڤ', 26: ']', 27: '[',
            30: 'ا', 31: 'س', 32: 'د', 33: 'ف', 34: 'ڮ', 35: 'ه', 36: 'ج', 37: 'ك', 38: 'ل', 39: '؛', 40: '«', 41: '`',
            43: '\\', 44: 'ز', 45: 'خ', 46: 'چ', 47: 'ث', 48: 'ب', 49: 'ن', 50: 'م', 51: '،', 52: '.', 53: '/',
            83: '\u{7f}',
            86: '|',
        },
        1: {
            2: '!', 3: '@', 4: '#', 6: '٪', 7: '^', 8: '&', 9: '*', 10: ')', 11: '(', 12: 'ـ', 13: '+',
            16: 'آ', 18: 'ع', 20: 'ڟ', 23: 'إ', 26: '}', 27: '{',
            30: 'أ', 31: 'ش', 32: 'ڎ', 34: 'ڠ', 35: 'ح', 39: ':', 40: '»', 41: '~',
            43: '|', 44: 'ذ', 49: 'ۑ', 51: '>', 52: '<', 53: '؟',
            86: '¦',
        },
        2: {
            2: '1', 3: '2', 4: '3', 5: '4', 6: '5', 7: '6', 8: '7', 9: '8', 10: '9', 11: '0',
            20: 'ط',
            31: 'ص', 32: 'ض', 34: 'غ', 39: ';', 40: '\'',
            44: 'ظ', 51: ',', 52: '۔', 53: '؍',
        },
        3: {
            5: '$', 6: '%', 12: '_',
            20: 'ة',
            31: 'ث', 40: '\"',
            47: 'ۏ', 51: '٫', 52: '٬', 53: '?',
        },
    },
    num_lock_keys: {
        0: {
            71: '7', 72: '8', 73: '9', 75: '4', 76: '5', 77: '6', 79: '1', 80: '2', 81: '3', 82: '0', 83: '.',
        },
    },
    compose: [
        (['·', ' ', ' '], ' '),
        (['·', ' ', '('], '˘'),
        (['·', ' ', ','], '¸'),
        (['·', ' ', '-'], '~'),
        (['·', ' ', '.'], ' '),
        (['·', ' ', '<'], 'ˇ'),
        (['·', ' ', '>'], '^'),
        (['·', ' ', '_'], '¯'),
        (['·', '!', '!'], '¡'),
        (['·', '!', '?'], '‽'),
        (['·', '!', '^'], '¦'),
        (['·', '"', ' '], '¨'),
        (['·', '"', '"'], '¨'),
        (['·', '"', '\''], '̈́'),
        (['·', '"', ','], '„'),
        (['·', '"', '<'], '“'),
        (['·', '"', '>'], '”'),
        (['·', '#', '#'], '♯'),
        (['·', '\'', '"', ' '], '΅'),
        (['·', '\'', '\''], '´'),
        (['·', '\'', ','], '‚'),
        (['·', '\'', '<'], '‘'),
        (['·', '\'', '>'], '’'),
        (['·', '(', ' '], '˘'),
        (['·', '(', '('], '['),
        (['·', '(', ')', ')'], '🄯'),
        (['·', '(', '-'], '{'),
        (['·', '(', '0', ')'], '⓪'),
        (['·', '(', '1', ')'], '①'),
        (['·', '(', '1', '0', ')'], '⑩'),
        (['·', '(', '1', '1', ')'], '⑪'),
        (['·', '(', '1', '2', ')'], '⑫'),
        (['·', '(', '1', '3', ')'], '⑬'),
        (['·', '(', '1', '4', ')'], '⑭'),
        (['·', '(', '1', '5', ')'], '⑮'),
        (['·', '(', '1', '6', ')'], '⑯'),
        (['·', '(', '1', '7', ')'], '⑰'),
        (['·', '(', '1', '8', ')'], '⑱'),
        (['·', '(', '1', '9', ')'], '⑲'),
        (['·', '(', '2', ')'], '②'),
        (['·', '(', '2', '0', ')'], '⑳'),
        (['·', '(', '2', '1', ')'], '㉑'),
        (['·', '(', '2', '2', ')'], '㉒'),
        (['·', '(', '2', '3', ')'], '㉓'),
        (['·', '(', '2', '4', ')'], '㉔'),
        (['·', '(', '2', '5', ')'], '㉕'),
        (['·', '(', '2', '6', ')'], '㉖'),
        (['·', '(', '2', '7', ')'], '㉗'),
        (['·', '(', '2', '8', ')'], '㉘'),
        (['·', '(', '2', '9', ')'], '㉙'),
        (['·', '(', '3', ')'], '③'),
        (['·', '(', '3', '0', ')'], '㉚'),
        (['·', '(', '3', '1', ')'], '㉛'),
        (['·', '(', '3', '2', ')'], '㉜'),
        (['·', '(', '3', '3', ')'], '㉝'),
        (['·', '(', '3', '4', ')'], '㉞'),
        (['·', '(', '3', '5', ')'], '㉟'),
        (['·', '(', '3', '6', ')'], '㊱'),
        (['·', '(', '3', '7', ')'], '㊲'),
        (['·', '(', '3', '8', ')'], '㊳'),
        (['·', '(', '3', '9', ')'], '㊴'),
        (['·', '(', '4', ')'], '④'),
        (['·', '(', '4', '0', ')'], '㊵'),
        (['·', '(', '4', '1', ')'], '㊶'),
        (['·', '(', '4', '2', ')'], '㊷'),
        (['·', '(', '4', '3', ')'], '㊸'),
        (['·', '(', '4', '4', ')'], '㊹'),
        (['·', '(', '4', '5', ')'], '㊺'),
        (['·', '(', '4', '6', ')'], '㊻'),
        (['·', '(', '4', '7', ')'], '㊼'),
        (['·', '(', '4', '8', ')'], '㊽'),
        (['·', '(', '4', '9', ')'], '㊾'),
        (['·', '(', '5', ')'], '⑤'),
        (['·', '(', '5', '0', ')'], '㊿'),
        (['·', '(', '6', ')'], '⑥'),
        (['·', '(', '7', ')'], '⑦'),
        (['·', '(', '8', ')'], '⑧'),
        (['·', '(', '9', ')'], '⑨'),
        (['·', ')', ')'], ']'),
        (['·', ')', '-'], '}'),
        (['·', '*', '0'], '°'),
        (['·', '+', '-'], '±'),
        (['·', ',', ' '], '¸'),
        (['·', ',', '"'], '„'),
        (['·', ',', '\''], '‚'),
        (['·', ',', ','], '¸'),
        (['·', ',', '-'], '¬'),
        (['·', '-', ' '], '~'),
        (['·', '-', '('], '{'),
        (['·', '-', ')'], '}'),
        (['·', '-', '+'], '±'),
        (['·', '-', ','], '¬'),
        (['·', '-', '-', ' '], '­'),
        (['·', '-', '-', '-'], '—'),
        (['·', '-', '-', '.'], '–'),
        (['·', '-', '/'], '⌿'),
        (['·', '-', ':'], '÷'),
        (['·', '-', '>'], '→'),
        (['·', '-', '\\'], '⍀'),
        (['·', '-', '^'], '¯'),
        (['·', '-', '_'], '−'),
        (['·', '.', ' '], '˙'),
        (['·', '.', '-'], '·'),
        (['·', '.', '.'], '…'),
        (['·', '.', ':'], '∵'),
        (['·', '.', '<'], '‹'),
        (['·', '.', '='], '•'),
        (['·', '.', '>'], '›'),
        (['·', '.', '^'], '·'),
        (['·', '/', '-'], '⌿'),
        (['·', '/', '/'], '\\'),
        (['·', '/', '<'], '\\'),
        (['·', '/', '='], '≠'),
        (['·', '/', '^'], '|'),
        (['·', '0', '*'], '°'),
        (['·', '0', '3'], '↉'),
        (['·', '0', '~'], '⍬'),
        (['·', '1', '1', '0'], '⅒'),
        (['·', '1', '2'], '½'),
        (['·', '1', '3'], '⅓'),
        (['·', '1', '4'], '¼'),
        (['·', '1', '5'], '⅕'),
        (['·', '1', '6'], '⅙'),
        (['·', '1', '7'], '⅐'),
        (['·', '1', '8'], '⅛'),
        (['·', '1', '9'], '⅑'),
        (['·', '1', '^'], '¹'),
        (['·', '2', '3'], '⅔'),
        (['·', '2', '5'], '⅖'),
        (['·', '2', '^'], '²'),
        (['·', '3', '4'], '¾'),
        (['·', '3', '5'], '⅗'),
        (['·', '3', '8'], '⅜'),
        (['·', '3', '^'], '³'),
        (['·', '4', '5'], '⅘'),
        (['·', '5', '6'], '⅚'),
        (['·', '5', '8'], '⅝'),
        (['·', '7', '8'], '⅞'),
        (['·', '8', '8'], '∞'),
        (['·', ':', '('], '☹'),
        (['·', ':', ')'], '☺'),
        (['·', ':', '-'], '÷'),
        (['·', ':', '.'], '∴'),
        (['·', ';', ' '], '˛'),
        (['·', ';', '_'], '⍮'),
        (['·', '<', ' '], 'ˇ'),
        (['·', '<', '"'], '“'),
        (['·', '<', '\''], '‘'),
        (['·', '<', '-'], '←'),
        (['·', '<', '/'], '≮'),
        (['·', '<', '3'], '♥'),
        (['·', '<', '<'], '«'),
        (['·', '<', '='], '≤'),
        (['·', '<', '>'], '⋄'),
        (['·', '<', '_'], '≤'),
        (['·', '=', '/'], '≠'),
        (['·', '=', '<'], '⇐'),
        (['·', '=', '>'], '⇒'),
        (['·', '=', '^'], '⇑'),
        (['·', '=', '_'], '≡'),
        (['·', '>', ' '], '^'),
        (['·', '>', '"'], '”'),
        (['·', '>', '\''], '’'),
        (['·', '>', '/'], '≯'),
        (['·', '>', '<'], '⋄'),
        (['·', '>', '='], '≥'),
        (['·', '>', '>'], '»'),
        (['·', '>', '_'], '≥'),
        (['·', '?', '!'], '⸘'),
        (['·', '?', '?'], '¿'),
        (['·', '?', '\\'], '☭'),
        (['·', '[', ']'], '⌷'),
        (['·', '\\', '-'], '⍀'),
        (['·', '\\', '?'], '☭'),
        (['·', ']', '['], '⌷'),
        (['·', '^', '('], '⁽'),
        (['·', '^', ')'], '⁾'),
        (['·', '^', '+'], '⁺'),
        (['·', '^', '-'], '⁻'),
        (['·', '^', '.'], '·'),
        (['·', '^', '/'], '|'),
        (['·', '^', '0'], '⁰'),
        (['·', '^', '1'], '¹'),
        (['·', '^', '2'], '²'),
        (['·', '^', '3'], '³'),
        (['·', '^', '4'], '⁴'),
        (['·', '^', '5'], '⁵'),
        (['·', '^', '6'], '⁶'),
        (['·', '^', '7'], '⁷'),
        (['·', '^', '8'], '⁸'),
        (['·', '^', '9'], '⁹'),
        (['·', '^', '='], '⁼'),
        (['·', '^', '|'], '↑'),
        (['·', '_', ' '], '¯'),
        (['·', '_', '\''], '⍘'),
        (['·', '_', '('], '₍'),
        (['·', '_', ')'], '₎'),
        (['·', '_', '+'], '₊'),
        (['·', '_', '-'], '₋'),
        (['·', '_', '0'], '₀'),
        (['·', '_', '1'], '₁'),
        (['·', '_', '2'], '₂'),
        (['·', '_', '3'], '₃'),
        (['·', '_', '4'], '₄'),
        (['·', '_', '5'], '₅'),
        (['·', '_', '6'], '₆'),
        (['·', '_', '7'], '₇'),
        (['·', '_', '8'], '₈'),
        (['·', '_', '9'], '₉'),
        (['·', '_', '<'], '≤'),
        (['·', '_', '='], '₌'),
        (['·', '_', '>'], '≥'),
        (['·', '_', '^'], '¯'),
        (['·', '_', '_'], '¯'),
        (['·', '{', '}'], '∅'),
        (['·', '|', '-'], '†'),
        (['·', '|', '='], '‡'),
        (['·', '|', '^'], '↑'),
        (['·', '|', '~'], '⍭'),
        (['·', '~', '0'], '⍬'),
        (['·', '~', '|'], '⍭'),
        (['·', '~', '~'], '≈'),
    ],
)
