(
    version: 1,
    layout: "Hebrew (Biblical, Tiro)",
    modifiers: [
        (42, [(0, Press(Level2))]),
        (54, [(0, Press(Level2))]),
        (84, [(0, Press(Level3))]),
    ],
    keymap: {
        0: {
            2: '1', 3: '2', 4: '3', 5: '4', 6: '5', 7: '6', 8: '7', 9: '8', 10: '9', 11: '0', 12: '־', 13: '=',
            16: '\u{307}', 17: '׳', 18: 'ק', 19: 'ר', 20: 'א', 21: 'ט', 22: 'ו', 23: 'ן', 24: 'ם', 25: 'פ', 26: ']', 27: '[',
            30: 'ש', 31: 'ד', 32: 'ג', 33: 'כ', 34: 'ע', 35: 'י', 36: 'ח', 37: 'ל', 38: 'ך', 39: 'ף', 40: '\u{59a}', 41: '׃',
            43: '׀', 44: 'ז', 45: 'ס', 46: 'ב', 47: 'ה', 48: 'נ', 49: 'מ', 50: 'צ', 51: 'ת', 52: 'ץ', 53: '\u{5ad}',
            83: '\u{7f}',
            86: '<',
        },
        1: {
            2: '\u{5a9}', 3: '\u{599}', 4: '\u{592}', 5: '\u{5af}', 6: '\u{5ba}', 7: '\u{5b9}', 8: '\u{5bf}', 9: '\u{5c2}', 10: '\u{5c1}', 11: '\u{59d}', 12: '\u{5a0}', 13: '\u{5bc}',
            16: '\u{5c4}', 17: '\u{5ac}', 18: '\u{5ab}', 19: '\u{59f}', 20: '\u{593}', 21: '\u{59e}', 22: '\u{59c}', 23: '\u{5a1}', 24: '\u{595}', 25: '\u{594}', 26: '\u{597}', 27: '\u{598}',
            30: '\u{5bd}', 31: '\u{5b0}', 32: '\u{5bb}', 33: '\u{5b4}', 34: '\u{5b1}', 35: '\u{5b6}', 36: '\u{5b5}', 37: '\u{5b3}', 38: '\u{5b8}', 39: '\u{5b2}', 40: '\u{5b7}', 41: '\u{5ae}',
            43: '\u{5a8}', 44: '\u{5c5}', 45: '\u{5a4}', 46: '\u{5aa}', 47: '\u{5a6}', 48: '\u{5a5}', 49: '\u{5a7}', 50: '\u{59b}', 51: '\u{591}', 52: '\u{596}', 53: '\u{5a3}',
            86: '>',
        },
        2: {
            5: '₪', 6: '\u{200d}', 7: '\u{200c}', 8: '\u{34f}', 9: '\u{200e}', 10: '\u{200f}', 11: '◌', 12: '-',
            16: '\u{308}', 17: '״', 18: '€', 22: 'װ',
            35: 'ײ', 36: 'ױ', 38: '\u{5c7}', 40: ',', 41: ';',
            43: '\\', 46: '\u{5a2}', 48: '׆', 53: '.',
            57: '\u{2009}',
            86: '|',
        },
        3: {
            2: '!', 3: '@', 4: '#', 5: '$', 6: '%', 7: '^', 8: '&', 9: '*', 10: ')', 11: '(', 12: '_', 13: '+',
            16: '/', 17: '\'', 26: '}', 27: '{',
            39: ':', 40: '\"', 41: '~',
            43: '|', 51: '>', 52: '<', 53: '?',
            57: '\u{a0}',
            86: '¦',
        },
    },
    num_lock_keys: {
        0: {
            71: '7', 72: '8', 73: '9', 75: '4', 76: '5', 77: '6', 79: '1', 80: '2', 81: '3', 82: '0', 83: '.',
        },
    },
    caps_lock_keymap: {
        0: {
            2: '\u{5a9}', 3: '\u{599}', 4: '\u{592}', 5: '\u{5af}', 6: '\u{5ba}', 7: '\u{5b9}', 8: '\u{5bf}', 9: '\u{5c2}', 10: '\u{5c1}', 11: '\u{59d}', 12: '\u{5a0}', 13: '\u{5bc}',
            16: '\u{5c4}', 17: '\u{5ac}', 18: '\u{5ab}', 19: '\u{59f}', 20: '\u{593}', 21: '\u{59e}', 22: '\u{59c}', 23: '\u{5a1}', 24: '\u{595}', 25: '\u{594}', 26: '\u{597}', 27: '\u{598}',
            30: '\u{5bd}', 31: '\u{5b0}', 32: '\u{5bb}', 33: '\u{5b4}', 34: '\u{5b1}', 35: '\u{5b6}', 36: '\u{5b5}', 37: '\u{5b3}', 38: '\u{5b8}', 39: '\u{5b2}', 40: '\u{5b7}', 41: '\u{5ae}',
            43: '\u{5a8}', 44: '\u{5c5}', 45: '\u{5a4}', 46: '\u{5aa}', 47: '\u{5a6}', 48: '\u{5a5}', 49: '\u{5a7}', 50: '\u{59b}', 51: '\u{591}', 52: '\u{596}', 53: '\u{5a3}',
        },
        1: {
            2: '1', 3: '2', 4: '3', 5: '4', 6: '5', 7: '6', 8: '7', 9: '8', 10: '9', 11: '0', 12: '־', 13: '=',
            16: '\u{307}', 17: '׳', 18: 'ק', 19: 'ר', 20: 'א', 21: 'ט', 22: 'ו', 23: 'ן', 24: 'ם', 25: 'פ', 26: ']', 27: '[',
            30: 'ש', 31: 'ד', 32: 'ג', 33: 'כ', 34: 'ע', 35: 'י', 36: 'ח', 37: 'ל', 38: 'ך', 39: 'ף', 40: '\u{59a}', 41: '׃',
            43: '׀', 44: 'ז', 45: 'ס', 46: 'ב', 47: 'ה', 48: 'נ', 49: 'מ', 50: 'צ', 51: 'ת', 52: 'ץ', 53: '\u{5ad}',
        },
    },
    compose: [
        (['·', ' ', ' '], ' '),
        (['·', ' ', '('], '˘'),
        (['·', ' ', ','], '¸'),
        (['·', ' ', '-'], '~'),
        (['·', ' ', '.'], ' '),
        (['·', ' ', '<'], 'ˇ'),
        (['·', ' ', '>'], '^'),
        (['·', ' ', '_'], '¯'),
        (['·', '!', '!'], '¡'),
        (['·', '!', '?'], '‽'),
        (['·', '!', '^'], '¦'),
        (['·', '"', ' '], '¨'),
        (['·', '"', '"'], '¨'),
        (['·', '"', '\''], '̈́'),
        (['·', '"', ','], '„'),
        (['·', '"', '<'], '“'),
        (['·', '"', '>'], '”'),
        (['·', '#', '#'], '♯'),
        (['·', '\'', '"', ' '], '΅'),
        (['·', '\'', '\''], '´'),
        (['·', '\'', ','], '‚'),
        (['·', '\'', '<'], '‘'),
        (['·', '\'', '>'], '’'),
        (['·', '(', ' '], '˘'),
        (['·', '(', '('], '['),
        (['·', '(', ')', ')'], '🄯'),
        (['·', '(', '-'], '{'),
        (['·', '(', '0', ')'], '⓪'),
        (['·', '(', '1', ')'], '①'),
        (['·', '(', '1', '0', ')'], '⑩'),
        (['·', '(', '1', '1', ')'], '⑪'),
        (['·', '(', '1', '2', ')'], '⑫'),
        (['·', '(', '1', '3', ')'], '⑬'),
        (['·', '(', '1', '4', ')'], '⑭'),
        (['·', '(', '1', '5', ')'], '⑮'),
        (['·', '(', '1', '6', ')'], '⑯'),
        (['·', '(', '1', '7', ')'], '⑰'),
        (['·', '(', '1', '8', ')'], '⑱'),
        (['·', '(', '1', '9', ')'], '⑲'),
        (['·', '(', '2', ')'], '②'),
        (['·', '(', '2', '0', ')'], '⑳'),
        (['·', '(', '2', '1', ')'], '㉑'),
        (['·', '(', '2', '2', ')'], '㉒'),
        (['·', '(', '2', '3', ')'], '㉓'),
        (['·', '(', '2', '4', ')'], '㉔'),
        (['·', '(', '2', '5', ')'], '㉕'),
        (['·', '(', '2', '6', ')'], '㉖'),
        (['·', '(', '2', '7', ')'], '㉗'),
        (['·', '(', '2', '8', ')'], '㉘'),
        (['·', '(', '2', '9', ')'], '㉙'),
        (['·', '(', '3', ')'], '③'),
        (['·', '(', '3', '0', ')'], '㉚'),
        (['·', '(', '3', '1', ')'], '㉛'),
        (['·', '(', '3', '2', ')'], '㉜'),
        (['·', '(', '3', '3', ')'], '㉝'),
        (['·', '(', '3', '4', ')'], '㉞'),
        (['·', '(', '3', '5', ')'], '㉟'),
        (['·', '(', '3', '6', ')'], '㊱'),
        (['·', '(', '3', '7', ')'], '㊲'),
        (['·', '(', '3', '8', ')'], '㊳'),
        (['·', '(', '3', '9', ')'], '㊴'),
        (['·', '(', '4', ')'], '④'),
        (['·', '(', '4', '0', ')'], '㊵'),
        (['·', '(', '4', '1', ')'], '㊶'),
        (['·', '(', '4', '2', ')'], '㊷'),
        (['·', '(', '4', '3', ')'], '㊸'),
        (['·', '(', '4', '4', ')'], '㊹'),
        (['·', '(', '4', '5', ')'], '㊺'),
        (['·', '(', '4', '6', ')'], '㊻'),
        (['·', '(', '4', '7', ')'], '㊼'),
        (['·', '(', '4', '8', ')'], '㊽'),
        (['·', '(', '4', '9', ')'], '㊾'),
        (['·', '(', '5', ')'], '⑤'),
        (['·', '(', '5', '0', ')'], '㊿'),
        (['·', '(', '6', ')'], '⑥'),
        (['·', '(', '7', ')'], '⑦'),
        (['·', '(', '8', ')'], '⑧'),
        (['·', '(', '9', ')'], '⑨'),
        (['·', ')', ')'], ']'),
        (['·', ')', '-'], '}'),
        (['·', '*', '0'], '°'),
        (['·', '+', '-'], '±'),
        (['·', ',', ' '], '¸'),
        (['·', ',', '"'], '„'),
        (['·', ',', '\''], '‚'),
        (['·', ',', ','], '¸'),
        (['·', ',', '-'], '¬'),
        (['·', '-', ' '], '~'),
        (['·', '-', '('], '{'),
        (['·', '-', ')'], '}'),
        (['·', '-', '+'], '±'),
        (['·', '-', ','], '¬'),
        (['·', '-', '-', ' '], '­'),
        (['·', '-', '-', '-'], '—'),
        (['·', '-', '-', '.'], '–'),
        (['·', '-', '/'], '⌿'),
        (['·', '-', ':'], '÷'),
        (['·', '-', '>'], '→'),
        (['·', '-', '\\'], '⍀'),
        (['·', '-', '^'], '¯'),
        (['·', '-', '_'], '−'),
        (['·', '.', ' '], '˙'),
        (['·', '.', '-'], '·'),
        (['·', '.', '.'], '…'),
        (['·', '.', ':'], '∵'),
        (['·', '.', '<'], '‹'),
        (['·', '.', '='], '•'),
        (['·', '.', '>'], '›'),
        (['·', '.', '^'], '·'),
        (['·', '/', '-'], '⌿'),
        (['·', '/', '/'], '\\'),
        (['·', '/', '<'], '\\'),
        (['·', '/', '='], '≠'),
        (['·', '/', '^'], '|'),
        (['·', '0', '*'], '°'),
        (['·', '0', '3'], '↉'),
        (['·', '0', '~'], '⍬'),
        (['·', '1', '1', '0'], '⅒'),
        (['·', '1', '2'], '½'),
        (['·', '1', '3'], '⅓'),
        (['·', '1', '4'], '¼'),
        (['·', '1', '5'], '⅕'),
        (['·', '1', '6'], '⅙'),
        (['·', '1', '7'], '⅐'),
        (['·', '1', '8'], '⅛'),
        (['·', '1', '9'], '⅑'),
        (['·', '1', '^'], '¹'),
        (['·', '2', '3'], '⅔'),
        (['·', '2', '5'], '⅖'),
        (['·', '2', '^'], '²'),
        (['·', '3', '4'], '¾'),
        (['·', '3', '5'], '⅗'),
        (['·', '3', '8'], '⅜'),
        (['·', '3', '^'], '³'),
        (['·', '4', '5'], '⅘'),
        (['·', '5', '6'], '⅚'),
        (['·', '5', '8'], '⅝'),
        (['·', '7', '8'], '⅞'),
        (['·', '8', '8'], '∞'),
        (['·', ':', '('], '☹'),
        (['·', ':', ')'], '☺'),
        (['·', ':', '-'], '÷'),
        (['·', ':', '.'], '∴'),
        (['·', ';', ' '], '˛'),
        (['·', ';', '_'], '⍮'),
        (['·', '<', ' '], 'ˇ'),
        (['·', '<', '"'], '“'),
        (['·', '<', '\''], '‘'),
        (['·', '<', '-'], '←'),
        (['·', '<', '/'], '≮'),
        (['·', '<', '3'], '♥'),
        (['·', '<', '<'], '«'),
        (['·', '<', '='], '≤'),
        (['·', '<', '>'], '⋄'),
        (['·', '<', '_'], '≤'),
        (['·', '=', '/'], '≠'),
        (['·', '=', '<'], '⇐'),
        (['·', '=', '>'], '⇒'),
        (['·', '=', '^'], '⇑'),
        (['·', '=', '_'], '≡'),
        (['·', '>', ' '], '^'),
        (['·', '>', '"'], '”'),
        (['·', '>', '\''], '’'),
        (['·', '>', '/'], '≯'),
        (['·', '>', '<'], '⋄'),
        (['·', '>', '='], '≥'),
        (['·', '>', '>'], '»'),
        (['·', '>', '_'], '≥'),
        (['·', '?', '!'], '⸘'),
        (['·', '?', '?'], '¿'),
        (['·', '?', '\\'], '☭'),
        (['·', '[', ']'], '⌷'),
        (['·', '\\', '-'], '⍀'),
        (['·', '\\', '?'], '☭'),
        (['·', ']', '['], '⌷'),
        (['·', '^', '('], '⁽'),
        (['·', '^', ')'], '⁾'),
        (['·', '^', '+'], '⁺'),
        (['·', '^', '-'], '⁻'),
        (['·', '^', '.'], '·'),
        (['·', '^', '/'], '|'),
        (['·', '^', '0'], '⁰'),
        (['·', '^', '1'], '¹'),
        (['·', '^', '2'], '²'),
        (['·', '^', '3'], '³'),
        (['·', '^', '4'], '⁴'),
        (['·', '^', '5'], '⁵'),
        (['·', '^', '6'], '⁶'),
        (['·', '^', '7'], '⁷'),
        (['·', '^', '8'], '⁸'),
        (['·', '^', '9'], '⁹'),
        (['·', '^', '='], '⁼'),
        (['·', '^', '|'], '↑'),
        (['·', '_', ' '], '¯'),
        (['·', '_', '\''], '⍘'),
        (['·', '_', '('], '₍'),
        (['·', '_', ')'], '₎'),
        (['·', '_', '+'], '₊'),
        (['·', '_', '-'], '₋'),
        (['·', '_', '0'], '₀'),
        (['·', '_', '1'], '₁'),
        (['·', '_', '2'], '₂'),
        (['·', '_', '3'], '₃'),
        (['·', '_', '4'], '₄'),
        (['·', '_', '5'], '₅'),
        (['·', '_', '6'], '₆'),
        (['·', '_', '7'], '₇'),
        (['·', '_', '8'], '₈'),
        (['·', '_', '9'], '₉'),
        (['·', '_', '<'], '≤'),
        (['·', '_', '='], '₌'),
        (['·', '_', '>'], '≥'),
        (['·', '_', '^'], '¯'),
        (['·', '_', '_'], '¯'),
        (['·', '{', '}'], '∅'),
        (['·', '|', '-'], '†'),
        (['·', '|', '='], '‡'),
        (['·', '|', '^'], '↑'),
        (['·', '|', '~'], '⍭'),
        (['·', '~', '0'], '⍬'),
        (['·', '~', '|'], '⍭'),
        (['·', '~', '~'], '≈'),
    ],
)
