(
    version: 1,
    layout: "Hebrew",
    modifiers: [
        (42, [(0, Press(Level2))]),
        (54, [(0, Press(Level2))]),
        (100, [(0, Press(Level3))]),
    ],
    keymap: {
        0: {
            2: '1', 3: '2', 4: '3', 5: '4', 6: '5', 7: '6', 8: '7', 9: '8', 10: '9', 11: '0', 12: '-', 13: '=',
            16: '/', 17: '\'', 18: 'ק', 19: 'ר', 20: 'א', 21: 'ט', 22: 'ו', 23: 'ן', 24: 'ם', 25: 'פ', 26: ']', 27: '[',
            30: 'ש', 31: 'ד', 32: 'ג', 33: 'כ', 34: 'ע', 35: 'י', 36: 'ח', 37: 'ל', 38: 'ך', 39: 'ף', 40: ',', 41: ';',
            43: '\\', 44: 'ז', 45: 'ס', 46: 'ב', 47: 'ה', 48: 'נ', 49: 'מ', 50: 'צ', 51: 'ת', 52: 'ץ', 53: '.',
            83: '\u{7f}',
            86: '<',
        },
        1: {
            2: '!', 3: '@', 4: '#', 5: '$', 6: '%', 7: '^', 8: '&', 9: '*', 10: ')', 11: '(', 12: '_', 13: '+',
            16: 'Q', 17: 'W', 18: 'E', 19: 'R', 20: 'T', 21: 'Y', 22: 'U', 23: 'I', 24: 'O', 25: 'P', 26: '}', 27: '{',
            30: 'A', 31: 'S', 32: 'D', 33: 'F', 34: 'G', 35: 'H', 36: 'J', 37: 'K', 38: 'L', 39: ':', 40: '\"', 41: '~',
            43: '|', 44: 'Z', 45: 'X', 46: 'C', 47: 'V', 48: 'B', 49: 'N', 50: 'M', 51: '>', 52: '<', 53: '?',
            86: '>',
        },
        2: {
            4: '€', 5: '₪', 6: '°', 7: '\u{5ab}', 8: '\u{5bd}', 9: '×', 10: '\u{200e}', 11: '\u{200f}', 12: '־', 13: '–',
            16: '\u{5c2}', 17: '\u{5c1}', 18: '\u{5b8}', 19: '\u{5b3}', 21: 'װ', 22: '\u{5b9}', 25: '\u{5b7}', 26: '\u{5b2}', 27: '\u{5bf}',
            30: '\u{5b0}', 31: '\u{5bc}', 34: 'ױ', 35: 'ײ', 36: '\u{5b4}', 38: '”', 39: '„', 40: '״', 41: '׳',
            43: '\u{5bb}', 45: '\u{5b6}', 46: '\u{5b1}', 50: '\u{5b5}', 51: '’', 52: '‚', 53: '÷',
            86: '|',
        },
        3: {
            48: '׆',
            86: '¦',
        },
    },
    num_lock_keys: {
        0: {
            71: '7', 72: '8', 73: '9', 75: '4', 76: '5', 77: '6', 79: '1', 80: '2', 81: '3', 82: '0', 83: '.',
        },
    },
    caps_lock_keymap: {
        0: {
            16: 'Q', 17: 'W', 18: 'E', 19: 'R', 20: 'T', 21: 'Y', 22: 'U', 23: 'I', 24: 'O', 25: 'P',
            30: 'A', 31: 'S', 32: 'D', 33: 'F', 34: 'G', 35: 'H', 36: 'J', 37: 'K', 38: 'L', 39: ':',
            44: 'Z', 45: 'X', 46: 'C', 47: 'V', 48: 'B', 49: 'N', 50: 'M', 51: '>', 52: '<',
        },
        1: {
            16: '/', 17: '\'', 18: 'ק', 19: 'ר', 20: 'א', 21: 'ט', 22: 'ו', 23: 'ן', 24: 'ם', 25: 'פ',
            30: 'ש', 31: 'ד', 32: 'ג', 33: 'כ', 34: 'ע', 35: 'י', 36: 'ח', 37: 'ל', 38: 'ך', 39: 'ף',
            44: 'ז', 45: 'ס', 46: 'ב', 47: 'ה', 48: 'נ', 49: 'מ', 50: 'צ', 51: 'ת', 52: 'ץ',
        },
    },
    compose: [
        (['·', ' ', ' '], ' '),
        (['·', ' ', '('], '˘'),
        (['·', ' ', ','], '¸'),
        (['·', ' ', '-'], '~'),
        (['·', ' ', '.'], ' '),
        (['·', ' ', '<'], 'ˇ'),
        (['·', ' ', '>'], '^'),
        (['·', ' ', '_'], '¯'),
        (['·', '!', '!'], '¡'),
        (['·', '!', '+', 'O'], 'Ợ'),
        (['·', '!', '+', 'U'], 'Ự'),
        (['·', '!', '?'], '‽'),
        (['·', '!', 'A'], 'Ạ'),
        (['·', '!', 'B'], 'Ḅ'),
        (['·', '!', 'D'], 'Ḍ'),
        (['·', '!', 'E'], 'Ẹ'),
        (['·', '!', 'H'], 'Ḥ'),
        (['·', '!', 'I'], 'Ị'),
        (['·', '!', 'K'], 'Ḳ'),
        (['·', '!', 'L'], 'Ḷ'),
        (['·', '!', 'M'], 'Ṃ'),
        (['·', '!', 'N'], 'Ṇ'),
        (['·', '!', 'O'], 'Ọ'),
        (['·', '!', 'R'], 'Ṛ'),
        (['·', '!', 'S'], 'Ṣ'),
        (['·', '!', 'T'], 'Ṭ'),
        (['·', '!', 'U'], 'Ụ'),
        (['·', '!', 'V'], 'Ṿ'),
        (['·', '!', 'W'], 'Ẉ'),
        (['·', '!', 'Y'], 'Ỵ'),
        (['·', '!', 'Z'], 'Ẓ'),
        (['·', '!', '^'], '¦'),
        (['·', '"', ' '], '¨'),
        (['·', '"', '"'], '¨'),
        (['·', '"', '\''], '̈́'),
        (['·', '"', ','], '„'),
        (['·', '"', '<'], '“'),
        (['·', '"', '>'], '”'),
        (['·', '"', 'A'], 'Ä'),
        (['·', '"', 'E'], 'Ë'),
        (['·', '"', 'H'], 'Ḧ'),
        (['·', '"', 'I'], 'Ï'),
        (['·', '"', 'O'], 'Ö'),
        (['·', '"', 'U'], 'Ü'),
        (['·', '"', 'W'], 'Ẅ'),
        (['·', '"', 'X'], 'Ẍ'),
        (['·', '"', 'Y'], 'Ÿ'),
        (['·', '"', '_', 'U'], 'Ṻ'),
        (['·', '"', '~', 'O'], 'Ṏ'),
        (['·', '#', '#'], '♯'),
        (['·', '#', 'E'], '♫'),
        (['·', '#', 'S'], '♬'),
        (['·', '\'', '"', ' '], '΅'),
        (['·', '\'', '"', 'I'], 'Ḯ'),
        (['·', '\'', '"', 'U'], 'Ǘ'),
        (['·', '\'', '\''], '´'),
        (['·', '\'', '+', 'O'], 'Ớ'),
        (['·', '\'', '+', 'U'], 'Ứ'),
        (['·', '\'', ','], '‚'),
        (['·', '\'', '/', 'O'], 'Ǿ'),
        (['·', '\'', '<'], '‘'),
        (['·', '\'', '>'], '’'),
        (['·', '\'', 'A'], 'Á'),
        (['·', '\'', 'C'], 'Ć'),
        (['·', '\'', 'E'], 'É'),
        (['·', '\'', 'G'], 'Ǵ'),
        (['·', '\'', 'I'], 'Í'),
        (['·', '\'', 'J'], 'J'),
        (['·', '\'', 'K'], 'Ḱ'),
        (['·', '\'', 'L'], 'Ĺ'),
        (['·', '\'', 'M'], 'Ḿ'),
        (['·', '\'', 'N'], 'Ń'),
        (['·', '\'', 'O'], 'Ó'),
        (['·', '\'', 'P'], 'Ṕ'),
        (['·', '\'', 'R'], 'Ŕ'),
        (['·', '\'', 'S'], 'Ś'),
        (['·', '\'', 'U'], 'Ú'),
        (['·', '\'', 'W'], 'Ẃ'),
        (['·', '\'', 'Y'], 'Ý'),
        (['·', '\'', 'Z'], 'Ź'),
        (['·', '\'', '^', 'A'], 'Ấ'),
        (['·', '\'', '^', 'E'], 'Ế'),
        (['·', '\'', '^', 'O'], 'Ố'),
        (['·', '\'', '_', 'E'], 'Ḗ'),
        (['·', '\'', '_', 'O'], 'Ṓ'),
        (['·', '\'', '~', 'O'], 'Ṍ'),
        (['·', '\'', '~', 'U'], 'Ṹ'),
        (['·', '(', ' '], '˘'),
        (['·', '(', '('], '['),
        (['·', '(', ')', ')'], '🄯'),
        (['·', '(', '-'], '{'),
        (['·', '(', '0', ')'], '⓪'),
        (['·', '(', '1', ')'], '①'),
        (['·', '(', '1', '0', ')'], '⑩'),
        (['·', '(', '1', '1', ')'], '⑪'),
        (['·', '(', '1', '2', ')'], '⑫'),
        (['·', '(', '1', '3', ')'], '⑬'),
        (['·', '(', '1', '4', ')'], '⑭'),
        (['·', '(', '1', '5', ')'], '⑮'),
        (['·', '(', '1', '6', ')'], '⑯'),
        (['·', '(', '1', '7', ')'], '⑰'),
        (['·', '(', '1', '8', ')'], '⑱'),
        (['·', '(', '1', '9', ')'], '⑲'),
        (['·', '(', '2', ')'], '②'),
        (['·', '(', '2', '0', ')'], '⑳'),
        (['·', '(', '2', '1', ')'], '㉑'),
        (['·', '(', '2', '2', ')'], '㉒'),
        (['·', '(', '2', '3', ')'], '㉓'),
        (['·', '(', '2', '4', ')'], '㉔'),
        (['·', '(', '2', '5', ')'], '㉕'),
        (['·', '(', '2', '6', ')'], '㉖'),
        (['·', '(', '2', '7', ')'], '㉗'),
        (['·', '(', '2', '8', ')'], '㉘'),
        (['·', '(', '2', '9', ')'], '㉙'),
        (['·', '(', '3', ')'], '③'),
        (['·', '(', '3', '0', ')'], '㉚'),
        (['·', '(', '3', '1', ')'], '㉛'),
        (['·', '(', '3', '2', ')'], '㉜'),
        (['·', '(', '3', '3', ')'], '㉝'),
        (['·', '(', '3', '4', ')'], '㉞'),
        (['·', '(', '3', '5', ')'], '㉟'),
        (['·', '(', '3', '6', ')'], '㊱'),
        (['·', '(', '3', '7', ')'], '㊲'),
        (['·', '(', '3', '8', ')'], '㊳'),
        (['·', '(', '3', '9', ')'], '㊴'),
        (['·', '(', '4', ')'], '④'),
        (['·', '(', '4', '0', ')'], '㊵'),
        (['·', '(', '4', '1', ')'], '㊶'),
        (['·', '(', '4', '2', ')'], '㊷'),
        (['·', '(', '4', '3', ')'], '㊸'),
        (['·', '(', '4', '4', ')'], '㊹'),
        (['·', '(', '4', '5', ')'], '㊺'),
        (['·', '(', '4', '6', ')'], '㊻'),
        (['·', '(', '4', '7', ')'], '㊼'),
        (['·', '(', '4', '8', ')'], '㊽'),
        (['·', '(', '4', '9', ')'], '㊾'),
        (['·', '(', '5', ')'], '⑤'),
        (['·', '(', '5', '0', ')'], '㊿'),
        (['·', '(', '6', ')'], '⑥'),
        (['·', '(', '7', ')'], '⑦'),
        (['·', '(', '8', ')'], '⑧'),
        (['·', '(', '9', ')'], '⑨'),
        (['·', '(', 'A', ')'], 'Ⓐ'),
        (['·', '(', 'B', ')'], 'Ⓑ'),
        (['·', '(', 'C', ')'], 'Ⓒ'),
        (['·', '(', 'D', ')'], 'Ⓓ'),
        (['·', '(', 'E', ')'], 'Ⓔ'),
        (['·', '(', 'F', ')'], 'Ⓕ'),
        (['·', '(', 'G', ')'], 'Ⓖ'),
        (['·', '(', 'H', ')'], 'Ⓗ'),
        (['·', '(', 'I', ')'], 'Ⓘ'),
        (['·', '(', 'J', ')'], 'Ⓙ'),
        (['·', '(', 'K', ')'], 'Ⓚ'),
        (['·', '(', 'L', ')'], 'Ⓛ'),
        (['·', '(', 'M', ')'], 'Ⓜ'),
        (['·', '(', 'N', ')'], 'Ⓝ'),
        (['·', '(', 'O', ')'], 'Ⓞ'),
        (['·', '(', 'P', ')'], 'Ⓟ'),
        (['·', '(', 'Q', ')'], 'Ⓠ'),
        (['·', '(', 'R', ')'], 'Ⓡ'),
        (['·', '(', 'S', ')'], 'Ⓢ'),
        (['·', '(', 'T', ')'], 'Ⓣ'),
        (['·', '(', 'U', ')'], 'Ⓤ'),
        (['·', '(', 'V', ')'], 'Ⓥ'),
        (['·', '(', 'W', ')'], 'Ⓦ'),
        (['·', '(', 'X', ')'], 'Ⓧ'),
        (['·', '(', 'Y', ')'], 'Ⓨ'),
        (['·', '(', 'Z', ')'], 'Ⓩ'),
        (['·', ')', ')'], ']'),
        (['·', ')', '-'], '}'),
        (['·', '*', '\'', 'A'], 'Ǻ'),
        (['·', '*', '0'], '°'),
        (['·', '*', 'A'], 'Å'),
        (['·', '*', 'U'], 'Ů'),
        (['·', '+', '-'], '±'),
        (['·', '+', 'O'], 'Ơ'),
        (['·', '+', 'U'], 'Ư'),
        (['·', ',', ' '], '¸'),
        (['·', ',', '"'], '„'),
        (['·', ',', '\''], '‚'),
        (['·', ',', ','], '¸'),
        (['·', ',', '-'], '¬'),
        (['·', ',', 'A'], 'Ą'),
        (['·', ',', 'C'], 'Ç'),
        (['·', ',', 'D'], 'Ḑ'),
        (['·', ',', 'E'], 'Ę'),
        (['·', ',', 'G'], 'Ģ'),
        (['·', ',', 'H'], 'Ḩ'),
        (['·', ',', 'I'], 'Į'),
        (['·', ',', 'K'], 'Ķ'),
        (['·', ',', 'L'], 'Ļ'),
        (['·', ',', 'N'], 'Ņ'),
        (['·', ',', 'O'], 'Ǫ'),
        (['·', ',', 'R'], 'Ŗ'),
        (['·', ',', 'S'], 'Ş'),
        (['·', ',', 'T'], 'Ţ'),
        (['·', ',', 'U'], 'Ų'),
        (['·', '-', ' '], '~'),
        (['·', '-', '('], '{'),
        (['·', '-', ')'], '}'),
        (['·', '-', '+'], '±'),
        (['·', '-', ','], '¬'),
        (['·', '-', '-', ' '], '­'),
        (['·', '-', '-', '-'], '—'),
        (['·', '-', '-', '.'], '–'),
        (['·', '-', '.', 'E'], 'Ė'),
        (['·', '-', '/'], '⌿'),
        (['·', '-', ':'], '÷'),
        (['·', '-', '>'], '→'),
        (['·', '-', 'A'], 'Ā'),
        (['·', '-', 'D'], 'Đ'),
        (['·', '-', 'E'], 'Ē'),
        (['·', '-', 'I'], 'Ī'),
        (['·', '-', 'K'], '₭'),
        (['·', '-', 'L'], '£'),
        (['·', '-', 'O'], 'Ō'),
        (['·', '-', 'U'], 'Ū'),
        (['·', '-', '\\'], '⍀'),
        (['·', '-', '^'], '¯'),
        (['·', '-', '_'], '−'),
        (['·', '.', ' '], '˙'),
        (['·', '.', '!', 'S'], 'Ṩ'),
        (['·', '.', '\'', 'S'], 'Ṥ'),
        (['·', '.', '-'], '·'),
        (['·', '.', '.'], '…'),
        (['·', '.', ':'], '∵'),
        (['·', '.', '<'], '‹'),
        (['·', '.', '='], '•'),
        (['·', '.', '>'], '›'),
        (['·', '.', 'A'], 'Ȧ'),
        (['·', '.', 'B'], 'Ḃ'),
        (['·', '.', 'C'], 'Ċ'),
        (['·', '.', 'D'], 'Ḋ'),
        (['·', '.', 'E'], 'Ė'),
        (['·', '.', 'F'], 'Ḟ'),
        (['·', '.', 'G'], 'Ġ'),
        (['·', '.', 'H'], 'Ḣ'),
        (['·', '.', 'I'], 'İ'),
        (['·', '.', 'M'], 'Ṁ'),
        (['·', '.', 'N'], 'Ṅ'),
        (['·', '.', 'O'], 'Ȯ'),
        (['·', '.', 'P'], 'Ṗ'),
        (['·', '.', 'R'], 'Ṙ'),
        (['·', '.', 'S'], 'Ṡ'),
        (['·', '.', 'T'], 'Ṫ'),
        (['·', '.', 'W'], 'Ẇ'),
        (['·', '.', 'X'], 'Ẋ'),
        (['·', '.', 'Y'], 'Ẏ'),
        (['·', '.', 'Z'], 'Ż'),
        (['·', '.', '^'], '·'),
        (['·', '/', '-'], '⌿'),
        (['·', '/', '/'], '\\'),
        (['·', '/', '<'], '\\'),
        (['·', '/', '='], '≠'),
        (['·', '/', 'B'], 'Ƀ'),
        (['·', '/', 'C'], '₡'),
        (['·', '/', 'D'], 'Đ'),
        (['·', '/', 'G'], 'Ǥ'),
        (['·', '/', 'H'], 'Ħ'),
        (['·', '/', 'I'], 'Ɨ'),
        (['·', '/', 'L'], 'Ł'),
        (['·', '/', 'O'], 'Ø'),
        (['·', '/', 'T'], 'Ŧ'),
        (['·', '/', 'Z'], 'Ƶ'),
        (['·', '/', '^'], '|'),
        (['·', '0', '*'], '°'),
        (['·', '0', '3'], '↉'),
        (['·', '0', '~'], '⍬'),
        (['·', '1', '1', '0'], '⅒'),
        (['·', '1', '2'], '½'),
        (['·', '1', '3'], '⅓'),
        (['·', '1', '4'], '¼'),
        (['·', '1', '5'], '⅕'),
        (['·', '1', '6'], '⅙'),
        (['·', '1', '7'], '⅐'),
        (['·', '1', '8'], '⅛'),
        (['·', '1', '9'], '⅑'),
        (['·', '1', '^'], '¹'),
        (['·', '2', '3'], '⅔'),
        (['·', '2', '5'], '⅖'),
        (['·', '2', '^'], '²'),
        (['·', '3', '4'], '¾'),
        (['·', '3', '5'], '⅗'),
        (['·', '3', '8'], '⅜'),
        (['·', '3', '^'], '³'),
        (['·', '4', '5'], '⅘'),
        (['·', '5', '6'], '⅚'),
        (['·', '5', '8'], '⅝'),
        (['·', '7', '8'], '⅞'),
        (['·', '8', '8'], '∞'),
        (['·', ':', '('], '☹'),
        (['·', ':', ')'], '☺'),
        (['·', ':', '-'], '÷'),
        (['·', ':', '.'], '∴'),
        (['·', ';', ' '], '˛'),
        (['·', ';', 'A'], 'Ą'),
        (['·', ';', 'E'], 'Ę'),
        (['·', ';', 'I'], 'Į'),
        (['·', ';', 'O'], 'Ǫ'),
        (['·', ';', 'S'], 'Ș'),
        (['·', ';', 'T'], 'Ț'),
        (['·', ';', 'U'], 'Ų'),
        (['·', ';', '_'], '⍮'),
        (['·', '<', ' '], 'ˇ'),
        (['·', '<', '"'], '“'),
        (['·', '<', '\''], '‘'),
        (['·', '<', '-'], '←'),
        (['·', '<', '/'], '≮'),
        (['·', '<', '3'], '♥'),
        (['·', '<', '<'], '«'),
        (['·', '<', '='], '≤'),
        (['·', '<', '>'], '⋄'),
        (['·', '<', 'C'], 'Č'),
        (['·', '<', 'D'], 'Ď'),
        (['·', '<', 'E'], 'Ě'),
        (['·', '<', 'L'], 'Ľ'),
        (['·', '<', 'N'], 'Ň'),
        (['·', '<', 'R'], 'Ř'),
        (['·', '<', 'S'], 'Š'),
        (['·', '<', 'T'], 'Ť'),
        (['·', '<', 'Z'], 'Ž'),
        (['·', '<', '_'], '≤'),
        (['·', '=', '/'], '≠'),
        (['·', '=', '<'], '⇐'),
        (['·', '=', '>'], '⇒'),
        (['·', '=', 'C'], '€'),
        (['·', '=', 'E'], '€'),
        (['·', '=', 'H'], '₴'),
        (['·', '=', 'L'], '₤'),
        (['·', '=', 'N'], '₦'),
        (['·', '=', 'O'], 'Ő'),
        (['·', '=', 'P'], '₽'),
        (['·', '=', 'R'], '₹'),
        (['·', '=', 'T'], '₮'),
        (['·', '=', 'U'], 'Ű'),
        (['·', '=', 'W'], '₩'),
        (['·', '=', 'Y'], '¥'),
        (['·', '=', '^'], '⇑'),
        (['·', '=', '_'], '≡'),
        (['·', '>', ' '], '^'),
        (['·', '>', '"'], '”'),
        (['·', '>', '\''], '’'),
        (['·', '>', '/'], '≯'),
        (['·', '>', '<'], '⋄'),
        (['·', '>', '='], '≥'),
        (['·', '>', '>'], '»'),
        (['·', '>', 'A'], 'Â'),
        (['·', '>', 'E'], 'Ê'),
        (['·', '>', 'I'], 'Î'),
        (['·', '>', 'O'], 'Ô'),
        (['·', '>', 'U'], 'Û'),
        (['·', '>', '_'], '≥'),
        (['·', '?', '!'], '⸘'),
        (['·', '?', '+', 'O'], 'Ở'),
        (['·', '?', '+', 'U'], 'Ử'),
        (['·', '?', '?'], '¿'),
        (['·', '?', 'A'], 'Ả'),
        (['·', '?', 'E'], 'Ẻ'),
        (['·', '?', 'I'], 'Ỉ'),
        (['·', '?', 'O'], 'Ỏ'),
        (['·', '?', 'U'], 'Ủ'),
        (['·', '?', 'Y'], 'Ỷ'),
        (['·', '?', '\\'], '☭'),
        (['·', '?', '^', 'A'], 'Ẩ'),
        (['·', '?', '^', 'E'], 'Ể'),
        (['·', '?', '^', 'O'], 'Ổ'),
        (['·', 'A', '"'], 'Ä'),
        (['·', 'A', '\''], 'Á'),
        (['·', 'A', '('], 'Ă'),
        (['·', 'A', '*'], 'Å'),
        (['·', 'A', ','], 'Ą'),
        (['·', 'A', '-'], 'Ā'),
        (['·', 'A', ';'], 'Ą'),
        (['·', 'A', '>'], 'Â'),
        (['·', 'A', 'A'], 'Å'),
        (['·', 'A', 'E'], 'Æ'),
        (['·', 'A', 'T'], '@'),
        (['·', 'A', '^'], 'Â'),
        (['·', 'A', '_'], 'Ā'),
        (['·', 'A', '~'], 'Ã'),
        (['·', 'B', '.'], 'Ḃ'),
        (['·', 'B', '|'], '฿'),
        (['·', 'C', '\''], 'Ć'),
        (['·', 'C', ','], 'Ç'),
        (['·', 'C', '.'], 'Ċ'),
        (['·', 'C', '/'], '₡'),
        (['·', 'C', '<'], 'Č'),
        (['·', 'C', '='], '€'),
        (['·', 'C', 'C'], 'ℂ'),
        (['·', 'C', 'E'], '₠'),
        (['·', 'C', 'O'], '©'),
        (['·', 'C', '|'], '₵'),
        (['·', 'D', ','], 'Ḑ'),
        (['·', 'D', '-'], 'Đ'),
        (['·', 'D', '.'], 'Ḋ'),
        (['·', 'D', '<'], 'Ď'),
        (['·', 'D', 'H'], 'Ð'),
        (['·', 'E', '"'], 'Ë'),
        (['·', 'E', '\''], 'É'),
        (['·', 'E', ','], 'Ę'),
        (['·', 'E', '-'], 'Ē'),
        (['·', 'E', '.'], 'Ė'),
        (['·', 'E', ';'], 'Ę'),
        (['·', 'E', '<'], 'Ě'),
        (['·', 'E', '='], '€'),
        (['·', 'E', '>'], 'Ê'),
        (['·', 'E', 'E'], 'Ə'),
        (['·', 'E', '^'], 'Ê'),
        (['·', 'E', '_'], 'Ē'),
        (['·', 'F', '.'], 'Ḟ'),
        (['·', 'F', 'U'], '🖕'),
        (['·', 'G', '('], 'Ğ'),
        (['·', 'G', ','], 'Ģ'),
        (['·', 'G', '.'], 'Ġ'),
        (['·', 'G', 'T'], '>'),
        (['·', 'G', 'U'], 'Ğ'),
        (['·', 'G', '|'], '₲'),
        (['·', 'H', ','], 'Ḩ'),
        (['·', 'H', '='], '₴'),
        (['·', 'I', '"'], 'Ï'),
        (['·', 'I', '\''], 'Í'),
        (['·', 'I', ','], 'Į'),
        (['·', 'I', '-'], 'Ī'),
        (['·', 'I', '.'], 'İ'),
        (['·', 'I', ';'], 'Į'),
        (['·', 'I', '>'], 'Î'),
        (['·', 'I', 'J'], 'Ĳ'),
        (['·', 'I', '^'], 'Î'),
        (['·', 'I', '_'], 'Ī'),
        (['·', 'I', '~'], 'Ĩ'),
        (['·', 'J', '\''], 'J'),
        (['·', 'K', ','], 'Ķ'),
        (['·', 'K', '-'], '₭'),
        (['·', 'L', '\''], 'Ĺ'),
        (['·', 'L', ','], 'Ļ'),
        (['·', 'L', '-'], '£'),
        (['·', 'L', '/'], 'Ł'),
        (['·', 'L', '<'], 'Ľ'),
        (['·', 'L', '='], '₤'),
        (['·', 'L', 'L', 'A', 'P'], '🖖'),
        (['·', 'L', 'T'], '<'),
        (['·', 'L', 'V'], '|'),
        (['·', 'M', '.'], 'Ṁ'),
        (['·', 'N', '\''], 'Ń'),
        (['·', 'N', ','], 'Ņ'),
        (['·', 'N', '<'], 'Ň'),
        (['·', 'N', '='], '₦'),
        (['·', 'N', 'G'], 'Ŋ'),
        (['·', 'N', 'N'], 'ℕ'),
        (['·', 'N', 'O'], '№'),
        (['·', 'N', '~'], 'Ñ'),
        (['·', 'O', '"'], 'Ö'),
        (['·', 'O', '\''], 'Ó'),
        (['·', 'O', ','], 'Ǫ'),
        (['·', 'O', '-'], 'Ō'),
        (['·', 'O', '/'], 'Ø'),
        (['·', 'O', ';'], 'Ǫ'),
        (['·', 'O', '>'], 'Ô'),
        (['·', 'O', 'A'], 'Ⓐ'),
        (['·', 'O', 'C'], '©'),
        (['·', 'O', 'E'], 'Œ'),
        (['·', 'O', 'R'], '®'),
        (['·', 'O', 'S'], '§'),
        (['·', 'O', 'X'], '¤'),
        (['·', 'O', 'Y'], '☮'),
        (['·', 'O', '^'], 'Ô'),
        (['·', 'O', '_'], 'Ō'),
        (['·', 'O', '~'], 'Õ'),
        (['·', 'P', '!'], '¶'),
        (['·', 'P', '.'], 'Ṗ'),
        (['·', 'P', '='], '₽'),
        (['·', 'P', 'P'], '¶'),
        (['·', 'Q', 'Q'], 'ℚ'),
        (['·', 'R', '\''], 'Ŕ'),
        (['·', 'R', ','], 'Ŗ'),
        (['·', 'R', '<'], 'Ř'),
        (['·', 'R', '='], '₹'),
        (['·', 'R', 'O'], '®'),
        (['·', 'R', 'R'], 'ℝ'),
        (['·', 'S', '!'], '§'),
        (['·', 'S', '\''], 'Ś'),
        (['·', 'S', ','], 'Ş'),
        (['·', 'S', '.'], 'Ṡ'),
        (['·', 'S', ';'], 'Ș'),
        (['·', 'S', '<'], 'Š'),
        (['·', 'S', 'M'], '℠'),
        (['·', 'S', 'O'], '§'),
        (['·', 'S', 'S'], 'ẞ'),
        (['·', 'S', '|'], '$'),
        (['·', 'T', ','], 'Ţ'),
        (['·', 'T', '-'], 'Ŧ'),
        (['·', 'T', '.'], 'Ṫ'),
        (['·', 'T', '/'], 'Ŧ'),
        (['·', 'T', ';'], 'Ț'),
        (['·', 'T', '<'], 'Ť'),
        (['·', 'T', '='], '₮'),
        (['·', 'T', 'H'], 'Þ'),
        (['·', 'T', 'M'], '™'),
        (['·', 'U', ' ', ',', 'E'], 'Ḝ'),
        (['·', 'U', '!', 'A'], 'Ặ'),
        (['·', 'U', '"'], 'Ü'),
        (['·', 'U', '\''], 'Ú'),
        (['·', 'U', '*'], 'Ů'),
        (['·', 'U', ','], 'Ų'),
        (['·', 'U', '-'], 'Ū'),
        (['·', 'U', ';'], 'Ų'),
        (['·', 'U', '>'], 'Û'),
        (['·', 'U', 'A'], 'Ă'),
        (['·', 'U', 'E'], 'Ĕ'),
        (['·', 'U', 'G'], 'Ğ'),
        (['·', 'U', 'I'], 'Ĭ'),
        (['·', 'U', 'O'], 'Ŏ'),
        (['·', 'U', 'U'], 'Ŭ'),
        (['·', 'U', '^'], 'Û'),
        (['·', 'U', '_'], 'Ū'),
        (['·', 'U', '~'], 'Ũ'),
        (['·', 'V', 'L'], '|'),
        (['·', 'W', '='], '₩'),
        (['·', 'W', '^'], 'Ŵ'),
        (['·', 'X', 'O'], '¤'),
        (['·', 'Y', '"'], 'Ÿ'),
        (['·', 'Y', '\''], 'Ý'),
        (['·', 'Y', '='], '¥'),
        (['·', 'Y', '^'], 'Ŷ'),
        (['·', 'Z', '\''], 'Ź'),
        (['·', 'Z', '.'], 'Ż'),
        (['·', 'Z', '<'], 'Ž'),
        (['·', 'Z', 'H'], 'Ʒ'),
        (['·', 'Z', 'Z'], 'ℤ'),
        (['·', '[', ']'], '⌷'),
        (['·', '\\', '-'], '⍀'),
        (['·', '\\', '?'], '☭'),
        (['·', ']', '['], '⌷'),
        (['·', '^', '!', 'A'], 'Ậ'),
        (['·', '^', '!', 'E'], 'Ệ'),
        (['·', '^', '!', 'O'], 'Ộ'),
        (['·', '^', '('], '⁽'),
        (['·', '^', ')'], '⁾'),
        (['·', '^', '+'], '⁺'),
        (['·', '^', '-'], '⁻'),
        (['·', '^', '.'], '·'),
        (['·', '^', '/'], '|'),
        (['·', '^', '0'], '⁰'),
        (['·', '^', '1'], '¹'),
        (['·', '^', '2'], '²'),
        (['·', '^', '3'], '³'),
        (['·', '^', '4'], '⁴'),
        (['·', '^', '5'], '⁵'),
        (['·', '^', '6'], '⁶'),
        (['·', '^', '7'], '⁷'),
        (['·', '^', '8'], '⁸'),
        (['·', '^', '9'], '⁹'),
        (['·', '^', '='], '⁼'),
        (['·', '^', 'A'], 'Â'),
        (['·', '^', 'C'], 'Ĉ'),
        (['·', '^', 'E'], 'Ê'),
        (['·', '^', 'G'], 'Ĝ'),
        (['·', '^', 'H'], 'Ĥ'),
        (['·', '^', 'I'], 'Î'),
        (['·', '^', 'J'], 'Ĵ'),
        (['·', '^', 'O'], 'Ô'),
        (['·', '^', 'S'], 'Ŝ'),
        (['·', '^', 'U'], 'Û'),
        (['·', '^', 'W'], 'Ŵ'),
        (['·', '^', 'Y'], 'Ŷ'),
        (['·', '^', 'Z'], 'Ẑ'),
        (['·', '^', '|'], '↑'),
        (['·', '_', ' '], '¯'),
        (['·', '_', '!', 'L'], 'Ḹ'),
        (['·', '_', '!', 'R'], 'Ṝ'),
        (['·', '_', '"', 'A'], 'Ǟ'),
        (['·', '_', '"', 'O'], 'Ȫ'),
        (['·', '_', '"', 'U'], 'Ǖ'),
        (['·', '_', '\''], '⍘'),
        (['·', '_', '('], '₍'),
        (['·', '_', ')'], '₎'),
        (['·', '_', '+'], '₊'),
        (['·', '_', '-'], '₋'),
        (['·', '_', '.', 'A'], 'Ǡ'),
        (['·', '_', '.', 'E'], 'Ė'),
        (['·', '_', '.', 'O'], 'Ȱ'),
        (['·', '_', '0'], '₀'),
        (['·', '_', '1'], '₁'),
        (['·', '_', '2'], '₂'),
        (['·', '_', '3'], '₃'),
        (['·', '_', '4'], '₄'),
        (['·', '_', '5'], '₅'),
        (['·', '_', '6'], '₆'),
        (['·', '_', '7'], '₇'),
        (['·', '_', '8'], '₈'),
        (['·', '_', '9'], '₉'),
        (['·', '_', ';', 'O'], 'Ǭ'),
        (['·', '_', '<'], '≤'),
        (['·', '_', '='], '₌'),
        (['·', '_', '>'], '≥'),
        (['·', '_', 'A'], 'Ā'),
        (['·', '_', 'E'], 'Ē'),
        (['·', '_', 'G'], 'Ḡ'),
        (['·', '_', 'I'], 'Ī'),
        (['·', '_', 'O'], 'Ō'),
        (['·', '_', 'U'], 'Ū'),
        (['·', '_', 'Y'], 'Ȳ'),
        (['·', '_', '^'], '¯'),
        (['·', '_', '_'], '¯'),
        (['·', '_', '~', 'O'], 'Ȭ'),
        (['·', '{', '}'], '∅'),
        (['·', '|', '-'], '†'),
        (['·', '|', '='], '‡'),
        (['·', '|', 'B'], '฿'),
        (['·', '|', 'C'], '₵'),
        (['·', '|', 'G'], '₲'),
        (['·', '|', 'S'], '$'),
        (['·', '|', '^'], '↑'),
        (['·', '|', '~'], '⍭'),
        (['·', '~', '+', 'O'], 'Ỡ'),
        (['·', '~', '+', 'U'], 'Ữ'),
        (['·', '~', '0'], '⍬'),
        (['·', '~', 'A'], 'Ã'),
        (['·', '~', 'E'], 'Ẽ'),
        (['·', '~', 'I'], 'Ĩ'),
        (['·', '~', 'N'], 'Ñ'),
        (['·', '~', 'O'], 'Õ'),
        (['·', '~', 'U'], 'Ũ'),
        (['·', '~', 'V'], 'Ṽ'),
        (['·', '~', 'Y'], 'Ỹ'),
        (['·', '~', '^', 'A'], 'Ẫ'),
        (['·', '~', '^', 'E'], 'Ễ'),
        (['·', '~', '^', 'O'], 'Ỗ'),
        (['·', '~', '|'], '⍭'),
        (['·', '~', '~'], '≈'),
    ],
)
