(
    version: 1,
    layout: "Bangla (India, Probhat)",
    modifiers: [
        (42, [(0, Press(Level2))]),
        (54, [(0, Press(Level2))]),
        (100, [(0, Press(Level3))]),
    ],
    keymap: {
        0: {
            2: '১', 3: '২', 4: '৩', 5: '৪', 6: '৫', 7: '৬', 8: '৭', 9: '৮', 10: '৯', 11: '০', 12: '-', 13: '=',
            16: 'দ', 17: '\u{9c2}', 18: 'ী', 19: 'র', 20: 'ট', 21: 'এ', 22: '\u{9c1}', 23: 'ি', 24: 'ও', 25: 'প', 26: 'ে', 27: 'ো',
            30: '\u{9be}', 31: 'স', 32: 'ড', 33: 'ত', 34: 'গ', 35: 'হ', 36: 'জ', 37: 'ক', 38: 'ল', 39: ';', 40: '\'', 41: '\u{200d}',
            43: '\u{200c}', 44: 'য়', 45: 'শ', 46: 'চ', 47: 'আ', 48: 'ব', 49: 'ন', 50: 'ম', 51: ',', 52: '।', 53: '\u{9cd}',
            83: '\u{7f}',
            86: '<',
        },
        1: {
            2: '!', 3: '@', 4: '#', 5: '৳', 6: '%', 7: '^', 8: 'ঞ', 9: 'ৎ', 10: '(', 11: ')', 12: '_', 13: '+',
            16: 'ধ', 17: 'ঊ', 18: 'ঈ', 19: 'ড়', 20: 'ঠ', 21: 'ঐ', 22: 'উ', 23: 'ই', 24: 'ঔ', 25: 'ফ', 26: 'ৈ', 27: 'ৌ',
            30: 'অ', 31: 'ষ', 32: 'ঢ', 33: 'থ', 34: 'ঘ', 35: 'ঃ', 36: 'ঝ', 37: 'খ', 38: 'ং', 39: ':', 40: '\"', 41: '~',
            43: '॥', 44: 'য', 45: 'ঢ়', 46: 'ছ', 47: 'ঋ', 48: 'ভ', 49: 'ণ', 50: 'ঙ', 51: '\u{9c3}', 52: '\u{981}', 53: '?',
            86: '>',
        },
        2: {
            2: '৴', 3: '৵', 4: '৶', 5: '৷', 8: '৺', 11: '৸',
            19: '₹', 27: '\u{9d7}',
            30: 'ঌ', 31: 'ৡ', 32: '\u{9c4}', 35: 'ঽ',
            52: '\u{9bc}',
            86: '|',
        },
        3: {
            5: '৲', 11: '৹',
            30: 'ৠ', 31: '\u{9e3}', 32: '\u{9e2}',
            86: '¦',
        },
    },
    num_lock_keys: {
        0: {
            71: '7', 72: '8', 73: '9', 75: '4', 76: '5', 77: '6', 79: '1', 80: '2', 81: '3', 82: '0', 83: '.',
        },
    },
    compose: [
        (['·', ' ', ' '], ' '),
        (['·', ' ', '('], '˘'),
        (['·', ' ', ','], '¸'),
        (['·', ' ', '-'], '~'),
        (['·', ' ', '.'], ' '),
        (['·', ' ', '<'], 'ˇ'),
        (['·', ' ', '>'], '^'),
        (['·', ' ', '_'], '¯'),
        (['·', '!', '!'], '¡'),
        (['·', '!', '?'], '‽'),
        (['·', '!', '^'], '¦'),
        (['·', '"', ' '], '¨'),
        (['·', '"', '"'], '¨'),
        (['·', '"', '\''], '̈́'),
        (['·', '"', ','], '„'),
        (['·', '"', '<'], '“'),
        (['·', '"', '>'], '”'),
        (['·', '#', '#'], '♯'),
        (['·', '\'', '"', ' '], '΅'),
        (['·', '\'', '\''], '´'),
        (['·', '\'', ','], '‚'),
        (['·', '\'', '<'], '‘'),
        (['·', '\'', '>'], '’'),
        (['·', '(', ' '], '˘'),
        (['·', '(', '('], '['),
        (['·', '(', ')', ')'], '🄯'),
        (['·', '(', '-'], '{'),
        (['·', '(', '0', ')'], '⓪'),
        (['·', '(', '1', ')'], '①'),
        (['·', '(', '1', '0', ')'], '⑩'),
        (['·', '(', '1', '1', ')'], '⑪'),
        (['·', '(', '1', '2', ')'], '⑫'),
        (['·', '(', '1', '3', ')'], '⑬'),
        (['·', '(', '1', '4', ')'], '⑭'),
        (['·', '(', '1', '5', ')'], '⑮'),
        (['·', '(', '1', '6', ')'], '⑯'),
        (['·', '(', '1', '7', ')'], '⑰'),
        (['·', '(', '1', '8', ')'], '⑱'),
        (['·', '(', '1', '9', ')'], '⑲'),
        (['·', '(', '2', ')'], '②'),
        (['·', '(', '2', '0', ')'], '⑳'),
        (['·', '(', '2', '1', ')'], '㉑'),
        (['·', '(', '2', '2', ')'], '㉒'),
        (['·', '(', '2', '3', ')'], '㉓'),
        (['·', '(', '2', '4', ')'], '㉔'),
        (['·', '(', '2', '5', ')'], '㉕'),
        (['·', '(', '2', '6', ')'], '㉖'),
        (['·', '(', '2', '7', ')'], '㉗'),
        (['·', '(', '2', '8', ')'], '㉘'),
        (['·', '(', '2', '9', ')'], '㉙'),
        (['·', '(', '3', ')'], '③'),
        (['·', '(', '3', '0', ')'], '㉚'),
        (['·', '(', '3', '1', ')'], '㉛'),
        (['·', '(', '3', '2', ')'], '㉜'),
        (['·', '(', '3', '3', ')'], '㉝'),
        (['·', '(', '3', '4', ')'], '㉞'),
        (['·', '(', '3', '5', ')'], '㉟'),
        (['·', '(', '3', '6', ')'], '㊱'),
        (['·', '(', '3', '7', ')'], '㊲'),
        (['·', '(', '3', '8', ')'], '㊳'),
        (['·', '(', '3', '9', ')'], '㊴'),
        (['·', '(', '4', ')'], '④'),
        (['·', '(', '4', '0', ')'], '㊵'),
        (['·', '(', '4', '1', ')'], '㊶'),
        (['·', '(', '4', '2', ')'], '㊷'),
        (['·', '(', '4', '3', ')'], '㊸'),
        (['·', '(', '4', '4', ')'], '㊹'),
        (['·', '(', '4', '5', ')'], '㊺'),
        (['·', '(', '4', '6', ')'], '㊻'),
        (['·', '(', '4', '7', ')'], '㊼'),
        (['·', '(', '4', '8', ')'], '㊽'),
        (['·', '(', '4', '9', ')'], '㊾'),
        (['·', '(', '5', ')'], '⑤'),
        (['·', '(', '5', '0', ')'], '㊿'),
        (['·', '(', '6', ')'], '⑥'),
        (['·', '(', '7', ')'], '⑦'),
        (['·', '(', '8', ')'], '⑧'),
        (['·', '(', '9', ')'], '⑨'),
        (['·', ')', ')'], ']'),
        (['·', ')', '-'], '}'),
        (['·', '*', '0'], '°'),
        (['·', '+', '-'], '±'),
        (['·', ',', ' '], '¸'),
        (['·', ',', '"'], '„'),
        (['·', ',', '\''], '‚'),
        (['·', ',', ','], '¸'),
        (['·', ',', '-'], '¬'),
        (['·', '-', ' '], '~'),
        (['·', '-', '('], '{'),
        (['·', '-', ')'], '}'),
        (['·', '-', '+'], '±'),
        (['·', '-', ','], '¬'),
        (['·', '-', '-', ' '], '­'),
        (['·', '-', '-', '-'], '—'),
        (['·', '-', '-', '.'], '–'),
        (['·', '-', '/'], '⌿'),
        (['·', '-', ':'], '÷'),
        (['·', '-', '>'], '→'),
        (['·', '-', '^'], '¯'),
        (['·', '-', '_'], '−'),
        (['·', '.', ' '], '˙'),
        (['·', '.', '-'], '·'),
        (['·', '.', '.'], '…'),
        (['·', '.', ':'], '∵'),
        (['·', '.', '<'], '‹'),
        (['·', '.', '='], '•'),
        (['·', '.', '>'], '›'),
        (['·', '.', '^'], '·'),
        (['·', '/', '-'], '⌿'),
        (['·', '/', '/'], '\\'),
        (['·', '/', '<'], '\\'),
        (['·', '/', '='], '≠'),
        (['·', '/', '^'], '|'),
        (['·', '0', '*'], '°'),
        (['·', '0', '3'], '↉'),
        (['·', '0', '~'], '⍬'),
        (['·', '1', '1', '0'], '⅒'),
        (['·', '1', '2'], '½'),
        (['·', '1', '3'], '⅓'),
        (['·', '1', '4'], '¼'),
        (['·', '1', '5'], '⅕'),
        (['·', '1', '6'], '⅙'),
        (['·', '1', '7'], '⅐'),
        (['·', '1', '8'], '⅛'),
        (['·', '1', '9'], '⅑'),
        (['·', '1', '^'], '¹'),
        (['·', '2', '3'], '⅔'),
        (['·', '2', '5'], '⅖'),
        (['·', '2', '^'], '²'),
        (['·', '3', '4'], '¾'),
        (['·', '3', '5'], '⅗'),
        (['·', '3', '8'], '⅜'),
        (['·', '3', '^'], '³'),
        (['·', '4', '5'], '⅘'),
        (['·', '5', '6'], '⅚'),
        (['·', '5', '8'], '⅝'),
        (['·', '7', '8'], '⅞'),
        (['·', '8', '8'], '∞'),
        (['·', ':', '('], '☹'),
        (['·', ':', ')'], '☺'),
        (['·', ':', '-'], '÷'),
        (['·', ':', '.'], '∴'),
        (['·', ';', ' '], '˛'),
        (['·', ';', '_'], '⍮'),
        (['·', '<', ' '], 'ˇ'),
        (['·', '<', '"'], '“'),
        (['·', '<', '\''], '‘'),
        (['·', '<', '-'], '←'),
        (['·', '<', '/'], '≮'),
        (['·', '<', '3'], '♥'),
        (['·', '<', '<'], '«'),
        (['·', '<', '='], '≤'),
        (['·', '<', '>'], '⋄'),
        (['·', '<', '_'], '≤'),
        (['·', '=', '/'], '≠'),
        (['·', '=', '<'], '⇐'),
        (['·', '=', '>'], '⇒'),
        (['·', '=', '^'], '⇑'),
        (['·', '=', '_'], '≡'),
        (['·', '>', ' '], '^'),
        (['·', '>', '"'], '”'),
        (['·', '>', '\''], '’'),
        (['·', '>', '/'], '≯'),
        (['·', '>', '<'], '⋄'),
        (['·', '>', '='], '≥'),
        (['·', '>', '>'], '»'),
        (['·', '>', '_'], '≥'),
        (['·', '?', '!'], '⸘'),
        (['·', '?', '?'], '¿'),
        (['·', '^', '('], '⁽'),
        (['·', '^', ')'], '⁾'),
        (['·', '^', '+'], '⁺'),
        (['·', '^', '-'], '⁻'),
        (['·', '^', '.'], '·'),
        (['·', '^', '/'], '|'),
        (['·', '^', '0'], '⁰'),
        (['·', '^', '1'], '¹'),
        (['·', '^', '2'], '²'),
        (['·', '^', '3'], '³'),
        (['·', '^', '4'], '⁴'),
        (['·', '^', '5'], '⁵'),
        (['·', '^', '6'], '⁶'),
        (['·', '^', '7'], '⁷'),
        (['·', '^', '8'], '⁸'),
        (['·', '^', '9'], '⁹'),
        (['·', '^', '='], '⁼'),
        (['·', '^', '|'], '↑'),
        (['·', '_', ' '], '¯'),
        (['·', '_', '\''], '⍘'),
        (['·', '_', '('], '₍'),
        (['·', '_', ')'], '₎'),
        (['·', '_', '+'], '₊'),
        (['·', '_', '-'], '₋'),
        (['·', '_', '0'], '₀'),
        (['·', '_', '1'], '₁'),
        (['·', '_', '2'], '₂'),
        (['·', '_', '3'], '₃'),
        (['·', '_', '4'], '₄'),
        (['·', '_', '5'], '₅'),
        (['·', '_', '6'], '₆'),
        (['·', '_', '7'], '₇'),
        (['·', '_', '8'], '₈'),
        (['·', '_', '9'], '₉'),
        (['·', '_', '<'], '≤'),
        (['·', '_', '='], '₌'),
        (['·', '_', '>'], '≥'),
        (['·', '_', '^'], '¯'),
        (['·', '_', '_'], '¯'),
        (['·', '|', '-'], '†'),
        (['·', '|', '='], '‡'),
        (['·', '|', '^'], '↑'),
        (['·', '|', '~'], '⍭'),
        (['·', '~', '0'], '⍬'),
        (['·', '~', '|'], '⍭'),
        (['·', '~', '~'], '≈'),
    ],
)
