(
    version: 1,
    layout: "Oriya (Wx)",
    modifiers: [
        (42, [(0, Press(Level2))]),
        (54, [(0, Press(Level2))]),
        (100, [(0, Press(Level3))]),
    ],
    keymap: {
        0: {
            2: '୧', 3: '୨', 4: '୩', 5: '୪', 6: '୫', 7: '୬', 8: '୭', 9: '୮', 10: '୯', 11: '୦', 12: '-', 13: '=',
            16: '\u{b43}', 17: 'ତ', 18: 'େ', 19: 'ର', 20: 'ଟ', 21: 'ଯ', 22: '\u{b41}', 23: '\u{b3f}', 24: 'ୋ', 25: 'ପ', 26: '[', 27: ']',
            30: '\u{b4d}', 31: 'ସ', 32: 'ଡ', 33: 'ଙ', 34: 'ଗ', 35: 'ହ', 36: 'ଜ', 37: 'କ', 38: 'ଲ', 39: ';', 40: '\'', 41: '`',
            43: '।', 44: '\u{b01}', 45: 'ଦ', 46: 'ଚ', 47: 'ୱ', 48: 'ବ', 49: 'ନ', 50: 'ମ', 51: ',', 52: '.', 53: '/',
            83: '\u{7f}',
            86: '<',
        },
        1: {
            2: '!', 3: '@', 4: '#', 5: '$', 6: '%', 7: '^', 8: '&', 9: '*', 10: '(', 11: ')', 12: '_', 13: '+',
            16: '\u{b44}', 17: 'ଥ', 18: 'ୈ', 19: 'ଷ', 20: 'ଠ', 21: 'ୟ', 22: '\u{b42}', 23: 'ୀ', 24: 'ୌ', 25: 'ଫ', 26: '{', 27: '}',
            30: '\u{b3e}', 31: 'ଶ', 32: 'ଢ', 33: 'ଞ', 34: 'ଘ', 35: 'ଃ', 36: 'ଝ', 37: 'ଖ', 38: '\u{b62}', 39: ':', 40: '\"', 41: '~',
            43: '॥', 44: '\u{b3c}', 45: 'ଧ', 46: 'ଛ', 47: 'ଵ', 48: 'ଭ', 49: 'ଣ', 50: 'ଂ', 51: '<', 52: '>', 53: '?',
            86: '>',
        },
        2: {
            2: '1', 3: '2', 4: '3', 5: '4', 6: '5', 7: '6', 8: '7', 9: '8', 10: '9', 11: '0',
            16: 'ଋ', 18: 'ଏ', 22: 'ଉ', 23: 'ଇ', 24: 'ଓ',
            30: 'ଅ', 38: 'ଳ', 41: '\u{200c}',
            43: '\\', 44: 'ଽ',
            86: '|',
        },
        3: {
            3: '€', 4: '£', 5: '₹',
            16: 'ୠ', 18: 'ଐ', 22: 'ଊ', 23: 'ଈ', 24: 'ଔ',
            30: 'ଆ', 38: 'ଌ', 41: '\u{200d}',
            43: '|',
            86: '¦',
        },
    },
    num_lock_keys: {
        0: {
            71: '7', 72: '8', 73: '9', 75: '4', 76: '5', 77: '6', 79: '1', 80: '2', 81: '3', 82: '0', 83: '.',
        },
    },
    compose: [
        (['·', ' ', ' '], ' '),
        (['·', ' ', '('], '˘'),
        (['·', ' ', ','], '¸'),
        (['·', ' ', '-'], '~'),
        (['·', ' ', '.'], ' '),
        (['·', ' ', '<'], 'ˇ'),
        (['·', ' ', '>'], '^'),
        (['·', ' ', '_'], '¯'),
        (['·', '!', '!'], '¡'),
        (['·', '!', '?'], '‽'),
        (['·', '!', '^'], '¦'),
        (['·', '"', ' '], '¨'),
        (['·', '"', '"'], '¨'),
        (['·', '"', '\''], '̈́'),
        (['·', '"', ','], '„'),
        (['·', '"', '<'], '“'),
        (['·', '"', '>'], '”'),
        (['·', '#', '#'], '♯'),
        (['·', '\'', '"', ' '], '΅'),
        (['·', '\'', '\''], '´'),
        (['·', '\'', ','], '‚'),
        (['·', '\'', '<'], '‘'),
        (['·', '\'', '>'], '’'),
        (['·', '(', ' '], '˘'),
        (['·', '(', '('], '['),
        (['·', '(', ')', ')'], '🄯'),
        (['·', '(', '-'], '{'),
        (['·', '(', '0', ')'], '⓪'),
        (['·', '(', '1', ')'], '①'),
        (['·', '(', '1', '0', ')'], '⑩'),
        (['·', '(', '1', '1', ')'], '⑪'),
        (['·', '(', '1', '2', ')'], '⑫'),
        (['·', '(', '1', '3', ')'], '⑬'),
        (['·', '(', '1', '4', ')'], '⑭'),
        (['·', '(', '1', '5', ')'], '⑮'),
        (['·', '(', '1', '6', ')'], '⑯'),
        (['·', '(', '1', '7', ')'], '⑰'),
        (['·', '(', '1', '8', ')'], '⑱'),
        (['·', '(', '1', '9', ')'], '⑲'),
        (['·', '(', '2', ')'], '②'),
        (['·', '(', '2', '0', ')'], '⑳'),
        (['·', '(', '2', '1', ')'], '㉑'),
        (['·', '(', '2', '2', ')'], '㉒'),
        (['·', '(', '2', '3', ')'], '㉓'),
        (['·', '(', '2', '4', ')'], '㉔'),
        (['·', '(', '2', '5', ')'], '㉕'),
        (['·', '(', '2', '6', ')'], '㉖'),
        (['·', '(', '2', '7', ')'], '㉗'),
        (['·', '(', '2', '8', ')'], '㉘'),
        (['·', '(', '2', '9', ')'], '㉙'),
        (['·', '(', '3', ')'], '③'),
        (['·', '(', '3', '0', ')'], '㉚'),
        (['·', '(', '3', '1', ')'], '㉛'),
        (['·', '(', '3', '2', ')'], '㉜'),
        (['·', '(', '3', '3', ')'], '㉝'),
        (['·', '(', '3', '4', ')'], '㉞'),
        (['·', '(', '3', '5', ')'], '㉟'),
        (['·', '(', '3', '6', ')'], '㊱'),
        (['·', '(', '3', '7', ')'], '㊲'),
        (['·', '(', '3', '8', ')'], '㊳'),
        (['·', '(', '3', '9', ')'], '㊴'),
        (['·', '(', '4', ')'], '④'),
        (['·', '(', '4', '0', ')'], '㊵'),
        (['·', '(', '4', '1', ')'], '㊶'),
        (['·', '(', '4', '2', ')'], '㊷'),
        (['·', '(', '4', '3', ')'], '㊸'),
        (['·', '(', '4', '4', ')'], '㊹'),
        (['·', '(', '4', '5', ')'], '㊺'),
        (['·', '(', '4', '6', ')'], '㊻'),
        (['·', '(', '4', '7', ')'], '㊼'),
        (['·', '(', '4', '8', ')'], '㊽'),
        (['·', '(', '4', '9', ')'], '㊾'),
        (['·', '(', '5', ')'], '⑤'),
        (['·', '(', '5', '0', ')'], '㊿'),
        (['·', '(', '6', ')'], '⑥'),
        (['·', '(', '7', ')'], '⑦'),
        (['·', '(', '8', ')'], '⑧'),
        (['·', '(', '9', ')'], '⑨'),
        (['·', ')', ')'], ']'),
        (['·', ')', '-'], '}'),
        (['·', '*', '0'], '°'),
        (['·', '+', '-'], '±'),
        (['·', ',', ' '], '¸'),
        (['·', ',', '"'], '„'),
        (['·', ',', '\''], '‚'),
        (['·', ',', ','], '¸'),
        (['·', ',', '-'], '¬'),
        (['·', '-', ' '], '~'),
        (['·', '-', '('], '{'),
        (['·', '-', ')'], '}'),
        (['·', '-', '+'], '±'),
        (['·', '-', ','], '¬'),
        (['·', '-', '-', ' '], '­'),
        (['·', '-', '-', '-'], '—'),
        (['·', '-', '-', '.'], '–'),
        (['·', '-', '/'], '⌿'),
        (['·', '-', ':'], '÷'),
        (['·', '-', '>'], '→'),
        (['·', '-', '\\'], '⍀'),
        (['·', '-', '^'], '¯'),
        (['·', '-', '_'], '−'),
        (['·', '.', ' '], '˙'),
        (['·', '.', '-'], '·'),
        (['·', '.', '.'], '…'),
        (['·', '.', ':'], '∵'),
        (['·', '.', '<'], '‹'),
        (['·', '.', '='], '•'),
        (['·', '.', '>'], '›'),
        (['·', '.', '^'], '·'),
        (['·', '/', '-'], '⌿'),
        (['·', '/', '/'], '\\'),
        (['·', '/', '<'], '\\'),
        (['·', '/', '='], '≠'),
        (['·', '/', '^'], '|'),
        (['·', '0', '*'], '°'),
        (['·', '0', '3'], '↉'),
        (['·', '0', '~'], '⍬'),
        (['·', '1', '1', '0'], '⅒'),
        (['·', '1', '2'], '½'),
        (['·', '1', '3'], '⅓'),
        (['·', '1', '4'], '¼'),
        (['·', '1', '5'], '⅕'),
        (['·', '1', '6'], '⅙'),
        (['·', '1', '7'], '⅐'),
        (['·', '1', '8'], '⅛'),
        (['·', '1', '9'], '⅑'),
        (['·', '1', '^'], '¹'),
        (['·', '2', '3'], '⅔'),
        (['·', '2', '5'], '⅖'),
        (['·', '2', '^'], '²'),
        (['·', '3', '4'], '¾'),
        (['·', '3', '5'], '⅗'),
        (['·', '3', '8'], '⅜'),
        (['·', '3', '^'], '³'),
        (['·', '4', '5'], '⅘'),
        (['·', '5', '6'], '⅚'),
        (['·', '5', '8'], '⅝'),
        (['·', '7', '8'], '⅞'),
        (['·', '8', '8'], '∞'),
        (['·', ':', '('], '☹'),
        (['·', ':', ')'], '☺'),
        (['·', ':', '-'], '÷'),
        (['·', ':', '.'], '∴'),
        (['·', ';', ' '], '˛'),
        (['·', ';', '_'], '⍮'),
        (['·', '<', ' '], 'ˇ'),
        (['·', '<', '"'], '“'),
        (['·', '<', '\''], '‘'),
        (['·', '<', '-'], '←'),
        (['·', '<', '/'], '≮'),
        (['·', '<', '3'], '♥'),
        (['·', '<', '<'], '«'),
        (['·', '<', '='], '≤'),
        (['·', '<', '>'], '⋄'),
        (['·', '<', '_'], '≤'),
        (['·', '=', '/'], '≠'),
        (['·', '=', '<'], '⇐'),
        (['·', '=', '>'], '⇒'),
        (['·', '=', '^'], '⇑'),
        (['·', '=', '_'], '≡'),
        (['·', '>', ' '], '^'),
        (['·', '>', '"'], '”'),
        (['·', '>', '\''], '’'),
        (['·', '>', '/'], '≯'),
        (['·', '>', '<'], '⋄'),
        (['·', '>', '='], '≥'),
        (['·', '>', '>'], '»'),
        (['·', '>', '_'], '≥'),
        (['·', '?', '!'], '⸘'),
        (['·', '?', '?'], '¿'),
        (['·', '?', '\\'], '☭'),
        (['·', '[', ']'], '⌷'),
        (['·', '\\', '-'], '⍀'),
        (['·', '\\', '?'], '☭'),
        (['·', ']', '['], '⌷'),
        (['·', '^', '('], '⁽'),
        (['·', '^', ')'], '⁾'),
        (['·', '^', '+'], '⁺'),
        (['·', '^', '-'], '⁻'),
        (['·', '^', '.'], '·'),
        (['·', '^', '/'], '|'),
        (['·', '^', '0'], '⁰'),
        (['·', '^', '1'], '¹'),
        (['·', '^', '2'], '²'),
        (['·', '^', '3'], '³'),
        (['·', '^', '4'], '⁴'),
        (['·', '^', '5'], '⁵'),
        (['·', '^', '6'], '⁶'),
        (['·', '^', '7'], '⁷'),
        (['·', '^', '8'], '⁸'),
        (['·', '^', '9'], '⁹'),
        (['·', '^', '='], '⁼'),
        (['·', '^', '|'], '↑'),
        (['·', '_', ' '], '¯'),
        (['·', '_', '\''], '⍘'),
        (['·', '_', '('], '₍'),
        (['·', '_', ')'], '₎'),
        (['·', '_', '+'], '₊'),
        (['·', '_', '-'], '₋'),
        (['·', '_', '0'], '₀'),
        (['·', '_', '1'], '₁'),
        (['·', '_', '2'], '₂'),
        (['·', '_', '3'], '₃'),
        (['·', '_', '4'], '₄'),
        (['·', '_', '5'], '₅'),
        (['·', '_', '6'], '₆'),
        (['·', '_', '7'], '₇'),
        (['·', '_', '8'], '₈'),
        (['·', '_', '9'], '₉'),
        (['·', '_', '<'], '≤'),
        (['·', '_', '='], '₌'),
        (['·', '_', '>'], '≥'),
        (['·', '_', '^'], '¯'),
        (['·', '_', '_'], '¯'),
        (['·', '{', '}'], '∅'),
        (['·', '|', '-'], '†'),
        (['·', '|', '='], '‡'),
        (['·', '|', '^'], '↑'),
        (['·', '|', '~'], '⍭'),
        (['·', '~', '0'], '⍬'),
        (['·', '~', '|'], '⍭'),
        (['·', '~', '~'], '≈'),
    ],
)
