(
    version: 1,
    layout: "Japanese (Kana)",
    modifiers: [
        (42, [(0, Press(Level2))]),
        (54, [(0, Press(Level2))]),
        (58, [(1, Lock(Caps)), (2, Lock(Caps)), (3, Lock(Caps)), (4, Lock(Caps)), (5, Lock(Caps)), (6, Lock(Caps)), (7, Lock(Caps))]),
        (84, [(0, Press(Level3))]),
    ],
    keymap: {
        0: {
            2: 'ヌ', 3: 'フ', 4: 'ア', 5: 'ウ', 6: 'エ', 7: 'オ', 8: 'ヤ', 9: 'ユ', 10: 'ヨ', 11: 'ワ', 12: 'ホ', 13: 'ヘ',
            16: 'タ', 17: 'テ', 18: 'イ', 19: 'ス', 20: 'カ', 21: 'ン', 22: 'ナ', 23: 'ニ', 24: 'ラ', 25: 'セ', 26: '゛', 27: '゜',
            30: 'チ', 31: 'ト', 32: 'シ', 33: 'ハ', 34: 'キ', 35: 'ク', 36: 'マ', 37: 'ノ', 38: 'リ', 39: 'レ', 40: 'ケ',
            43: 'ム', 44: 'ツ', 45: 'サ', 46: 'ソ', 47: 'ヒ', 48: 'コ', 49: 'ミ', 50: 'モ', 51: 'ネ', 52: 'ル', 53: 'メ',
            83: '\u{7f}',
            86: '<', 89: 'ロ',
            124: 'ー',
        },
        1: {
            4: 'ァ', 5: 'ゥ', 6: 'ェ', 7: 'ォ', 8: 'ャ', 9: 'ュ', 10: 'ョ', 11: 'ヲ',
            18: 'ィ', 27: '「',
            43: '」', 44: 'ッ', 51: '、', 52: '。', 53: '・',
            86: '>',
        },
        2: {
            86: '|',
        },
        3: {
            86: '¦',
        },
    },
    num_lock_keys: {
        0: {
            71: '7', 72: '8', 73: '9', 75: '4', 76: '5', 77: '6', 79: '1', 80: '2', 81: '3', 82: '0', 83: '.',
        },
    },
    keysym_map: {
        0: {
            41: ZenkakuHankaku,
            58: EisuToggle,
        },
        1: {
            41: KanjiMode,
            93: Romaji,
        },
    },
    compose: [
        (['·', ' ', ' '], ' '),
        (['·', ' ', '('], '˘'),
        (['·', ' ', '-'], '~'),
        (['·', ' ', '.'], ' '),
        (['·', ' ', '<'], 'ˇ'),
        (['·', ' ', '>'], '^'),
        (['·', '#', '#'], '♯'),
        (['·', '(', ' '], '˘'),
        (['·', '(', '('], '['),
        (['·', '(', ')', ')'], '🄯'),
        (['·', '(', '-'], '{'),
        (['·', '(', '0', ')'], '⓪'),
        (['·', '(', '1', ')'], '①'),
        (['·', '(', '1', '0', ')'], '⑩'),
        (['·', '(', '1', '1', ')'], '⑪'),
        (['·', '(', '1', '2', ')'], '⑫'),
        (['·', '(', '1', '3', ')'], '⑬'),
        (['·', '(', '1', '4', ')'], '⑭'),
        (['·', '(', '1', '5', ')'], '⑮'),
        (['·', '(', '1', '6', ')'], '⑯'),
        (['·', '(', '1', '7', ')'], '⑰'),
        (['·', '(', '1', '8', ')'], '⑱'),
        (['·', '(', '1', '9', ')'], '⑲'),
        (['·', '(', '2', ')'], '②'),
        (['·', '(', '2', '0', ')'], '⑳'),
        (['·', '(', '2', '1', ')'], '㉑'),
        (['·', '(', '2', '2', ')'], '㉒'),
        (['·', '(', '2', '3', ')'], '㉓'),
        (['·', '(', '2', '4', ')'], '㉔'),
        (['·', '(', '2', '5', ')'], '㉕'),
        (['·', '(', '2', '6', ')'], '㉖'),
        (['·', '(', '2', '7', ')'], '㉗'),
        (['·', '(', '2', '8', ')'], '㉘'),
        (['·', '(', '2', '9', ')'], '㉙'),
        (['·', '(', '3', ')'], '③'),
        (['·', '(', '3', '0', ')'], '㉚'),
        (['·', '(', '3', '1', ')'], '㉛'),
        (['·', '(', '3', '2', ')'], '㉜'),
        (['·', '(', '3', '3', ')'], '㉝'),
        (['·', '(', '3', '4', ')'], '㉞'),
        (['·', '(', '3', '5', ')'], '㉟'),
        (['·', '(', '3', '6', ')'], '㊱'),
        (['·', '(', '3', '7', ')'], '㊲'),
        (['·', '(', '3', '8', ')'], '㊳'),
        (['·', '(', '3', '9', ')'], '㊴'),
        (['·', '(', '4', ')'], '④'),
        (['·', '(', '4', '0', ')'], '㊵'),
        (['·', '(', '4', '1', ')'], '㊶'),
        (['·', '(', '4', '2', ')'], '㊷'),
        (['·', '(', '4', '3', ')'], '㊸'),
        (['·', '(', '4', '4', ')'], '㊹'),
        (['·', '(', '4', '5', ')'], '㊺'),
        (['·', '(', '4', '6', ')'], '㊻'),
        (['·', '(', '4', '7', ')'], '㊼'),
        (['·', '(', '4', '8', ')'], '㊽'),
        (['·', '(', '4', '9', ')'], '㊾'),
        (['·', '(', '5', ')'], '⑤'),
        (['·', '(', '5', '0', ')'], '㊿'),
        (['·', '(', '6', ')'], '⑥'),
        (['·', '(', '7', ')'], '⑦'),
        (['·', '(', '8', ')'], '⑧'),
        (['·', '(', '9', ')'], '⑨'),
        (['·', '(', 'ア', ')'], '㋐'),
        (['·', '(', 'イ', ')'], '㋑'),
        (['·', '(', 'ウ', ')'], '㋒'),
        (['·', '(', 'エ', ')'], '㋓'),
        (['·', '(', 'オ', ')'], '㋔'),
        (['·', '(', 'カ', ')'], '㋕'),
        (['·', '(', 'キ', ')'], '㋖'),
        (['·', '(', 'ク', ')'], '㋗'),
        (['·', '(', 'ケ', ')'], '㋘'),
        (['·', '(', 'コ', ')'], '㋙'),
        (['·', '(', 'サ', ')'], '㋚'),
        (['·', '(', 'シ', ')'], '㋛'),
        (['·', '(', 'ス', ')'], '㋜'),
        (['·', '(', 'セ', ')'], '㋝'),
        (['·', '(', 'ソ', ')'], '㋞'),
        (['·', '(', 'タ', ')'], '㋟'),
        (['·', '(', 'チ', ')'], '㋠'),
        (['·', '(', 'ツ', ')'], '㋡'),
        (['·', '(', 'テ', ')'], '㋢'),
        (['·', '(', 'ト', ')'], '㋣'),
        (['·', '(', 'ナ', ')'], '㋤'),
        (['·', '(', 'ニ', ')'], '㋥'),
        (['·', '(', 'ヌ', ')'], '㋦'),
        (['·', '(', 'ネ', ')'], '㋧'),
        (['·', '(', 'ノ', ')'], '㋨'),
        (['·', '(', 'ハ', ')'], '㋩'),
        (['·', '(', 'ヒ', ')'], '㋪'),
        (['·', '(', 'フ', ')'], '㋫'),
        (['·', '(', 'ヘ', ')'], '㋬'),
        (['·', '(', 'ホ', ')'], '㋭'),
        (['·', '(', 'マ', ')'], '㋮'),
        (['·', '(', 'ミ', ')'], '㋯'),
        (['·', '(', 'ム', ')'], '㋰'),
        (['·', '(', 'メ', ')'], '㋱'),
        (['·', '(', 'モ', ')'], '㋲'),
        (['·', '(', 'ヤ', ')'], '㋳'),
        (['·', '(', 'ユ', ')'], '㋴'),
        (['·', '(', 'ヨ', ')'], '㋵'),
        (['·', '(', 'ラ', ')'], '㋶'),
        (['·', '(', 'リ', ')'], '㋷'),
        (['·', '(', 'ル', ')'], '㋸'),
        (['·', '(', 'レ', ')'], '㋹'),
        (['·', '(', 'ロ', ')'], '㋺'),
        (['·', '(', 'ワ', ')'], '㋻'),
        (['·', '(', 'ヲ', ')'], '㋾'),
        (['·', ')', ')'], ']'),
        (['·', ')', '-'], '}'),
        (['·', '*', '0'], '°'),
        (['·', '+', '-'], '±'),
        (['·', '-', ' '], '~'),
        (['·', '-', '('], '{'),
        (['·', '-', ')'], '}'),
        (['·', '-', '+'], '±'),
        (['·', '-', '-', ' '], '­'),
        (['·', '-', '-', '-'], '—'),
        (['·', '-', '-', '.'], '–'),
        (['·', '-', '/'], '⌿'),
        (['·', '-', '>'], '→'),
        (['·', '.', ' '], '˙'),
        (['·', '.', '-'], '·'),
        (['·', '.', '.'], '…'),
        (['·', '.', '<'], '‹'),
        (['·', '.', '='], '•'),
        (['·', '.', '>'], '›'),
        (['·', '/', '-'], '⌿'),
        (['·', '/', '/'], '\\'),
        (['·', '/', '<'], '\\'),
        (['·', '/', '='], '≠'),
        (['·', '/', 'ッ'], 'ұ'),
        (['·', '/', 'ョ'], 'Ұ'),
        (['·', '0', '*'], '°'),
        (['·', '0', '3'], '↉'),
        (['·', '1', '1', '0'], '⅒'),
        (['·', '1', '2'], '½'),
        (['·', '1', '3'], '⅓'),
        (['·', '1', '4'], '¼'),
        (['·', '1', '5'], '⅕'),
        (['·', '1', '6'], '⅙'),
        (['·', '1', '7'], '⅐'),
        (['·', '1', '8'], '⅛'),
        (['·', '1', '9'], '⅑'),
        (['·', '2', '3'], '⅔'),
        (['·', '2', '5'], '⅖'),
        (['·', '3', '4'], '¾'),
        (['·', '3', '5'], '⅗'),
        (['·', '3', '8'], '⅜'),
        (['·', '4', '5'], '⅘'),
        (['·', '5', '6'], '⅚'),
        (['·', '5', '8'], '⅝'),
        (['·', '7', '8'], '⅞'),
        (['·', '8', '8'], '∞'),
        (['·', '<', ' '], 'ˇ'),
        (['·', '<', '-'], '←'),
        (['·', '<', '/'], '≮'),
        (['·', '<', '3'], '♥'),
        (['·', '<', '<'], '«'),
        (['·', '<', '='], '≤'),
        (['·', '<', '>'], '⋄'),
        (['·', '=', '/'], '≠'),
        (['·', '=', '<'], '⇐'),
        (['·', '=', '>'], '⇒'),
        (['·', '>', ' '], '^'),
        (['·', '>', '/'], '≯'),
        (['·', '>', '<'], '⋄'),
        (['·', '>', '='], '≥'),
        (['·', '>', '>'], '»'),
        (['·', '|', '-'], '†'),
        (['·', '|', '='], '‡'),
    ],
)
