(
    version: 1,
    layout: "Tamil (Sri Lanka, TamilNet \'99, TAB encoding)",
    repeat_remove: [9, 10, 11, 12, 13, 27, 41, 52, 53],
    modifiers: [
        (42, [(0, Press(Level2))]),
        (54, [(0, Press(Level2))]),
        (84, [(0, Press(Level3))]),
    ],
    keymap: {
        0: {
            2: 'ç', 3: 'ú', 4: 'û', 5: 'ü', 6: 'ý', 7: 'þ', 8: 'ÿ',
            16: 'ë', 17: 'ø', 18: 'ï', 19: 'ê', 20: 'õ', 21: 'ô', 22: 'ó', 23: '¬', 24: '®', 25: '¤', 26: '\u{302}',
            30: 'ò', 31: '÷', 32: 'ù', 33: 'è', 34: 'ð', 35: '¢', 36: 'î', 37: 'ñ', 38: 'ì', 39: 'ö', 40: 'é',
            43: '\\', 44: 'í', 45: 'å', 46: 'à', 47: 'â', 48: 'ª', 49: '¬', 50: 'Ü', 51: 'Þ',
            83: '\u{7f}',
            86: '<',
        },
        1: {
            2: '§', 3: '¨',
            16: '³', 17: 'Á', 18: '¸', 19: '²', 20: '¾', 21: '½', 22: '¼', 23: 'ä', 24: '¯', 25: '¦', 26: '¦',
            30: '»', 31: 'À', 32: 'Â', 33: '°', 34: '¹', 35: '£', 36: '¶', 37: 'º', 38: '´', 39: '¿', 40: '±',
            43: '|', 44: 'µ', 45: 'æ', 46: 'á', 47: 'ã', 48: '«', 49: '£', 50: 'Ý', 51: 'ß',
            86: '>',
        },
        2: {
            86: '|',
        },
        3: {
            86: '¦',
        },
    },
    num_lock_keys: {
        0: {
            71: '7', 72: '8', 73: '9', 75: '4', 76: '5', 77: '6', 79: '1', 80: '2', 81: '3', 82: '0', 83: '.',
        },
    },
    compose: [
        (['·', ' ', ' '], ' '),
        (['·', ' ', '('], '˘'),
        (['·', ' ', '-'], '~'),
        (['·', ' ', '.'], ' '),
        (['·', ' ', '<'], 'ˇ'),
        (['·', ' ', '>'], '^'),
        (['·', '#', '#'], '♯'),
        (['·', '(', ' '], '˘'),
        (['·', '(', '('], '['),
        (['·', '(', ')', ')'], '🄯'),
        (['·', '(', '-'], '{'),
        (['·', '(', '0', ')'], '⓪'),
        (['·', '(', '1', ')'], '①'),
        (['·', '(', '1', '0', ')'], '⑩'),
        (['·', '(', '1', '1', ')'], '⑪'),
        (['·', '(', '1', '2', ')'], '⑫'),
        (['·', '(', '1', '3', ')'], '⑬'),
        (['·', '(', '1', '4', ')'], '⑭'),
        (['·', '(', '1', '5', ')'], '⑮'),
        (['·', '(', '1', '6', ')'], '⑯'),
        (['·', '(', '1', '7', ')'], '⑰'),
        (['·', '(', '1', '8', ')'], '⑱'),
        (['·', '(', '1', '9', ')'], '⑲'),
        (['·', '(', '2', ')'], '②'),
        (['·', '(', '2', '0', ')'], '⑳'),
        (['·', '(', '2', '1', ')'], '㉑'),
        (['·', '(', '2', '2', ')'], '㉒'),
        (['·', '(', '2', '3', ')'], '㉓'),
        (['·', '(', '2', '4', ')'], '㉔'),
        (['·', '(', '2', '5', ')'], '㉕'),
        (['·', '(', '2', '6', ')'], '㉖'),
        (['·', '(', '2', '7', ')'], '㉗'),
        (['·', '(', '2', '8', ')'], '㉘'),
        (['·', '(', '2', '9', ')'], '㉙'),
        (['·', '(', '3', ')'], '③'),
        (['·', '(', '3', '0', ')'], '㉚'),
        (['·', '(', '3', '1', ')'], '㉛'),
        (['·', '(', '3', '2', ')'], '㉜'),
        (['·', '(', '3', '3', ')'], '㉝'),
        (['·', '(', '3', '4', ')'], '㉞'),
        (['·', '(', '3', '5', ')'], '㉟'),
        (['·', '(', '3', '6', ')'], '㊱'),
        (['·', '(', '3', '7', ')'], '㊲'),
        (['·', '(', '3', '8', ')'], '㊳'),
        (['·', '(', '3', '9', ')'], '㊴'),
        (['·', '(', '4', ')'], '④'),
        (['·', '(', '4', '0', ')'], '㊵'),
        (['·', '(', '4', '1', ')'], '㊶'),
        (['·', '(', '4', '2', ')'], '㊷'),
        (['·', '(', '4', '3', ')'], '㊸'),
        (['·', '(', '4', '4', ')'], '㊹'),
        (['·', '(', '4', '5', ')'], '㊺'),
        (['·', '(', '4', '6', ')'], '㊻'),
        (['·', '(', '4', '7', ')'], '㊼'),
        (['·', '(', '4', '8', ')'], '㊽'),
        (['·', '(', '4', '9', ')'], '㊾'),
        (['·', '(', '5', ')'], '⑤'),
        (['·', '(', '5', '0', ')'], '㊿'),
        (['·', '(', '6', ')'], '⑥'),
        (['·', '(', '7', ')'], '⑦'),
        (['·', '(', '8', ')'], '⑧'),
        (['·', '(', '9', ')'], '⑨'),
        (['·', ')', ')'], ']'),
        (['·', ')', '-'], '}'),
        (['·', '*', '0'], '°'),
        (['·', '*', '¨'], '⍣'),
        (['·', '+', '-'], '±'),
        (['·', '-', ' '], '~'),
        (['·', '-', '('], '{'),
        (['·', '-', ')'], '}'),
        (['·', '-', '+'], '±'),
        (['·', '-', '-', ' '], '­'),
        (['·', '-', '-', '-'], '—'),
        (['·', '-', '-', '.'], '–'),
        (['·', '-', '/'], '⌿'),
        (['·', '-', '>'], '→'),
        (['·', '-', '\\'], '⍀'),
        (['·', '.', ' '], '˙'),
        (['·', '.', '-'], '·'),
        (['·', '.', '.'], '…'),
        (['·', '.', '<'], '‹'),
        (['·', '.', '='], '•'),
        (['·', '.', '>'], '›'),
        (['·', '/', '-'], '⌿'),
        (['·', '/', '/'], '\\'),
        (['·', '/', '<'], '\\'),
        (['·', '/', '='], '≠'),
        (['·', '0', '*'], '°'),
        (['·', '0', '3'], '↉'),
        (['·', '1', '1', '0'], '⅒'),
        (['·', '1', '2'], '½'),
        (['·', '1', '3'], '⅓'),
        (['·', '1', '4'], '¼'),
        (['·', '1', '5'], '⅕'),
        (['·', '1', '6'], '⅙'),
        (['·', '1', '7'], '⅐'),
        (['·', '1', '8'], '⅛'),
        (['·', '1', '9'], '⅑'),
        (['·', '2', '3'], '⅔'),
        (['·', '2', '5'], '⅖'),
        (['·', '3', '4'], '¾'),
        (['·', '3', '5'], '⅗'),
        (['·', '3', '8'], '⅜'),
        (['·', '4', '5'], '⅘'),
        (['·', '5', '6'], '⅚'),
        (['·', '5', '8'], '⅝'),
        (['·', '7', '8'], '⅞'),
        (['·', '8', '8'], '∞'),
        (['·', '<', ' '], 'ˇ'),
        (['·', '<', '-'], '←'),
        (['·', '<', '/'], '≮'),
        (['·', '<', '3'], '♥'),
        (['·', '<', '<'], '«'),
        (['·', '<', '='], '≤'),
        (['·', '<', '>'], '⋄'),
        (['·', '=', '/'], '≠'),
        (['·', '=', '<'], '⇐'),
        (['·', '=', '>'], '⇒'),
        (['·', '>', ' '], '^'),
        (['·', '>', '/'], '≯'),
        (['·', '>', '<'], '⋄'),
        (['·', '>', '='], '≥'),
        (['·', '>', '>'], '»'),
        (['·', '>', '¨'], '⍩'),
        (['·', '\\', '-'], '⍀'),
        (['·', '|', '-'], '†'),
        (['·', '|', '='], '‡'),
        (['·', '|', '̂'], '↑'),
        (['·', '¨', '*'], '⍣'),
        (['·', '¨', '>'], '⍩'),
        (['·', '¨', '´'], '΅'),
        (['·', '¯', 'Ü'], 'Ǖ'),
        (['·', '¯', 'ä'], 'ǟ'),
        (['·', '¯', 'æ'], 'ǣ'),
        (['·', '¯', 'õ'], 'ȭ'),
        (['·', '¯', 'ö'], 'ȫ'),
        (['·', '¯', 'ü'], 'ǖ'),
        (['·', '´', 'Â'], 'Ấ'),
        (['·', '´', 'Ü'], 'Ǘ'),
        (['·', '´', 'â'], 'ấ'),
        (['·', '´', 'å'], 'ǻ'),
        (['·', '´', 'æ'], 'ǽ'),
        (['·', '´', 'ç'], 'ḉ'),
        (['·', '´', 'ê'], 'ế'),
        (['·', '´', 'ï'], 'ḯ'),
        (['·', '´', 'ô'], 'ố'),
        (['·', '´', 'õ'], 'ṍ'),
        (['·', '´', 'ø'], 'ǿ'),
        (['·', '´', 'ü'], 'ǘ'),
        (['·', '̂', '|'], '↑'),
        (['̂', ' '], '^'),
        (['̂', '('], '⁽'),
        (['̂', ')'], '⁾'),
        (['̂', '+'], '⁺'),
        (['̂', '-'], '⁻'),
        (['̂', '.'], '·'),
        (['̂', '0'], '⁰'),
        (['̂', '1'], '¹'),
        (['̂', '2'], '²'),
        (['̂', '3'], '³'),
        (['̂', '4'], '⁴'),
        (['̂', '5'], '⁵'),
        (['̂', '6'], '⁶'),
        (['̂', '7'], '⁷'),
        (['̂', '8'], '⁸'),
        (['̂', '9'], '⁹'),
        (['̂', '='], '⁼'),
        (['̂', 'À'], 'Ầ'),
        (['̂', 'Á'], 'Ấ'),
        (['̂', 'à'], 'ầ'),
        (['̂', 'á'], 'ấ'),
        (['̂', 'ã'], 'ẫ'),
        (['̂', 'è'], 'ề'),
        (['̂', 'é'], 'ế'),
        (['̂', 'ò'], 'ồ'),
        (['̂', 'ó'], 'ố'),
        (['̂', 'õ'], 'ỗ'),
        (['̂', '̂'], '^'),
    ],
)
