(
    version: 1,
    layout: "Lithuanian (LEKPa)",
    modifiers: [
        (42, [(0, Press(Level2))]),
        (54, [(0, Press(Level2))]),
        (100, [(0, Press(Level3))]),
    ],
    keymap: {
        0: {
            2: '/', 3: '\\', 4: '.', 5: ',', 6: 'f', 7: '!', 8: 'w', 9: 'ų', 10: 'į', 11: '(', 12: ')', 13: ':',
            16: 'q', 17: 'g', 18: 'r', 19: 'l', 20: 'd', 21: 'č', 22: 'j', 23: 'u', 24: 'ė', 25: 'ę', 26: '?', 27: '=',
            30: 'a', 31: 'k', 32: 's', 33: 't', 34: 'm', 35: 'p', 36: 'n', 37: 'e', 38: 'i', 39: 'o', 40: 'y', 41: '`',
            43: '\'', 44: 'z', 45: 'x', 46: 'c', 47: 'v', 48: 'ž', 49: 'š', 50: 'b', 51: 'ū', 52: 'ą', 53: 'h',
            58: '\u{8}',
            83: '\u{7f}',
            86: '<',
        },
        1: {
            2: '\"', 3: '@', 4: '{', 5: '}', 6: 'F', 7: '–', 8: 'W', 9: 'Ų', 10: 'Į', 11: '„', 12: '“', 13: ';',
            16: 'Q', 17: 'G', 18: 'R', 19: 'L', 20: 'D', 21: 'Č', 22: 'J', 23: 'U', 24: 'Ė', 25: 'Ę', 26: '[', 27: ']',
            30: 'A', 31: 'K', 32: 'S', 33: 'T', 34: 'M', 35: 'P', 36: 'N', 37: 'E', 38: 'I', 39: 'O', 40: 'Y', 41: '~',
            43: '_', 44: 'Z', 45: 'X', 46: 'C', 47: 'V', 48: 'Ž', 49: 'Š', 50: 'B', 51: 'Ū', 52: 'Ą', 53: 'H',
            86: '>',
        },
        2: {
            2: '|', 3: '§', 4: '#', 5: '£', 6: '&', 11: '®', 12: '©', 13: '™',
            16: '€', 17: '7', 18: '8', 19: '9', 20: '%', 23: '.', 24: '-', 25: '/', 26: '÷',
            30: '0', 31: '4', 32: '5', 33: '6', 34: '$', 37: ',', 38: '+', 39: '*', 40: '×', 41: '´',
            44: '^', 45: '1', 46: '2', 47: '3', 50: '°', 51: '<', 52: '>',
            86: '|',
        },
        3: {
            86: '¦',
        },
    },
    num_lock_keys: {
        0: {
            71: '7', 72: '8', 73: '9', 75: '4', 76: '5', 77: '6', 79: '1', 80: '2', 81: '3', 82: '0', 83: '.',
        },
    },
    compose: [
        (['·', ' ', ' '], ' '),
        (['·', ' ', '\''], '\''),
        (['·', ' ', '-'], '~'),
        (['·', ' ', '>'], '^'),
        (['·', ' ', '^'], '^'),
        (['·', ' ', '`'], '`'),
        (['·', ' ', '~'], '~'),
        (['·', '!', 'P'], '¶'),
        (['·', '!', 'S'], '§'),
        (['·', '!', '^'], '¦'),
        (['·', '!', 'p'], '¶'),
        (['·', '!', 's'], '§'),
        (['·', '"', '<'], '“'),
        (['·', '"', '>'], '”'),
        (['·', '"', 'A'], 'Ä'),
        (['·', '"', 'O'], 'Ö'),
        (['·', '"', 'U'], 'Ü'),
        (['·', '"', 'a'], 'ä'),
        (['·', '"', 'o'], 'ö'),
        (['·', '"', 'u'], 'ü'),
        (['·', '\'', ' '], '\''),
        (['·', '\'', '\''], '’'),
        (['·', '\'', '<'], '`'),
        (['·', '\'', '>'], '’'),
        (['·', '\'', 'C'], 'Ć'),
        (['·', '\'', 'E'], 'É'),
        (['·', '\'', 'N'], 'Ń'),
        (['·', '\'', 'O'], 'Ó'),
        (['·', '\'', 'S'], 'Ś'),
        (['·', '\'', 'Z'], 'Ź'),
        (['·', '\'', 'c'], 'ć'),
        (['·', '\'', 'e'], 'é'),
        (['·', '\'', 'n'], 'ń'),
        (['·', '\'', 'o'], 'ó'),
        (['·', '\'', 's'], 'ś'),
        (['·', '\'', 'z'], 'ź'),
        (['·', '(', '('], '['),
        (['·', '(', '-'], '{'),
        (['·', '(', 'c'], '©'),
        (['·', '(', 'r'], '®'),
        (['·', ')', ')'], ']'),
        (['·', ')', '-'], '}'),
        (['·', '*', '0'], '°'),
        (['·', '*', 'A'], 'Å'),
        (['·', '*', 'a'], 'å'),
        (['·', '+', '-'], '±'),
        (['·', ',', '-'], '¬'),
        (['·', ',', '>'], '„'),
        (['·', ',', 'A'], 'Ą'),
        (['·', ',', 'E'], 'Ę'),
        (['·', ',', 'G'], 'Ģ'),
        (['·', ',', 'I'], 'Į'),
        (['·', ',', 'K'], 'Ķ'),
        (['·', ',', 'L'], 'Ļ'),
        (['·', ',', 'N'], 'Ņ'),
        (['·', ',', 'R'], 'Ŗ'),
        (['·', ',', 'U'], 'Ų'),
        (['·', ',', 'a'], 'ą'),
        (['·', ',', 'e'], 'ę'),
        (['·', ',', 'g'], 'ģ'),
        (['·', ',', 'i'], 'į'),
        (['·', ',', 'k'], 'ķ'),
        (['·', ',', 'l'], 'ļ'),
        (['·', ',', 'n'], 'ņ'),
        (['·', ',', 'r'], 'ŗ'),
        (['·', ',', 'u'], 'ų'),
        (['·', '-', ' '], '~'),
        (['·', '-', '('], '{'),
        (['·', '-', ')'], '}'),
        (['·', '-', '+'], '±'),
        (['·', '-', ','], '¬'),
        (['·', '-', '-'], '­'),
        (['·', '-', ':'], '÷'),
        (['·', '-', 'A'], 'Ā'),
        (['·', '-', 'E'], 'Ē'),
        (['·', '-', 'I'], 'Ī'),
        (['·', '-', 'L'], 'Ł'),
        (['·', '-', 'O'], 'Ō'),
        (['·', '-', 'U'], 'Ū'),
        (['·', '-', 'a'], 'ā'),
        (['·', '-', 'e'], 'ē'),
        (['·', '-', 'i'], 'ī'),
        (['·', '-', 'l'], 'ł'),
        (['·', '-', 'o'], 'ō'),
        (['·', '-', 'u'], 'ū'),
        (['·', '.', '.'], '·'),
        (['·', '.', 'E'], 'Ė'),
        (['·', '.', 'Z'], 'Ż'),
        (['·', '.', '^'], '·'),
        (['·', '.', 'e'], 'ė'),
        (['·', '.', 'z'], 'ż'),
        (['·', '/', '/'], '\\'),
        (['·', '/', '<'], '\\'),
        (['·', '/', 'C'], '¢'),
        (['·', '/', 'L'], 'Ł'),
        (['·', '/', 'O'], 'Ø'),
        (['·', '/', 'U'], 'µ'),
        (['·', '/', '^'], '|'),
        (['·', '/', 'c'], '¢'),
        (['·', '/', 'l'], 'ł'),
        (['·', '/', 'o'], 'ø'),
        (['·', '/', 'u'], 'µ'),
        (['·', '0', '*'], '°'),
        (['·', '0', 'C'], '©'),
        (['·', '0', 'S'], '§'),
        (['·', '0', 'X'], '¤'),
        (['·', '0', '^'], '°'),
        (['·', '0', 'c'], '©'),
        (['·', '0', 's'], '§'),
        (['·', '0', 'x'], '¤'),
        (['·', '1', '2'], '½'),
        (['·', '1', '4'], '¼'),
        (['·', '1', 'S'], '¹'),
        (['·', '1', '^'], '¹'),
        (['·', '1', 's'], '¹'),
        (['·', '2', 'S'], '²'),
        (['·', '2', '^'], '²'),
        (['·', '2', 's'], '²'),
        (['·', '3', '4'], '¾'),
        (['·', '3', 'S'], '³'),
        (['·', '3', '^'], '³'),
        (['·', '3', 's'], '³'),
        (['·', ':', '-'], '÷'),
        (['·', ';', 'A'], 'Ą'),
        (['·', ';', 'E'], 'Ę'),
        (['·', ';', 'I'], 'Į'),
        (['·', ';', 'U'], 'Ų'),
        (['·', ';', 'a'], 'ą'),
        (['·', ';', 'e'], 'ę'),
        (['·', ';', 'i'], 'į'),
        (['·', ';', 'u'], 'ų'),
        (['·', '<', '"'], '“'),
        (['·', '<', '\''], '`'),
        (['·', '<', '/'], '\\'),
        (['·', '<', '<'], '«'),
        (['·', '<', 'C'], 'Č'),
        (['·', '<', 'S'], 'Š'),
        (['·', '<', 'Z'], 'Ž'),
        (['·', '<', 'c'], 'č'),
        (['·', '<', 's'], 'š'),
        (['·', '<', 'z'], 'ž'),
        (['·', '=', 'L'], '£'),
        (['·', '=', 'l'], '£'),
        (['·', '>', ' '], '^'),
        (['·', '>', '"'], '”'),
        (['·', '>', '\''], '’'),
        (['·', '>', ','], '„'),
        (['·', '>', '>'], '»'),
        (['·', '?', '?'], '¿'),
        (['·', 'A', '"'], 'Ä'),
        (['·', 'A', '*'], 'Å'),
        (['·', 'A', ','], 'Ą'),
        (['·', 'A', '-'], 'Ā'),
        (['·', 'A', ';'], 'Ą'),
        (['·', 'A', 'A'], 'Å'),
        (['·', 'A', 'E'], 'Æ'),
        (['·', 'A', 'O'], 'Å'),
        (['·', 'A', 'T'], '@'),
        (['·', 'A', '_'], 'Ā'),
        (['·', 'B', 'V'], '¦'),
        (['·', 'C', '\''], 'Ć'),
        (['·', 'C', '/'], '¢'),
        (['·', 'C', '0'], '©'),
        (['·', 'C', '<'], 'Č'),
        (['·', 'C', 'O'], '©'),
        (['·', 'C', 'o'], '©'),
        (['·', 'C', '|'], '¢'),
        (['·', 'E', '\''], 'É'),
        (['·', 'E', ','], 'Ę'),
        (['·', 'E', '-'], 'Ē'),
        (['·', 'E', '.'], 'Ė'),
        (['·', 'E', ';'], 'Ę'),
        (['·', 'E', '_'], 'Ē'),
        (['·', 'E', '´'], 'É'),
        (['·', 'G', ','], 'Ģ'),
        (['·', 'I', ','], 'Į'),
        (['·', 'I', '-'], 'Ī'),
        (['·', 'I', ';'], 'Į'),
        (['·', 'I', '_'], 'Ī'),
        (['·', 'K', ','], 'Ķ'),
        (['·', 'L', ','], 'Ļ'),
        (['·', 'L', '-'], 'Ł'),
        (['·', 'L', '/'], 'Ł'),
        (['·', 'L', '='], '£'),
        (['·', 'N', '\''], 'Ń'),
        (['·', 'N', ','], 'Ņ'),
        (['·', 'O', '"'], 'Ö'),
        (['·', 'O', '\''], 'Ó'),
        (['·', 'O', '-'], 'Ō'),
        (['·', 'O', '/'], 'Ø'),
        (['·', 'O', 'C'], '©'),
        (['·', 'O', 'R'], '®'),
        (['·', 'O', 'S'], '§'),
        (['·', 'O', 'X'], '¤'),
        (['·', 'O', '_'], 'Ō'),
        (['·', 'O', 'c'], '©'),
        (['·', 'O', 'x'], '¤'),
        (['·', 'O', '~'], 'Õ'),
        (['·', 'P', '!'], '¶'),
        (['·', 'R', ','], 'Ŗ'),
        (['·', 'R', 'O'], '®'),
        (['·', 'S', '!'], '§'),
        (['·', 'S', '\''], 'Ś'),
        (['·', 'S', '0'], '§'),
        (['·', 'S', '1'], '¹'),
        (['·', 'S', '2'], '²'),
        (['·', 'S', '3'], '³'),
        (['·', 'S', '<'], 'Š'),
        (['·', 'S', 'O'], '§'),
        (['·', 'U', '"'], 'Ü'),
        (['·', 'U', ','], 'Ų'),
        (['·', 'U', '-'], 'Ū'),
        (['·', 'U', '/'], 'µ'),
        (['·', 'U', ';'], 'Ų'),
        (['·', 'U', '_'], 'Ū'),
        (['·', 'V', 'B'], '¦'),
        (['·', 'X', '0'], '¤'),
        (['·', 'X', 'O'], '¤'),
        (['·', 'X', 'o'], '¤'),
        (['·', 'Z', '\''], 'Ź'),
        (['·', 'Z', '.'], 'Ż'),
        (['·', 'Z', '<'], 'Ž'),
        (['·', '^', ' '], '^'),
        (['·', '^', '!'], '¦'),
        (['·', '^', '.'], '·'),
        (['·', '^', '/'], '|'),
        (['·', '^', '0'], '°'),
        (['·', '^', '1'], '¹'),
        (['·', '^', '2'], '²'),
        (['·', '^', '3'], '³'),
        (['·', '_', 'A'], 'Ā'),
        (['·', '_', 'E'], 'Ē'),
        (['·', '_', 'I'], 'Ī'),
        (['·', '_', 'O'], 'Ō'),
        (['·', '_', 'U'], 'Ū'),
        (['·', '_', 'a'], 'ā'),
        (['·', '_', 'e'], 'ē'),
        (['·', '_', 'i'], 'ī'),
        (['·', '_', 'o'], 'ō'),
        (['·', '_', 'u'], 'ū'),
        (['·', '`', ' '], '`'),
        (['·', 'a', '"'], 'ä'),
        (['·', 'a', '*'], 'å'),
        (['·', 'a', ','], 'ą'),
        (['·', 'a', '-'], 'ā'),
        (['·', 'a', ';'], 'ą'),
        (['·', 'a', '_'], 'ā'),
        (['·', 'a', 'a'], 'å'),
        (['·', 'a', 'e'], 'æ'),
        (['·', 'a', 'o'], 'å'),
        (['·', 'b', 'v'], '¦'),
        (['·', 'c', '\''], 'ć'),
        (['·', 'c', '/'], '¢'),
        (['·', 'c', '0'], '©'),
        (['·', 'c', '<'], 'č'),
        (['·', 'c', 'O'], '©'),
        (['·', 'c', 'o'], '©'),
        (['·', 'c', '|'], '¢'),
        (['·', 'e', '\''], 'é'),
        (['·', 'e', ','], 'ę'),
        (['·', 'e', '-'], 'ē'),
        (['·', 'e', '.'], 'ė'),
        (['·', 'e', ';'], 'ę'),
        (['·', 'e', '_'], 'ē'),
        (['·', 'e', '´'], 'é'),
        (['·', 'g', ','], 'ģ'),
        (['·', 'i', ','], 'į'),
        (['·', 'i', '-'], 'ī'),
        (['·', 'i', ';'], 'į'),
        (['·', 'i', '_'], 'ī'),
        (['·', 'k', ','], 'ķ'),
        (['·', 'l', ','], 'ļ'),
        (['·', 'l', '-'], 'ł'),
        (['·', 'l', '/'], 'ł'),
        (['·', 'l', '='], '£'),
        (['·', 'm', 'u'], 'µ'),
        (['·', 'n', '\''], 'ń'),
        (['·', 'n', ','], 'ņ'),
        (['·', 'o', '"'], 'ö'),
        (['·', 'o', '\''], 'ó'),
        (['·', 'o', '-'], 'ō'),
        (['·', 'o', '/'], 'ø'),
        (['·', 'o', 'C'], '©'),
        (['·', 'o', 'X'], '¤'),
        (['·', 'o', '_'], 'ō'),
        (['·', 'o', 'c'], '©'),
        (['·', 'o', 's'], '§'),
        (['·', 'o', 'x'], '¤'),
        (['·', 'o', '~'], 'õ'),
        (['·', 'p', '!'], '¶'),
        (['·', 'r', ','], 'ŗ'),
        (['·', 's', '!'], '§'),
        (['·', 's', '\''], 'ś'),
        (['·', 's', '0'], '§'),
        (['·', 's', '1'], '¹'),
        (['·', 's', '2'], '²'),
        (['·', 's', '3'], '³'),
        (['·', 's', '<'], 'š'),
        (['·', 's', 'o'], '§'),
        (['·', 's', 's'], 'ß'),
        (['·', 'u', '"'], 'ü'),
        (['·', 'u', ','], 'ų'),
        (['·', 'u', '-'], 'ū'),
        (['·', 'u', '/'], 'µ'),
        (['·', 'u', ';'], 'ų'),
        (['·', 'u', '_'], 'ū'),
        (['·', 'v', 'b'], '¦'),
        (['·', 'x', '0'], '¤'),
        (['·', 'x', 'O'], '¤'),
        (['·', 'x', 'o'], '¤'),
        (['·', 'x', 'x'], '×'),
        (['·', 'z', '\''], 'ź'),
        (['·', 'z', '.'], 'ż'),
        (['·', 'z', '<'], 'ž'),
        (['·', '|', 'C'], '¢'),
        (['·', '|', 'c'], '¢'),
        (['·', '|', '|'], '¦'),
        (['·', '~', ' '], '~'),
        (['·', '~', 'O'], 'Õ'),
        (['·', '~', 'o'], 'õ'),
        (['·', '´', 'E'], 'É'),
        (['·', '´', 'e'], 'é'),
    ],
)
