(
    version: 1,
    layout: "Latvian (Modern Latin)",
    modifiers: [
        (35, [(0, Latch(Level3))]),
        (42, [(0, Press(Level2))]),
        (54, [(0, Press(Level2))]),
        (100, [(0, Press(Level3))]),
    ],
    keymap: {
        0: {
            2: '1', 3: '2', 4: '3', 5: '4', 6: '5', 7: '6', 8: '7', 9: '8', 10: '9', 11: '0', 12: '-', 13: '=',
            16: 'ē', 17: 'o', 18: 'ā', 19: 'p', 20: 'b', 21: 'j', 22: 'd', 23: 'ī', 24: 'l', 25: 'g', 26: '[', 27: ']',
            30: 'e', 31: 'u', 32: 'a', 33: 'n', 34: 'k', 36: 's', 37: 'i', 38: 't', 39: 'r', 40: 'm', 41: '`',
            43: '/', 44: 'x', 45: 'z', 46: 'c', 47: 'v', 48: 'w', 49: 'f', 50: 'y', 51: 'h', 52: ',', 53: '.',
            83: '\u{7f}',
            86: 'q',
        },
        1: {
            2: '!', 3: '@', 4: '#', 5: '$', 6: '%', 7: '^', 8: '&', 9: '*', 10: '(', 11: ')', 12: '_', 13: '+',
            16: 'Ē', 17: 'O', 18: 'Ā', 19: 'P', 20: 'B', 21: 'J', 22: 'D', 23: 'Ī', 24: 'L', 25: 'G', 26: '{', 27: '}',
            30: 'E', 31: 'U', 32: 'A', 33: 'N', 34: 'K', 35: '\"', 36: 'S', 37: 'I', 38: 'T', 39: 'R', 40: 'M', 41: '~',
            43: '?', 44: 'X', 45: 'Z', 46: 'C', 47: 'V', 48: 'W', 49: 'F', 50: 'Y', 51: 'H', 52: ';', 53: ':',
            86: 'Q',
        },
        2: {
            2: '¹', 3: '²', 4: '³', 5: '€', 6: '½', 7: '¾', 8: '{', 9: '[', 10: ']', 11: '}', 12: '\\', 13: '–',
            17: 'ō', 19: '?', 20: '!', 21: '—', 22: '–', 24: 'ļ', 25: 'ģ', 26: '«', 27: '»',
            31: 'ū', 33: 'ņ', 34: 'ķ', 35: '\'', 36: 'š', 39: 'ŗ', 41: '´',
            43: '\\', 44: 'q', 45: 'ž', 46: 'č', 47: '|', 48: '\\', 49: '.', 50: 'ȳ', 51: 'ḩ', 52: '<', 53: '>',
            57: '\'',
        },
        3: {
            2: '¡', 3: '⅛', 4: '£', 5: '¢', 6: '⅜', 7: '⅝', 8: '⅞', 9: '™', 10: '±', 11: '°', 12: '¿', 13: '—',
            17: 'Ō', 24: 'Ļ', 25: 'Ģ', 26: '“', 27: '”',
            31: 'Ū', 33: 'Ņ', 34: 'Ķ', 36: 'Š', 39: 'Ŗ', 41: '©',
            43: '|', 44: 'Q', 45: 'Ž', 46: 'Č', 50: 'Ȳ', 51: 'Ḩ', 52: '×', 53: '÷',
        },
    },
    num_lock_keys: {
        0: {
            71: '7', 72: '8', 73: '9', 75: '4', 76: '5', 77: '6', 79: '1', 80: '2', 81: '3', 82: '0', 83: '.',
        },
    },
    caps_lock_keymap: {
        0: {
            16: 'Ē', 17: 'O', 18: 'Ā', 19: 'P', 20: 'B', 21: 'J', 22: 'D', 23: 'Ī', 24: 'L', 25: 'G',
            30: 'E', 31: 'U', 32: 'A', 33: 'N', 34: 'K', 36: 'S', 37: 'I', 38: 'T', 39: 'R', 40: 'M',
            44: 'X', 45: 'Z', 46: 'C', 47: 'V', 48: 'W', 49: 'F', 50: 'Y', 51: 'H',
            86: 'Q',
        },
        1: {
            16: 'ē', 17: 'o', 18: 'ā', 19: 'p', 20: 'b', 21: 'j', 22: 'd', 23: 'ī', 24: 'l', 25: 'g',
            30: 'e', 31: 'u', 32: 'a', 33: 'n', 34: 'k', 36: 's', 37: 'i', 38: 't', 39: 'r', 40: 'm',
            44: 'x', 45: 'z', 46: 'c', 47: 'v', 48: 'w', 49: 'f', 50: 'y', 51: 'h',
            86: 'q',
        },
        2: {
            16: 'Ē', 17: 'Ō', 18: 'Ā', 23: 'Ī', 24: 'Ļ', 25: 'Ģ',
            30: 'E', 31: 'Ū', 32: 'A', 33: 'Ņ', 34: 'Ķ', 36: 'Š', 37: 'I', 38: 'T', 39: 'Ŗ', 40: 'M',
            44: 'Q', 45: 'Ž', 46: 'Č', 50: 'Ȳ', 51: 'Ḩ',
            86: 'Q',
        },
        3: {
            16: 'ē', 17: 'ō', 18: 'ā', 23: 'ī', 24: 'ļ', 25: 'ģ',
            30: 'e', 31: 'ū', 32: 'a', 33: 'ņ', 34: 'ķ', 36: 'š', 37: 'i', 38: 't', 39: 'ŗ', 40: 'm',
            44: 'q', 45: 'ž', 46: 'č', 50: 'ȳ', 51: 'ḩ',
            86: 'q',
        },
    },
    compose: [
        (['·', ' ', ' '], ' '),
        (['·', ' ', '\''], '\''),
        (['·', ' ', '-'], '~'),
        (['·', ' ', '>'], '^'),
        (['·', ' ', '^'], '^'),
        (['·', ' ', '`'], '`'),
        (['·', ' ', '~'], '~'),
        (['·', '!', 'P'], '¶'),
        (['·', '!', 'S'], '§'),
        (['·', '!', '^'], '¦'),
        (['·', '!', 'p'], '¶'),
        (['·', '!', 's'], '§'),
        (['·', '"', '<'], '“'),
        (['·', '"', '>'], '”'),
        (['·', '"', 'A'], 'Ä'),
        (['·', '"', 'O'], 'Ö'),
        (['·', '"', 'U'], 'Ü'),
        (['·', '"', 'a'], 'ä'),
        (['·', '"', 'o'], 'ö'),
        (['·', '"', 'u'], 'ü'),
        (['·', '\'', ' '], '\''),
        (['·', '\'', '\''], '’'),
        (['·', '\'', '<'], '`'),
        (['·', '\'', '>'], '’'),
        (['·', '\'', 'C'], 'Ć'),
        (['·', '\'', 'E'], 'É'),
        (['·', '\'', 'N'], 'Ń'),
        (['·', '\'', 'O'], 'Ó'),
        (['·', '\'', 'S'], 'Ś'),
        (['·', '\'', 'Z'], 'Ź'),
        (['·', '\'', 'c'], 'ć'),
        (['·', '\'', 'e'], 'é'),
        (['·', '\'', 'n'], 'ń'),
        (['·', '\'', 'o'], 'ó'),
        (['·', '\'', 's'], 'ś'),
        (['·', '\'', 'z'], 'ź'),
        (['·', '(', '('], '['),
        (['·', '(', '-'], '{'),
        (['·', '(', 'c'], '©'),
        (['·', '(', 'r'], '®'),
        (['·', ')', ')'], ']'),
        (['·', ')', '-'], '}'),
        (['·', '*', '0'], '°'),
        (['·', '*', 'A'], 'Å'),
        (['·', '*', 'a'], 'å'),
        (['·', '+', '-'], '±'),
        (['·', ',', '-'], '¬'),
        (['·', ',', '>'], '„'),
        (['·', ',', 'A'], 'Ą'),
        (['·', ',', 'E'], 'Ę'),
        (['·', ',', 'G'], 'Ģ'),
        (['·', ',', 'I'], 'Į'),
        (['·', ',', 'K'], 'Ķ'),
        (['·', ',', 'L'], 'Ļ'),
        (['·', ',', 'N'], 'Ņ'),
        (['·', ',', 'R'], 'Ŗ'),
        (['·', ',', 'U'], 'Ų'),
        (['·', ',', 'a'], 'ą'),
        (['·', ',', 'e'], 'ę'),
        (['·', ',', 'g'], 'ģ'),
        (['·', ',', 'i'], 'į'),
        (['·', ',', 'k'], 'ķ'),
        (['·', ',', 'l'], 'ļ'),
        (['·', ',', 'n'], 'ņ'),
        (['·', ',', 'r'], 'ŗ'),
        (['·', ',', 'u'], 'ų'),
        (['·', '-', ' '], '~'),
        (['·', '-', '('], '{'),
        (['·', '-', ')'], '}'),
        (['·', '-', '+'], '±'),
        (['·', '-', ','], '¬'),
        (['·', '-', '-'], '­'),
        (['·', '-', ':'], '÷'),
        (['·', '-', 'A'], 'Ā'),
        (['·', '-', 'E'], 'Ē'),
        (['·', '-', 'I'], 'Ī'),
        (['·', '-', 'L'], 'Ł'),
        (['·', '-', 'O'], 'Ō'),
        (['·', '-', 'U'], 'Ū'),
        (['·', '-', 'a'], 'ā'),
        (['·', '-', 'e'], 'ē'),
        (['·', '-', 'i'], 'ī'),
        (['·', '-', 'l'], 'ł'),
        (['·', '-', 'o'], 'ō'),
        (['·', '-', 'u'], 'ū'),
        (['·', '.', '.'], '·'),
        (['·', '.', 'E'], 'Ė'),
        (['·', '.', 'Z'], 'Ż'),
        (['·', '.', '^'], '·'),
        (['·', '.', 'e'], 'ė'),
        (['·', '.', 'z'], 'ż'),
        (['·', '/', '/'], '\\'),
        (['·', '/', '<'], '\\'),
        (['·', '/', 'C'], '¢'),
        (['·', '/', 'L'], 'Ł'),
        (['·', '/', 'O'], 'Ø'),
        (['·', '/', 'U'], 'µ'),
        (['·', '/', '^'], '|'),
        (['·', '/', 'c'], '¢'),
        (['·', '/', 'l'], 'ł'),
        (['·', '/', 'o'], 'ø'),
        (['·', '/', 'u'], 'µ'),
        (['·', '0', '*'], '°'),
        (['·', '0', 'C'], '©'),
        (['·', '0', 'S'], '§'),
        (['·', '0', 'X'], '¤'),
        (['·', '0', '^'], '°'),
        (['·', '0', 'c'], '©'),
        (['·', '0', 's'], '§'),
        (['·', '0', 'x'], '¤'),
        (['·', '1', '2'], '½'),
        (['·', '1', '4'], '¼'),
        (['·', '1', 'S'], '¹'),
        (['·', '1', '^'], '¹'),
        (['·', '1', 's'], '¹'),
        (['·', '2', 'S'], '²'),
        (['·', '2', '^'], '²'),
        (['·', '2', 's'], '²'),
        (['·', '3', '4'], '¾'),
        (['·', '3', 'S'], '³'),
        (['·', '3', '^'], '³'),
        (['·', '3', 's'], '³'),
        (['·', ':', '-'], '÷'),
        (['·', ';', 'A'], 'Ą'),
        (['·', ';', 'E'], 'Ę'),
        (['·', ';', 'I'], 'Į'),
        (['·', ';', 'U'], 'Ų'),
        (['·', ';', 'a'], 'ą'),
        (['·', ';', 'e'], 'ę'),
        (['·', ';', 'i'], 'į'),
        (['·', ';', 'u'], 'ų'),
        (['·', '<', '"'], '“'),
        (['·', '<', '\''], '`'),
        (['·', '<', '/'], '\\'),
        (['·', '<', '<'], '«'),
        (['·', '<', 'C'], 'Č'),
        (['·', '<', 'S'], 'Š'),
        (['·', '<', 'Z'], 'Ž'),
        (['·', '<', 'c'], 'č'),
        (['·', '<', 's'], 'š'),
        (['·', '<', 'z'], 'ž'),
        (['·', '=', 'L'], '£'),
        (['·', '=', 'l'], '£'),
        (['·', '>', ' '], '^'),
        (['·', '>', '"'], '”'),
        (['·', '>', '\''], '’'),
        (['·', '>', ','], '„'),
        (['·', '>', '>'], '»'),
        (['·', '?', '?'], '¿'),
        (['·', 'A', '"'], 'Ä'),
        (['·', 'A', '*'], 'Å'),
        (['·', 'A', ','], 'Ą'),
        (['·', 'A', '-'], 'Ā'),
        (['·', 'A', ';'], 'Ą'),
        (['·', 'A', 'A'], 'Å'),
        (['·', 'A', 'E'], 'Æ'),
        (['·', 'A', 'O'], 'Å'),
        (['·', 'A', 'T'], '@'),
        (['·', 'A', '_'], 'Ā'),
        (['·', 'B', 'V'], '¦'),
        (['·', 'C', '\''], 'Ć'),
        (['·', 'C', '/'], '¢'),
        (['·', 'C', '0'], '©'),
        (['·', 'C', '<'], 'Č'),
        (['·', 'C', 'O'], '©'),
        (['·', 'C', 'o'], '©'),
        (['·', 'C', '|'], '¢'),
        (['·', 'E', '\''], 'É'),
        (['·', 'E', ','], 'Ę'),
        (['·', 'E', '-'], 'Ē'),
        (['·', 'E', '.'], 'Ė'),
        (['·', 'E', ';'], 'Ę'),
        (['·', 'E', '_'], 'Ē'),
        (['·', 'E', '´'], 'É'),
        (['·', 'G', ','], 'Ģ'),
        (['·', 'I', ','], 'Į'),
        (['·', 'I', '-'], 'Ī'),
        (['·', 'I', ';'], 'Į'),
        (['·', 'I', '_'], 'Ī'),
        (['·', 'K', ','], 'Ķ'),
        (['·', 'L', ','], 'Ļ'),
        (['·', 'L', '-'], 'Ł'),
        (['·', 'L', '/'], 'Ł'),
        (['·', 'L', '='], '£'),
        (['·', 'N', '\''], 'Ń'),
        (['·', 'N', ','], 'Ņ'),
        (['·', 'O', '"'], 'Ö'),
        (['·', 'O', '\''], 'Ó'),
        (['·', 'O', '-'], 'Ō'),
        (['·', 'O', '/'], 'Ø'),
        (['·', 'O', 'C'], '©'),
        (['·', 'O', 'R'], '®'),
        (['·', 'O', 'S'], '§'),
        (['·', 'O', 'X'], '¤'),
        (['·', 'O', '_'], 'Ō'),
        (['·', 'O', 'c'], '©'),
        (['·', 'O', 'x'], '¤'),
        (['·', 'O', '~'], 'Õ'),
        (['·', 'P', '!'], '¶'),
        (['·', 'R', ','], 'Ŗ'),
        (['·', 'R', 'O'], '®'),
        (['·', 'S', '!'], '§'),
        (['·', 'S', '\''], 'Ś'),
        (['·', 'S', '0'], '§'),
        (['·', 'S', '1'], '¹'),
        (['·', 'S', '2'], '²'),
        (['·', 'S', '3'], '³'),
        (['·', 'S', '<'], 'Š'),
        (['·', 'S', 'O'], '§'),
        (['·', 'U', '"'], 'Ü'),
        (['·', 'U', ','], 'Ų'),
        (['·', 'U', '-'], 'Ū'),
        (['·', 'U', '/'], 'µ'),
        (['·', 'U', ';'], 'Ų'),
        (['·', 'U', '_'], 'Ū'),
        (['·', 'V', 'B'], '¦'),
        (['·', 'X', '0'], '¤'),
        (['·', 'X', 'O'], '¤'),
        (['·', 'X', 'o'], '¤'),
        (['·', 'Z', '\''], 'Ź'),
        (['·', 'Z', '.'], 'Ż'),
        (['·', 'Z', '<'], 'Ž'),
        (['·', '^', ' '], '^'),
        (['·', '^', '!'], '¦'),
        (['·', '^', '.'], '·'),
        (['·', '^', '/'], '|'),
        (['·', '^', '0'], '°'),
        (['·', '^', '1'], '¹'),
        (['·', '^', '2'], '²'),
        (['·', '^', '3'], '³'),
        (['·', '_', 'A'], 'Ā'),
        (['·', '_', 'E'], 'Ē'),
        (['·', '_', 'I'], 'Ī'),
        (['·', '_', 'O'], 'Ō'),
        (['·', '_', 'U'], 'Ū'),
        (['·', '_', 'a'], 'ā'),
        (['·', '_', 'e'], 'ē'),
        (['·', '_', 'i'], 'ī'),
        (['·', '_', 'o'], 'ō'),
        (['·', '_', 'u'], 'ū'),
        (['·', '`', ' '], '`'),
        (['·', 'a', '"'], 'ä'),
        (['·', 'a', '*'], 'å'),
        (['·', 'a', ','], 'ą'),
        (['·', 'a', '-'], 'ā'),
        (['·', 'a', ';'], 'ą'),
        (['·', 'a', '_'], 'ā'),
        (['·', 'a', 'a'], 'å'),
        (['·', 'a', 'e'], 'æ'),
        (['·', 'a', 'o'], 'å'),
        (['·', 'b', 'v'], '¦'),
        (['·', 'c', '\''], 'ć'),
        (['·', 'c', '/'], '¢'),
        (['·', 'c', '0'], '©'),
        (['·', 'c', '<'], 'č'),
        (['·', 'c', 'O'], '©'),
        (['·', 'c', 'o'], '©'),
        (['·', 'c', '|'], '¢'),
        (['·', 'e', '\''], 'é'),
        (['·', 'e', ','], 'ę'),
        (['·', 'e', '-'], 'ē'),
        (['·', 'e', '.'], 'ė'),
        (['·', 'e', ';'], 'ę'),
        (['·', 'e', '_'], 'ē'),
        (['·', 'e', '´'], 'é'),
        (['·', 'g', ','], 'ģ'),
        (['·', 'i', ','], 'į'),
        (['·', 'i', '-'], 'ī'),
        (['·', 'i', ';'], 'į'),
        (['·', 'i', '_'], 'ī'),
        (['·', 'k', ','], 'ķ'),
        (['·', 'l', ','], 'ļ'),
        (['·', 'l', '-'], 'ł'),
        (['·', 'l', '/'], 'ł'),
        (['·', 'l', '='], '£'),
        (['·', 'm', 'u'], 'µ'),
        (['·', 'n', '\''], 'ń'),
        (['·', 'n', ','], 'ņ'),
        (['·', 'o', '"'], 'ö'),
        (['·', 'o', '\''], 'ó'),
        (['·', 'o', '-'], 'ō'),
        (['·', 'o', '/'], 'ø'),
        (['·', 'o', 'C'], '©'),
        (['·', 'o', 'X'], '¤'),
        (['·', 'o', '_'], 'ō'),
        (['·', 'o', 'c'], '©'),
        (['·', 'o', 's'], '§'),
        (['·', 'o', 'x'], '¤'),
        (['·', 'o', '~'], 'õ'),
        (['·', 'p', '!'], '¶'),
        (['·', 'r', ','], 'ŗ'),
        (['·', 's', '!'], '§'),
        (['·', 's', '\''], 'ś'),
        (['·', 's', '0'], '§'),
        (['·', 's', '1'], '¹'),
        (['·', 's', '2'], '²'),
        (['·', 's', '3'], '³'),
        (['·', 's', '<'], 'š'),
        (['·', 's', 'o'], '§'),
        (['·', 's', 's'], 'ß'),
        (['·', 'u', '"'], 'ü'),
        (['·', 'u', ','], 'ų'),
        (['·', 'u', '-'], 'ū'),
        (['·', 'u', '/'], 'µ'),
        (['·', 'u', ';'], 'ų'),
        (['·', 'u', '_'], 'ū'),
        (['·', 'v', 'b'], '¦'),
        (['·', 'x', '0'], '¤'),
        (['·', 'x', 'O'], '¤'),
        (['·', 'x', 'o'], '¤'),
        (['·', 'x', 'x'], '×'),
        (['·', 'z', '\''], 'ź'),
        (['·', 'z', '.'], 'ż'),
        (['·', 'z', '<'], 'ž'),
        (['·', '|', 'C'], '¢'),
        (['·', '|', 'c'], '¢'),
        (['·', '|', '|'], '¦'),
        (['·', '~', ' '], '~'),
        (['·', '~', 'O'], 'Õ'),
        (['·', '~', 'o'], 'õ'),
        (['·', '´', 'E'], 'É'),
        (['·', '´', 'e'], 'é'),
    ],
)
