(
    version: 1,
    layout: "Latvian (Modern Cyrillic)",
    modifiers: [
        (35, [(0, Latch(Level3))]),
        (42, [(0, Press(Level2))]),
        (54, [(0, Press(Level2))]),
        (100, [(0, Press(Level3))]),
    ],
    keymap: {
        0: {
            2: '1', 3: '2', 4: '3', 5: '4', 6: '5', 7: '6', 8: '7', 9: '8', 10: '9', 11: '0', 12: '-', 13: '=',
            16: 'э', 17: 'о', 18: 'я', 19: 'п', 20: 'б', 21: 'й', 22: 'д', 23: 'і', 24: 'л', 25: 'г', 26: '[', 27: ']',
            30: 'е', 31: 'у', 32: 'а', 33: 'н', 34: 'к', 36: 'с', 37: 'и', 38: 'т', 39: 'р', 40: 'м', 41: '`',
            43: '/', 44: 'ь', 45: 'з', 46: 'ц', 47: 'в', 48: 'щ', 49: 'ф', 50: 'ы', 51: 'х', 52: ',', 53: '.',
            83: '\u{7f}',
            86: 'ї',
        },
        1: {
            2: '!', 3: '@', 4: '#', 5: '$', 6: '%', 7: '^', 8: '&', 9: '*', 10: '(', 11: ')', 12: '_', 13: '+',
            16: 'Э', 17: 'О', 18: 'Я', 19: 'П', 20: 'Б', 21: 'Й', 22: 'Д', 23: 'І', 24: 'Л', 25: 'Г', 26: '{', 27: '}',
            30: 'Е', 31: 'У', 32: 'А', 33: 'Н', 34: 'К', 35: '\"', 36: 'С', 37: 'И', 38: 'Т', 39: 'Р', 40: 'М', 41: '~',
            43: '?', 44: 'Ь', 45: 'З', 46: 'Ц', 47: 'В', 48: 'Щ', 49: 'Ф', 50: 'Ы', 51: 'Х', 52: ';', 53: ':',
            86: 'Ї',
        },
        2: {
            2: '¹', 3: '²', 4: '³', 5: '€', 6: '½', 7: '¾', 8: '{', 9: '[', 10: ']', 11: '}', 12: '\\', 13: '–',
            16: 'є', 18: 'ј', 19: '?', 20: '!', 21: '—', 22: 'ђ', 23: 'ї', 24: 'љ', 25: 'ґ', 26: '«', 27: '»',
            30: 'ё', 31: 'ю', 33: 'њ', 34: 'ќ', 35: '\'', 36: 'ш', 38: 'ћ', 39: 'ѓ', 41: '´',
            43: '\\', 44: 'ъ', 45: 'ж', 46: 'ч', 47: 'ѕ', 48: 'џ', 49: '\u{301}', 50: 'ў', 51: 'һ', 52: '<', 53: '>',
            57: '\'',
            86: 'ј',
        },
        3: {
            2: '¡', 3: '⅛', 4: '£', 5: '¢', 6: '⅜', 7: '⅝', 8: '⅞', 9: '™', 10: '±', 11: '°', 12: '¿', 13: '—',
            16: 'Є', 18: 'Ј', 22: 'Ђ', 23: 'Ї', 24: 'Љ', 25: 'Ґ', 26: '“', 27: '”',
            30: 'Ё', 31: 'Ю', 33: 'Њ', 34: 'Ќ', 36: 'Ш', 38: 'Ћ', 39: 'Ѓ', 41: '©',
            43: '|', 44: 'Ъ', 45: 'Ж', 46: 'Ч', 47: 'Ѕ', 48: 'Џ', 50: 'Ў', 51: 'Һ', 52: '×', 53: '÷',
            86: 'Ј',
        },
    },
    num_lock_keys: {
        0: {
            71: '7', 72: '8', 73: '9', 75: '4', 76: '5', 77: '6', 79: '1', 80: '2', 81: '3', 82: '0', 83: '.',
        },
    },
    caps_lock_keymap: {
        0: {
            16: 'Э', 17: 'О', 18: 'Я', 19: 'П', 20: 'Б', 21: 'Й', 22: 'Д', 23: 'І', 24: 'Л', 25: 'Г',
            30: 'Е', 31: 'У', 32: 'А', 33: 'Н', 34: 'К', 36: 'С', 37: 'И', 38: 'Т', 39: 'Р', 40: 'М',
            44: 'Ь', 45: 'З', 46: 'Ц', 47: 'В', 48: 'Щ', 49: 'Ф', 50: 'Ы', 51: 'Х',
            86: 'Ї',
        },
        1: {
            16: 'э', 17: 'о', 18: 'я', 19: 'п', 20: 'б', 21: 'й', 22: 'д', 23: 'і', 24: 'л', 25: 'г',
            30: 'е', 31: 'у', 32: 'а', 33: 'н', 34: 'к', 36: 'с', 37: 'и', 38: 'т', 39: 'р', 40: 'м',
            44: 'ь', 45: 'з', 46: 'ц', 47: 'в', 48: 'щ', 49: 'ф', 50: 'ы', 51: 'х',
            86: 'ї',
        },
        2: {
            16: 'Є', 17: 'О', 18: 'Ј', 22: 'Ђ', 23: 'Ї', 24: 'Љ', 25: 'Ґ',
            30: 'Ё', 31: 'Ю', 32: 'А', 33: 'Њ', 34: 'Ќ', 36: 'Ш', 37: 'И', 38: 'Ћ', 39: 'Ѓ', 40: 'М',
            44: 'Ъ', 45: 'Ж', 46: 'Ч', 47: 'Ѕ', 48: 'Џ', 50: 'Ў', 51: 'Һ',
            86: 'Ј',
        },
        3: {
            16: 'є', 17: 'о', 18: 'ј', 22: 'ђ', 23: 'ї', 24: 'љ', 25: 'ґ',
            30: 'ё', 31: 'ю', 32: 'а', 33: 'њ', 34: 'ќ', 36: 'ш', 37: 'и', 38: 'ћ', 39: 'ѓ', 40: 'м',
            44: 'ъ', 45: 'ж', 46: 'ч', 47: 'ѕ', 48: 'џ', 50: 'ў', 51: 'һ',
            86: 'ј',
        },
    },
    compose: [
        (['·', ' ', ' '], ' '),
        (['·', ' ', '\''], '\''),
        (['·', ' ', '-'], '~'),
        (['·', ' ', '>'], '^'),
        (['·', ' ', '^'], '^'),
        (['·', ' ', '`'], '`'),
        (['·', ' ', '~'], '~'),
        (['·', '!', '^'], '¦'),
        (['·', '"', '<'], '“'),
        (['·', '"', '>'], '”'),
        (['·', '\'', ' '], '\''),
        (['·', '\'', '\''], '’'),
        (['·', '\'', '<'], '`'),
        (['·', '\'', '>'], '’'),
        (['·', '(', '('], '['),
        (['·', '(', '-'], '{'),
        (['·', ')', ')'], ']'),
        (['·', ')', '-'], '}'),
        (['·', '*', '0'], '°'),
        (['·', '+', '-'], '±'),
        (['·', ',', '-'], '¬'),
        (['·', ',', '>'], '„'),
        (['·', '-', ' '], '~'),
        (['·', '-', '('], '{'),
        (['·', '-', ')'], '}'),
        (['·', '-', '+'], '±'),
        (['·', '-', ','], '¬'),
        (['·', '-', '-'], '­'),
        (['·', '-', ':'], '÷'),
        (['·', '.', '.'], '·'),
        (['·', '.', '^'], '·'),
        (['·', '/', '/'], '\\'),
        (['·', '/', '<'], '\\'),
        (['·', '/', '^'], '|'),
        (['·', '0', '*'], '°'),
        (['·', '0', '^'], '°'),
        (['·', '1', '2'], '½'),
        (['·', '1', '4'], '¼'),
        (['·', '1', '^'], '¹'),
        (['·', '2', '^'], '²'),
        (['·', '3', '4'], '¾'),
        (['·', '3', '^'], '³'),
        (['·', ':', '-'], '÷'),
        (['·', '<', '"'], '“'),
        (['·', '<', '\''], '`'),
        (['·', '<', '/'], '\\'),
        (['·', '<', '<'], '«'),
        (['·', '>', ' '], '^'),
        (['·', '>', '"'], '”'),
        (['·', '>', '\''], '’'),
        (['·', '>', ','], '„'),
        (['·', '>', '>'], '»'),
        (['·', '?', '?'], '¿'),
        (['·', '^', ' '], '^'),
        (['·', '^', '!'], '¦'),
        (['·', '^', '.'], '·'),
        (['·', '^', '/'], '|'),
        (['·', '^', '0'], '°'),
        (['·', '^', '1'], '¹'),
        (['·', '^', '2'], '²'),
        (['·', '^', '3'], '³'),
        (['·', '`', ' '], '`'),
        (['·', '|', '|'], '¦'),
        (['·', '~', ' '], '~'),
    ],
)
