(
    version: 1,
    layout: "Berber (Morocco, Tifinagh extended)",
    modifiers: [
        (42, [(0, Press(Level2))]),
        (54, [(0, Press(Level2))]),
        (100, [(0, Press(Level3))]),
    ],
    keymap: {
        0: {
            2: '&', 3: 'ⵒ', 4: '\"', 5: '\'', 6: '(', 7: '-', 8: 'ⵤ', 9: '_', 10: '—', 11: '\u{200d}', 12: ')', 13: '=',
            16: 'ⴰ', 17: 'ⵣ', 18: 'ⴻ', 19: 'ⵔ', 20: 'ⵜ', 21: 'ⵢ', 22: 'ⵓ', 23: 'ⵉ', 24: 'ⵄ', 25: 'ⵃ', 26: 'ⵯ', 27: '$',
            30: 'ⵇ', 31: 'ⵙ', 32: 'ⴷ', 33: 'ⴼ', 34: 'ⴳ', 35: 'ⵀ', 36: 'ⵊ', 37: 'ⴽ', 38: 'ⵍ', 39: 'ⵎ', 40: 'ⵑ', 41: '²',
            43: '*', 44: 'ⵡ', 45: 'ⵅ', 46: 'ⵛ', 47: 'ⵖ', 48: 'ⴱ', 49: 'ⵏ', 50: ',', 51: ';', 52: ':', 53: '!',
            83: '\u{7f}',
            86: '<',
        },
        1: {
            2: '1', 3: '2', 4: '3', 5: '4', 6: '5', 7: '6', 8: '7', 9: '8', 10: '9', 11: '0', 12: '°', 13: '+',
            16: 'ⴶ', 17: 'ⵥ', 18: 'ⵗ', 19: 'ⵕ', 20: 'ⵟ', 21: 'ⵂ', 22: 'ⵌ', 23: 'ⵘ', 24: 'ⵝ', 25: 'ⵞ', 26: 'ⵠ', 27: '£',
            30: 'ⵈ', 31: 'ⵚ', 32: 'ⴹ', 33: 'ⴵ', 35: 'ⵁ', 36: 'ⵋ', 38: 'ⴸ', 39: 'ⴺ', 40: '%', 41: '\u{200c}',
            43: 'µ', 44: 'ⴾ', 45: 'ⵆ', 46: 'ⴿ', 47: 'ⴴ', 48: 'ⴲ', 49: 'ⵐ', 50: '?', 51: '.', 52: '/', 53: '§',
            86: '>',
        },
        2: {
            3: '~', 4: '#', 5: '{', 6: '[', 7: '|', 9: '\\', 10: '^', 11: '@', 12: ']', 13: '}',
            18: '€', 27: '¤',
            86: '|',
        },
        3: {
            86: '¦',
        },
    },
    num_lock_keys: {
        0: {
            71: '7', 72: '8', 73: '9', 75: '4', 76: '5', 77: '6', 79: '1', 80: '2', 81: '3', 82: '0', 83: '.',
        },
    },
    caps_lock_keymap: {
        1: {
            43: 'Μ',
        },
    },
    compose: [
        (['·', ' ', ' '], ' '),
        (['·', ' ', '('], '˘'),
        (['·', ' ', ','], '¸'),
        (['·', ' ', '-'], '~'),
        (['·', ' ', '.'], ' '),
        (['·', ' ', '<'], 'ˇ'),
        (['·', ' ', '>'], '^'),
        (['·', ' ', '_'], '¯'),
        (['·', '!', '!'], '¡'),
        (['·', '!', '?'], '‽'),
        (['·', '!', '^'], '¦'),
        (['·', '"', ' '], '¨'),
        (['·', '"', '"'], '¨'),
        (['·', '"', '\''], '̈́'),
        (['·', '"', ','], '„'),
        (['·', '"', '<'], '“'),
        (['·', '"', '>'], '”'),
        (['·', '#', '#'], '♯'),
        (['·', '\'', '"', ' '], '΅'),
        (['·', '\'', '\''], '´'),
        (['·', '\'', ','], '‚'),
        (['·', '\'', '<'], '‘'),
        (['·', '\'', '>'], '’'),
        (['·', '(', ' '], '˘'),
        (['·', '(', '('], '['),
        (['·', '(', ')', ')'], '🄯'),
        (['·', '(', '-'], '{'),
        (['·', '(', '0', ')'], '⓪'),
        (['·', '(', '1', ')'], '①'),
        (['·', '(', '1', '0', ')'], '⑩'),
        (['·', '(', '1', '1', ')'], '⑪'),
        (['·', '(', '1', '2', ')'], '⑫'),
        (['·', '(', '1', '3', ')'], '⑬'),
        (['·', '(', '1', '4', ')'], '⑭'),
        (['·', '(', '1', '5', ')'], '⑮'),
        (['·', '(', '1', '6', ')'], '⑯'),
        (['·', '(', '1', '7', ')'], '⑰'),
        (['·', '(', '1', '8', ')'], '⑱'),
        (['·', '(', '1', '9', ')'], '⑲'),
        (['·', '(', '2', ')'], '②'),
        (['·', '(', '2', '0', ')'], '⑳'),
        (['·', '(', '2', '1', ')'], '㉑'),
        (['·', '(', '2', '2', ')'], '㉒'),
        (['·', '(', '2', '3', ')'], '㉓'),
        (['·', '(', '2', '4', ')'], '㉔'),
        (['·', '(', '2', '5', ')'], '㉕'),
        (['·', '(', '2', '6', ')'], '㉖'),
        (['·', '(', '2', '7', ')'], '㉗'),
        (['·', '(', '2', '8', ')'], '㉘'),
        (['·', '(', '2', '9', ')'], '㉙'),
        (['·', '(', '3', ')'], '③'),
        (['·', '(', '3', '0', ')'], '㉚'),
        (['·', '(', '3', '1', ')'], '㉛'),
        (['·', '(', '3', '2', ')'], '㉜'),
        (['·', '(', '3', '3', ')'], '㉝'),
        (['·', '(', '3', '4', ')'], '㉞'),
        (['·', '(', '3', '5', ')'], '㉟'),
        (['·', '(', '3', '6', ')'], '㊱'),
        (['·', '(', '3', '7', ')'], '㊲'),
        (['·', '(', '3', '8', ')'], '㊳'),
        (['·', '(', '3', '9', ')'], '㊴'),
        (['·', '(', '4', ')'], '④'),
        (['·', '(', '4', '0', ')'], '㊵'),
        (['·', '(', '4', '1', ')'], '㊶'),
        (['·', '(', '4', '2', ')'], '㊷'),
        (['·', '(', '4', '3', ')'], '㊸'),
        (['·', '(', '4', '4', ')'], '㊹'),
        (['·', '(', '4', '5', ')'], '㊺'),
        (['·', '(', '4', '6', ')'], '㊻'),
        (['·', '(', '4', '7', ')'], '㊼'),
        (['·', '(', '4', '8', ')'], '㊽'),
        (['·', '(', '4', '9', ')'], '㊾'),
        (['·', '(', '5', ')'], '⑤'),
        (['·', '(', '5', '0', ')'], '㊿'),
        (['·', '(', '6', ')'], '⑥'),
        (['·', '(', '7', ')'], '⑦'),
        (['·', '(', '8', ')'], '⑧'),
        (['·', '(', '9', ')'], '⑨'),
        (['·', ')', ')'], ']'),
        (['·', ')', '-'], '}'),
        (['·', '*', '0'], '°'),
        (['·', '+', '-'], '±'),
        (['·', ',', ' '], '¸'),
        (['·', ',', '"'], '„'),
        (['·', ',', '\''], '‚'),
        (['·', ',', ','], '¸'),
        (['·', ',', '-'], '¬'),
        (['·', '-', ' '], '~'),
        (['·', '-', '('], '{'),
        (['·', '-', ')'], '}'),
        (['·', '-', '+'], '±'),
        (['·', '-', ','], '¬'),
        (['·', '-', '-', ' '], '­'),
        (['·', '-', '-', '-'], '—'),
        (['·', '-', '-', '.'], '–'),
        (['·', '-', '/'], '⌿'),
        (['·', '-', ':'], '÷'),
        (['·', '-', '>'], '→'),
        (['·', '-', '\\'], '⍀'),
        (['·', '-', '^'], '¯'),
        (['·', '-', '_'], '−'),
        (['·', '.', ' '], '˙'),
        (['·', '.', '-'], '·'),
        (['·', '.', '.'], '…'),
        (['·', '.', ':'], '∵'),
        (['·', '.', '<'], '‹'),
        (['·', '.', '='], '•'),
        (['·', '.', '>'], '›'),
        (['·', '.', '^'], '·'),
        (['·', '/', '-'], '⌿'),
        (['·', '/', '/'], '\\'),
        (['·', '/', '<'], '\\'),
        (['·', '/', '='], '≠'),
        (['·', '/', '^'], '|'),
        (['·', '0', '*'], '°'),
        (['·', '0', '3'], '↉'),
        (['·', '0', '~'], '⍬'),
        (['·', '1', '1', '0'], '⅒'),
        (['·', '1', '2'], '½'),
        (['·', '1', '3'], '⅓'),
        (['·', '1', '4'], '¼'),
        (['·', '1', '5'], '⅕'),
        (['·', '1', '6'], '⅙'),
        (['·', '1', '7'], '⅐'),
        (['·', '1', '8'], '⅛'),
        (['·', '1', '9'], '⅑'),
        (['·', '1', '^'], '¹'),
        (['·', '2', '3'], '⅔'),
        (['·', '2', '5'], '⅖'),
        (['·', '2', '^'], '²'),
        (['·', '3', '4'], '¾'),
        (['·', '3', '5'], '⅗'),
        (['·', '3', '8'], '⅜'),
        (['·', '3', '^'], '³'),
        (['·', '4', '5'], '⅘'),
        (['·', '5', '6'], '⅚'),
        (['·', '5', '8'], '⅝'),
        (['·', '7', '8'], '⅞'),
        (['·', '8', '8'], '∞'),
        (['·', ':', '('], '☹'),
        (['·', ':', ')'], '☺'),
        (['·', ':', '-'], '÷'),
        (['·', ':', '.'], '∴'),
        (['·', ';', ' '], '˛'),
        (['·', ';', '_'], '⍮'),
        (['·', '<', ' '], 'ˇ'),
        (['·', '<', '"'], '“'),
        (['·', '<', '\''], '‘'),
        (['·', '<', '-'], '←'),
        (['·', '<', '/'], '≮'),
        (['·', '<', '3'], '♥'),
        (['·', '<', '<'], '«'),
        (['·', '<', '='], '≤'),
        (['·', '<', '>'], '⋄'),
        (['·', '<', '_'], '≤'),
        (['·', '=', '/'], '≠'),
        (['·', '=', '<'], '⇐'),
        (['·', '=', '>'], '⇒'),
        (['·', '=', '^'], '⇑'),
        (['·', '=', '_'], '≡'),
        (['·', '>', ' '], '^'),
        (['·', '>', '"'], '”'),
        (['·', '>', '\''], '’'),
        (['·', '>', '/'], '≯'),
        (['·', '>', '<'], '⋄'),
        (['·', '>', '='], '≥'),
        (['·', '>', '>'], '»'),
        (['·', '>', '_'], '≥'),
        (['·', '?', '!'], '⸘'),
        (['·', '?', '?'], '¿'),
        (['·', '?', '\\'], '☭'),
        (['·', '[', ']'], '⌷'),
        (['·', '\\', '-'], '⍀'),
        (['·', '\\', '?'], '☭'),
        (['·', ']', '['], '⌷'),
        (['·', '^', '('], '⁽'),
        (['·', '^', ')'], '⁾'),
        (['·', '^', '+'], '⁺'),
        (['·', '^', '-'], '⁻'),
        (['·', '^', '.'], '·'),
        (['·', '^', '/'], '|'),
        (['·', '^', '0'], '⁰'),
        (['·', '^', '1'], '¹'),
        (['·', '^', '2'], '²'),
        (['·', '^', '3'], '³'),
        (['·', '^', '4'], '⁴'),
        (['·', '^', '5'], '⁵'),
        (['·', '^', '6'], '⁶'),
        (['·', '^', '7'], '⁷'),
        (['·', '^', '8'], '⁸'),
        (['·', '^', '9'], '⁹'),
        (['·', '^', '='], '⁼'),
        (['·', '^', '|'], '↑'),
        (['·', '_', ' '], '¯'),
        (['·', '_', '\''], '⍘'),
        (['·', '_', '('], '₍'),
        (['·', '_', ')'], '₎'),
        (['·', '_', '+'], '₊'),
        (['·', '_', '-'], '₋'),
        (['·', '_', '0'], '₀'),
        (['·', '_', '1'], '₁'),
        (['·', '_', '2'], '₂'),
        (['·', '_', '3'], '₃'),
        (['·', '_', '4'], '₄'),
        (['·', '_', '5'], '₅'),
        (['·', '_', '6'], '₆'),
        (['·', '_', '7'], '₇'),
        (['·', '_', '8'], '₈'),
        (['·', '_', '9'], '₉'),
        (['·', '_', '<'], '≤'),
        (['·', '_', '='], '₌'),
        (['·', '_', '>'], '≥'),
        (['·', '_', '^'], '¯'),
        (['·', '_', '_'], '¯'),
        (['·', '{', '}'], '∅'),
        (['·', '|', '-'], '†'),
        (['·', '|', '='], '‡'),
        (['·', '|', '^'], '↑'),
        (['·', '|', '~'], '⍭'),
        (['·', '~', '0'], '⍬'),
        (['·', '~', '|'], '⍭'),
        (['·', '~', '~'], '≈'),
    ],
)
