(
    version: 1,
    layout: "Macedonian",
    modifiers: [
        (42, [(0, Press(Level2))]),
        (54, [(0, Press(Level2))]),
        (84, [(0, Press(Level3))]),
    ],
    keymap: {
        0: {
            2: '1', 3: '2', 4: '3', 5: '4', 6: '5', 7: '6', 8: '7', 9: '8', 10: '9', 11: '0', 12: '-', 13: '=',
            16: 'љ', 17: 'њ', 18: 'е', 19: 'р', 20: 'т', 21: 'ѕ', 22: 'у', 23: 'и', 24: 'о', 25: 'п', 26: 'ш', 27: 'ѓ',
            30: 'а', 31: 'с', 32: 'д', 33: 'ф', 34: 'г', 35: 'х', 36: 'ј', 37: 'к', 38: 'л', 39: 'ч', 40: 'ќ', 41: '\u{300}',
            43: 'ж', 44: 'з', 45: 'џ', 46: 'ц', 47: 'в', 48: 'б', 49: 'н', 50: 'м', 51: ',', 52: '.', 53: '/',
            83: '\u{7f}',
            86: '<',
        },
        1: {
            2: '!', 3: '„', 4: '“', 5: '$', 6: '%', 7: '^', 8: '&', 9: '*', 10: '(', 11: ')', 12: '_', 13: '+',
            16: 'Љ', 17: 'Њ', 18: 'Е', 19: 'Р', 20: 'Т', 21: 'Ѕ', 22: 'У', 23: 'И', 24: 'О', 25: 'П', 26: 'Ш', 27: 'Ѓ',
            30: 'А', 31: 'С', 32: 'Д', 33: 'Ф', 34: 'Г', 35: 'Х', 36: 'Ј', 37: 'К', 38: 'Л', 39: 'Ч', 40: 'Ќ', 41: '~',
            43: 'Ж', 44: 'З', 45: 'Џ', 46: 'Ц', 47: 'В', 48: 'Б', 49: 'Н', 50: 'М', 51: ';', 52: ':', 53: '?',
            86: '>',
        },
        2: {
            86: '|',
        },
        3: {
            86: '¦',
        },
    },
    num_lock_keys: {
        0: {
            71: '7', 72: '8', 73: '9', 75: '4', 76: '5', 77: '6', 79: '1', 80: '2', 81: '3', 82: '0', 83: ',',
        },
    },
    caps_lock_keymap: {
        0: {
            16: 'Љ', 17: 'Њ', 18: 'Е', 19: 'Р', 20: 'Т', 21: 'Ѕ', 22: 'У', 23: 'И', 24: 'О', 25: 'П', 26: 'Ш', 27: 'Ѓ',
            30: 'А', 31: 'С', 32: 'Д', 33: 'Ф', 34: 'Г', 35: 'Х', 36: 'Ј', 37: 'К', 38: 'Л', 39: 'Ч', 40: 'Ќ',
            43: 'Ж', 44: 'З', 45: 'Џ', 46: 'Ц', 47: 'В', 48: 'Б', 49: 'Н', 50: 'М',
        },
        1: {
            16: 'љ', 17: 'њ', 18: 'е', 19: 'р', 20: 'т', 21: 'ѕ', 22: 'у', 23: 'и', 24: 'о', 25: 'п', 26: 'ш', 27: 'ѓ',
            30: 'а', 31: 'с', 32: 'д', 33: 'ф', 34: 'г', 35: 'х', 36: 'ј', 37: 'к', 38: 'л', 39: 'ч', 40: 'ќ',
            43: 'ж', 44: 'з', 45: 'џ', 46: 'ц', 47: 'в', 48: 'б', 49: 'н', 50: 'м',
        },
    },
)
