(
    version: 1,
    layout: "Maltese (US, with AltGr overrides)",
    modifiers: [
        (42, [(0, Press(Level2))]),
        (54, [(0, Press(Level2))]),
        (100, [(0, Press(Level3))]),
    ],
    keymap: {
        0: {
            2: '1', 3: '2', 4: '3', 5: '4', 6: '5', 7: '6', 8: '7', 9: '8', 10: '9', 11: '0', 12: '-', 13: '=',
            16: 'q', 17: 'w', 18: 'e', 19: 'r', 20: 't', 21: 'y', 22: 'u', 23: 'i', 24: 'o', 25: 'p', 26: '[', 27: ']',
            30: 'a', 31: 's', 32: 'd', 33: 'f', 34: 'g', 35: 'h', 36: 'j', 37: 'k', 38: 'l', 39: ';', 40: '\'', 41: '`',
            43: '\\', 44: 'z', 45: 'x', 46: 'c', 47: 'v', 48: 'b', 49: 'n', 50: 'm', 51: ',', 52: '.', 53: '/',
            83: '\u{7f}',
            86: '<',
        },
        1: {
            2: '!', 3: '@', 4: '#', 5: '$', 6: '%', 7: '^', 8: '&', 9: '*', 10: '(', 11: ')', 12: '_', 13: '+',
            16: 'Q', 17: 'W', 18: 'E', 19: 'R', 20: 'T', 21: 'Y', 22: 'U', 23: 'I', 24: 'O', 25: 'P', 26: '{', 27: '}',
            30: 'A', 31: 'S', 32: 'D', 33: 'F', 34: 'G', 35: 'H', 36: 'J', 37: 'K', 38: 'L', 39: ':', 40: '\"', 41: '~',
            43: '|', 44: 'Z', 45: 'X', 46: 'C', 47: 'V', 48: 'B', 49: 'N', 50: 'M', 51: '<', 52: '>', 53: '?',
            86: '>',
        },
        2: {
            4: '£', 5: '€',
            18: 'è', 22: 'ù', 23: 'ì', 24: 'ò',
            30: 'à', 34: 'ġ', 35: 'ħ', 40: '\u{301}', 41: '\u{300}',
            44: 'ż', 46: 'ċ',
            86: '|',
        },
        3: {
            7: '\u{302}',
            18: 'È', 22: 'Ù', 23: 'Ì', 24: 'Ò',
            30: 'À', 34: 'Ġ', 35: 'Ħ', 40: '\u{308}', 41: '\u{303}',
            44: 'Ż', 46: 'Ċ',
            86: '¦',
        },
    },
    num_lock_keys: {
        0: {
            71: '7', 72: '8', 73: '9', 75: '4', 76: '5', 77: '6', 79: '1', 80: '2', 81: '3', 82: '0', 83: '.',
        },
    },
    caps_lock_keymap: {
        0: {
            16: 'Q', 17: 'W', 18: 'E', 19: 'R', 20: 'T', 21: 'Y', 22: 'U', 23: 'I', 24: 'O', 25: 'P',
            30: 'A', 31: 'S', 32: 'D', 33: 'F', 34: 'G', 35: 'H', 36: 'J', 37: 'K', 38: 'L',
            44: 'Z', 45: 'X', 46: 'C', 47: 'V', 48: 'B', 49: 'N', 50: 'M',
        },
        1: {
            16: 'q', 17: 'w', 18: 'e', 19: 'r', 20: 't', 21: 'y', 22: 'u', 23: 'i', 24: 'o', 25: 'p',
            30: 'a', 31: 's', 32: 'd', 33: 'f', 34: 'g', 35: 'h', 36: 'j', 37: 'k', 38: 'l',
            44: 'z', 45: 'x', 46: 'c', 47: 'v', 48: 'b', 49: 'n', 50: 'm',
        },
        2: {
            16: 'Q', 17: 'W', 18: 'È', 19: 'R', 20: 'T', 21: 'Y', 22: 'Ù', 23: 'Ì', 24: 'Ò', 25: 'P',
            30: 'À', 31: 'S', 32: 'D', 33: 'F', 34: 'Ġ', 35: 'Ħ', 36: 'J', 37: 'K', 38: 'L',
            44: 'Ż', 45: 'X', 46: 'Ċ', 47: 'V', 48: 'B', 49: 'N', 50: 'M',
        },
        3: {
            16: 'q', 17: 'w', 18: 'è', 19: 'r', 20: 't', 21: 'y', 22: 'ù', 23: 'ì', 24: 'ò', 25: 'p',
            30: 'à', 31: 's', 32: 'd', 33: 'f', 34: 'ġ', 35: 'ħ', 36: 'j', 37: 'k', 38: 'l',
            44: 'ż', 45: 'x', 46: 'ċ', 47: 'v', 48: 'b', 49: 'n', 50: 'm',
        },
    },
    compose: [
        (['·', ' ', ' '], ' '),
        (['·', ' ', '\''], '\''),
        (['·', ' ', '-'], '~'),
        (['·', ' ', '>'], '^'),
        (['·', ' ', '^'], '^'),
        (['·', ' ', '`'], '`'),
        (['·', ' ', '~'], '~'),
        (['·', '!', 'S'], '§'),
        (['·', '!', 's'], '§'),
        (['·', '"', '"'], '¨'),
        (['·', '"', 'A'], 'Ä'),
        (['·', '"', 'E'], 'Ë'),
        (['·', '"', 'I'], 'Ï'),
        (['·', '"', 'O'], 'Ö'),
        (['·', '"', 'U'], 'Ü'),
        (['·', '"', 'Y'], 'Ÿ'),
        (['·', '"', 'a'], 'ä'),
        (['·', '"', 'e'], 'ë'),
        (['·', '"', 'i'], 'ï'),
        (['·', '"', 'o'], 'ö'),
        (['·', '"', 'u'], 'ü'),
        (['·', '"', 'y'], 'ÿ'),
        (['·', '\'', ' '], '\''),
        (['·', '\'', '\''], '´'),
        (['·', '\'', 'A'], 'Á'),
        (['·', '\'', 'E'], 'É'),
        (['·', '\'', 'I'], 'Í'),
        (['·', '\'', 'O'], 'Ó'),
        (['·', '\'', 'U'], 'Ú'),
        (['·', '\'', 'Y'], 'Ý'),
        (['·', '\'', 'a'], 'á'),
        (['·', '\'', 'e'], 'é'),
        (['·', '\'', 'i'], 'í'),
        (['·', '\'', 'o'], 'ó'),
        (['·', '\'', 'u'], 'ú'),
        (['·', '\'', 'y'], 'ý'),
        (['·', '(', '('], '['),
        (['·', '(', '-'], '{'),
        (['·', '(', 'G'], 'Ğ'),
        (['·', '(', 'U'], 'Ŭ'),
        (['·', '(', 'g'], 'ğ'),
        (['·', '(', 'r'], '®'),
        (['·', '(', 'u'], 'ŭ'),
        (['·', ')', ')'], ']'),
        (['·', ')', '-'], '}'),
        (['·', '*', '0'], '°'),
        (['·', ',', ','], '¸'),
        (['·', ',', 'C'], 'Ç'),
        (['·', ',', 'S'], 'Ş'),
        (['·', ',', 'c'], 'ç'),
        (['·', ',', 's'], 'ş'),
        (['·', '-', ' '], '~'),
        (['·', '-', '('], '{'),
        (['·', '-', ')'], '}'),
        (['·', '-', '-'], '­'),
        (['·', '-', ':'], '÷'),
        (['·', '-', 'A'], 'Ã'),
        (['·', '-', 'D'], 'Ð'),
        (['·', '-', 'H'], 'Ħ'),
        (['·', '-', 'L'], '£'),
        (['·', '-', 'O'], 'Õ'),
        (['·', '-', 'Y'], '¥'),
        (['·', '-', 'a'], 'ã'),
        (['·', '-', 'd'], 'ð'),
        (['·', '-', 'h'], 'ħ'),
        (['·', '-', 'l'], '£'),
        (['·', '-', 'o'], 'õ'),
        (['·', '-', 'y'], '¥'),
        (['·', '.', '.'], '·'),
        (['·', '.', 'C'], 'Ċ'),
        (['·', '.', 'G'], 'Ġ'),
        (['·', '.', 'I'], 'İ'),
        (['·', '.', 'Z'], 'Ż'),
        (['·', '.', '^'], '·'),
        (['·', '.', 'c'], 'ċ'),
        (['·', '.', 'g'], 'ġ'),
        (['·', '.', 'i'], 'ı'),
        (['·', '.', 'z'], 'ż'),
        (['·', '/', '/'], '\\'),
        (['·', '/', '<'], '\\'),
        (['·', '/', 'U'], 'µ'),
        (['·', '/', '^'], '|'),
        (['·', '/', 'u'], 'µ'),
        (['·', '0', '*'], '°'),
        (['·', '0', 'S'], '§'),
        (['·', '0', '^'], '°'),
        (['·', '0', 's'], '§'),
        (['·', '2', 'S'], '²'),
        (['·', '2', '^'], '²'),
        (['·', '2', 's'], '²'),
        (['·', '3', 'S'], '³'),
        (['·', '3', '^'], '³'),
        (['·', '3', 's'], '³'),
        (['·', ':', '-'], '÷'),
        (['·', '<', '/'], '\\'),
        (['·', '=', 'C'], '€'),
        (['·', '=', 'E'], '€'),
        (['·', '=', 'L'], '£'),
        (['·', '=', 'Y'], '¥'),
        (['·', '=', 'c'], '€'),
        (['·', '=', 'e'], '€'),
        (['·', '=', 'l'], '£'),
        (['·', '=', 'y'], '¥'),
        (['·', '>', ' '], '^'),
        (['·', '>', 'A'], 'Â'),
        (['·', '>', 'C'], 'Ĉ'),
        (['·', '>', 'E'], 'Ê'),
        (['·', '>', 'G'], 'Ĝ'),
        (['·', '>', 'H'], 'Ĥ'),
        (['·', '>', 'I'], 'Î'),
        (['·', '>', 'J'], 'Ĵ'),
        (['·', '>', 'O'], 'Ô'),
        (['·', '>', 'S'], 'Ŝ'),
        (['·', '>', 'U'], 'Û'),
        (['·', '>', 'a'], 'â'),
        (['·', '>', 'c'], 'ĉ'),
        (['·', '>', 'e'], 'ê'),
        (['·', '>', 'g'], 'ĝ'),
        (['·', '>', 'h'], 'ĥ'),
        (['·', '>', 'i'], 'î'),
        (['·', '>', 'j'], 'ĵ'),
        (['·', '>', 'o'], 'ô'),
        (['·', '>', 's'], 'ŝ'),
        (['·', '>', 'u'], 'û'),
        (['·', 'A', '"'], 'Ä'),
        (['·', 'A', '\''], 'Á'),
        (['·', 'A', '-'], 'Ã'),
        (['·', 'A', '>'], 'Â'),
        (['·', 'A', 'A'], '@'),
        (['·', 'A', '^'], 'Â'),
        (['·', 'A', '`'], 'À'),
        (['·', 'A', '~'], 'Ã'),
        (['·', 'C', ','], 'Ç'),
        (['·', 'C', '.'], 'Ċ'),
        (['·', 'C', '='], '€'),
        (['·', 'C', '>'], 'Ĉ'),
        (['·', 'C', '^'], 'Ĉ'),
        (['·', 'D', '-'], 'Ð'),
        (['·', 'E', '"'], 'Ë'),
        (['·', 'E', '\''], 'É'),
        (['·', 'E', '='], '€'),
        (['·', 'E', '>'], 'Ê'),
        (['·', 'E', '^'], 'Ê'),
        (['·', 'E', '`'], 'È'),
        (['·', 'G', '('], 'Ğ'),
        (['·', 'G', '.'], 'Ġ'),
        (['·', 'G', '>'], 'Ĝ'),
        (['·', 'G', 'U'], 'Ğ'),
        (['·', 'G', '^'], 'Ĝ'),
        (['·', 'H', '-'], 'Ħ'),
        (['·', 'H', '>'], 'Ĥ'),
        (['·', 'H', '^'], 'Ĥ'),
        (['·', 'I', '"'], 'Ï'),
        (['·', 'I', '\''], 'Í'),
        (['·', 'I', '.'], 'İ'),
        (['·', 'I', '>'], 'Î'),
        (['·', 'I', '^'], 'Î'),
        (['·', 'I', '`'], 'Ì'),
        (['·', 'J', '>'], 'Ĵ'),
        (['·', 'J', '^'], 'Ĵ'),
        (['·', 'L', '-'], '£'),
        (['·', 'L', '='], '£'),
        (['·', 'L', 'V'], '|'),
        (['·', 'O', '"'], 'Ö'),
        (['·', 'O', '\''], 'Ó'),
        (['·', 'O', '-'], 'Õ'),
        (['·', 'O', '>'], 'Ô'),
        (['·', 'O', 'R'], '®'),
        (['·', 'O', 'S'], '§'),
        (['·', 'O', '^'], 'Ô'),
        (['·', 'O', '`'], 'Ò'),
        (['·', 'O', '~'], 'Õ'),
        (['·', 'R', 'O'], '®'),
        (['·', 'S', '!'], '§'),
        (['·', 'S', ','], 'Ş'),
        (['·', 'S', '0'], '§'),
        (['·', 'S', '2'], '²'),
        (['·', 'S', '3'], '³'),
        (['·', 'S', '>'], 'Ŝ'),
        (['·', 'S', 'O'], '§'),
        (['·', 'S', '^'], 'Ŝ'),
        (['·', 'U', '"'], 'Ü'),
        (['·', 'U', '\''], 'Ú'),
        (['·', 'U', '('], 'Ŭ'),
        (['·', 'U', '/'], 'µ'),
        (['·', 'U', '>'], 'Û'),
        (['·', 'U', 'U'], 'Ŭ'),
        (['·', 'U', '^'], 'Û'),
        (['·', 'U', '`'], 'Ù'),
        (['·', 'V', 'L'], '|'),
        (['·', 'Y', '"'], 'Ÿ'),
        (['·', 'Y', '\''], 'Ý'),
        (['·', 'Y', '-'], '¥'),
        (['·', 'Y', '='], '¥'),
        (['·', 'Z', '.'], 'Ż'),
        (['·', '^', ' '], '^'),
        (['·', '^', '.'], '·'),
        (['·', '^', '/'], '|'),
        (['·', '^', '0'], '°'),
        (['·', '^', '2'], '²'),
        (['·', '^', '3'], '³'),
        (['·', '^', 'A'], 'Â'),
        (['·', '^', 'C'], 'Ĉ'),
        (['·', '^', 'E'], 'Ê'),
        (['·', '^', 'G'], 'Ĝ'),
        (['·', '^', 'H'], 'Ĥ'),
        (['·', '^', 'I'], 'Î'),
        (['·', '^', 'J'], 'Ĵ'),
        (['·', '^', 'O'], 'Ô'),
        (['·', '^', 'S'], 'Ŝ'),
        (['·', '^', 'U'], 'Û'),
        (['·', '^', 'a'], 'â'),
        (['·', '^', 'c'], 'ĉ'),
        (['·', '^', 'e'], 'ê'),
        (['·', '^', 'g'], 'ĝ'),
        (['·', '^', 'h'], 'ĥ'),
        (['·', '^', 'i'], 'î'),
        (['·', '^', 'j'], 'ĵ'),
        (['·', '^', 'o'], 'ô'),
        (['·', '^', 's'], 'ŝ'),
        (['·', '^', 'u'], 'û'),
        (['·', '`', ' '], '`'),
        (['·', '`', 'A'], 'À'),
        (['·', '`', 'E'], 'È'),
        (['·', '`', 'I'], 'Ì'),
        (['·', '`', 'O'], 'Ò'),
        (['·', '`', 'U'], 'Ù'),
        (['·', '`', 'a'], 'à'),
        (['·', '`', 'e'], 'è'),
        (['·', '`', 'i'], 'ì'),
        (['·', '`', 'o'], 'ò'),
        (['·', '`', 'u'], 'ù'),
        (['·', 'a', '"'], 'ä'),
        (['·', 'a', '\''], 'á'),
        (['·', 'a', '-'], 'ã'),
        (['·', 'a', '>'], 'â'),
        (['·', 'a', '^'], 'â'),
        (['·', 'a', '`'], 'à'),
        (['·', 'a', '~'], 'ã'),
        (['·', 'c', ','], 'ç'),
        (['·', 'c', '.'], 'ċ'),
        (['·', 'c', '='], '€'),
        (['·', 'c', '>'], 'ĉ'),
        (['·', 'c', '^'], 'ĉ'),
        (['·', 'd', '-'], 'ð'),
        (['·', 'e', '"'], 'ë'),
        (['·', 'e', '\''], 'é'),
        (['·', 'e', '='], '€'),
        (['·', 'e', '>'], 'ê'),
        (['·', 'e', '^'], 'ê'),
        (['·', 'e', '`'], 'è'),
        (['·', 'g', '('], 'ğ'),
        (['·', 'g', '.'], 'ġ'),
        (['·', 'g', '>'], 'ĝ'),
        (['·', 'g', 'U'], 'ğ'),
        (['·', 'g', '^'], 'ĝ'),
        (['·', 'h', '-'], 'ħ'),
        (['·', 'h', '>'], 'ĥ'),
        (['·', 'h', '^'], 'ĥ'),
        (['·', 'i', '"'], 'ï'),
        (['·', 'i', '\''], 'í'),
        (['·', 'i', '.'], 'ı'),
        (['·', 'i', '>'], 'î'),
        (['·', 'i', '^'], 'î'),
        (['·', 'i', '`'], 'ì'),
        (['·', 'j', '>'], 'ĵ'),
        (['·', 'j', '^'], 'ĵ'),
        (['·', 'l', '-'], '£'),
        (['·', 'l', '='], '£'),
        (['·', 'l', 'v'], '|'),
        (['·', 'o', '"'], 'ö'),
        (['·', 'o', '\''], 'ó'),
        (['·', 'o', '-'], 'õ'),
        (['·', 'o', '>'], 'ô'),
        (['·', 'o', '^'], 'ô'),
        (['·', 'o', '`'], 'ò'),
        (['·', 'o', 's'], '§'),
        (['·', 'o', '~'], 'õ'),
        (['·', 's', '!'], '§'),
        (['·', 's', ','], 'ş'),
        (['·', 's', '0'], '§'),
        (['·', 's', '2'], '²'),
        (['·', 's', '3'], '³'),
        (['·', 's', '>'], 'ŝ'),
        (['·', 's', '^'], 'ŝ'),
        (['·', 's', 'o'], '§'),
        (['·', 's', 's'], 'ß'),
        (['·', 'u', '"'], 'ü'),
        (['·', 'u', '\''], 'ú'),
        (['·', 'u', '('], 'ŭ'),
        (['·', 'u', '/'], 'µ'),
        (['·', 'u', '>'], 'û'),
        (['·', 'u', 'U'], 'ŭ'),
        (['·', 'u', '^'], 'û'),
        (['·', 'u', '`'], 'ù'),
        (['·', 'v', 'l'], '|'),
        (['·', 'x', 'x'], '×'),
        (['·', 'y', '"'], 'ÿ'),
        (['·', 'y', '\''], 'ý'),
        (['·', 'y', '-'], '¥'),
        (['·', 'y', '='], '¥'),
        (['·', 'z', '.'], 'ż'),
        (['·', '~', ' '], '~'),
        (['·', '~', 'A'], 'Ã'),
        (['·', '~', 'O'], 'Õ'),
        (['·', '~', 'a'], 'ã'),
        (['·', '~', 'o'], 'õ'),
        (['̀', ' '], '`'),
        (['̀', 'A'], 'À'),
        (['̀', 'E'], 'È'),
        (['̀', 'I'], 'Ì'),
        (['̀', 'O'], 'Ò'),
        (['̀', 'U'], 'Ù'),
        (['̀', 'a'], 'à'),
        (['̀', 'e'], 'è'),
        (['̀', 'i'], 'ì'),
        (['̀', 'o'], 'ò'),
        (['̀', 'u'], 'ù'),
        (['́', ' '], '\''),
        (['́', '\''], '´'),
        (['́', 'A'], 'Á'),
        (['́', 'E'], 'É'),
        (['́', 'I'], 'Í'),
        (['́', 'O'], 'Ó'),
        (['́', 'U'], 'Ú'),
        (['́', 'Y'], 'Ý'),
        (['́', 'a'], 'á'),
        (['́', 'e'], 'é'),
        (['́', 'i'], 'í'),
        (['́', 'o'], 'ó'),
        (['́', 'u'], 'ú'),
        (['́', 'y'], 'ý'),
        (['̂', ' '], '^'),
        (['̂', '-'], '¯'),
        (['̂', '.'], '·'),
        (['̂', '/'], '|'),
        (['̂', '0'], '°'),
        (['̂', '1'], '¹'),
        (['̂', '2'], '²'),
        (['̂', '3'], '³'),
        (['̂', 'A'], 'Â'),
        (['̂', 'C'], 'Ĉ'),
        (['̂', 'E'], 'Ê'),
        (['̂', 'G'], 'Ĝ'),
        (['̂', 'H'], 'Ĥ'),
        (['̂', 'I'], 'Î'),
        (['̂', 'J'], 'Ĵ'),
        (['̂', 'O'], 'Ô'),
        (['̂', 'S'], 'Ŝ'),
        (['̂', 'U'], 'Û'),
        (['̂', '_'], '¯'),
        (['̂', 'a'], 'â'),
        (['̂', 'c'], 'ĉ'),
        (['̂', 'e'], 'ê'),
        (['̂', 'g'], 'ĝ'),
        (['̂', 'h'], 'ĥ'),
        (['̂', 'i'], 'î'),
        (['̂', 'j'], 'ĵ'),
        (['̂', 'o'], 'ô'),
        (['̂', 's'], 'ŝ'),
        (['̂', 'u'], 'û'),
        (['̃', ' '], '~'),
        (['̃', 'A'], 'Ã'),
        (['̃', 'N'], 'Ñ'),
        (['̃', 'O'], 'Õ'),
        (['̃', 'a'], 'ã'),
        (['̃', 'n'], 'ñ'),
        (['̃', 'o'], 'õ'),
        (['̈', ' '], '¨'),
        (['̈', '"'], '¨'),
        (['̈', 'A'], 'Ä'),
        (['̈', 'E'], 'Ë'),
        (['̈', 'I'], 'Ï'),
        (['̈', 'O'], 'Ö'),
        (['̈', 'U'], 'Ü'),
        (['̈', 'Y'], 'Ÿ'),
        (['̈', 'a'], 'ä'),
        (['̈', 'e'], 'ë'),
        (['̈', 'i'], 'ï'),
        (['̈', 'o'], 'ö'),
        (['̈', 'u'], 'ü'),
        (['̈', 'y'], 'ÿ'),
    ],
)
