(
    version: 1,
    layout: "Filipino (Colemak, Baybayin)",
    modifiers: [
        (42, [(0, Press(Level2))]),
        (54, [(0, Press(Level2))]),
        (100, [(0, Press(Level3))]),
    ],
    keymap: {
        0: {
            13: '\u{1714}',
            17: 'ᜏ', 19: 'ᜉ', 20: 'ᜄ', 22: 'ᜎ', 23: '\u{1713}', 24: 'ᜌ',
            30: 'ᜀ', 31: 'ᜍ', 32: 'ᜐ', 33: 'ᜆ', 34: 'ᜇ', 35: 'ᜑ', 36: 'ᜈ', 37: '\u{1712}', 38: '\u{1712}', 39: '\u{1713}',
            48: 'ᜊ', 49: 'ᜃ', 50: 'ᜋ', 51: '᜵', 52: '᜶',
            83: '\u{7f}',
            86: '<',
        },
        1: {
            23: 'ᜂ',
            36: 'ᜅ', 37: 'ᜁ', 38: 'ᜁ', 39: 'ᜂ',
            86: '>',
        },
        2: {
            86: '|',
        },
        3: {
            86: '¦',
        },
    },
    num_lock_keys: {
        0: {
            71: '7', 72: '8', 73: '9', 75: '4', 76: '5', 77: '6', 79: '1', 80: '2', 81: '3', 82: '0', 83: '.',
        },
    },
    compose: [
        (['·', ' ', ' '], ' '),
        (['·', ' ', '-'], '~'),
        (['·', ' ', '>'], '^'),
        (['·', '(', '('], '['),
        (['·', '(', '-'], '{'),
        (['·', ')', ')'], ']'),
        (['·', ')', '-'], '}'),
        (['·', '*', '0'], '°'),
        (['·', '+', '-'], '±'),
        (['·', '-', ' '], '~'),
        (['·', '-', '('], '{'),
        (['·', '-', ')'], '}'),
        (['·', '-', '+'], '±'),
        (['·', '-', '-'], '­'),
        (['·', '.', '.'], '·'),
        (['·', '/', '/'], '\\'),
        (['·', '/', '<'], '\\'),
        (['·', '0', '*'], '°'),
        (['·', '1', '2'], '½'),
        (['·', '1', '4'], '¼'),
        (['·', '3', '4'], '¾'),
        (['·', '<', '/'], '\\'),
        (['·', '<', '<'], '«'),
        (['·', '>', ' '], '^'),
        (['·', '>', '>'], '»'),
        (['·', '|', '|'], '¦'),
    ],
)
