(
    version: 1,
    layout: "Russian (Poland, phonetic Dvorak)",
    modifiers: [
        (42, [(0, Press(Level2))]),
        (54, [(0, Press(Level2))]),
        (100, [(0, Press(Level3))]),
    ],
    keymap: {
        0: {
            2: '1', 3: '2', 4: '3', 5: '4', 6: '5', 7: '6', 8: '7', 9: '8', 10: '9', 11: '0', 12: '[', 13: ']',
            16: '\'', 17: ',', 18: '.', 19: 'п', 20: 'ы', 21: 'ф', 22: 'г', 23: 'ц', 24: 'р', 25: 'л', 26: '/', 27: '=',
            30: 'а', 31: 'о', 32: 'е', 33: 'у', 34: 'и', 35: 'д', 36: 'х', 37: 'т', 38: 'н', 39: 'с', 40: '-', 41: '`',
            43: '\\', 44: ';', 45: 'я', 46: 'й', 47: 'к', 48: 'щ', 49: 'б', 50: 'м', 51: 'в', 52: 'в', 53: 'з',
            83: '\u{7f}',
            86: '<',
        },
        1: {
            2: '!', 3: '@', 4: '#', 5: '$', 6: '%', 7: '^', 8: '&', 9: '*', 10: '(', 11: ')', 12: '{', 13: '}',
            16: '\"', 17: '<', 18: '>', 19: 'П', 20: 'Ы', 21: 'Ф', 22: 'Г', 23: 'Ц', 24: 'Р', 25: 'Л', 26: '?', 27: '+',
            30: 'А', 31: 'О', 32: 'Е', 33: 'У', 34: 'И', 35: 'Д', 36: 'Х', 37: 'Т', 38: 'Н', 39: 'С', 40: '_', 41: '~',
            43: '|', 44: ':', 45: 'Я', 46: 'Й', 47: 'К', 48: 'Щ', 49: 'Б', 50: 'М', 51: 'В', 52: 'В', 53: 'З',
            86: '>',
        },
        2: {
            7: '\u{302}', 10: '\u{300}', 13: '\u{303}',
            16: '\u{301}', 17: '\u{327}', 18: '\u{307}', 19: 'ь', 23: 'ч', 24: 'ь', 25: 'ь',
            30: 'я', 31: 'ё', 32: 'э', 33: 'ю', 35: 'ь', 37: 'ь', 38: 'ь', 39: 'ш', 41: '\u{300}',
            44: '\u{328}', 49: 'ъ', 51: 'щ', 52: 'щ', 53: 'ж',
            86: '|',
        },
        3: {
            10: '\u{306}',
            16: '\u{308}', 17: '\u{30c}', 18: '·', 19: 'Ь', 23: 'Ч', 24: 'Ь', 25: 'Ь',
            30: 'Я', 31: 'Ё', 32: 'Э', 33: 'Ю', 35: 'Ь', 37: 'Ь', 38: 'Ь', 39: 'Ш', 41: '\u{303}',
            44: '\u{30b}', 49: 'Ъ', 51: 'Щ', 52: 'Щ', 53: 'Ж',
            86: '¦',
        },
    },
    num_lock_keys: {
        0: {
            71: '7', 72: '8', 73: '9', 75: '4', 76: '5', 77: '6', 79: '1', 80: '2', 81: '3', 82: '0', 83: ',',
        },
    },
    caps_lock_keymap: {
        0: {
            19: 'П', 20: 'Ы', 21: 'Ф', 22: 'Г', 23: 'Ц', 24: 'Р', 25: 'Л',
            30: 'А', 31: 'О', 32: 'Е', 33: 'У', 34: 'И', 35: 'Д', 36: 'Х', 37: 'Т', 38: 'Н', 39: 'С',
            45: 'Я', 46: 'Й', 47: 'К', 48: 'Щ', 49: 'Б', 50: 'М', 51: 'В', 52: 'В', 53: 'З',
        },
        1: {
            19: 'п', 20: 'ы', 21: 'ф', 22: 'г', 23: 'ц', 24: 'р', 25: 'л',
            30: 'а', 31: 'о', 32: 'е', 33: 'у', 34: 'и', 35: 'д', 36: 'х', 37: 'т', 38: 'н', 39: 'с',
            45: 'я', 46: 'й', 47: 'к', 48: 'щ', 49: 'б', 50: 'м', 51: 'в', 52: 'в', 53: 'з',
        },
        2: {
            19: 'Ь', 20: 'Ы', 21: 'Ф', 22: 'Г', 23: 'Ч', 24: 'Ь', 25: 'Ь',
            30: 'Я', 31: 'Ё', 32: 'Э', 33: 'Ю', 34: 'И', 35: 'Ь', 36: 'Х', 37: 'Ь', 38: 'Ь', 39: 'Ш',
            45: 'Я', 46: 'Й', 47: 'К', 48: 'Щ', 49: 'Ъ', 50: 'М', 51: 'Щ', 52: 'Щ', 53: 'Ж',
        },
        3: {
            19: 'ь', 20: 'ы', 21: 'ф', 22: 'г', 23: 'ч', 24: 'ь', 25: 'ь',
            30: 'я', 31: 'ё', 32: 'э', 33: 'ю', 34: 'и', 35: 'ь', 36: 'х', 37: 'ь', 38: 'ь', 39: 'ш',
            45: 'я', 46: 'й', 47: 'к', 48: 'щ', 49: 'ъ', 50: 'м', 51: 'щ', 52: 'щ', 53: 'ж',
        },
    },
    compose: [
        (['·', ' ', '\''], '\''),
        (['·', ' ', '-'], '~'),
        (['·', ' ', '>'], '^'),
        (['·', ' ', '^'], '^'),
        (['·', ' ', '`'], '`'),
        (['·', ' ', '~'], '~'),
        (['·', '"', '"'], '¨'),
        (['·', '\'', ' '], '\''),
        (['·', '\'', '\'', ' '], '˝'),
        (['·', '(', '('], '['),
        (['·', '(', '-'], '{'),
        (['·', ')', ')'], ']'),
        (['·', ')', '-'], '}'),
        (['·', '*', '0'], '°'),
        (['·', ',', ','], '¸'),
        (['·', '-', ' '], '~'),
        (['·', '-', '('], '{'),
        (['·', '-', ')'], '}'),
        (['·', '-', '-'], '­'),
        (['·', '-', ':'], '÷'),
        (['·', '.', '.'], '˙'),
        (['·', '/', '/'], '\\'),
        (['·', '/', '<'], '\\'),
        (['·', '/', '^'], '|'),
        (['·', '0', '*'], '°'),
        (['·', ':', '-'], '÷'),
        (['·', '<', '/'], '\\'),
        (['·', '<', '<'], 'ˇ'),
        (['·', '>', ' '], '^'),
        (['·', '^', ' '], '^'),
        (['·', '^', '/'], '|'),
        (['·', '`', ' '], '`'),
        (['·', '~', ' '], '~'),
        (['̀', ' '], '`'),
        (['̀', '`'], '`'),
        (['̀', '̀'], '`'),
        (['́', ' '], '´'),
        (['́', '́'], '´'),
        (['̂', ' '], '^'),
        (['̂', '^'], '^'),
        (['̂', '̂'], '^'),
        (['̃', ' '], '~'),
        (['̃', '~'], '~'),
        (['̃', '̃'], '~'),
        (['̆', ' '], '˘'),
        (['̆', '̆'], '˘'),
        (['̇', ' '], '˙'),
        (['̇', '̇'], '˙'),
        (['̈', ' '], '¨'),
        (['̈', '̈'], '¨'),
        (['̋', ' '], '˝'),
        (['̋', '̋'], '˝'),
        (['̌', ' '], 'ˇ'),
        (['̌', '̌'], 'ˇ'),
        (['̧', ' '], '¸'),
        (['̧', '̧'], '¸'),
        (['̨', ' '], '˛'),
        (['̨', '̨'], '˛'),
    ],
)
