(
    version: 1,
    layout: "Syriac (phonetic)",
    modifiers: [
        (42, [(0, Press(Level2))]),
        (54, [(0, Press(Level2))]),
        (84, [(0, Press(Level3))]),
    ],
    keymap: {
        0: {
            2: '1', 3: '2', 4: '3', 5: '4', 6: '5', 7: '6', 8: '7', 9: '8', 10: '9', 11: '0', 12: '-', 13: '=',
            16: 'ܩ', 17: 'ܘ', 18: 'ܖ', 19: 'ܪ', 20: 'ܬ', 21: 'ܝ', 22: 'ܜ', 23: 'ܥ', 24: 'ܧ', 25: 'ܦ', 26: ']', 27: '[',
            30: 'ܐ', 31: 'ܣ', 32: 'ܕ', 33: 'ܔ', 34: 'ܓ', 35: 'ܗ', 36: 'ܛ', 37: 'ܟ', 38: 'ܠ', 39: 'ܚ', 40: 'ܞ', 41: '\u{70f}',
            43: '܆', 44: 'ܙ', 45: 'ܨ', 46: 'ܤ', 47: 'ܫ', 48: 'ܒ', 49: 'ܢ', 50: 'ܡ', 51: '܀', 52: '.', 53: '܇',
            83: '\u{7f}',
            86: '<',
        },
        1: {
            2: '!', 3: '\u{30a}', 4: '\u{325}', 5: '\u{749}', 6: '♰', 7: '♱', 8: '܊', 9: '»', 10: ')', 11: '(', 12: '«', 13: '+',
            16: '\u{730}', 17: '\u{733}', 18: '\u{736}', 19: '\u{73a}', 20: '\u{73d}', 21: '\u{740}', 22: '\u{741}', 23: '\u{308}', 24: '\u{304}', 25: '\u{307}', 26: '\u{303}', 27: '\u{74a}',
            30: '\u{731}', 31: '\u{734}', 32: '\u{737}', 33: '\u{73b}', 34: '\u{73e}', 35: '\u{711}', 36: 'ـ', 37: '\u{324}', 38: '\u{331}', 39: '\u{323}', 40: '\u{330}', 41: '\u{32e}',
            43: ':', 44: '\u{732}', 45: '\u{735}', 46: '\u{738}', 47: '\u{73c}', 48: '\u{73f}', 49: '\u{739}', 50: '\u{742}', 51: '،', 52: '؛', 53: '؟',
            57: '\u{200c}',
            86: '>',
        },
        2: {
            2: '܁', 3: '܂', 4: '܃', 5: '܄', 6: '܅', 7: '܈', 8: '܉', 9: '܋', 10: '܌', 11: '܍', 12: '┌', 13: '┐',
            16: '\u{64e}', 17: '\u{64b}', 18: '\u{64f}', 19: '\u{64c}', 20: '\u{653}', 21: '\u{654}', 22: '\u{747}', 23: '\u{743}', 24: '\u{745}', 25: '\u{32d}',
            30: '\u{650}', 31: '\u{64d}', 33: 'ء', 34: '\u{655}', 35: '\u{670}', 36: '\u{748}', 37: '\u{744}', 38: '\u{746}', 41: '\u{651}',
            44: '\u{652}', 46: '\u{200d}', 47: '\u{200c}', 48: '\u{200e}', 49: '\u{200f}',
            86: '|',
        },
        3: {
            86: '¦',
        },
    },
    num_lock_keys: {
        0: {
            71: '7', 72: '8', 73: '9', 75: '4', 76: '5', 77: '6', 79: '1', 80: '2', 81: '3', 82: '0', 83: '.',
        },
    },
    compose: [
        (['·', ' ', ' '], ' '),
        (['·', ' ', '('], '˘'),
        (['·', ' ', '-'], '~'),
        (['·', ' ', '.'], ' '),
        (['·', ' ', '<'], 'ˇ'),
        (['·', ' ', '>'], '^'),
        (['·', '!', '!'], '¡'),
        (['·', '#', '#'], '♯'),
        (['·', '(', ' '], '˘'),
        (['·', '(', '('], '['),
        (['·', '(', ')', ')'], '🄯'),
        (['·', '(', '-'], '{'),
        (['·', '(', '0', ')'], '⓪'),
        (['·', '(', '1', ')'], '①'),
        (['·', '(', '1', '0', ')'], '⑩'),
        (['·', '(', '1', '1', ')'], '⑪'),
        (['·', '(', '1', '2', ')'], '⑫'),
        (['·', '(', '1', '3', ')'], '⑬'),
        (['·', '(', '1', '4', ')'], '⑭'),
        (['·', '(', '1', '5', ')'], '⑮'),
        (['·', '(', '1', '6', ')'], '⑯'),
        (['·', '(', '1', '7', ')'], '⑰'),
        (['·', '(', '1', '8', ')'], '⑱'),
        (['·', '(', '1', '9', ')'], '⑲'),
        (['·', '(', '2', ')'], '②'),
        (['·', '(', '2', '0', ')'], '⑳'),
        (['·', '(', '2', '1', ')'], '㉑'),
        (['·', '(', '2', '2', ')'], '㉒'),
        (['·', '(', '2', '3', ')'], '㉓'),
        (['·', '(', '2', '4', ')'], '㉔'),
        (['·', '(', '2', '5', ')'], '㉕'),
        (['·', '(', '2', '6', ')'], '㉖'),
        (['·', '(', '2', '7', ')'], '㉗'),
        (['·', '(', '2', '8', ')'], '㉘'),
        (['·', '(', '2', '9', ')'], '㉙'),
        (['·', '(', '3', ')'], '③'),
        (['·', '(', '3', '0', ')'], '㉚'),
        (['·', '(', '3', '1', ')'], '㉛'),
        (['·', '(', '3', '2', ')'], '㉜'),
        (['·', '(', '3', '3', ')'], '㉝'),
        (['·', '(', '3', '4', ')'], '㉞'),
        (['·', '(', '3', '5', ')'], '㉟'),
        (['·', '(', '3', '6', ')'], '㊱'),
        (['·', '(', '3', '7', ')'], '㊲'),
        (['·', '(', '3', '8', ')'], '㊳'),
        (['·', '(', '3', '9', ')'], '㊴'),
        (['·', '(', '4', ')'], '④'),
        (['·', '(', '4', '0', ')'], '㊵'),
        (['·', '(', '4', '1', ')'], '㊶'),
        (['·', '(', '4', '2', ')'], '㊷'),
        (['·', '(', '4', '3', ')'], '㊸'),
        (['·', '(', '4', '4', ')'], '㊹'),
        (['·', '(', '4', '5', ')'], '㊺'),
        (['·', '(', '4', '6', ')'], '㊻'),
        (['·', '(', '4', '7', ')'], '㊼'),
        (['·', '(', '4', '8', ')'], '㊽'),
        (['·', '(', '4', '9', ')'], '㊾'),
        (['·', '(', '5', ')'], '⑤'),
        (['·', '(', '5', '0', ')'], '㊿'),
        (['·', '(', '6', ')'], '⑥'),
        (['·', '(', '7', ')'], '⑦'),
        (['·', '(', '8', ')'], '⑧'),
        (['·', '(', '9', ')'], '⑨'),
        (['·', ')', ')'], ']'),
        (['·', ')', '-'], '}'),
        (['·', '*', '0'], '°'),
        (['·', '+', '-'], '±'),
        (['·', '-', ' '], '~'),
        (['·', '-', '('], '{'),
        (['·', '-', ')'], '}'),
        (['·', '-', '+'], '±'),
        (['·', '-', '-', ' '], '­'),
        (['·', '-', '-', '-'], '—'),
        (['·', '-', '-', '.'], '–'),
        (['·', '-', '/'], '⌿'),
        (['·', '-', ':'], '÷'),
        (['·', '-', '>'], '→'),
        (['·', '.', ' '], '˙'),
        (['·', '.', '-'], '·'),
        (['·', '.', '.'], '…'),
        (['·', '.', ':'], '∵'),
        (['·', '.', '<'], '‹'),
        (['·', '.', '='], '•'),
        (['·', '.', '>'], '›'),
        (['·', '/', '-'], '⌿'),
        (['·', '/', '/'], '\\'),
        (['·', '/', '<'], '\\'),
        (['·', '/', '='], '≠'),
        (['·', '0', '*'], '°'),
        (['·', '0', '3'], '↉'),
        (['·', '1', '1', '0'], '⅒'),
        (['·', '1', '2'], '½'),
        (['·', '1', '3'], '⅓'),
        (['·', '1', '4'], '¼'),
        (['·', '1', '5'], '⅕'),
        (['·', '1', '6'], '⅙'),
        (['·', '1', '7'], '⅐'),
        (['·', '1', '8'], '⅛'),
        (['·', '1', '9'], '⅑'),
        (['·', '2', '3'], '⅔'),
        (['·', '2', '5'], '⅖'),
        (['·', '3', '4'], '¾'),
        (['·', '3', '5'], '⅗'),
        (['·', '3', '8'], '⅜'),
        (['·', '4', '5'], '⅘'),
        (['·', '5', '6'], '⅚'),
        (['·', '5', '8'], '⅝'),
        (['·', '7', '8'], '⅞'),
        (['·', '8', '8'], '∞'),
        (['·', ':', '('], '☹'),
        (['·', ':', ')'], '☺'),
        (['·', ':', '-'], '÷'),
        (['·', ':', '.'], '∴'),
        (['·', '<', ' '], 'ˇ'),
        (['·', '<', '-'], '←'),
        (['·', '<', '/'], '≮'),
        (['·', '<', '3'], '♥'),
        (['·', '<', '<'], '«'),
        (['·', '<', '='], '≤'),
        (['·', '<', '>'], '⋄'),
        (['·', '=', '/'], '≠'),
        (['·', '=', '<'], '⇐'),
        (['·', '=', '>'], '⇒'),
        (['·', '>', ' '], '^'),
        (['·', '>', '/'], '≯'),
        (['·', '>', '<'], '⋄'),
        (['·', '>', '='], '≥'),
        (['·', '>', '>'], '»'),
        (['·', '[', ']'], '⌷'),
        (['·', ']', '['], '⌷'),
        (['·', '|', '-'], '†'),
        (['·', '|', '='], '‡'),
    ],
)
