(
    version: 1,
    layout: "Thai (Manoonchai)",
    modifiers: [
        (42, [(0, Press(Level2))]),
        (54, [(0, Press(Level2))]),
        (100, [(0, Press(Level3))]),
    ],
    keymap: {
        0: {
            2: '1', 3: '2', 4: '3', 5: '4', 6: '5', 7: '6', 8: '7', 9: '8', 10: '9', 11: '0', 12: '-', 13: '=',
            16: 'ใ', 17: 'ต', 18: 'ห', 19: 'ล', 20: 'ส', 21: 'ป', 22: '\u{e31}', 23: 'ก', 24: '\u{e34}', 25: 'บ', 26: '\u{e47}', 27: 'ฬ',
            30: 'ง', 31: 'เ', 32: 'ร', 33: 'น', 34: 'ม', 35: 'อ', 36: 'า', 37: '\u{e48}', 38: '\u{e49}', 39: 'ว', 40: '\u{e37}', 41: '`',
            43: 'ฯ', 44: '\u{e38}', 45: 'ไ', 46: 'ท', 47: 'ย', 48: 'จ', 49: 'ค', 50: '\u{e35}', 51: 'ด', 52: 'ะ', 53: '\u{e39}',
            83: '.',
            86: '<',
        },
        1: {
            2: '!', 3: '@', 4: '#', 5: '$', 6: '%', 7: '^', 8: '&', 9: '*', 10: '(', 11: ')', 12: '_', 13: '+',
            16: 'ฒ', 17: 'ฏ', 18: 'ซ', 19: 'ญ', 20: 'ฟ', 21: 'ฉ', 22: '\u{e36}', 23: 'ธ', 24: 'ฐ', 25: 'ฎ', 26: 'ฆ', 27: 'ฑ',
            30: 'ษ', 31: 'ถ', 32: 'แ', 33: 'ช', 34: 'พ', 35: 'ผ', 36: 'ำ', 37: 'ข', 38: 'โ', 39: 'ภ', 40: '\"', 41: '~',
            43: 'ฌ', 44: 'ฤ', 45: 'ฝ', 46: 'ๆ', 47: 'ณ', 48: '\u{e4a}', 49: '\u{e4b}', 50: '\u{e4c}', 51: 'ศ', 52: 'ฮ', 53: '?',
            86: '>',
        },
        2: {
            2: '๑', 3: '๒', 4: '๓', 5: '๔', 6: '๕', 7: '๖', 8: '๗', 9: '๘', 10: '๙', 11: '๐', 12: '÷', 13: '×',
            22: '\u{e3a}', 26: '[', 27: ']',
            30: '◌', 31: '๏', 32: '๛', 33: '฿', 35: '\u{e4d}', 36: 'ๅ', 37: 'ฃ', 39: ';', 40: '\'',
            43: '\\', 44: 'ฦ', 46: '๚', 49: 'ฅ', 50: '\u{e4e}', 51: ',', 52: '.', 53: '/',
            86: '|',
        },
        3: {
            26: '{', 27: '}',
            39: ':',
            43: '|', 51: '<', 52: '>',
            86: '¦',
        },
    },
    num_lock_keys: {
        0: {
            71: '7', 72: '8', 73: '9', 75: '4', 76: '5', 77: '6', 79: '1', 80: '2', 81: '3', 82: '0',
        },
    },
)
