(
    version: 1,
    layout: "Thai (Pattachote)",
    modifiers: [
        (42, [(0, Press(Level2))]),
        (54, [(0, Press(Level2))]),
        (84, [(0, Press(Level3))]),
    ],
    keymap: {
        0: {
            2: '=', 3: '๒', 4: '๓', 5: '๔', 6: '๕', 7: '\u{e39}', 8: '๗', 9: '๘', 10: '๙', 11: '๐', 12: '๑', 13: '๖',
            16: '\u{e47}', 17: 'ต', 18: 'ย', 19: 'อ', 20: 'ร', 21: '\u{e48}', 22: 'ด', 23: 'ม', 24: 'ว', 25: 'แ', 26: 'ใ', 27: 'ฌ',
            30: '\u{e49}', 31: 'ท', 32: 'ง', 33: 'ก', 34: '\u{e31}', 35: '\u{e35}', 36: 'า', 37: 'น', 38: 'เ', 39: 'ไ', 40: 'ข', 41: '_',
            43: 'ๅ', 44: 'บ', 45: 'ป', 46: 'ล', 47: 'ห', 48: '\u{e34}', 49: 'ค', 50: 'ส', 51: 'ะ', 52: 'จ', 53: 'พ',
            83: '\u{7f}',
            86: '<',
        },
        1: {
            2: '+', 3: '\"', 4: '/', 5: ',', 6: '?', 7: '\u{e38}', 8: '_', 9: '.', 10: '(', 11: ')', 12: '-', 13: '%',
            16: '\u{e4a}', 17: 'ฤ', 18: 'ๆ', 19: 'ญ', 20: 'ษ', 21: '\u{e36}', 22: 'ฝ', 23: 'ซ', 24: 'ถ', 25: 'ฒ', 26: 'ฯ', 27: 'ฦ',
            30: '\u{e4b}', 31: 'ธ', 32: 'ำ', 33: 'ณ', 34: '\u{e4c}', 35: '\u{e37}', 36: 'ผ', 37: 'ช', 38: 'โ', 39: 'ฆ', 40: 'ฑ', 41: '฿',
            43: '\u{e4d}', 44: 'ฎ', 45: 'ฏ', 46: 'ฐ', 47: 'ภ', 48: '\u{e3a}', 49: 'ศ', 50: 'ฮ', 51: 'ฟ', 52: 'ฉ', 53: 'ฬ',
            86: '>',
        },
        2: {
            86: '|',
        },
        3: {
            86: '¦',
        },
    },
    num_lock_keys: {
        0: {
            71: '7', 72: '8', 73: '9', 75: '4', 76: '5', 77: '6', 79: '1', 80: '2', 81: '3', 82: '0', 83: '.',
        },
    },
)
