(
    version: 1,
    layout: "Thai",
    modifiers: [
        (42, [(0, Press(Level2))]),
        (54, [(0, Press(Level2))]),
        (84, [(0, Press(Level3))]),
    ],
    keymap: {
        0: {
            2: 'ๅ', 3: '/', 4: '-', 5: 'ภ', 6: 'ถ', 7: '\u{e38}', 8: '\u{e36}', 9: 'ค', 10: 'ต', 11: 'จ', 12: 'ข', 13: 'ช',
            16: 'ๆ', 17: 'ไ', 18: 'ำ', 19: 'พ', 20: 'ะ', 21: '\u{e31}', 22: '\u{e35}', 23: 'ร', 24: 'น', 25: 'ย', 26: 'บ', 27: 'ล',
            30: 'ฟ', 31: 'ห', 32: 'ก', 33: 'ด', 34: 'เ', 35: '\u{e49}', 36: '\u{e48}', 37: 'า', 38: 'ส', 39: 'ว', 40: 'ง', 41: '_',
            43: 'ฃ', 44: 'ผ', 45: 'ป', 46: 'แ', 47: 'อ', 48: '\u{e34}', 49: '\u{e37}', 50: 'ท', 51: 'ม', 52: 'ใ', 53: 'ฝ',
            83: '\u{7f}',
            86: '<',
        },
        1: {
            2: '+', 3: '๑', 4: '๒', 5: '๓', 6: '๔', 7: '\u{e39}', 8: '฿', 9: '๕', 10: '๖', 11: '๗', 12: '๘', 13: '๙',
            16: '๐', 17: '\"', 18: 'ฎ', 19: 'ฑ', 20: 'ธ', 21: '\u{e4d}', 22: '\u{e4a}', 23: 'ณ', 24: 'ฯ', 25: 'ญ', 26: 'ฐ', 27: ',',
            30: 'ฤ', 31: 'ฆ', 32: 'ฏ', 33: 'โ', 34: 'ฌ', 35: '\u{e47}', 36: '\u{e4b}', 37: 'ษ', 38: 'ศ', 39: 'ซ', 40: '.', 41: '%',
            43: 'ฅ', 44: '(', 45: ')', 46: 'ฉ', 47: 'ฮ', 48: '\u{e3a}', 49: '\u{e4c}', 50: '?', 51: 'ฒ', 52: 'ฬ', 53: 'ฦ',
            86: '>',
        },
        2: {
            86: '|',
        },
        3: {
            86: '¦',
        },
    },
    num_lock_keys: {
        0: {
            71: '7', 72: '8', 73: '9', 75: '4', 76: '5', 77: '6', 79: '1', 80: '2', 81: '3', 82: '0', 83: '.',
        },
    },
)
