(
    version: 1,
    layout: "Ukrainian (homophonic)",
    modifiers: [
        (42, [(0, Press(Level2))]),
        (54, [(0, Press(Level2))]),
        (84, [(0, Press(Level3))]),
    ],
    keymap: {
        0: {
            2: '1', 3: '2', 4: '3', 5: '4', 6: '5', 7: '6', 8: '7', 9: '8', 10: '9', 11: '0', 12: 'є', 13: 'ї',
            16: 'я', 17: 'ш', 18: 'е', 19: 'р', 20: 'т', 21: 'и', 22: 'у', 23: 'і', 24: 'о', 25: 'п', 26: 'ю', 27: 'щ',
            30: 'а', 31: 'с', 32: 'д', 33: 'ф', 34: 'ґ', 35: 'г', 36: 'й', 37: 'к', 38: 'л', 39: 'ч', 40: 'ж', 41: '`',
            43: 'ь', 44: 'з', 45: 'х', 46: 'ц', 47: 'в', 48: 'б', 49: 'н', 50: 'м', 51: ',', 52: '.', 53: '/',
            83: '\u{7f}',
            86: '/',
        },
        1: {
            2: '!', 3: '@', 4: ';', 5: ':', 6: '%', 7: '\'', 8: '\"', 9: '*', 10: '(', 11: ')', 12: 'Є', 13: 'Ї',
            16: 'Я', 17: 'Ш', 18: 'Е', 19: 'Р', 20: 'Т', 21: 'И', 22: 'У', 23: 'І', 24: 'О', 25: 'П', 26: 'Ю', 27: 'Щ',
            30: 'А', 31: 'С', 32: 'Д', 33: 'Ф', 34: 'Ґ', 35: 'Г', 36: 'Й', 37: 'К', 38: 'Л', 39: 'Ч', 40: 'Ж', 41: '_',
            43: 'Ь', 44: 'З', 45: 'Х', 46: 'Ц', 47: 'В', 48: 'Б', 49: 'Н', 50: 'М', 51: '<', 52: '>', 53: '?',
            86: '|',
        },
        3: {
            86: '¦',
        },
    },
    num_lock_keys: {
        0: {
            71: '7', 72: '8', 73: '9', 75: '4', 76: '5', 77: '6', 79: '1', 80: '2', 81: '3', 82: '0', 83: '.',
        },
    },
    caps_lock_keymap: {
        0: {
            12: 'Є', 13: 'Ї',
            16: 'Я', 17: 'Ш', 18: 'Е', 19: 'Р', 20: 'Т', 21: 'И', 22: 'У', 23: 'І', 24: 'О', 25: 'П', 26: 'Ю', 27: 'Щ',
            30: 'А', 31: 'С', 32: 'Д', 33: 'Ф', 34: 'Ґ', 35: 'Г', 36: 'Й', 37: 'К', 38: 'Л', 39: 'Ч', 40: 'Ж',
            43: 'Ь', 44: 'З', 45: 'Х', 46: 'Ц', 47: 'В', 48: 'Б', 49: 'Н', 50: 'М',
        },
        1: {
            12: 'є', 13: 'ї',
            16: 'я', 17: 'ш', 18: 'е', 19: 'р', 20: 'т', 21: 'и', 22: 'у', 23: 'і', 24: 'о', 25: 'п', 26: 'ю', 27: 'щ',
            30: 'а', 31: 'с', 32: 'д', 33: 'ф', 34: 'ґ', 35: 'г', 36: 'й', 37: 'к', 38: 'л', 39: 'ч', 40: 'ж',
            43: 'ь', 44: 'з', 45: 'х', 46: 'ц', 47: 'в', 48: 'б', 49: 'н', 50: 'м',
        },
    },
    compose: [
        (['·', ' ', ' '], ' '),
        (['·', ' ', '('], '˘'),
        (['·', ' ', ','], '¸'),
        (['·', ' ', '-'], '~'),
        (['·', ' ', '.'], ' '),
        (['·', ' ', '<'], 'ˇ'),
        (['·', ' ', '>'], '^'),
        (['·', ' ', '_'], '¯'),
        (['·', '!', '!'], '¡'),
        (['·', '!', '?'], '‽'),
        (['·', '"', ' '], '¨'),
        (['·', '"', '"'], '¨'),
        (['·', '"', '\''], '̈́'),
        (['·', '"', ','], '„'),
        (['·', '"', '<'], '“'),
        (['·', '"', '>'], '”'),
        (['·', '"', 'І'], 'Ї'),
        (['·', '"', 'А'], 'Ӓ'),
        (['·', '"', 'Е'], 'Ё'),
        (['·', '"', 'Ж'], 'Ӝ'),
        (['·', '"', 'З'], 'Ӟ'),
        (['·', '"', 'И'], 'Ӥ'),
        (['·', '"', 'О'], 'Ӧ'),
        (['·', '"', 'У'], 'Ӱ'),
        (['·', '"', 'Ч'], 'Ӵ'),
        (['·', '"', 'а'], 'ӓ'),
        (['·', '"', 'е'], 'ё'),
        (['·', '"', 'ж'], 'ӝ'),
        (['·', '"', 'з'], 'ӟ'),
        (['·', '"', 'и'], 'ӥ'),
        (['·', '"', 'о'], 'ӧ'),
        (['·', '"', 'у'], 'ӱ'),
        (['·', '"', 'ч'], 'ӵ'),
        (['·', '"', 'і'], 'ї'),
        (['·', '#', '#'], '♯'),
        (['·', '\'', '"', ' '], '΅'),
        (['·', '\'', '\''], '´'),
        (['·', '\'', ','], '‚'),
        (['·', '\'', '<'], '‘'),
        (['·', '\'', '>'], '’'),
        (['·', '\'', 'А'], 'А'),
        (['·', '\'', 'Г'], 'Ѓ'),
        (['·', '\'', 'Е'], 'Е'),
        (['·', '\'', 'И'], 'И'),
        (['·', '\'', 'К'], 'Ќ'),
        (['·', '\'', 'О'], 'О'),
        (['·', '\'', 'Р'], 'Р'),
        (['·', '\'', 'У'], 'У'),
        (['·', '\'', 'Ю'], 'Ю'),
        (['·', '\'', 'Я'], 'Я'),
        (['·', '\'', 'а'], 'а'),
        (['·', '\'', 'г'], 'ѓ'),
        (['·', '\'', 'е'], 'е'),
        (['·', '\'', 'и'], 'и'),
        (['·', '\'', 'к'], 'ќ'),
        (['·', '\'', 'о'], 'о'),
        (['·', '\'', 'р'], 'р'),
        (['·', '\'', 'у'], 'у'),
        (['·', '\'', 'ю'], 'ю'),
        (['·', '\'', 'я'], 'я'),
        (['·', '(', ' '], '˘'),
        (['·', '(', '('], '['),
        (['·', '(', ')', ')'], '🄯'),
        (['·', '(', '-'], '{'),
        (['·', '(', '0', ')'], '⓪'),
        (['·', '(', '1', ')'], '①'),
        (['·', '(', '1', '0', ')'], '⑩'),
        (['·', '(', '1', '1', ')'], '⑪'),
        (['·', '(', '1', '2', ')'], '⑫'),
        (['·', '(', '1', '3', ')'], '⑬'),
        (['·', '(', '1', '4', ')'], '⑭'),
        (['·', '(', '1', '5', ')'], '⑮'),
        (['·', '(', '1', '6', ')'], '⑯'),
        (['·', '(', '1', '7', ')'], '⑰'),
        (['·', '(', '1', '8', ')'], '⑱'),
        (['·', '(', '1', '9', ')'], '⑲'),
        (['·', '(', '2', ')'], '②'),
        (['·', '(', '2', '0', ')'], '⑳'),
        (['·', '(', '2', '1', ')'], '㉑'),
        (['·', '(', '2', '2', ')'], '㉒'),
        (['·', '(', '2', '3', ')'], '㉓'),
        (['·', '(', '2', '4', ')'], '㉔'),
        (['·', '(', '2', '5', ')'], '㉕'),
        (['·', '(', '2', '6', ')'], '㉖'),
        (['·', '(', '2', '7', ')'], '㉗'),
        (['·', '(', '2', '8', ')'], '㉘'),
        (['·', '(', '2', '9', ')'], '㉙'),
        (['·', '(', '3', ')'], '③'),
        (['·', '(', '3', '0', ')'], '㉚'),
        (['·', '(', '3', '1', ')'], '㉛'),
        (['·', '(', '3', '2', ')'], '㉜'),
        (['·', '(', '3', '3', ')'], '㉝'),
        (['·', '(', '3', '4', ')'], '㉞'),
        (['·', '(', '3', '5', ')'], '㉟'),
        (['·', '(', '3', '6', ')'], '㊱'),
        (['·', '(', '3', '7', ')'], '㊲'),
        (['·', '(', '3', '8', ')'], '㊳'),
        (['·', '(', '3', '9', ')'], '㊴'),
        (['·', '(', '4', ')'], '④'),
        (['·', '(', '4', '0', ')'], '㊵'),
        (['·', '(', '4', '1', ')'], '㊶'),
        (['·', '(', '4', '2', ')'], '㊷'),
        (['·', '(', '4', '3', ')'], '㊸'),
        (['·', '(', '4', '4', ')'], '㊹'),
        (['·', '(', '4', '5', ')'], '㊺'),
        (['·', '(', '4', '6', ')'], '㊻'),
        (['·', '(', '4', '7', ')'], '㊼'),
        (['·', '(', '4', '8', ')'], '㊽'),
        (['·', '(', '4', '9', ')'], '㊾'),
        (['·', '(', '5', ')'], '⑤'),
        (['·', '(', '5', '0', ')'], '㊿'),
        (['·', '(', '6', ')'], '⑥'),
        (['·', '(', '7', ')'], '⑦'),
        (['·', '(', '8', ')'], '⑧'),
        (['·', '(', '9', ')'], '⑨'),
        (['·', ')', ')'], ']'),
        (['·', ')', '-'], '}'),
        (['·', '*', '0'], '°'),
        (['·', '+', '-'], '±'),
        (['·', ',', ' '], '¸'),
        (['·', ',', '"'], '„'),
        (['·', ',', '\''], '‚'),
        (['·', ',', ','], '¸'),
        (['·', ',', '-'], '¬'),
        (['·', '-', ' '], '~'),
        (['·', '-', '('], '{'),
        (['·', '-', ')'], '}'),
        (['·', '-', '+'], '±'),
        (['·', '-', ','], '¬'),
        (['·', '-', '-', ' '], '­'),
        (['·', '-', '-', '-'], '—'),
        (['·', '-', '-', '.'], '–'),
        (['·', '-', '/'], '⌿'),
        (['·', '-', ':'], '÷'),
        (['·', '-', '>'], '→'),
        (['·', '-', '_'], '−'),
        (['·', '.', ' '], '˙'),
        (['·', '.', '-'], '·'),
        (['·', '.', '.'], '…'),
        (['·', '.', ':'], '∵'),
        (['·', '.', '<'], '‹'),
        (['·', '.', '='], '•'),
        (['·', '.', '>'], '›'),
        (['·', '/', '-'], '⌿'),
        (['·', '/', '/'], '\\'),
        (['·', '/', '<'], '\\'),
        (['·', '/', '='], '≠'),
        (['·', '/', 'Г'], 'Ғ'),
        (['·', '/', 'К'], 'Ҟ'),
        (['·', '/', 'г'], 'ғ'),
        (['·', '/', 'к'], 'ҟ'),
        (['·', '0', '*'], '°'),
        (['·', '0', '3'], '↉'),
        (['·', '1', '1', '0'], '⅒'),
        (['·', '1', '2'], '½'),
        (['·', '1', '3'], '⅓'),
        (['·', '1', '4'], '¼'),
        (['·', '1', '5'], '⅕'),
        (['·', '1', '6'], '⅙'),
        (['·', '1', '7'], '⅐'),
        (['·', '1', '8'], '⅛'),
        (['·', '1', '9'], '⅑'),
        (['·', '2', '3'], '⅔'),
        (['·', '2', '5'], '⅖'),
        (['·', '3', '4'], '¾'),
        (['·', '3', '5'], '⅗'),
        (['·', '3', '8'], '⅜'),
        (['·', '4', '5'], '⅘'),
        (['·', '5', '6'], '⅚'),
        (['·', '5', '8'], '⅝'),
        (['·', '7', '8'], '⅞'),
        (['·', '8', '8'], '∞'),
        (['·', ':', '('], '☹'),
        (['·', ':', ')'], '☺'),
        (['·', ':', '-'], '÷'),
        (['·', ':', '.'], '∴'),
        (['·', ';', ' '], '˛'),
        (['·', ';', '_'], '⍮'),
        (['·', '<', ' '], 'ˇ'),
        (['·', '<', '"'], '“'),
        (['·', '<', '\''], '‘'),
        (['·', '<', '-'], '←'),
        (['·', '<', '/'], '≮'),
        (['·', '<', '3'], '♥'),
        (['·', '<', '<'], '«'),
        (['·', '<', '='], '≤'),
        (['·', '<', '>'], '⋄'),
        (['·', '<', '_'], '≤'),
        (['·', '=', '/'], '≠'),
        (['·', '=', '<'], '⇐'),
        (['·', '=', '>'], '⇒'),
        (['·', '=', '_'], '≡'),
        (['·', '=', 'Г'], '₴'),
        (['·', '=', 'Е'], '€'),
        (['·', '=', 'З'], '₽'),
        (['·', '=', 'С'], '€'),
        (['·', '=', 'У'], 'Ӳ'),
        (['·', '=', 'г'], '₴'),
        (['·', '=', 'з'], '₽'),
        (['·', '=', 'у'], 'ӳ'),
        (['·', '>', ' '], '^'),
        (['·', '>', '"'], '”'),
        (['·', '>', '\''], '’'),
        (['·', '>', '/'], '≯'),
        (['·', '>', '<'], '⋄'),
        (['·', '>', '='], '≥'),
        (['·', '>', '>'], '»'),
        (['·', '>', '_'], '≥'),
        (['·', '?', '!'], '⸘'),
        (['·', '?', '?'], '¿'),
        (['·', '_', ' '], '¯'),
        (['·', '_', '\''], '⍘'),
        (['·', '_', '('], '₍'),
        (['·', '_', ')'], '₎'),
        (['·', '_', '+'], '₊'),
        (['·', '_', '-'], '₋'),
        (['·', '_', '0'], '₀'),
        (['·', '_', '1'], '₁'),
        (['·', '_', '2'], '₂'),
        (['·', '_', '3'], '₃'),
        (['·', '_', '4'], '₄'),
        (['·', '_', '5'], '₅'),
        (['·', '_', '6'], '₆'),
        (['·', '_', '7'], '₇'),
        (['·', '_', '8'], '₈'),
        (['·', '_', '9'], '₉'),
        (['·', '_', '<'], '≤'),
        (['·', '_', '='], '₌'),
        (['·', '_', '>'], '≥'),
        (['·', '_', '_'], '¯'),
        (['·', '_', 'А'], 'А'),
        (['·', '_', 'Е'], 'Е'),
        (['·', '_', 'И'], 'Ӣ'),
        (['·', '_', 'О'], 'О'),
        (['·', '_', 'Р'], 'Р'),
        (['·', '_', 'У'], 'Ӯ'),
        (['·', '_', 'а'], 'а'),
        (['·', '_', 'е'], 'е'),
        (['·', '_', 'и'], 'ӣ'),
        (['·', '_', 'о'], 'о'),
        (['·', '_', 'р'], 'р'),
        (['·', '_', 'у'], 'ӯ'),
        (['·', '`', '`', 'А'], 'А'),
        (['·', '`', '`', 'Е'], 'Е'),
        (['·', '`', '`', 'И'], 'И'),
        (['·', '`', '`', 'О'], 'О'),
        (['·', '`', '`', 'Р'], 'Р'),
        (['·', '`', '`', 'У'], 'У'),
        (['·', '`', '`', 'а'], 'а'),
        (['·', '`', '`', 'е'], 'е'),
        (['·', '`', '`', 'и'], 'и'),
        (['·', '`', '`', 'о'], 'о'),
        (['·', '`', '`', 'р'], 'р'),
        (['·', '`', '`', 'у'], 'у'),
        (['·', '`', 'А'], 'А'),
        (['·', '`', 'Е'], 'Ѐ'),
        (['·', '`', 'И'], 'Ѝ'),
        (['·', '`', 'О'], 'О'),
        (['·', '`', 'Р'], 'Р'),
        (['·', '`', 'У'], 'У'),
        (['·', '`', 'а'], 'а'),
        (['·', '`', 'е'], 'ѐ'),
        (['·', '`', 'и'], 'ѝ'),
        (['·', '`', 'о'], 'о'),
        (['·', '`', 'р'], 'р'),
        (['·', '`', 'у'], 'у'),
        (['·', '|', '-'], '†'),
        (['·', '|', '='], '‡'),
        (['·', 'Г', '='], '₴'),
        (['·', 'Е', '='], '€'),
        (['·', 'З', '='], '₽'),
        (['·', 'Н', 'О'], '№'),
        (['·', 'Н', 'о'], '№'),
        (['·', 'С', '='], '€'),
        (['·', 'г', '='], '₴'),
        (['·', 'з', '='], '₽'),
        (['·', 'п', 'а'], '§'),
    ],
)
