(
    version: 1,
    layout: "Ukrainian",
    modifiers: [
        (42, [(0, Press(Level2))]),
        (54, [(0, Press(Level2))]),
        (100, [(0, Press(Level3))]),
    ],
    keymap: {
        0: {
            2: '1', 3: '2', 4: '3', 5: '4', 6: '5', 7: '6', 8: '7', 9: '8', 10: '9', 11: '0', 12: '-', 13: '=',
            16: 'й', 17: 'ц', 18: 'у', 19: 'к', 20: 'е', 21: 'н', 22: 'г', 23: 'ш', 24: 'щ', 25: 'з', 26: 'х', 27: 'ї',
            30: 'ф', 31: 'і', 32: 'в', 33: 'а', 34: 'п', 35: 'р', 36: 'о', 37: 'л', 38: 'д', 39: 'ж', 40: 'є', 41: '\'',
            43: 'ґ', 44: 'я', 45: 'ч', 46: 'с', 47: 'м', 48: 'и', 49: 'т', 50: 'ь', 51: 'б', 52: 'ю', 53: '.',
            83: '\u{7f}',
            86: '/',
        },
        1: {
            2: '!', 3: '\"', 4: '№', 5: ';', 6: '%', 7: ':', 8: '?', 9: '*', 10: '(', 11: ')', 12: '_', 13: '+',
            16: 'Й', 17: 'Ц', 18: 'У', 19: 'К', 20: 'Е', 21: 'Н', 22: 'Г', 23: 'Ш', 24: 'Щ', 25: 'З', 26: 'Х', 27: 'Ї',
            30: 'Ф', 31: 'І', 32: 'В', 33: 'А', 34: 'П', 35: 'Р', 36: 'О', 37: 'Л', 38: 'Д', 39: 'Ж', 40: 'Є', 41: 'ʼ',
            43: 'Ґ', 44: 'Я', 45: 'Ч', 46: 'С', 47: 'М', 48: 'И', 49: 'Т', 50: 'Ь', 51: 'Б', 52: 'Ю', 53: ',',
            86: '|',
        },
        2: {
            2: '¹', 3: '²', 4: '§', 5: '$', 6: '°', 7: '<', 8: '>', 9: '•', 10: '[', 11: ']', 12: '—', 13: '≠',
            16: 'ј', 17: 'џ', 18: 'ў', 19: '®', 20: 'ё', 21: 'њ', 22: 'ґ', 27: 'ъ',
            31: 'ы', 37: 'љ', 38: 'ђ', 40: 'э', 41: '\u{301}',
            43: '\\', 45: 'ћ', 46: '©', 49: '™', 51: '«', 52: '»', 53: '/',
        },
        3: {
            3: '’', 4: '₴', 5: '€', 10: '{', 11: '}', 12: '–', 13: '±',
            16: 'Ј', 17: 'Џ', 18: 'Ў', 20: 'Ё', 21: 'Њ', 22: 'Ґ', 27: 'Ъ',
            31: 'Ы', 37: 'Љ', 38: 'Ђ', 40: 'Э', 41: '~',
            43: '|', 45: 'Ћ', 51: '„', 52: '“', 53: '…',
            86: '¦',
        },
    },
    num_lock_keys: {
        0: {
            71: '7', 72: '8', 73: '9', 75: '4', 76: '5', 77: '6', 79: '1', 80: '2', 81: '3', 82: '0', 83: '.',
        },
    },
    caps_lock_keymap: {
        0: {
            16: 'Й', 17: 'Ц', 18: 'У', 19: 'К', 20: 'Е', 21: 'Н', 22: 'Г', 23: 'Ш', 24: 'Щ', 25: 'З', 26: 'Х', 27: 'Ї',
            30: 'Ф', 31: 'І', 32: 'В', 33: 'А', 34: 'П', 35: 'Р', 36: 'О', 37: 'Л', 38: 'Д', 39: 'Ж', 40: 'Є',
            43: 'Ґ', 44: 'Я', 45: 'Ч', 46: 'С', 47: 'М', 48: 'И', 49: 'Т', 50: 'Ь', 51: 'Б', 52: 'Ю',
        },
        1: {
            16: 'й', 17: 'ц', 18: 'у', 19: 'к', 20: 'е', 21: 'н', 22: 'г', 23: 'ш', 24: 'щ', 25: 'з', 26: 'х', 27: 'ї',
            30: 'ф', 31: 'і', 32: 'в', 33: 'а', 34: 'п', 35: 'р', 36: 'о', 37: 'л', 38: 'д', 39: 'ж', 40: 'є',
            43: 'ґ', 44: 'я', 45: 'ч', 46: 'с', 47: 'м', 48: 'и', 49: 'т', 50: 'ь', 51: 'б', 52: 'ю',
        },
        2: {
            16: 'Ј', 17: 'Џ', 18: 'Ў', 20: 'Ё', 21: 'Њ', 22: 'Ґ', 23: 'Ш', 24: 'Щ', 25: 'З', 26: 'Х', 27: 'Ъ',
            30: 'Ф', 31: 'Ы', 32: 'В', 33: 'А', 34: 'П', 35: 'Р', 36: 'О', 37: 'Љ', 38: 'Ђ', 39: 'Ж', 40: 'Э',
            44: 'Я', 45: 'Ћ', 47: 'М', 48: 'И', 50: 'Ь',
        },
        3: {
            16: 'ј', 17: 'џ', 18: 'ў', 20: 'ё', 21: 'њ', 22: 'ґ', 23: 'ш', 24: 'щ', 25: 'з', 26: 'х', 27: 'ъ',
            30: 'ф', 31: 'ы', 32: 'в', 33: 'а', 34: 'п', 35: 'р', 36: 'о', 37: 'љ', 38: 'ђ', 39: 'ж', 40: 'э',
            44: 'я', 45: 'ћ', 47: 'м', 48: 'и', 50: 'ь',
        },
    },
    compose: [
        (['·', ' ', ' '], ' '),
        (['·', ' ', '('], '˘'),
        (['·', ' ', ','], '¸'),
        (['·', ' ', '-'], '~'),
        (['·', ' ', '.'], ' '),
        (['·', ' ', '<'], 'ˇ'),
        (['·', ' ', '>'], '^'),
        (['·', ' ', '_'], '¯'),
        (['·', '!', '!'], '¡'),
        (['·', '!', '?'], '‽'),
        (['·', '"', ' '], '¨'),
        (['·', '"', '"'], '¨'),
        (['·', '"', '\''], '̈́'),
        (['·', '"', ','], '„'),
        (['·', '"', '<'], '“'),
        (['·', '"', '>'], '”'),
        (['·', '"', 'І'], 'Ї'),
        (['·', '"', 'А'], 'Ӓ'),
        (['·', '"', 'Е'], 'Ё'),
        (['·', '"', 'Ж'], 'Ӝ'),
        (['·', '"', 'З'], 'Ӟ'),
        (['·', '"', 'И'], 'Ӥ'),
        (['·', '"', 'О'], 'Ӧ'),
        (['·', '"', 'У'], 'Ӱ'),
        (['·', '"', 'Ч'], 'Ӵ'),
        (['·', '"', 'Ы'], 'Ӹ'),
        (['·', '"', 'Э'], 'Ӭ'),
        (['·', '"', 'а'], 'ӓ'),
        (['·', '"', 'е'], 'ё'),
        (['·', '"', 'ж'], 'ӝ'),
        (['·', '"', 'з'], 'ӟ'),
        (['·', '"', 'и'], 'ӥ'),
        (['·', '"', 'о'], 'ӧ'),
        (['·', '"', 'у'], 'ӱ'),
        (['·', '"', 'ч'], 'ӵ'),
        (['·', '"', 'ы'], 'ӹ'),
        (['·', '"', 'э'], 'ӭ'),
        (['·', '"', 'і'], 'ї'),
        (['·', '#', '#'], '♯'),
        (['·', '\'', '"', ' '], '΅'),
        (['·', '\'', '\''], '´'),
        (['·', '\'', ','], '‚'),
        (['·', '\'', '<'], '‘'),
        (['·', '\'', '>'], '’'),
        (['·', '\'', 'А'], 'А'),
        (['·', '\'', 'Г'], 'Ѓ'),
        (['·', '\'', 'Е'], 'Е'),
        (['·', '\'', 'И'], 'И'),
        (['·', '\'', 'К'], 'Ќ'),
        (['·', '\'', 'О'], 'О'),
        (['·', '\'', 'Р'], 'Р'),
        (['·', '\'', 'У'], 'У'),
        (['·', '\'', 'Ы'], 'Ы'),
        (['·', '\'', 'Э'], 'Э'),
        (['·', '\'', 'Ю'], 'Ю'),
        (['·', '\'', 'Я'], 'Я'),
        (['·', '\'', 'а'], 'а'),
        (['·', '\'', 'г'], 'ѓ'),
        (['·', '\'', 'е'], 'е'),
        (['·', '\'', 'и'], 'и'),
        (['·', '\'', 'к'], 'ќ'),
        (['·', '\'', 'о'], 'о'),
        (['·', '\'', 'р'], 'р'),
        (['·', '\'', 'у'], 'у'),
        (['·', '\'', 'ы'], 'ы'),
        (['·', '\'', 'э'], 'э'),
        (['·', '\'', 'ю'], 'ю'),
        (['·', '\'', 'я'], 'я'),
        (['·', '(', ' '], '˘'),
        (['·', '(', '('], '['),
        (['·', '(', ')', ')'], '🄯'),
        (['·', '(', '-'], '{'),
        (['·', '(', '0', ')'], '⓪'),
        (['·', '(', '1', ')'], '①'),
        (['·', '(', '1', '0', ')'], '⑩'),
        (['·', '(', '1', '1', ')'], '⑪'),
        (['·', '(', '1', '2', ')'], '⑫'),
        (['·', '(', '1', '3', ')'], '⑬'),
        (['·', '(', '1', '4', ')'], '⑭'),
        (['·', '(', '1', '5', ')'], '⑮'),
        (['·', '(', '1', '6', ')'], '⑯'),
        (['·', '(', '1', '7', ')'], '⑰'),
        (['·', '(', '1', '8', ')'], '⑱'),
        (['·', '(', '1', '9', ')'], '⑲'),
        (['·', '(', '2', ')'], '②'),
        (['·', '(', '2', '0', ')'], '⑳'),
        (['·', '(', '2', '1', ')'], '㉑'),
        (['·', '(', '2', '2', ')'], '㉒'),
        (['·', '(', '2', '3', ')'], '㉓'),
        (['·', '(', '2', '4', ')'], '㉔'),
        (['·', '(', '2', '5', ')'], '㉕'),
        (['·', '(', '2', '6', ')'], '㉖'),
        (['·', '(', '2', '7', ')'], '㉗'),
        (['·', '(', '2', '8', ')'], '㉘'),
        (['·', '(', '2', '9', ')'], '㉙'),
        (['·', '(', '3', ')'], '③'),
        (['·', '(', '3', '0', ')'], '㉚'),
        (['·', '(', '3', '1', ')'], '㉛'),
        (['·', '(', '3', '2', ')'], '㉜'),
        (['·', '(', '3', '3', ')'], '㉝'),
        (['·', '(', '3', '4', ')'], '㉞'),
        (['·', '(', '3', '5', ')'], '㉟'),
        (['·', '(', '3', '6', ')'], '㊱'),
        (['·', '(', '3', '7', ')'], '㊲'),
        (['·', '(', '3', '8', ')'], '㊳'),
        (['·', '(', '3', '9', ')'], '㊴'),
        (['·', '(', '4', ')'], '④'),
        (['·', '(', '4', '0', ')'], '㊵'),
        (['·', '(', '4', '1', ')'], '㊶'),
        (['·', '(', '4', '2', ')'], '㊷'),
        (['·', '(', '4', '3', ')'], '㊸'),
        (['·', '(', '4', '4', ')'], '㊹'),
        (['·', '(', '4', '5', ')'], '㊺'),
        (['·', '(', '4', '6', ')'], '㊻'),
        (['·', '(', '4', '7', ')'], '㊼'),
        (['·', '(', '4', '8', ')'], '㊽'),
        (['·', '(', '4', '9', ')'], '㊾'),
        (['·', '(', '5', ')'], '⑤'),
        (['·', '(', '5', '0', ')'], '㊿'),
        (['·', '(', '6', ')'], '⑥'),
        (['·', '(', '7', ')'], '⑦'),
        (['·', '(', '8', ')'], '⑧'),
        (['·', '(', '9', ')'], '⑨'),
        (['·', ')', ')'], ']'),
        (['·', ')', '-'], '}'),
        (['·', '*', '0'], '°'),
        (['·', '+', '-'], '±'),
        (['·', ',', ' '], '¸'),
        (['·', ',', '"'], '„'),
        (['·', ',', '\''], '‚'),
        (['·', ',', ','], '¸'),
        (['·', ',', '-'], '¬'),
        (['·', '-', ' '], '~'),
        (['·', '-', '('], '{'),
        (['·', '-', ')'], '}'),
        (['·', '-', '+'], '±'),
        (['·', '-', ','], '¬'),
        (['·', '-', '-', ' '], '­'),
        (['·', '-', '-', '-'], '—'),
        (['·', '-', '-', '.'], '–'),
        (['·', '-', '/'], '⌿'),
        (['·', '-', ':'], '÷'),
        (['·', '-', '>'], '→'),
        (['·', '-', '\\'], '⍀'),
        (['·', '-', '_'], '−'),
        (['·', '.', ' '], '˙'),
        (['·', '.', '-'], '·'),
        (['·', '.', '.'], '…'),
        (['·', '.', ':'], '∵'),
        (['·', '.', '<'], '‹'),
        (['·', '.', '='], '•'),
        (['·', '.', '>'], '›'),
        (['·', '/', '-'], '⌿'),
        (['·', '/', '/'], '\\'),
        (['·', '/', '<'], '\\'),
        (['·', '/', '='], '≠'),
        (['·', '/', 'Г'], 'Ғ'),
        (['·', '/', 'К'], 'Ҟ'),
        (['·', '/', 'г'], 'ғ'),
        (['·', '/', 'к'], 'ҟ'),
        (['·', '0', '*'], '°'),
        (['·', '0', '3'], '↉'),
        (['·', '0', '~'], '⍬'),
        (['·', '1', '1', '0'], '⅒'),
        (['·', '1', '2'], '½'),
        (['·', '1', '3'], '⅓'),
        (['·', '1', '4'], '¼'),
        (['·', '1', '5'], '⅕'),
        (['·', '1', '6'], '⅙'),
        (['·', '1', '7'], '⅐'),
        (['·', '1', '8'], '⅛'),
        (['·', '1', '9'], '⅑'),
        (['·', '2', '3'], '⅔'),
        (['·', '2', '5'], '⅖'),
        (['·', '3', '4'], '¾'),
        (['·', '3', '5'], '⅗'),
        (['·', '3', '8'], '⅜'),
        (['·', '4', '5'], '⅘'),
        (['·', '5', '6'], '⅚'),
        (['·', '5', '8'], '⅝'),
        (['·', '7', '8'], '⅞'),
        (['·', '8', '8'], '∞'),
        (['·', ':', '('], '☹'),
        (['·', ':', ')'], '☺'),
        (['·', ':', '-'], '÷'),
        (['·', ':', '.'], '∴'),
        (['·', ';', ' '], '˛'),
        (['·', ';', '_'], '⍮'),
        (['·', '<', ' '], 'ˇ'),
        (['·', '<', '"'], '“'),
        (['·', '<', '\''], '‘'),
        (['·', '<', '-'], '←'),
        (['·', '<', '/'], '≮'),
        (['·', '<', '3'], '♥'),
        (['·', '<', '<'], '«'),
        (['·', '<', '='], '≤'),
        (['·', '<', '>'], '⋄'),
        (['·', '<', '_'], '≤'),
        (['·', '=', '/'], '≠'),
        (['·', '=', '<'], '⇐'),
        (['·', '=', '>'], '⇒'),
        (['·', '=', '_'], '≡'),
        (['·', '=', 'Г'], '₴'),
        (['·', '=', 'Е'], '€'),
        (['·', '=', 'З'], '₽'),
        (['·', '=', 'С'], '€'),
        (['·', '=', 'У'], 'Ӳ'),
        (['·', '=', 'г'], '₴'),
        (['·', '=', 'з'], '₽'),
        (['·', '=', 'у'], 'ӳ'),
        (['·', '>', ' '], '^'),
        (['·', '>', '"'], '”'),
        (['·', '>', '\''], '’'),
        (['·', '>', '/'], '≯'),
        (['·', '>', '<'], '⋄'),
        (['·', '>', '='], '≥'),
        (['·', '>', '>'], '»'),
        (['·', '>', '_'], '≥'),
        (['·', '?', '!'], '⸘'),
        (['·', '?', '?'], '¿'),
        (['·', '?', '\\'], '☭'),
        (['·', '[', ']'], '⌷'),
        (['·', '\\', '-'], '⍀'),
        (['·', '\\', '?'], '☭'),
        (['·', ']', '['], '⌷'),
        (['·', '_', ' '], '¯'),
        (['·', '_', '\''], '⍘'),
        (['·', '_', '('], '₍'),
        (['·', '_', ')'], '₎'),
        (['·', '_', '+'], '₊'),
        (['·', '_', '-'], '₋'),
        (['·', '_', '0'], '₀'),
        (['·', '_', '1'], '₁'),
        (['·', '_', '2'], '₂'),
        (['·', '_', '3'], '₃'),
        (['·', '_', '4'], '₄'),
        (['·', '_', '5'], '₅'),
        (['·', '_', '6'], '₆'),
        (['·', '_', '7'], '₇'),
        (['·', '_', '8'], '₈'),
        (['·', '_', '9'], '₉'),
        (['·', '_', '<'], '≤'),
        (['·', '_', '='], '₌'),
        (['·', '_', '>'], '≥'),
        (['·', '_', '_'], '¯'),
        (['·', '_', 'А'], 'А'),
        (['·', '_', 'Е'], 'Е'),
        (['·', '_', 'И'], 'Ӣ'),
        (['·', '_', 'О'], 'О'),
        (['·', '_', 'Р'], 'Р'),
        (['·', '_', 'У'], 'Ӯ'),
        (['·', '_', 'а'], 'а'),
        (['·', '_', 'е'], 'е'),
        (['·', '_', 'и'], 'ӣ'),
        (['·', '_', 'о'], 'о'),
        (['·', '_', 'р'], 'р'),
        (['·', '_', 'у'], 'ӯ'),
        (['·', '{', '}'], '∅'),
        (['·', '|', '-'], '†'),
        (['·', '|', '='], '‡'),
        (['·', '|', '~'], '⍭'),
        (['·', '~', '0'], '⍬'),
        (['·', '~', '|'], '⍭'),
        (['·', '~', '~'], '≈'),
        (['·', 'Г', '='], '₴'),
        (['·', 'Е', '='], '€'),
        (['·', 'З', '='], '₽'),
        (['·', 'Н', 'О'], '№'),
        (['·', 'Н', 'о'], '№'),
        (['·', 'С', '='], '€'),
        (['·', 'г', '='], '₴'),
        (['·', 'з', '='], '₽'),
        (['·', 'п', 'а'], '§'),
    ],
)
