(
    version: 1,
    layout: "Cherokee",
    modifiers: [
        (42, [(0, Press(Level2))]),
        (54, [(0, Press(Level2))]),
        (84, [(0, Press(Level3))]),
    ],
    keymap: {
        0: {
            2: '1', 3: '2', 4: '3', 5: 'Ꮩ', 6: 'Ꮶ', 7: 'Ꮬ', 8: 'Ꮛ', 9: 'Ꮦ', 10: 'Ꮢ', 11: 'Ꮔ', 12: 'Ꮏ', 13: 'Ᏻ',
            16: 'Ꭺ', 17: 'Ꮃ', 18: 'Ꭱ', 19: 'Ꮫ', 20: 'Ꮤ', 21: 'Ꮿ', 22: 'Ꭴ', 23: 'Ꭲ', 24: 'Ꭳ', 25: 'Ꮑ', 26: 'Ꮥ', 27: 'Ꮆ',
            30: 'Ꭰ', 31: 'Ꮝ', 32: 'Ꮧ', 33: 'Ꭹ', 34: 'Ꭶ', 35: 'Ꭿ', 36: 'Ꮪ', 37: 'Ꮈ', 38: 'Ꮅ', 39: 'Ꮸ', 40: '\'', 41: '`',
            43: 'Ꮹ', 44: 'Ꭼ', 45: 'Ᏼ', 46: 'Ꮣ', 47: 'Ꭵ', 48: 'Ꭸ', 49: 'Ꮎ', 50: 'Ꮕ', 51: ',', 52: '.', 53: 'Ꮒ',
            83: '\u{7f}',
            86: '<',
        },
        1: {
            2: 'Ꮁ', 3: 'Ꮗ', 4: 'Ꮷ', 5: 'Ꮀ', 6: 'Ꮉ', 7: 'Ꮭ', 8: 'Ꮱ', 9: 'Ꮊ', 10: '(', 11: ')', 12: 'Ꮌ', 13: 'Ꮍ',
            16: 'Ꮖ', 17: 'Ꮻ', 18: 'Ꮳ', 19: 'Ꮟ', 20: 'Ꮨ', 21: 'Ᏺ', 22: 'Ꭽ', 23: 'Ᏹ', 24: 'Ꮼ', 25: 'Ꮺ', 26: 'Ꮡ', 27: 'Ꮴ',
            30: 'Ꮜ', 31: 'Ꮞ', 32: 'Ꮠ', 33: 'Ꮘ', 34: 'Ꮵ', 35: 'Ꮂ', 36: 'Ꭻ', 37: 'Ꭷ', 38: 'Ꭾ', 39: 'Ꮰ', 40: '\"', 41: 'Ꮚ',
            43: 'Ꮾ', 44: 'Ꮓ', 45: 'Ꮽ', 46: 'Ꮯ', 47: 'Ꮮ', 48: 'Ᏸ', 49: 'Ꮋ', 50: 'Ꮇ', 51: 'Ꮲ', 52: 'Ꮄ', 53: 'Ꮙ',
            86: '>',
        },
        2: {
            86: '|',
        },
        3: {
            86: '¦',
        },
    },
    num_lock_keys: {
        0: {
            71: '7', 72: '8', 73: '9', 75: '4', 76: '5', 77: '6', 79: '1', 80: '2', 81: '3', 82: '0', 83: '.',
        },
    },
    caps_lock_keymap: {
        0: {
            2: 'Ꮁ', 3: 'Ꮗ', 4: 'Ꮷ', 5: 'Ꮀ', 6: 'Ꮉ', 7: 'Ꮭ', 8: 'Ꮱ', 9: 'Ꮊ', 10: '(', 11: ')', 12: 'Ꮌ', 13: 'Ꮍ',
            16: 'Ꮖ', 17: 'Ꮻ', 18: 'Ꮳ', 19: 'Ꮟ', 20: 'Ꮨ', 21: 'Ᏺ', 22: 'Ꭽ', 23: 'Ᏹ', 24: 'Ꮼ', 25: 'Ꮺ', 26: 'Ꮡ', 27: 'Ꮴ',
            30: 'Ꮜ', 31: 'Ꮞ', 32: 'Ꮠ', 33: 'Ꮘ', 34: 'Ꮵ', 35: 'Ꮂ', 36: 'Ꭻ', 37: 'Ꭷ', 38: 'Ꭾ', 39: 'Ꮰ', 40: '\"', 41: 'Ꮚ',
            43: 'Ꮾ', 44: 'Ꮓ', 45: 'Ꮽ', 46: 'Ꮯ', 47: 'Ꮮ', 48: 'Ᏸ', 49: 'Ꮋ', 50: 'Ꮇ', 51: 'Ꮲ', 52: 'Ꮄ', 53: 'Ꮙ',
        },
        1: {
            2: '1', 3: '2', 4: '3', 5: 'Ꮩ', 6: 'Ꮶ', 7: 'Ꮬ', 8: 'Ꮛ', 9: 'Ꮦ', 10: 'Ꮢ', 11: 'Ꮔ', 12: 'Ꮏ', 13: 'Ᏻ',
            16: 'Ꭺ', 17: 'Ꮃ', 18: 'Ꭱ', 19: 'Ꮫ', 20: 'Ꮤ', 21: 'Ꮿ', 22: 'Ꭴ', 23: 'Ꭲ', 24: 'Ꭳ', 25: 'Ꮑ', 26: 'Ꮥ', 27: 'Ꮆ',
            30: 'Ꭰ', 31: 'Ꮝ', 32: 'Ꮧ', 33: 'Ꭹ', 34: 'Ꭶ', 35: 'Ꭿ', 36: 'Ꮪ', 37: 'Ꮈ', 38: 'Ꮅ', 39: 'Ꮸ', 40: '\'', 41: '`',
            43: 'Ꮹ', 44: 'Ꭼ', 45: 'Ᏼ', 46: 'Ꮣ', 47: 'Ꭵ', 48: 'Ꭸ', 49: 'Ꮎ', 50: 'Ꮕ', 51: ',', 52: '.', 53: 'Ꮒ',
        },
    },
    compose: [
        (['·', ' ', ' '], ' '),
        (['·', ' ', '('], '˘'),
        (['·', ' ', ','], '¸'),
        (['·', ' ', '-'], '~'),
        (['·', ' ', '.'], ' '),
        (['·', ' ', '<'], 'ˇ'),
        (['·', ' ', '>'], '^'),
        (['·', '"', ' '], '¨'),
        (['·', '"', '"'], '¨'),
        (['·', '"', '\''], '̈́'),
        (['·', '"', ','], '„'),
        (['·', '"', '<'], '“'),
        (['·', '"', '>'], '”'),
        (['·', '#', '#'], '♯'),
        (['·', '\'', '"', ' '], '΅'),
        (['·', '\'', '\''], '´'),
        (['·', '\'', ','], '‚'),
        (['·', '\'', '<'], '‘'),
        (['·', '\'', '>'], '’'),
        (['·', '(', ' '], '˘'),
        (['·', '(', '('], '['),
        (['·', '(', ')', ')'], '🄯'),
        (['·', '(', '-'], '{'),
        (['·', '(', '0', ')'], '⓪'),
        (['·', '(', '1', ')'], '①'),
        (['·', '(', '1', '0', ')'], '⑩'),
        (['·', '(', '1', '1', ')'], '⑪'),
        (['·', '(', '1', '2', ')'], '⑫'),
        (['·', '(', '1', '3', ')'], '⑬'),
        (['·', '(', '1', '4', ')'], '⑭'),
        (['·', '(', '1', '5', ')'], '⑮'),
        (['·', '(', '1', '6', ')'], '⑯'),
        (['·', '(', '1', '7', ')'], '⑰'),
        (['·', '(', '1', '8', ')'], '⑱'),
        (['·', '(', '1', '9', ')'], '⑲'),
        (['·', '(', '2', ')'], '②'),
        (['·', '(', '2', '0', ')'], '⑳'),
        (['·', '(', '2', '1', ')'], '㉑'),
        (['·', '(', '2', '2', ')'], '㉒'),
        (['·', '(', '2', '3', ')'], '㉓'),
        (['·', '(', '2', '4', ')'], '㉔'),
        (['·', '(', '2', '5', ')'], '㉕'),
        (['·', '(', '2', '6', ')'], '㉖'),
        (['·', '(', '2', '7', ')'], '㉗'),
        (['·', '(', '2', '8', ')'], '㉘'),
        (['·', '(', '2', '9', ')'], '㉙'),
        (['·', '(', '3', ')'], '③'),
        (['·', '(', '3', '0', ')'], '㉚'),
        (['·', '(', '3', '1', ')'], '㉛'),
        (['·', '(', '3', '2', ')'], '㉜'),
        (['·', '(', '3', '3', ')'], '㉝'),
        (['·', '(', '3', '4', ')'], '㉞'),
        (['·', '(', '3', '5', ')'], '㉟'),
        (['·', '(', '3', '6', ')'], '㊱'),
        (['·', '(', '3', '7', ')'], '㊲'),
        (['·', '(', '3', '8', ')'], '㊳'),
        (['·', '(', '3', '9', ')'], '㊴'),
        (['·', '(', '4', ')'], '④'),
        (['·', '(', '4', '0', ')'], '㊵'),
        (['·', '(', '4', '1', ')'], '㊶'),
        (['·', '(', '4', '2', ')'], '㊷'),
        (['·', '(', '4', '3', ')'], '㊸'),
        (['·', '(', '4', '4', ')'], '㊹'),
        (['·', '(', '4', '5', ')'], '㊺'),
        (['·', '(', '4', '6', ')'], '㊻'),
        (['·', '(', '4', '7', ')'], '㊼'),
        (['·', '(', '4', '8', ')'], '㊽'),
        (['·', '(', '4', '9', ')'], '㊾'),
        (['·', '(', '5', ')'], '⑤'),
        (['·', '(', '5', '0', ')'], '㊿'),
        (['·', '(', '6', ')'], '⑥'),
        (['·', '(', '7', ')'], '⑦'),
        (['·', '(', '8', ')'], '⑧'),
        (['·', '(', '9', ')'], '⑨'),
        (['·', ')', ')'], ']'),
        (['·', ')', '-'], '}'),
        (['·', '*', '0'], '°'),
        (['·', '+', '-'], '±'),
        (['·', ',', ' '], '¸'),
        (['·', ',', '"'], '„'),
        (['·', ',', '\''], '‚'),
        (['·', ',', ','], '¸'),
        (['·', ',', '-'], '¬'),
        (['·', '-', ' '], '~'),
        (['·', '-', '('], '{'),
        (['·', '-', ')'], '}'),
        (['·', '-', '+'], '±'),
        (['·', '-', ','], '¬'),
        (['·', '-', '-', ' '], '­'),
        (['·', '-', '-', '-'], '—'),
        (['·', '-', '-', '.'], '–'),
        (['·', '-', '/'], '⌿'),
        (['·', '-', '>'], '→'),
        (['·', '.', ' '], '˙'),
        (['·', '.', '-'], '·'),
        (['·', '.', '.'], '…'),
        (['·', '.', '<'], '‹'),
        (['·', '.', '='], '•'),
        (['·', '.', '>'], '›'),
        (['·', '/', '-'], '⌿'),
        (['·', '/', '/'], '\\'),
        (['·', '/', '<'], '\\'),
        (['·', '/', '='], '≠'),
        (['·', '0', '*'], '°'),
        (['·', '0', '3'], '↉'),
        (['·', '1', '1', '0'], '⅒'),
        (['·', '1', '2'], '½'),
        (['·', '1', '3'], '⅓'),
        (['·', '1', '4'], '¼'),
        (['·', '1', '5'], '⅕'),
        (['·', '1', '6'], '⅙'),
        (['·', '1', '7'], '⅐'),
        (['·', '1', '8'], '⅛'),
        (['·', '1', '9'], '⅑'),
        (['·', '2', '3'], '⅔'),
        (['·', '2', '5'], '⅖'),
        (['·', '3', '4'], '¾'),
        (['·', '3', '5'], '⅗'),
        (['·', '3', '8'], '⅜'),
        (['·', '4', '5'], '⅘'),
        (['·', '5', '6'], '⅚'),
        (['·', '5', '8'], '⅝'),
        (['·', '7', '8'], '⅞'),
        (['·', '8', '8'], '∞'),
        (['·', '<', ' '], 'ˇ'),
        (['·', '<', '"'], '“'),
        (['·', '<', '\''], '‘'),
        (['·', '<', '-'], '←'),
        (['·', '<', '/'], '≮'),
        (['·', '<', '3'], '♥'),
        (['·', '<', '<'], '«'),
        (['·', '<', '='], '≤'),
        (['·', '<', '>'], '⋄'),
        (['·', '=', '/'], '≠'),
        (['·', '=', '<'], '⇐'),
        (['·', '=', '>'], '⇒'),
        (['·', '>', ' '], '^'),
        (['·', '>', '"'], '”'),
        (['·', '>', '\''], '’'),
        (['·', '>', '/'], '≯'),
        (['·', '>', '<'], '⋄'),
        (['·', '>', '='], '≥'),
        (['·', '>', '>'], '»'),
        (['·', '|', '-'], '†'),
        (['·', '|', '='], '‡'),
    ],
)
